body{
	background: #000000 url({EQDKP_ROOT_PATH}templates/bad_cataclysm/images/cataclysm_background.jpg) no-repeat fixed top center;
	font-family: {T_FONTFACE1};
	font-size: {T_FONTSIZE2}px;
	color: #{T_FONTCOLOR1};
	text-align: center;
	margin: 0;
	padding: 0;
}

img{
	vertical-align: middle;
	border: none;
}

a:link, a:visited, a:active{
	color: #{T_BODY_LINK};
	text-decoration: {T_BODY_LINK_STYLE};
}

a:hover{
	color: #{T_BODY_HLINK};
	text-decoration: {T_BODY_HLINK_STYLE};
}

table {
	text-align: left;
	border: #{T_TABLE_BORDER_COLOR} {T_TABLE_BORDER_WIDTH}px {T_TABLE_BORDER_STYLE};
}

table.borderless {
	border-style: none;
}

th, .headline {
	font-weight: bold;
	color: #{T_HEADER_LINK};
	text-decoration: {T_HEADER_LINK_STYLE};
	background: url({EQDKP_ROOT_PATH}templates/bad_cataclysm/images/table_th.png) repeat-x top;
	white-space: nowrap;
}

th.footer{
	text-align: right;
	font-weight: normal;
}

.positive {
	color: #{T_FONTCOLOR_POS};
}

.negative {
	color: #{T_FONTCOLOR_NEG};
}

.small{
	font-size: {T_FONTSIZE1}px;
}

.copy, .copy a:link, .copy a:active, .copy a:visited, .copy a:hover {
	color: #{T_FONTCOLOR2};
}

form{
	display: inline;
}

input, .input, input.helpline1 , input.helpline2, input.post {
	background:#{T_INPUT_BACKGROUND};
	color: #{T_FONTCOLOR3};
	border: #{T_INPUT_BORDER_COLOR} {T_INPUT_BORDER_STYLE} {T_INPUT_BORDER_WIDTH}px;
}

input.button, input.liteoption, input.mainoption {
	color:#{T_FONTCOLOR3};
	background:#{T_INPUT_BACKGROUND};
	border: #{T_INPUT_BORDER_COLOR} {T_INPUT_BORDER_STYLE} {T_INPUT_BORDER_WIDTH}px;
	font-size:9px;
	padding : 1px;
}

input.mainoption {
	font-weight: bold;
}

input[disabled]{
  background:gray;
  color:silver;
}

input.hasDatepicker {
	font-weight:normal;
}

/* Global settings- END */
/* Page Structure - DO NOT CHANGE */
#wrapper{
	margin: 10px;
	display: inline-block;
	text-align: left;
	
}

#body_topleft{
	background: url({EQDKP_ROOT_PATH}templates/bad_cataclysm/images/body_lt.png) no-repeat top left;
	width: 20px;
	height: 20px;
	float: left;
}

#body_topright{
	background: url({EQDKP_ROOT_PATH}templates/bad_cataclysm/images/body_rt.png) no-repeat top right;
	width: 20px;
	height: 20px;
	float: right;
}

#body_top{
	background: url({EQDKP_ROOT_PATH}templates/bad_cataclysm/images/body_top.png) repeat-x top;
	margin-left: 20px;
	margin-right: 20px;
	height: 20px;
}

#body_left{
	background: url({EQDKP_ROOT_PATH}templates/bad_cataclysm/images/body_left.png) repeat-y left;
	float: left;
}

#body_right{
	background: url({EQDKP_ROOT_PATH}templates/bad_cataclysm/images/body_right.png) repeat-y right;
	float: right;
}

#body_main{
	background: url({EQDKP_ROOT_PATH}templates/bad_cataclysm/images/body_background.png);
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

#body_bottomleft{
	background: url({EQDKP_ROOT_PATH}templates/bad_cataclysm/images/body_lb.png) no-repeat top left;
	width: 20px;
	height: 20px;
	float: left;
}

#body_bottomright{
	background: url({EQDKP_ROOT_PATH}templates/bad_cataclysm/images/body_rb.png) no-repeat top right;
	width: 20px;
	height: 20px;
	float: right;
}

#body_bottom{
	background: url({EQDKP_ROOT_PATH}templates/bad_cataclysm/images/body_bottom.png) repeat-x top;
	margin-left: 20px;
	margin-right: 20px;
	height: 20px;
}

#cat_header{
	margin-left: -5px;
	margin-right: -5px;
	padding-left: 20px;
	padding-right: 20px;
	background: url({EQDKP_ROOT_PATH}templates/bad_cataclysm/images/nav_bg.png) repeat-x bottom;
	margin-bottom: 15px;
}

#cat_header #toptitles{
	float: right;
	margin-top: 50px;
	text-align: right;
	font-size: {T_FONTSIZE3}px;
	text-transform: uppercase;
}

#cat_header #toptitles .maintitle{
	font-weight: bold;
}

#navigation a{
	color: #{T_HEADER_LINK};
	text-decoration: {T_HEADER_LINK_STYLE};
}

#navigation a:hover{
	color: #{T_HEADER_HLINK};
	text-decoration: {T_HEADER_HLINK_STYLE};
}

#navigation{
	margin-top: 30px;
	font-size: {T_FONTSIZE3}px;
	font-weight: bold;
}

#navigation ul{
	margin: 0;
	padding: 0;
}

#navigation ul li{
	float: left;
	margin-bottom: 8px;
	margin-right: 15px;
	list-style: none;
}

#cat_left{
	width: 300px;
	float: left;
	margin-right: 5px;
	overflow: hidden;
}

#cat_right{
	width: 300px;
	float: right;
	margin-left: 5px;
	overflow: hidden;
}

#cat_left table, #cat_right table{
	border: none;
}

#cat_left th.smalltitle, #cat_right th.smalltitle{
	background: url({EQDKP_ROOT_PATH}templates/bad_cataclysm/images/pm_header.png) no-repeat;
	padding-left: 14px !important;
	padding-top: 5px !important;
	border-bottom: 1px solid #AAAAAA;
}

#cat_left .forumline, #cat_right .forumline{
	padding: 0px !important;
}

#cat_left .forumline:after, #cat_right .forumline:after{
	content: url({EQDKP_ROOT_PATH}templates/bad_cataclysm/images/pm_footer.png);
}

#maincontent_3_cols{
	min-width: 600px;
	margin-left: 310px;
	margin-right: 310px;
}

#maincontent_2_cols{
	display: block;
	min-width: 905px;
	margin-left: 310px;
	margin-right: 5px;
}

#cat_admin_menu{
	display: inline-block;
	margin-bottom: 15px;
}

#cat_admin_menu ul li{
	height: 14px;
	float: left;
	list-style: none;
	padding: 10px;
	border: 1px grey solid;
	background: #{T_TR_COLOR1};
	cursor: default;
}

#cat_admin_menu ul li ul{
	position: absolute;
	padding-left: 0px;
	background: #{T_TR_COLOR2};
	z-index: 99;
	display: none;
}

#cat_admin_menu ul li ul li{
	float: none;
}

#cat_admin_menu ul li:hover{
	background: #{T_TR_COLOR2};
}

#cat_admin_menu ul li:hover ul{
	display: block;
}

#cat_admin_menu ul li ul li:hover{
	background: #{T_TR_COLOR2};
}

/* Page structure - END */

.forumline{
	border-spacing:0;
}

.forumline tr.row1, .forumline tr.row2, #collmenu, #colluser-menu, #colllinks{
	background: url({EQDKP_ROOT_PATH}templates/bad_cataclysm/images/pm_bg.png) repeat-y;
}

#collmenu a, #colluser-menu a, #colllinks a{
	color: #{T_FONTCOLOR2};
	text-decoration: {T_BODY_LINK_STYLE};
}

#collmenu a:hover, #colluser-menu a:hover, #colllinks a:hover{
	color: #{T_BODY_HLINK};
	text-decoration: {T_BODY_HLINK_STYLE};
}

.forumline tr tr.row1, .forumline tr tr.row2{
	background: transparent;
}

#maincontent_3_cols .forumline tr.row1, #maincontent_2_cols .forumline tr.row1, .row1, .row3{
	background: url({EQDKP_ROOT_PATH}templates/bad_cataclysm/images/row1.png);
}

#maincontent_3_cols .forumline tr.row2, #maincontent_2_cols .forumline tr.row2, .row2{
	background: url({EQDKP_ROOT_PATH}templates/bad_cataclysm/images/row2.png);
}

#ui-datepicker-div{
 width: 20%;
}

.ui-widget{
	display: inline-block;
	width: 100%;
}

.dynamic-tab-pane-control{
	display: inline-block;
}

#membermap{
	margin-left: 44px;
}

.menuitems{
	text-align: left;
}

.clear{
	clear: both;
}

/* color the chars */
<!-- BEGIN classcolor_row -->
	.{classcolor_row.NAME}, .{classcolor_row.NAME}:link, .{classcolor_row.NAME}:visited, .{classcolor_row.NAME}:active,
	.{classcolor_row.NAME}:link:hover, td.{classcolor_row.NAME} a:hover, td.{classcolor_row.NAME} a:active,
	td.{classcolor_row.NAME}, td.{classcolor_row.NAME} a:link, td.{classcolor_row.NAME} a:visited,
	.classes{classcolor_row.ID}, .classes{classcolor_row.ID}:link, .classes{classcolor_row.ID}:visited, .classes{classcolor_row.ID}:active,
	.classes{classcolor_row.ID}:link:hover, td.classes{classcolor_row.ID} a:hover, td.classes{classcolor_row.ID} a:active,
	td.classes{classcolor_row.ID}, td.classes{classcolor_row.ID} a:link, td.classes{classcolor_row.ID} a:visited
	{
  	text-decoration: none;
  	color: {classcolor_row.COLOR};
	}
<!-- END classcolor_row -->

/* PLUScomments CSS */
.floatLeft {
	float:left;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.floatRight {
	float:right;
}

.bold	{
	font-weight:bold;
}

.italic	{
	font-style:italic;
}
	
.small {
	font-size:0.93em;
}
	
.hand {
	cursor: pointer;
	text-decoration: none;
}
	
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.clearfix {
	display:inline-block;
}

/* Hide from IE Mac \*/
.clearfix {
	display:block;
}
/* End hide from IE Mac */
	
#htmlCommentTable {
	background:none;
}
	
div.contentBox {
	background: url({EQDKP_ROOT_PATH}templates/bad_cataclysm/images/row2.png);
	padding: 8px 8px 8px 8px;
	margin-bottom: 10px;
}
	
.contentBox .boxHeader {
	padding-bottom: 0px;
	border-bottom: 1px solid #FFFFFF;
}

.contentBox .boxHeader h1	{
	font-size: 12px;
	color: #{T_HEADER_LINK};
}

.contentBox .boxContent	{
	padding-top: 6px;
}

.contentBox .boxContent h2 a {
	font-weight:bold;
}

.rowcolor1 {
	padding: 10px;
	background: url({EQDKP_ROOT_PATH}templates/bad_cataclysm/images/row1.png);
}

.rowcolor2 {
	padding: 10px;
	background: url({EQDKP_ROOT_PATH}templates/bad_cataclysm/images/row2.png);
}
	
.boxContent .comment_link, .boxContent  .comment_link a, .boxContent  .comment_link a:visited {
	text-decoration: underline;
}
	
.boxContent .comment_link a:hover {
	text-decoration: underline;
	color: #{T_BODY_HLINK};
}

div.markItUp {
	background:#EEEEEE;
	padding-top: 5px;
	padding-left: 3px;
	padding-right: 5px;
}
	
/* PLUScomments CSS - END*/
TABLE.errortable {
	border-top: 1px;
	border-bottom: 1px;
	border-left: 1px;
	border-right: 1px;
	border-color: red;
	border-style: solid;
	background: #FFEFEF;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
			
TABLE.errortable_inner {
	background: #FFEFEF;
	border: 0;
}
			
TABLE.errortable td{
	color:red;
	background: #FFEFEF;
	padding: 5px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
			
TABLE.errortable td a{
	color:red;
	text-decoration: none;
}

TABLE.errortable td a:hover{
	color:red;
	text-decoration: underline;
}
			
TABLE.errortable th{
	color:white;
	background: red;
}
			
TABLE.greentable {
	border-top: 1px;
	border-bottom: 1px;
	border-left: 1px;
	border-right: 1px;
	border-color: green;
	border-style: solid;
	background: #EEFFDF;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
			
TABLE.greentable td{
	color:green;
	background: #EEFFDF;
	padding: 5px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
			
TABLE.greentable th{
	color:white;
	background: green;
}

/* Raidplanner */
td.calBox {
	background: url({EQDKP_ROOT_PATH}templates/bad_cataclysm/images/row1.png);
}

td.calBoxToday {
	background: url({EQDKP_ROOT_PATH}templates/bad_cataclysm/images/row2.png);
}

.dynamic-tab-pane-control .tab-page{
	color: #{T_FONTCOLOR2} !important;
}

/* Userlist */
.floatR{
	float: right;
}

/* Media Center */
.scroll-content-item a, .ui-widget-header{
	color: #FFF;
}

.ui-datepicker{
	max-width: 200px;
	min-width: 200px;
}

#inner_wrapper hr{
	border: dashed #AAA 1px;
}

#inner_wrapper .maintitle{
	font-weight: bold;
	font-size: 1.4em;
}

.contentBox{
	display: inline-block;
	width: 99%;
}
