<!-- INCLUDE page_header.html -->
<table width="100%" border="0" cellspacing="1" cellpadding="4">
  <tr>
    <th align="left" width="16" nowrap="nowrap">&nbsp;</th>
    <th align="left" nowrap="nowrap">{L_NAME}</th>
    <th align="left" nowrap="nowrap">{L_TEMPLATE}</th>
    <th align="left" nowrap="nowrap">{L_USERS}</th>
    <th align="left" nowrap="nowrap">{L_PREVIEW}</th>
  </tr>
  <!-- BEGIN styles_row -->
  <tr class="{styles_row.ROW_CLASS}">
    <td width="16" nowrap="nowrap"><a href="{styles_row.U_EDIT_STYLE}"><img src="{EQDKP_ROOT_PATH}images/glyphs/edit.gif" width="16" height="16" alt="Edit" /></a></td>
    <td nowrap="nowrap"><a href="{styles_row.U_EDIT_STYLE}">{styles_row.NAME}</a></td>
    <td nowrap="nowrap">{styles_row.TEMPLATE}</td>
    <td nowrap="nowrap">{styles_row.USERS}</td>
    <td nowrap="nowrap"><a href="{styles_row.U_PREVIEW}">{L_PREVIEW}</a></td>
  </tr>
  <!-- END styles_row -->
</table>
<!-- INCLUDE page_tail.html -->