<IfModule !mod_authz_core.c>
<IfModule mod_authz_host.c>
	<Files "*.*">
	Allow from all
	</Files>
</IfModule>
</IfModule>

<IfModule mod_authz_core.c>
	<Files "*.*">
	Require all granted
	</Files>
</IfModule>
