_mytests/
.project
.buildpath
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
pdh_readmodule_generator.php
data/
config.php
plugins/
games/wow/
games/swtor/
templates/eqdkp_luna
templates/eqdkp_diablo
templates/eqdkp_swtor
portal/