##    Core
config.php
data/

##    Games
games/*
!games/dummy/
!games/index.html
!games/.htaccess

##    Plugins
plugins/*
!plugins/index.html

##    Portalmodules
portal/*
!portal/index.html
!portal/widget.js

##    Styles
templates/*
!templates/*.css
!templates/base_template/
!templates/maintenance/
!templates/eqdkp_modern/

##    Misc
.project
.buildpath
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml

pdh_readmodule_generator.php
core/messenger/whatsapp.messenger.class.php
core/notifications/whatsapp.notification.class.php

_mytests/
supporttool/

