<!-- INCLUDE page_header.html -->
<table width="80%" border="0" cellspacing="0" cellpadding="2" class="outline" align="center">
  <tr class="row4">
    <th align="center">{L_MANAGE_MEMBERS}</th>
  </tr>
	<tr class="row2" onmouseover="this.className='rowHover';" onmouseout="this.className='row2';">
	  <td align="center" nowrap="nowrap"><a href="{U_ADD_MEMBER}">{L_ADD_MEMBER}</a></td>
	</tr>
	<tr class="row1" onmouseover="this.className='rowHover';" onmouseout="this.className='row1';">
	  <td align="center" nowrap="nowrap"><a href="{U_LIST_MEMBERS}">{L_LIST_EDIT_DEL_MEMBERS}</a></td>
	</tr>
	<tr class="row2" onmouseover="this.className='rowHover';" onmouseout="this.className='row2';">
	  <td align="center" nowrap="nowrap"><a href="{U_EDIT_RANKS}">{L_EDIT_RANKS}</a></td>
	</tr>
	<tr class="row1" onmouseover="this.className='rowHover';" onmouseout="this.className='row1';">
	  <td align="center" nowrap="nowrap"><a href="{U_TRANSFER_HISTORY}">{L_TRANSFER_HISTORY}</a></td>
	</tr>
  <tr>
    <th align="center" class="pageingnav"></th>
  </tr>
  <tr>
  	<td class="spacerow"></td>
  </tr>
</table>
<!-- INCLUDE page_tail.html -->