<!-- INCLUDE page_header.html -->
<table width="100%" border="0" cellspacing="0" cellpadding="4" class="outline">
  <tr class="row4">
    <th align="left" width="16"></th>
    <th align="left" nowrap="nowrap">{L_NAME}</th>
    <th align="left" nowrap="nowrap">{L_CODE}</th>
    <th align="left" nowrap="nowrap">{L_VERSION}</th>
    <th align="left" nowrap="nowrap">{L_ACTION}</th>
    <th align="left" nowrap="nowrap">{L_CONTACT}</th>
  </tr>
  <!-- BEGIN plugins_row -->
  <tr class="{plugins_row.ROW_CLASS}" onmouseover="this.className='rowHover';" onmouseout="this.className='{plugins_row.ROW_CLASS}';">
    <td width="16" align="center" nowrap="nowrap"><img src="{EQDKP_ROOT_PATH}images/glyphs/plugin.gif" width="16" height="16" alt="Plugin" /></td>
    <td nowrap="nowrap">{plugins_row.NAME}</td>
    <td nowrap="nowrap">{plugins_row.CODE}</td>
    <td nowrap="nowrap">{plugins_row.VERSION}</td>
    <td nowrap="nowrap"><a href="{plugins_row.U_ACTION}">{plugins_row.ACTION}</a></td>
    <td nowrap="nowrap">{plugins_row.CONTACT}</td>
  </tr>
  <!-- END plugins_row -->
  <tr>
  	<th colspan="6" class="pageingnav"></th>
  </tr>
  <tr>
  	<td colspan="6" class="spacerow"></td>
  </tr>
</table>
<!-- INCLUDE page_tail.html -->