<!-- INCLUDE page_header.html -->
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="border01">
  <!-- BEGIN date_row -->  <!-- Removed by Maëvah -->
  <!-- BEGIN news_row -->
  <tr>
    <th align="left"><b style="font-size:13px">{date_row.news_row.HEADLINE}</b></th>
  </tr>
  <tr class=row1>
    <td class="{date_row.news_row.ROW_CLASS}viewnews"><div class="smallright">({date_row.DATE} - {date_row.news_row.SUBMITTER} {date_row.news_row.AUTHOR} {date_row.news_row.SUBMITAT} {date_row.news_row.TIME})&nbsp;&nbsp;</div><br />
	<blockquote>
      {date_row.news_row.MESSAGE}<br /><br /><br />
    </blockquote>
    <hr noshade>
   <span style="float:right">Comments</span>
    </td>
  </tr>
  <!-- END news_row -->
  <!-- END date_row -->
  <tr>
    <th class="footer">&nbsp;</th>
  </tr>
</table>
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="borderless">
  <tr>
    <td align="center" class="menu">{NEWS_PAGINATION}</td>
  </tr>
</table>
<!-- INCLUDE page_tail.html -->