<?xml version="1.0" encoding="utf-8"?>
<settings styleversion="0.2.2">
	<template_path>eqdkp_modern</template_path>
	<attendees_columns>6</attendees_columns>
	<logo_position>left</logo_position>
	<favicon_img></favicon_img>
	<banner_img>../../../../../templates/eqdkp_modern/images/background-head.svg</banner_img>
	<background_img></background_img>
	<column_right_width>0px</column_right_width>
	<column_left_width>0px</column_left_width>
	<portal_width>0px</portal_width>
	<background_pos>normal</background_pos>
	<background_type>0</background_type>
	<body_background_color>rgb(46, 120, 176)</body_background_color>
	<body_font_color>rgb(255, 255, 255)</body_font_color>
	<body_font_size>13</body_font_size>
	<body_font_family>Tahoma,Arial,Verdana,sans-serif</body_font_family>
	<body_link_color>rgb(254, 254, 254)</body_link_color>
	<body_link_color_hover>rgb(255, 255, 255)</body_link_color_hover>
	<body_link_decoration>none</body_link_decoration>
	<container_background_color>rgb(224, 224, 224)</container_background_color>
	<container_border_color>rgb(56, 56, 56)</container_border_color>
	<content_background_color>rgb(245, 245, 245)</content_background_color>
	<content_font_color>rgb(0, 0, 0)</content_font_color>
	<content_font_color_headings>rgb(0, 0, 0)</content_font_color_headings>
	<content_link_color>rgb(78, 127, 168)</content_link_color>
	<content_link_color_hover>rgb(0, 0, 0)</content_link_color_hover>
	<content_border_color>rgb(204, 204, 204)</content_border_color>
	<content_accent_color>rgb(234, 234, 234)</content_accent_color>
	<userarea_background_color>rgb(69, 72, 77)</userarea_background_color>
	<userarea_font_color>rgb(217, 215, 215)</userarea_font_color>
	<userarea_link_color>rgb(217, 215, 215)</userarea_link_color>
	<userarea_link_color_hover>rgb(255, 255, 255)</userarea_link_color_hover>
	<table_th_background_color>rgb(232, 232, 232)</table_th_background_color>
	<table_th_font_color>rgb(0, 0, 0)</table_th_font_color>
	<table_tr_font_color></table_tr_font_color>
	<table_tr_background_color1>rgb(249, 249, 249)</table_tr_background_color1>
	<table_tr_background_color2>rgb(245, 245, 245)</table_tr_background_color2>
	<table_tr_background_color_hover>rgb(232, 232, 232)</table_tr_background_color_hover>
	<table_border_color>rgb(221, 221, 221)</table_border_color>
	<menu_background_color>rgb(69, 72, 77)</menu_background_color>
	<menu_font_color>rgb(217, 215, 215)</menu_font_color>
	<menu_item_background_color>rgba(255, 255, 255, 0)</menu_item_background_color>
	<menu_item_background_color_hover>rgb(0, 0, 0)</menu_item_background_color_hover>
	<menu_item_font_color_hover>rgb(217, 215, 215)</menu_item_font_color_hover>
	<sidebar_background_color>rgb(234, 234, 234)</sidebar_background_color>
	<sidebar_font_color>rgb(0, 0, 0)</sidebar_font_color>
	<sidebar_border_color>rgb(204, 204, 204)</sidebar_border_color>
	<button_background_color>rgb(0, 173, 238)</button_background_color>
	<button_font_color>rgb(228, 245, 252)</button_font_color>
	<button_border_color>rgb(0, 118, 163)</button_border_color>
	<button_background_color_hover>rgb(0, 149, 204)</button_background_color_hover>
	<button_font_color_hover>rgb(217, 238, 247)</button_font_color_hover>
	<button_border_color_hover>rgb(0, 118, 163)</button_border_color_hover>
	<input_background_color>rgb(255, 255, 255)</input_background_color>
	<input_border_color>rgb(204, 204, 204)</input_border_color>
	<input_font_color>rgb(85, 85, 85)</input_font_color>
	<input_background_color_active>rgb(255, 255, 255)</input_background_color_active>
	<input_border_color_active>rgba(82, 168, 236, 0.8)</input_border_color_active>
	<input_font_color_active>rgb(85, 85, 85)</input_font_color_active>
	<content_contrast_color>rgb(0, 0, 0)</content_contrast_color>
	<content_contrast_background_color>rgb(252, 253, 254)</content_contrast_background_color>
	<content_contrast_border_color>rgb(204, 204, 204)</content_contrast_border_color>
	<content_positive_color>rgb(51, 204, 51)</content_positive_color>
	<content_negative_color>rgb(226, 59, 48)</content_negative_color>
	<content_neutral_color>rgb(153, 153, 153)</content_neutral_color>
	<content_highlight_color>rgb(78, 127, 168)</content_highlight_color>
	<misc_color1>rgb(78, 127, 168)</misc_color1>
	<misc_color2>rgb(255, 255, 255)</misc_color2>
	<misc_color3></misc_color3>
	<misc_text1></misc_text1>
	<misc_text2></misc_text2>
	<misc_text3></misc_text3>
	<additional_less>@styleCommentContainerBackgroundColor: #fff;
	@styleCommentContainerBorderColor: #ccc;
	@styleCommentAuthorColor: #9f9f9f;
	@stylePaginationBorderColor: #ddd;
	@stylePaginationBackgroundColor: #fff;
	@stylePaginationActiveBackgroundColor: #F7F7F9;
	@stylePaginationActiveColor: #999;
	@stylePaginationActiveHoverBackgroundColor: #F7F7F9;
	@stylePaginationActiveHoverColor: #000;
	@styleArticleSitemapBorderColor: #ddd;
	@styleArticleSitemapBackgroundColor: #fff;
	@styleArticleSitemapActiveBackgroundColor: #F7F7F9;
	@styleArticleSitemapActiveColor: #999999;
	@styleArticleSitemapHoverColor: #000;
	</additional_less>
</settings>