<!-- INCLUDE page_header.html -->
<div id='plus_sett_tabs'>
	<ul>
		<li><a href='#fragment-1'><span>".$user->lang['pk_tab_global']."</span></a></li>
		<li><a href='#fragment-2'><span>".$user->lang['pk_set_system']."</span></a></li>
		<li><a href='#fragment-3'><span>".$user->lang['pk_set_layout']."</span></a></li>
		<li><a href='#fragment-4'><span>".$user->lang['pk_set_rss_tabname']."</span></a></li>
		<li><a href='#fragment-5'><span>".$user->lang['pk_tab_multidkp']."</span></a></li>
		<li><a href='#fragment-6'><span>".$user->lang['pk_tab_links']."</span></a></li>
		<li><a href='#fragment-8'><span>".$user->lang['pk_set_news_tab']."</span></a></li>
		<li><a href='#fragment-9'><span>".$user->lang['pk_tab_itemstats']."</span></a></li>
		<li><a href='#fragment-10'><span>".$user->lang['pk_set_cmsb_tab']."</span></a></li>
		<li><a href='#fragment-11'><span>".$user->lang['pk_set_recruitment_tab']."</span></a></li>
		<li><a href='#fragment-12'><span>".$user->lang['pk_set_getdkp_tab']."</span></a></li>
		<li><a href='#fragment-13'><span>".$user->lang['pk_set_sms_tab']."</span></a></li>
		<li><a href='#fragment-15'><span>".$user->lang['pk_set_members_tab']."</span></a></li>
	</ul>
	
	<div id="fragment-1">
		{OUT_TAB1}
	</div>
	<div id="fragment-2">
		{OUT_TAB2}
	</div>
	<div id="fragment-3">
		{OUT_TAB3}
	</div>
	<div id="fragment-4">
		{OUT_TAB4}
	</div>
	<div id="fragment-5">
		{OUT_TAB5}
	</div>
	<div id="fragment-6">
		{OUT_TAB6}
	</div>
	<div id="fragment-7">
		{OUT_TAB7}
	</div>
	<div id="fragment-8">
		{OUT_TAB8}
	</div>
	<div id="fragment-9">
		{OUT_TAB9}
	</div>
	<div id="fragment-10">
		{OUT_TAB10}
	</div>
	<div id="fragment-11">
		{OUT_TAB11}
	</div>
	<div id="fragment-12">
		{OUT_TAB12}
	</div>
	<div id="fragment-13">
		{OUT_TAB13}
	</div>
	
	<br />
	<div align='center'>{SAVE_BUTTON}</div>
	</form>
<!-- INCLUDE page_tail.html -->