<!-- IF SHOW_PHP_WARNING -->
<div class="errorbox roundbox">
	<div class="icon_false">{L_php_warning}</div>
</div>
<br />
<!-- ENDIF -->
<!-- IF SHOW_BETA_WARNING -->
<div class="errorbox roundbox">
	<div class="icon_false">{L_beta_warning}</div>
</div>
<br />
<!-- ENDIF -->
<!-- IF SHOW_LIMITED_FUNCS -->
<!-- BEGIN lim_funcs -->
<div class="errorbox roundbox">
	<div class="icon_false">{lim_funcs.TEXT}</div>
</div>
<br />
<!-- END -->
<!-- ENDIF -->

<div id='admininfos_tabs'>
  <ul>
    <li><a href='#fragment-1'><span>{L_adminc_news}</span></a></li>
    <li><a href='#fragment-2'><span>{L_adminc_statistics}</span></a></li>
    <li><a href='#fragment-3'><span>{L_adminc_server}</span></a></li>
    <li><a href='#fragment-4'><span>{L_adminc_support}</span></a></li>
  </ul>

  <div id="fragment-1">
    <table width="100%" align="center"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="50%">
          <table width="100%">
            <tr>
              <th>{L_rssadmin_head1}</th>
            </tr>
            <tr>
              <td style="width:100%;"><div id="rss"><div id="notifications"></div></div></td>
            </tr>
          </table>
        </td>
        <td width="20"> </td>
        <td width="50%">
          <table width="100%">
            <tr>
              <th>{L_rssadmin_head2} <a href="https://twitter.com/EQdkpPlus" target="new" ><img src='../images/logos/twitter_icon_16.png' alt='twitter' /></a>
				<a href="https://facebook.com/EQdkpPlus" target="new" ><img src='../images/logos/facebook_icon_16.png' alt='facebook' /></a>
				<a href="https://google.com/+Eqdkp-plusEu" target="new" ><img src='../images/logos/google_plus_16.png' alt='Google+' /></a>
				</th>
            </tr>
            <tr>
              <td><div id="twitterfeed"></div></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>

  <div id="fragment-2">
    <table width="100%" border="0" cellspacing="1" cellpadding="2">
      <tr>
        <th align="center" colspan="4">{L_statistics}</th>
      </tr>
      <tr>
        <td class="row2" width="25%">{L_liveupdate_installed_version}:</td>
        <td class="row1" width="25%">{EQDKP_VERSION}</td>
        <td class="row2" width="25%">{L_number_of_members}:</td>
        <td class="row1" width="25%">{NUMBER_OF_MEMBERS}</td>
      </tr>
      <tr>
        <td class="row2" width="25%">{L_backup_system_data}:</td>
        <td class="row1" width="25%">{DATA_FOLDER}</td>
        <td class="row2" width="25%">{L_number_of_raids}:</td>
        <td class="row1" width="25%">{NUMBER_OF_RAIDS}</td>
      </tr>
      <tr>
        <td class="row2" width="25%">{L_db_name}:</td>
        <td class="row1" width="25%">{DATABASE_NAME}</td>
        <td class="row2" width="25%">{L_raids_per_day}:</td>
        <td class="row1" width="25%">{RAIDS_PER_DAY}</td>
      </tr>
      <tr>
        <td class="row2" width="25%">{L_table_prefix}:</td>
        <td class="row1" width="25%">{TABLE_PREFIX}</td>
        <td class="row2" width="25%">{L_number_of_items}:</td>
        <td class="row1" width="25%">{NUMBER_OF_ITEMS}</td>
      </tr>
	  <tr>
        <td class="row2" width="25%">{L_database_size}:</td>
        <td class="row1" width="25%">{DATABASE_SIZE}</td>
        <td class="row2" width="25%">{L_items_per_day}:</td>
        <td class="row1" width="25%">{ITEMS_PER_DAY}</td>
      </tr>
	  <tr>
        <td class="row2" width="25%">{L_eqdkp_started}:</td>
        <td class="row1" width="25%">{EQDKP_STARTED}</td>
        <td class="row2" width="25%">{L_number_of_logs}:</td>
        <td class="row1" width="25%">{NUMBER_OF_LOGS}</td>
      </tr>
      <tr>
        <th align="center" colspan="4">&nbsp;</th>
      </tr>
    </table>
  </div>

  <div id="fragment-3">
    <table width="100%" border="0">
     <tr>
          <th>{L_adminc_phpname}</th>
          <th>{L_adminc_phpvalue}</th>
        </tr>
        <tr class="row1">
          <td>PHP Safe Mode</td>
          <td>{SERVERINFO_SAFEMODE}</td>
        </tr>
        <tr class="row2">
          <td>Register Globals</td>
          <td>{SERVERINFO_REGGLOBAL}</td>
        </tr>
         <tr class="row1">
          <td>CURL</td>
          <td>{SERVERINFO_CURL}</td>
        </tr>
         <tr class="row2">
          <td>Fopen</td>
          <td>{SERVERINFO_FOPEN}</td>
        </tr>
         <tr class="row1">
          <td>PHP Version</td>
          <td>{SERVERINFO_PHP} <em>(<a href="info_php.php{SID}">{L_adminc_server}</a>)</em></td>
        </tr>
        <tr class="row2">
          <td>Mysql Version</td>
          <td>{SERVERINFO_MYSQL}</td>
        </tr>
        <tr>
        <td></td><td></td>
        </tr>
			</table>
  </div>

  <div id="fragment-4">
    {L_adminc_support_intro}<br/><br/>
    <table width="100%" border="0">

      <tr>
      	<td><img src="../images/admin/admin_index/support_tour.png" alt="Tour" /></td>
      	<td>{L_adminc_support_tour}</td>
     	</tr>
      <tr>
        <td><img src="../images/admin/admin_index/support_wiki.png" alt="WIKI" /></td>
        <td>{L_adminc_support_wiki}</td>
      </tr>
       <tr>
        <td><img src="../images/admin/admin_index/support_bug.png" alt="Bugtracker" /></td>
        <td>{L_adminc_support_bugtracker}</td>
      </tr>
      <tr>
        <td><img src="../images/admin/admin_index/support_community.png" alt="Community" /></td>
        <td>{L_adminc_support_forums}</td>
      </tr>
    </table>
  </div>
</div>
<br/>
<!-- IF S_WHO_IS_ONLINE -->
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="colorswitch">
    <tr>
      <th align="center" colspan="6">{L_who_online}</th>
    </tr>
    <tr>
      <th align="left" width="20%" class="nowrap">{L_username}</th>
      <th align="left" width="20%" class="nowrap">{L_logged_in}</th>
      <th align="left" width="20%" class="nowrap">{L_last_update}</th>
      <th align="left" width="20%" class="nowrap">{L_location}</th>
      <th align="left" width="20%" class="nowrap">{L_ip_address}</th>
      <th align="left" width="20%" class="nowrap">{L_browser}</th>
    </tr>
    <!-- BEGIN online_row -->
    <tr>
      <td width="20%" class="nowrap">{online_row.USERNAME}</td>
      <td width="20%" class="nowrap">{online_row.LOGIN}</td>
      <td width="20%" class="nowrap">{online_row.LAST_UPDATE}</td>
      <td width="20%" class="nowrap">{online_row.LOCATION}</td>
      <td width="20%" class="nowrap"><span class="ip_resolver" title="{online_row.IP_ADDRESS}">{online_row.IP_ADDRESS}</span></td>
      <td width="20%" align="center" class="nowrap">{online_row.BROWSER}</td>
    </tr>
    <!-- END online_row -->
    <tr>
      <th colspan="6" class="footer">{ONLINE_FOOTCOUNT}</th>
    </tr>
  </table>
<!-- ENDIF -->
<!-- IF S_LOGS -->
<br />
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="colorswitch">
  <tr>
    <th align="center" colspan="6">{L_new_actions}</th>
  </tr>
  {LOGS_TABLE}  
</table>
<!-- ENDIF -->