<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li class="current"><a href="{EQDKP_ROOT_PATH}admin/{SID}">{L_menu_admin_panel}</a>
	</ul>
	<div class="clear"></div>
</div>

<!-- IF SHOW_PHP_WARNING -->
<div class="infobox infobox-large infobox-red clearfix">
	<i class="fa fa-exclamation-triangle fa-4x pull-left"></i> {L_php_warning}
</div>
<!-- ENDIF -->
<!-- IF SHOW_BETA_WARNING -->
<div class="infobox infobox-large infobox-red clearfix">
	<i class="fa fa-exclamation-triangle fa-4x pull-left"></i> {L_beta_warning}
</div>
<!-- ENDIF -->
<!-- IF SHOW_LIMITED_FUNCS -->
<!-- BEGIN lim_funcs -->
<div class="infobox infobox-large infobox-red clearfix">
	<i class="fa fa-exclamation-triangle fa-4x pull-left"></i> {lim_funcs.TEXT}
</div>
<!-- END -->
<!-- ENDIF -->

<div id='admininfos_tabs'>
  <ul>
    <li><a href='#fragment-1'><span>{L_adminc_news}</span></a></li>
    <li><a href='#fragment-2'><span>{L_adminc_statistics}</span></a></li>
    <li><a href='#fragment-3'><span>{L_adminc_server}</span></a></li>
    <li><a href='#fragment-4'><span>{L_adminc_support}</span></a></li>
  </ul>

  <div id="fragment-1">
  	<div class="grid">
  		<div class="onerow">
  			<div class="col6">
  				<h2>{L_rssadmin_head1}</h2>
				<div id="notifications"></div>
  			</div>
  			<div class="col6 last">
  				<h2>{L_rssadmin_head2} <a href="https://twitter.com/EQdkpPlus" target="new" ><i class="fa fa-twitter-square fa-lg"></i></a>
					<a href="https://facebook.com/EQdkpPlus" target="new" ><i class="fa fa-facebook-square fa-lg"></i></a>
					<a href="https://google.com/+Eqdkp-plusEu" target="new" ><i class="fa fa-google-plus-square fa-lg"></i></a>
				</h2>
				<div id="twitterfeed"></div>
  			</div>
  			
  		</div>
  	</div>

  </div>

  <div id="fragment-2">
	<div class="tableHeader">
		<h2>{L_statistics}</h2>
	</div>
    <table class="table fullwidth scrollable-x">
      <tr>
        <td class="row2" width="25%">{L_liveupdate_installed_version}:</td>
        <td class="row1" width="25%">{EQDKP_VERSION}</td>
        <td class="row2" width="25%">{L_number_of_members}:</td>
        <td class="row1" width="25%">{NUMBER_OF_MEMBERS}</td>
      </tr>
      <tr>
        <td class="row2" width="25%">{L_backup_system_data}:</td>
        <td class="row1" width="25%">{DATA_FOLDER}</td>
        <td class="row2" width="25%">{L_number_of_raids}:</td>
        <td class="row1" width="25%">{NUMBER_OF_RAIDS}</td>
      </tr>
      <tr>
        <td class="row2" width="25%">{L_db_name}:</td>
        <td class="row1" width="25%">{DATABASE_NAME}</td>
        <td class="row2" width="25%">{L_raids_per_day}:</td>
        <td class="row1" width="25%">{RAIDS_PER_DAY}</td>
      </tr>
      <tr>
        <td class="row2" width="25%">{L_table_prefix}:</td>
        <td class="row1" width="25%">{TABLE_PREFIX}</td>
        <td class="row2" width="25%">{L_number_of_items}:</td>
        <td class="row1" width="25%">{NUMBER_OF_ITEMS}</td>
      </tr>
	  <tr>
        <td class="row2" width="25%">{L_database_size}:</td>
        <td class="row1" width="25%">{DATABASE_SIZE}</td>
        <td class="row2" width="25%">{L_items_per_day}:</td>
        <td class="row1" width="25%">{ITEMS_PER_DAY}</td>
      </tr>
	  <tr>
        <td class="row2" width="25%">{L_eqdkp_started}:</td>
        <td class="row1" width="25%">{EQDKP_STARTED}</td>
        <td class="row2" width="25%">{L_number_of_logs}:</td>
        <td class="row1" width="25%">{NUMBER_OF_LOGS}</td>
      </tr>
    </table>
  </div>

  <div id="fragment-3">
    <table class="table fullwidth scrollable-x colorswitch">
     <tr>
          <th>{L_adminc_phpname}</th>
          <th>{L_adminc_phpvalue}</th>
        </tr>
        <tr>
          <td>PHP Safe Mode</td>
          <td>{SERVERINFO_SAFEMODE}</td>
        </tr>
        <tr>
          <td>Register Globals</td>
          <td>{SERVERINFO_REGGLOBAL}</td>
        </tr>
         <tr>
          <td>CURL</td>
          <td>{SERVERINFO_CURL}</td>
        </tr>
         <tr>
          <td>Fopen</td>
          <td>{SERVERINFO_FOPEN}</td>
        </tr>
         <tr>
          <td>PHP Version</td>
          <td>{SERVERINFO_PHP} <em>(<a href="info_php.php{SID}">{L_adminc_server}</a>)</em></td>
        </tr>
        <tr>
          <td>Mysql Version</td>
          <td>{SERVERINFO_MYSQL}</td>
        </tr>
		</table>
  </div>

  <div id="fragment-4">
    {L_adminc_support_intro}<br/><br/>
    <table class="table fullwidth">

      <tr>
      	<td><span class="fa-stack fa-3x"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-tachometer fa-stack-1x fa-inverse"></i></span></td>
      	<td>{L_adminc_support_tour}</td>
     	</tr>
      <tr>
        <td><span class="fa-stack fa-3x"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-globe fa-stack-1x fa-inverse"></i></span></td>
        <td>{L_adminc_support_wiki}</td>
      </tr>
       <tr>
        <td><span class="fa-stack fa-3x"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-bug fa-stack-1x fa-inverse"></i></span></td>
        <td>{L_adminc_support_bugtracker}</td>
      </tr>
      <tr>
        <td><span class="fa-stack fa-3x"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-users fa-stack-1x fa-inverse"></i></span></td>
        <td>{L_adminc_support_forums}</td>
      </tr>
    </table>
  </div>
</div>
<br/>
<!-- IF S_WHO_IS_ONLINE -->
<h2>{L_who_online}</h2>
<table  class="table fullwidth colorswitch">
    <tr>
      <th align="left" width="20%" class="nowrap">{L_username}</th>
      <th align="left" width="20%" class="hiddenSmartphone">{L_logged_in}</th>
      <th align="left" width="20%">{L_last_update}</th>
      <th align="left" width="20%">{L_location}</th>
      <th align="left" width="20%" class="hiddenSmartphone">{L_ip_address}</th>
      <th align="left" width="20%" class="hiddenSmartphone">{L_browser}</th>
    </tr>
    <!-- BEGIN online_row -->
    <tr>
      <td width="20%" class="nowrap">{online_row.USERNAME}</td>
      <td width="20%" class="hiddenSmartphone">{online_row.LOGIN}</td>
      <td width="20%">{online_row.LAST_UPDATE}</td>
      <td width="20%">{online_row.LOCATION}</td>
      <td width="20%" class="hiddenSmartphone"><span class="ip_resolver" title="{online_row.IP_ADDRESS}">{online_row.IP_ADDRESS}</span></td>
      <td width="20%" align="center" class="hiddenSmartphone">{online_row.BROWSER}</td>
    </tr>
    <!-- END online_row -->
    <tr>
      <th colspan="6" class="footer">{ONLINE_FOOTCOUNT}</th>
    </tr>
  </table>
<!-- ENDIF -->
<!-- IF S_LOGS -->
<br />
<h2>{L_new_actions}</h2>
<table  class="table fullwidth colorswitch">
  {LOGS_TABLE}  
</table>
<!-- ENDIF -->