<form action="{ACTION}" name="post" method="post">

<fieldset class="settings">
	<legend>{L_mysql_info}</legend>
	<dl>
		<dt><label>{L_db_type}</label></dt>
		<dd>{DB_ENGINE}</dd>
	</dl>
	<dl>
		<dt><label>{L_db_version}</label></dt>
		<dd>{DB_VERSION}</dd>
	</dl>
	<dl>
		<dt><label>{L_db_name}</label></dt>
		<dd>{DB_NAME}</dd>
	</dl>
	<dl>
		<dt><label>{L_table_prefix}</label></dt>
		<dd>{DB_PREFIX}</dd>
	</dl>
</fieldset>

<table width="100%" border="0" cellspacing="1" cellpadding="2" class="colorswitch hoverrows">
  <tr>
  	<th align="center" colspan="6"><span style="float:left;">{L_eqdkp_tables}</span><span style="float:right"></span></th>
  </tr>
  <tr>
    <th align="left">{L_table_name} ({NUM_TABLES})</th>
    <th align="left" class="nowrap">{L_rows}</th>
    <th width="75" align="left" class="nowrap">{L_db_engine}</th>
    <th width="75" align="left" class="nowrap">{L_db_collation}</th>
    <th align="left" class="nowrap">{L_table_size}</th>
    <th align="left" class="nowrap">{L_index_size}</th>
  </tr>
  <!-- BEGIN table_row -->
  <tr>
    <td class="nowrap">{table_row.TABLE_NAME}</td>
    <td class="nowrap">{table_row.ROWS}</td>
    <td class="nowrap">{table_row.ENGINE}</td>
    <td class="nowrap">{table_row.COLLATION}</td>
    <td class="nowrap">{table_row.TABLE_SIZE}</td>
    <td class="nowrap">{table_row.INDEX_SIZE}</td>
  </tr>
  <!-- END table_row -->
  <tr>
    <th align="left" colspan="4"><b>{L_totals}:</b> {TOTAL_SIZE}</th>
    <th align="left" width="75">{TOTAL_TABLE_SIZE}</th>
    <th align="left" width="100">{TOTAL_INDEX_SIZE}</th>
  </tr>
</table>
</form>