<!-- IF S_NORMAL_HEADER -->
<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li><a href="{EQDKP_ROOT_PATH}admin/{SID}">{L_menu_admin_panel}</a>
		<li class="current"><a>{L_adminc_server}</a></li>
	</ul>
	<div class="clear"></div>
</div>
<!-- ENDIF -->

<table class="table fullwidth">
	<tr>
		<th align="center">{L_adminc_server}</th>
	</tr>
	<tr>
		<td width="25" align="left">{PHP_INFO}</td>
	</tr>
</table>