<script type="text/javascript">
$(document).ready(function(){
	$('#dw_portal_blocks').on('change', function(event){
		var checkedValues = $.map($(this).multiselect("getChecked"), function( input ){
			return input.value;
		});
		
		var allValues = $.map($('#dw_portal_blocks option'), function(e) { return e.value; });
		
		$.each(allValues, function(index, value) {
			if ($.inArray(value, checkedValues) > -1){
				//Show block
				$('#block_container_'+value).show();
			} else {
				//Hide block
				$('#block_container_'+value).hide();
				var childs = $('#'+value).children();
				$.each(childs, function(index, value2){
					$('#block_'+value2.id).val('disabled');
					$('#'+value2.id).addClass('portal_disabled').addClass('equalHeights');
					$('#disabled').append($('#'+value2.id));
				});
				$('#'+value).html('');
			}
		});
	});
	
	$( "#dialog-embeddmodule" ).dialog({
		height: 380,
		width: 530,
		modal: true,
		autoOpen: false,
	});
	
	$(".onchangeEmbedd").on("change", function(){
		createEmbeddLink();
	});
});
function embedddialog(intModuleID){
	$( "#dialog-embeddmodule" ).dialog( "open" );
	
	moduleid = intModuleID.slice(5);
	createEmbeddLink();
}

var moduleid = 0;
function createEmbeddLink(){
	var base = $("#embedd_base").html();
	base = base.replace(/ID/g, moduleid);

	var addition = "";
	if(!$("#embedd_show_header").is(":checked")){
		addition = addition + "EQdkpPortal.setVar(\"header\", 0); ";
	}
	if($("input[name='embedd_position']:checked").val() != "left"){
		addition = addition + "EQdkpPortal.setVar(\"position\", \""+ $("input[name='embedd_position']:checked").val() +"\"); ";
	}
	if($("#embedd_wide_content").is(":checked")){
		addition = addition + "EQdkpPortal.setVar(\"wide\", 1); ";
	}	
	base = base.replace(/ADDITION/g, addition);	
	$("#embedd_html").html(base);
}


</script>
<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li><a href="{EQDKP_ROOT_PATH}admin/{SID}">{L_menu_admin_panel}</a>
		<li><a href="{EQDKP_ROOT_PATH}admin/manage_portal.php{SID}">{L_portalmanager}</a>
		<li class="current"><a><!-- IF NAME == '' -->{L_add_portal_layout}<!-- ELSE -->{NAME}<!-- ENDIF --></a></li>
	</ul>
	<div class="clear"></div>
</div>

<form method="post" action="{ACTION}&amp;l={LAYOUT_ID}" name="post" id="portal_layout_form"  class="fv_checkit">
<div class="contentHeader">
	<h1 class="contentTitle">{L_portalplugin_management}</h1>
</div>

<fieldset class="settings">
	<dl>
		<dt><label>{L_name}:</label></dt>
		<dd><input type="text" name="name" value="{NAME}" class="input" required /></dd>
	</dl>
	<dl>
		<dt><label>{L_portal_blocks}:</label></dt>
		<dd>{MS_PORTAL_BLOCKS}</dd>
	</dl>
</fieldset>

<div class="contentDivider"></div>

<div id="positions">
	
	<br />
	<div style="float:left; width:25%; min-width:200px; <!-- IF S_LEFT_HIDDEN -->display:none;<!-- ENDIF -->" id="block_container_left">
		<div class="portal_block_border">
		<h2>{L_portalplugin_left}:</h2>
			<ul id="left" class="connectedSortable portal_block">
				<!-- BEGIN left_row -->
				<li class="ui-state-hover {left_row.CLASS}" id="item_{left_row.ID}" style="padding: 7px; margin-top: 4px;">
					<div style="width: 90px;" class="floatRight">
						<div style="height: 20px; padding: 2px;" class="floatRight hand" title="{L_portalplugin_settings}" onclick="javascript:portalsettings($(this).parent().parent().attr('id'));"><i class="fa fa-wrench fa-lg"></i></div>
						<div class="hand floatRight" style="height: 20px; padding: 2px;" title="{L_embedd}" onclick="embedddialog($(this).parent().parent().attr('id'))"><i class="fa fa-link fa-lg"></i></div>
						<!-- IF left_row.S_MULTIPLE -->
						<div style="height: 20px; padding: 2px;" class="floatRight hand" title="{L_portal_duplicate}"><a href="{ACTION}&amp;duplicate=true&amp;selected_id={left_row.ID}&amp;l={LAYOUT_ID}"><i class="fa fa-plus fa-lg"></i></a></div>
						<!-- ENDIF -->
						<!-- IF left_row.S_CHILD -->
						<div style="height: 20px; padding: 2px;" class="floatRight hand" title="{L_delete}" onclick="javascript:delete_portal({left_row.ID});"><i class="fa fa-trash-o fa-lg"></i></div>
						<!-- ENDIF -->
						<div class="floatRight" style="height: 20px; padding: 2px;"><i class="fa fa-users coretip fa-lg" data-coretip="{left_row.PERMISSIONS}"></i></div>
					</div>
						{left_row.INFO}
						{left_row.NAME}
					
					<input name="sort[][{left_row.ID}]" type="hidden" value="1" />
					<input type="hidden" name="pos[{left_row.ID}]" value="{left_row.POS}" id="block_item_{left_row.ID}" />
				</li>
				<!-- END left_row-->

			</ul>
		</div>
	</div>
	<div style="float:left; width:50%; min-width:400px;">
		<div class="portal_block_border" <!-- IF S_MIDDLE_HIDDEN -->style="display:none;"<!-- ENDIF --> id="block_container_middle">
			<h2>{L_portalplugin_middle}:</h2>
			<ul id="middle" class="connectedSortable portal_block">
				<!-- BEGIN middle_row -->
				<li class="ui-state-hover {middle_row.CLASS}" id="item_{middle_row.ID}" style="padding: 7px; margin-top: 4px;">
					<div style="width: 90px;" class="floatRight">
						<div style="height: 20px; padding: 2px;" class="floatRight hand" title="{L_portalplugin_settings}" onclick="javascript:portalsettings($(this).parent().parent().attr('id'));"><i class="fa fa-wrench fa-lg"></i></div>
						<div class="hand floatRight" style="height: 20px; padding: 2px;" title="{L_embedd}" onclick="embedddialog($(this).parent().parent().attr('id'))"><i class="fa fa-link fa-lg"></i></div>
						<!-- IF middle_row.S_MULTIPLE -->
						<div style="height: 20px; padding: 2px;" class="floatRight hand" title="{L_portal_duplicate}"><a href="{ACTION}&amp;duplicate=true&amp;selected_id={middle_row.ID}&amp;l={LAYOUT_ID}"><i class="fa fa-plus fa-lg"></i></a></div>
						<!-- ENDIF -->
						<!-- IF middle_row.S_CHILD -->
						<div style="height: 20px; padding: 2px;" class="floatRight hand" title="{L_delete}" onclick="javascript:delete_portal({middle_row.ID});"><i class="fa fa-trash-o fa-lg"></i></div>
						<!-- ENDIF -->
						<div class="floatRight" style="height: 20px; padding: 2px;"><i class="fa fa-users coretip fa-lg" data-coretip="{middle_row.PERMISSIONS}"></i></div>
					</div>
						{middle_row.INFO}
						{middle_row.NAME}
					
					<input name="sort[][{middle_row.ID}]" type="hidden" value="1" />
					<input type="hidden" name="pos[{middle_row.ID}]" value="{middle_row.POS}" id="block_item_{middle_row.ID}" />
				</li>
				<!-- END middle_row-->
			</ul>
		</div>
		
		<div class="portal_block_light">
			<div style="height:100px;">{L_info_opt_content}</div>
		</div>
		
		<div class="portal_block_border" <!-- IF S_BOTTOM_HIDDEN -->style="display:none;"<!-- ENDIF --> id="block_container_bottom">
		<h2>{L_portalplugin_bottom}:</h2>
			<ul id="bottom" class="connectedSortable portal_block">
				<!-- BEGIN bottom_row -->
				<li class="ui-state-hover {bottom_row.CLASS}" id="item_{bottom_row.ID}" style="padding: 7px; margin-top: 4px;">
					<div style="width: 90px;" class="floatRight">
						<div style="height: 20px; padding: 2px;" class="floatRight hand" title="{L_portalplugin_settings}" onclick="javascript:portalsettings($(this).parent().parent().attr('id'));"><i class="fa fa-wrench fa-lg"></i></div>
						<div class="hand floatRight" style="height: 20px; padding: 2px;" title="{L_embedd}" onclick="embedddialog($(this).parent().parent().attr('id'))"><i class="fa fa-link fa-lg"></i></div>
						<!-- IF bottom_row.S_MULTIPLE -->
						<div style="height: 20px; padding: 2px;" class="floatRight hand" title="{L_portal_duplicate}"><a href="{ACTION}&amp;duplicate=true&amp;selected_id={bottom_row.ID}&amp;l={LAYOUT_ID}"><i class="fa fa-plus fa-lg"></i></a></div>
						<!-- ENDIF -->
						<!-- IF bottom_row.S_CHILD -->
						<div style="height: 20px; padding: 2px;" class="floatRight hand" title="{L_delete}" onclick="javascript:delete_portal({bottom_row.ID});"><i class="fa fa-trash-o fa-lg"></i></div>
						<!-- ENDIF -->
						<div class="floatRight" style="height: 20px; padding: 2px;"><i class="fa fa-users coretip fa-lg" data-coretip="{bottom_row.PERMISSIONS}"></i></div>
					</div>
						{bottom_row.INFO}
						{bottom_row.NAME}
				
					<input name="sort[][{bottom_row.ID}]" type="hidden" value="1" />
					<input type="hidden" name="pos[{bottom_row.ID}]" value="{bottom_row.POS}" id="block_item_{bottom_row.ID}" />
				</li>
				<!-- END bottom_row-->
			</ul>
		</div>	
	</div>
	
	<div style="float:left; width:25%; min-width:200px; <!-- IF S_RIGHT_HIDDEN -->display:none;<!-- ENDIF -->" id="block_container_right">
		<div class="portal_block_border">
		<h2>{L_portalplugin_right}:</h2>
			<ul id="right" class="connectedSortable portal_block">
				<!-- BEGIN right_row -->
				<li class="ui-state-hover {right_row.CLASS}" id="item_{right_row.ID}" style="padding: 7px; margin-top: 4px;">
					<div style="width: 90px;" class="floatRight">
						<div style="height: 20px; padding: 2px;" class="floatRight hand" title="{L_portalplugin_settings}" onclick="javascript:portalsettings($(this).parent().parent().attr('id'));"><i class="fa fa-wrench fa-lg"></i></div>
						<div class="hand floatRight" style="height: 20px; padding: 2px;" title="{L_embedd}" onclick="embedddialog($(this).parent().parent().attr('id'))"><i class="fa fa-link fa-lg"></i></div>
						<!-- IF right_row.S_MULTIPLE -->
						<div style="height: 20px; padding: 2px;" class="floatRight hand" title="{L_portal_duplicate}"><a href="{ACTION}&amp;duplicate=true&amp;selected_id={right_row.ID}&amp;l={LAYOUT_ID}"><i class="fa fa-plus fa-lg"></i></a></div>
						<!-- ENDIF -->
						<!-- IF right_row.S_CHILD -->
						<div style="height: 20px; padding: 2px;" class="floatRight hand" title="{L_delete}" onclick="javascript:delete_portal({right_row.ID});"><i class="fa fa-trash-o fa-lg"></i></div>					
						<!-- ENDIF -->
						<div class="floatRight" style="height: 20px; padding: 2px;"><i class="fa fa-users coretip fa-lg" data-coretip="{right_row.PERMISSIONS}"></i></div>
					</div>
						{right_row.INFO}
						{right_row.NAME}
					
					<input name="sort[][{right_row.ID}]" type="hidden" value="1" />
					<input type="hidden" name="pos[{right_row.ID}]" value="{right_row.POS}" id="block_item_{right_row.ID}" />
				</li>
				<!-- END right_row-->
			</ul>
		</div>
	</div>
	<div style="clear:both;"></div>
	<!-- BEGIN block_row -->
	<div style="float:left; width:300px; <!-- IF block_row.S_HIDDEN -->display:none;<!-- ENDIF -->" id="block_container_block{block_row.ID}">
		<div class="portal_block_border">
		<h2>{block_row.NAME}:</h2>
			<ul id="block{block_row.ID}" class="connectedSortable portal_block">
				<!-- BEGIN module_row -->
				<li class="ui-state-hover {block_row.module_row.CLASS}" id="item_{block_row.module_row.ID}" style="padding: 7px; margin-top: 4px;">
					<div style="width: 90px;" class="floatRight">
						<div style="height: 20px; padding: 2px;" class="floatRight hand" title="{L_portalplugin_settings}" onclick="javascript:portalsettings($(this).parent().parent().attr('id'));"><i class="fa fa-wrench fa-lg"></i></div>
						<div class="hand floatRight" style="height: 20px; padding: 2px;" title="{L_embedd}" onclick="embedddialog($(this).parent().parent().attr('id'))"><i class="fa fa-link fa-lg"></i></div>
						<!-- IF block_row.module_row.S_MULTIPLE -->
						<div style="height: 20px; padding: 2px;" class="floatRight hand" title="{L_portal_duplicate}"><a href="{ACTION}&amp;duplicate=true&amp;selected_id={block_row.module_row.ID}&amp;l={LAYOUT_ID}"><i class="fa fa-plus fa-lg"></i></a></div>
						<!-- ENDIF -->
						<!-- IF block_row.module_row.S_CHILD -->
						<div style="height: 20px; padding: 2px;" class="floatRight hand" title="{L_delete}" onclick="javascript:delete_portal({block_row.module_row.ID});"><i class="fa fa-trash-o fa-lg"></i></div>					
						<!-- ENDIF -->
						<div class="floatRight" style="height: 20px; padding: 2px;"><i class="fa fa-users coretip fa-lg" data-coretip="{block_row.PERMISSIONS}"></i></div>
					</div>
						{block_row.module_row.INFO}
						{block_row.module_row.NAME}
					
					
					<input name="sort[][{block_row.module_row.ID}]" type="hidden" value="1" />
					<input type="hidden" name="pos[{block_row.module_row.ID}]" value="{block_row.module_row.POS}" id="block_item_{block_row.module_row.ID}" />
				</li>
				<!-- END module_row-->
			</ul>
		</div>
	</div>
	<!-- END block_row -->
	
	<div style="clear:both;"></div>
	<div style="width:100%;">
		<div class="portal_block_border">
			<h2>{L_portalplugin_disabled}:</h2>
			<ul id="disabled" class="connectedSortable portal_block">
				<!-- BEGIN disabled_row -->
				<li class="ui-state-hover {disabled_row.CLASS} portal_disabled equalHeights" id="item_{disabled_row.ID}" style="padding: 7px; margin-top: 4px;">
					<div style="width: 90px;" class="floatRight">
						<div style="height: 20px; padding: 2px;" class="floatRight hand" title="{L_portalplugin_settings}" onclick="javascript:portalsettings($(this).parent().parent().attr('id'));"><i class="fa fa-wrench fa-lg"></i></div>
						<div class="hand floatRight" style="height: 20px; padding: 2px;" title="{L_embedd}" onclick="embedddialog($(this).parent().parent().attr('id'))" ><i class="fa fa-link fa-lg"></i></div>
						<!-- IF disabled_row.S_MULTIPLE -->
						<div style="height: 20px; padding: 2px;" class="floatRight hand" title="{L_portal_duplicate}"><a href="{ACTION}&amp;duplicate=true&amp;selected_id={disabled_row.ID}&amp;l={LAYOUT_ID}"><i class="fa fa-plus fa-lg"></i></a></div>
						<!-- ENDIF -->
						<!-- IF disabled_row.S_CHILD -->
						<div style="height: 20px; padding: 2px;" class="floatRight hand" title="{L_delete}" onclick="javascript:delete_portal({disabled_row.ID});"><i class="fa fa-trash-o fa-lg"></i></div>					
						<!-- ENDIF -->
						<div class="floatRight" style="height: 20px; padding: 2px;"><i class="fa fa-users coretip fa-lg" data-coretip="{disabled_row.PERMISSIONS}"></i></div>
					</div>
						{disabled_row.INFO}
						{disabled_row.NAME}
			
					<input name="sort[][{disabled_row.ID}]" type="hidden" value="1" />
					<input type="hidden" name="pos[{disabled_row.ID}]" value="{disabled_row.POS}" id="block_item_{disabled_row.ID}" />
				</li>
				<!-- END disabled_row-->
				
				
			</ul>
			<div style="clear:both;"></div>
		</div>
	</div>
	<div style="clear:both;"></div>
	
	<div style="clear:both;"></div>
	
</div>
<div class="contentFooter">
	<button class="mainoption" name="save" type="submit" id="save"><i class="fa fa-check"></i>{L_save}</button>
	<button class="liteoption" type="button" name="reset" onclick="window.location='manage_portal.php{SID}&l={LAYOUT_ID}'"><i class="fa fa-trash-o"></i>{L_reset}</button>
	<button class="liteoption" name="cancel" type="button" id="cancel" onclick="window.location='manage_portal.php{SID}'"><i class="fa fa-chevron-left"></i>{L_back}</button>
</div>
<input type="hidden" name="l" value="{LAYOUT_ID}"/>
{CSRF_TOKEN}
</form>

<div id="dialog-embeddmodule" title="{L_embedd}">
		<fieldset class="settings mediumsettings">
			<dl>
				<dt><label>{L_embedd_show_header}:</label></dt>
				<dd><input name="" type="checkbox" id="embedd_show_header" value="1" checked class="onchangeEmbedd" /></dd>
			</dl>
			<dl>
				<dt><label>{L_embedd_position}:</label></dt>
				<dd>
					<input type="radio" name="embedd_position" value="left" checked class="onchangeEmbedd"/> {L_portalplugin_left}
					<input type="radio" name="embedd_position" value="middle" class="onchangeEmbedd" /> {L_embedd_middle}
					<input type="radio" name="embedd_position" value="right" class="onchangeEmbedd"/> {L_portalplugin_right}
				</dd>
			</dl>
			<dl>
				<dt><label>{L_wide_content}:</label></dt>
				<dd><input name="" type="checkbox" id="embedd_wide_content" value="1" class="onchangeEmbedd" /></dd>
			</dl>
			<textarea style="width: 90%" rows="5" readonly="readonly" name="data" onclick="$(this).select()" id="embedd_html"></textarea>
		</fieldset>
		<textarea style="display:none;" id="embedd_base"><script src="{EMBEDD_URL}portal/widget.js" type="text/javascript"></script><div id="eqdkp_portal_ID" ></div><script type="text/javascript">ADDITIONEQdkpPortal.init(ID);</script></textarea>
</div>