<script type="text/javascript">
	$(document).ready(function() {
		$('.eyeToggleTrigger').on('click', function(event){
			if ($(this).hasClass('eye')){
				//Hide
				$(this).siblings('.published_cb').val(0);
				$(this).removeClass('eye');
				$(this).addClass('eye-gray');
			} else {
				$(this).siblings('.published_cb').val(1);
				$(this).removeClass('eye-gray');
				$(this).addClass('eye');
			}
		});
		
		$('.featuredToggleTrigger').on('click', function(event){
			if ($(this).hasClass('featured')){
				//Hide
				$(this).siblings('.featured_cb').val(0);
				$(this).removeClass('featured');
				$(this).addClass('not-featured');
			} else {
				$(this).siblings('.featured_cb').val(1);
				$(this).removeClass('not-featured');
				$(this).addClass('featured');
			}
		});
		
		$('.index_cb').on('click', function(){
			if(this.checked){
				$('.index_cb').prop('disabled', true);
				$(this).prop('disabled', false);
			} else {
				$('.index_cb').prop('disabled', false);
				$('.index_cb').prop('checked', false);
			}
		})
	});
</script>

<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li><a href="{EQDKP_ROOT_PATH}admin/{SID}">{L_menu_admin_panel}</a>
		<li><a href="{EQDKP_ROOT_PATH}admin/manage_article_categories.php{SID}">{L_manage_article_categories}</a></li>
		<li><a href="{EQDKP_ROOT_PATH}admin/manage_article_categories.php{SID}&c={CID}">{CATEGORY_NAME}</a></li>
		<li class="current"><a>{L_manage_articles}</a></li>
	</ul>
	<div class="clear"></div>
</div>

<form method="post" action="{ACTION}" name="post">
	<div class="contentHeader">
		<h1 class="contentTitle">{L_manage_articles}: {CATEGORY_NAME}</h1>
	</div>
	<div class="tableHeader floatRight">
		<button class="mainoption" type="button" name="addadj" onclick="window.location='manage_articles.php{SID}&amp;a=0&amp;c={CID}'"><i class="fa fa-plus"></i>{L_add_new_article}</button>
	</div>
	<div class="clear"></div>
	<table class="table fullwidth colorswitch" id="article_categories-table">
		{ARTICLE_LIST}
	</table>
	<div class="center pagination_wrapper">
		{PAGINATION}
	</div>
	<div class="contentFooter">
		{BUTTON_MENU}
		<button class="mainoption" type="button" name="del" onclick="delete_warning();" id="del_articles" style="display:none;"><i class="fa fa-times"></i>{L_delete_selected_entries}</button>
		<button class="mainoption" type="submit" name="set_published" id="set_published" style="display:none;"></button>
		<button class="mainoption" type="submit" name="set_unpublished" id="set_unpublished" style="display:none;"></button>
		<button class="mainoption" type="submit" name="change_category" id="change_category" style="display:none;"></button>
		
		<input type="hidden" name="c" value="{CID}" />
		<input type="hidden" name="del" value="1" disabled="disabled" id="mass_del_submit" />
		<button class="mainoption" type="submit" name="save"><i class="fa fa-check"></i>{L_save}</button>
		<button class="mainoption" type="button" onclick="window.location='manage_article_categories.php{SID}'"><i class="fa fa-chevron-left"></i>{L_back}</button>
	</div>
{CSRF_TOKEN}	
</form>