<!-- IF S_USERGROUP_ADMIN -->

<script type="text/javascript">
	$(document).ready(function() {
		
		$( "#dialog-add-raidgroup" ).dialog({
			height: 240,
			width: 500,
			modal: true,
			autoOpen: false,
		});
		
		$('.add_raid_group_trigger').on('click', function(event){
			$('.addgroup-name').val('');
			$('.addgroup-desc').val('');
			$('.addgroup-hidden').prop("checked", false);
			
			$( "#dialog-add-raidgroup" ).dialog( "open" );
		});
		
		var newid = {ID};
		var newkey = {KEY};
		
		$('#addgroup-button').on('click', function(event){
			var name = $('.addgroup-name').val();
			var desc = $('.addgroup-desc').val();
			var hidden = $('.addgroup-hidden').prop("checked");
			var strHidden = (hidden) ? 'checked="checked"' : "";
			
			var new_row = $('#raidgroup_template>tbody').html()+"";
			new_row = new_row.replace(/KEY/g, newkey);
			new_row = new_row.replace(/ID/g, newid);
			new_row = new_row.replace(/NAME/g, name);
			new_row = new_row.replace(/DESC/g, desc);
			new_row = new_row.replace(/checked="checked"/g, strHidden);
			newkey++;
			newid++;

			$('.add_container').append(new_row);
						
			$( "#dialog-add-raidgroup" ).dialog( "close" );
		});
		
	});
</script>

<div id="dialog-add-raidgroup" title="{L_add_raid_group}">
		<fieldset class="settings mediumsettings">
			<dl>
				<dt><label>{L_name}:</label></dt>
				<dd><input type="text" style="width:90%" class="addgroup-name"/>
				</dd>
			</dl>
			<dl>
				<dt><label>{L_description}:</label></dt>
				<dd>
					<input type="text" style="width:90%" class="addgroup-desc"/>
				</dd>
			</dl>
		</fieldset>
		<button type="button" id="addgroup-button"><i class="fa fa-check"></i> {L_submit}</button>
</div>

<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li><a href="{EQDKP_ROOT_PATH}admin/{SID}">{L_menu_admin_panel}</a>
		<li class="current"><a>{L_manage_raid_groups}</a></li>
	</ul>
	<div class="clear"></div>
</div>
<form method="post" action="{ACTION}" name="post">
	<div class="contentHeader">
		<h1 class="contentTitle">{L_manage_raid_groups}</h1>
	</div>
	<div class="tableHeader floatRight">
		<button class="mainoption add_raid_group_trigger" type="button"><i class="fa fa-plus"></i>{L_add_raid_group}</button>
		
	</div>
	<div class="clear"></div>
	<table id="raid_groups_table" class="table fullwidth colorswitch">
		<thead>
		<tr class="not-sortable">
			<th width="10px"></th>
			<th width="20"><input type="checkbox" name="selectall" id="selall_groups" />&nbsp;</th>
			<th colspan="2" width="20" class="nowrap">{L_action}</th>
			<th>{L_name}</th>
			<th>{L_description}</th>
			<th>{L_groupcolor}</th>
			<th width="50" class="hiddenSmartphone">{L_group_members}</th>
			<th>{L_default_group}</th>
		</tr>
		</thead>
		<tbody class="add_container">
		<!-- BEGIN raid_groups -->
		<tr>
			<td><span class="ui-icon ui-icon-arrowthick-2-n-s" title="{L_dragndrop}"></span></td>
			<td align="center"><!-- IF raid_groups.S_DELETABLE --><input type="checkbox" name="raid_group_ids[]" value="{raid_groups.ID}" /><!-- ENDIF --><input type="hidden" name="raid_groups[{raid_groups.KEY}][id]" value="{raid_groups.ID}" /></td>
			<td align="center"><a href="manage_raid_groups.php{SID}&amp;g={raid_groups.ID}&amp;edit=true" title="{L_manage_raid_group}"><i class="fa fa-pencil fa-lg"></i></a></td>
			<td align="center">
				<!-- IF raid_groups.S_DELETABLE -->
				<a href="javascript:delete_single_warning({raid_groups.ID});" title="{L_delete}"><i class="fa fa-trash-o fa-lg" title="{L_delete}"></i></a>
				<!-- ENDIF -->
			</td>
			<td><input type="text" name="raid_groups[{raid_groups.KEY}][name]" size="40" maxlength="50" value="{raid_groups.NAME}" class="maininput" style="width:95%" /></td>
			<td><input type="text" name="raid_groups[{raid_groups.KEY}][desc]" size="50" maxlength="75" value="{raid_groups.DESC}" class="maininput" style="width:95%" /></td>
			<td>{raid_groups.COLOR}</td>
			<td class="hiddenSmartphone">{raid_groups.USER_COUNT}</td>
			<td width="50" class="nowrap"><input type="radio" value="{raid_groups.ID}" name="raid_groups_standard" {raid_groups.STANDARD} /></td>
		</tr>
		<!-- END raid_groups -->
		</tbody>
	</table>
	<div class="contentFooter">
		<button class="mainoption" type="submit" name="save"><i class="fa fa-check"></i>{L_save}</button>
		<button class="mainoption" type="button" name="del" onclick="delete_warning();"><i class="fa fa-times" ></i>{L_delete_selected_group}</button>
		<input type="hidden" name="del" value="1" disabled="disabled" id="mass_del_submit" />
	</div>
	
{CSRF_TOKEN}
</form>
	<table id="raidgroup_template" style="visibility:hidden;">
		<tr>
			<td><span class="ui-icon ui-icon-arrowthick-2-n-s" title="{L_dragndrop}"></span></td>
			<td align="center"></td>
			<td align="center"></td>
			<td align="center"></td>
			<td><input type="hidden" name="raid_groups[KEY][id]" value="ID" /><input type="text" name="raid_groups[KEY][name]" size="40" maxlength="50" value="NAME" class="maininput" style="width:95%" /></td>
			<td><input type="text" name="raid_groups[KEY][desc]" size="50" maxlength="75" value="DESC" class="maininput" style="width:95%" /></td>
			<td></td>
			<td width="50" class="nowrap"></td>
		</tr>
	</table>
	
<!-- ELSE -->
<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li><a href="{EQDKP_ROOT_PATH}admin/{SID}">{L_menu_admin_panel}</a>
		<li class="current"><a>{L_manage_raid_groups}</a></li>
	</ul>
	<div class="clear"></div>
</div>
<div class="contentHeader">
	<h1 class="contentTitle">{L_manage_raid_groups}</h1>
</div>
<table id="raid_groups_table" class="table fullwidth colorswitch">
		<tr>
			<th width="20" class="nowrap">{L_action}</th>
			<th>
				<a href="{ACTION}&amp;order=0.1"><span class="down_arrow{RED01}"></span></a>
				<a href="{ACTION}&amp;order=0.0"><span class="up_arrow{RED00}"></span></a>
				{L_name}
			</th>
			<th>{L_description}</th>
			<th width="50" class="nowrap">{L_group_members}</th>
		</tr>
		<!-- BEGIN raid_groups -->
		<!-- IF raid_groups.S_IS_GRPLEADER -->
		<tr>
			<td align="center"><a href="manage_raid_groups.php{SID}&amp;g={raid_groups.ID}&amp;edit=true" title="{L_manage_raid_group}"><i class="fa fa-user fa-lg"></i></a></td>
			<td>{raid_groups.NAME}</td>
			<td>{raid_groups.DESC}</td>
			<td>{raid_groups.USER_COUNT}</td>
		</tr>
		<!-- ENDIF -->
		<!-- END raid_groups -->
	</table>
<!-- ENDIF -->