<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li><a href="{EQDKP_ROOT_PATH}admin/{SID}">{L_menu_admin_panel}</a>
		<li class="current"><a>{L_manage_users}</a></li>
	</ul>
	<div class="clear"></div>
</div>

<form method="post" action="{ACTION}" name="post">
<div class="contentHeader">
	<h1 class="contentTitle">{L_manage_users}</h1>
</div>
<div class="tableHeader floatRight">
	<button class="mainoption" type="button" name="create" onclick="window.location.href='{U_MANAGE_USERS}u=0'"><i class="fa fa-plus"></i>{L_user_creation}</button>
</div>
<div class="clear"></div>
	<table class="table fullwidth colorswitch hoverrows">
		<tr>
			<th align="center" width="25" class="nowrap"><input type="checkbox" id="selall_user" name="all_nr" value="all_nr" /></th>
			<th colspan="4" align="left">{L_action}</th>
			<th align="left" colspan="2">
				<a href="{U_MANAGE_USERS}o=0.0"><span class="down_arrow{RED00}"></span></a><a href="{U_MANAGE_USERS}o=0.1"><span class="up_arrow{RED01}"></span></a>
				<a href="{U_MANAGE_USERS}o={O_USERNAME}">{L_username}</a>
			</th>
			<th align="left" width="35%" class="hiddenSmartphone">{L_associated_members}</th>
			<th align="left" width="100" class="hiddenSmartphone">
				<a href="{U_MANAGE_USERS}o=1.0"><span class="down_arrow{RED10}"></span></a><a href="{U_MANAGE_USERS}o=1.1"><span class="up_arrow{RED11}"></span></a>
				<a href="{U_MANAGE_USERS}o={O_EMAIL}">{L_email_address}</a>
			</th>
			<th align="left" width="150" class="hiddenSmartphone"><a href="{U_MANAGE_USERS}o=4.0"><span class="down_arrow{RED40}"></span></a><a href="{U_MANAGE_USERS}o=4.1"><span class="up_arrow{RED41}"></span></a>
				<a href="{U_MANAGE_USERS}o={O_REG_DATE}">{L_registered_at}</a></th>
			<th align="left" width="150" class="hiddenSmartphone">
				<a href="{U_MANAGE_USERS}o=2.0"><span class="down_arrow{RED20}"></span></a><a href="{U_MANAGE_USERS}o=2.1"><span class="up_arrow{RED21}"></span></a>
				<a href="{U_MANAGE_USERS}o={O_LAST_VISIT}">{L_last_visit}</a>
			</th>
			<th align="left" width="60" class="hiddenSmartphone">
				<a href="{U_MANAGE_USERS}o=3.0"><span class="down_arrow{RED30}"></span></a><a href="{U_MANAGE_USERS}o=3.1"><span class="up_arrow{RED31}"></span></a>
				<a href="{U_MANAGE_USERS}o={O_ACTIVE}">{L_active}</a>
			</th>
			<th align="left" width="60" class="hiddenSmartphone">{L_online}</th>
		</tr>
		<!-- BEGIN users_row -->
		<tr>
			<td width="25" align="center" class="nowrap"><!-- IF not users_row.PROTECT_SUPERADMIN --><input type="checkbox" name="user_id[]" value="{users_row.USER_ID}" id="user_id_{users_row.USER_ID}"/><!-- ENDIF --></td>
			<td width="20"><a href="{users_row.U_MANAGE_USER}" title="{L_edit}"><i class="fa fa-pencil fa-lg" title="{L_edit}"></i></a></td>
			<td width="20"><!-- IF not users_row.PROTECT_SUPERADMIN and S_PERM_PERMISSION --><a href="{users_row.U_OVERTAKE_PERMS}" title="{L_user_overtake_perms}"><i class="fa fa-user fa-lg"></i></a><!-- ENDIF --></td>
			<td width="20"><!-- IF not users_row.PROTECT_SUPERADMIN -->{users_row.ACTIVATE_ICON}<!-- ENDIF --></td>
			<td width="20"><!-- IF not users_row.PROTECT_SUPERADMIN -->
				<a href="javascript:delete_single_warning('{users_row.USER_ID}')" title="{L_delete_user}"><i class="fa fa-trash-o fa-lg"></i></a>    	<!-- ENDIF -->
			</td>
			<td width="5">{users_row.ADMIN_ICON}</td>
			<td><a href="{users_row.U_MANAGE_USER}" style="{users_row.NAME_STYLE}">{users_row.USERNAME}</a></td>
			
			<td width="35%" class="hiddenSmartphone">
				<script type="text/javascript">
				$(document).ready(function() {
					$("#memberTTtrigger{users_row.USER_ID}").qtip({
					content: {
						text: '<!-- BEGIN members_row --><div>{users_row.members_row.RADIO} {users_row.members_row.CLASS} <span class="hand" onclick="edit_char({users_row.members_row.MEMBER_ID}, {users_row.USER_ID});">{users_row.members_row.NAME}</span> - {users_row.members_row.RANK}</div><!-- END members_row -->',
						title: {
							text: "{L_chars}",
							button: true
						}
					},
					position: {
						at: "bottom center",
						my: "top center"
					},
					style: {
						tip: {
							corner: true,
							height: 20
						},
						widget: true
					},
					show: {
						event: 'click'
					},
					hide: {
						event: 'unfocus'
					}
				});
				});				
				</script>
				<a href="javascript:void(0);" id="memberTTtrigger{users_row.USER_ID}">{users_row.MEMBER_COUNT} {L_chars}</a>
			</td>
			<td width="100" class="hiddenSmartphone"><a href="mailto:{users_row.EMAIL}">{users_row.EMAIL}</a></td>
			<td width="150" class="hiddenSmartphone">{users_row.REG_DATE}</td>
			<td width="150" class="hiddenSmartphone">{users_row.LAST_VISIT}</td>
			<td width="60" align="center" class="hiddenSmartphone">{users_row.ACTIVE}</td>
			<td width="60" align="center" class="hiddenSmartphone">{users_row.ONLINE}</td>
		</tr>
		<!-- END users_row -->
		<tr>
			<th colspan="13" class="footer">
				{LISTUSERS_FOOTCOUNT}
			</th>
		</tr>
	</table>
	<div class="center pagination_wrapper">
			{USER_PAGINATION}
	</div>
	<div class="contentFooter">

		<button class="mainoption" type="button" name="del" onclick="delete_warning();"><i class="fa fa-times"></i>{L_delete_selected}</button>
		<input type="hidden" name="del_assocmem" value="0" id="del_assocmem" />
		<input type="hidden" name="del" value="1" disabled="disabled" id="mass_del_submit" />
	</div>
{CSRF_TOKEN}
</form>

<script type="text/javascript">
function edit_char(charid, userid){
	$("#memberTTtrigger"+userid).qtip('hide');
	EditChar(charid);
}

function handle_assoc_members(){
	if ($('input[name=delete_associated_members]').is(':checked')){
		$('#del_assocmem').val('1');
	} else {
		$('#del_assocmem').val('0');
	}
}

function delete_single(id){
	$('input:checkbox[name="user_id[]"]').attr('checked', false);
	if ($('input[name=delete_associated_members_single]').is(':checked')){
		$('#del_assocmem').val('1');
	} else {
		$('#del_assocmem').val('0');
	}
	$('#user_id_'+id).attr('checked', true);
	$('#mass_del_submit').removeAttr('disabled'); 
	$('form:has(#mass_del_submit)').submit();
}

function change_mainchar(userid, memberid){
	$.post('{SID}&link_hash={CSRF_MAINCHARCHANGE}', { maincharchange: memberid, user: userid },
		function(data){
			$('#notify_container').notify('create', 'success', {text: data,title: '',custom: true,},{expires: 3000, speed: 1000});
		}
	);
}
</script>