
<form method="post" action="{ACTION}" name="post">
	<div class="contentHeader">
		<h1 class="contentTitle">{L_manitems_title} <span class="bubble">{ITEM_COUNT}</span>{HPTT_ADMIN_LINK}</h1>
	</div>
	<div class="tableHeader floatRight">
		<button class="mainoption" type="button" name="addadj" onclick="window.location='manage_items.php{SID}&amp;upd=true'"><i class="fa fa-plus"></i>{L_add_item}</button>
	</div>
	<div class="center pagination_wrapper">
		{PAGINATION}
	</div>
	<div class="clear"></div>
	<table  class="table fullwidth colorswitch">
		{ITEM_LIST}
	</table>
	<div class="center pagination_wrapper">
		{PAGINATION}
	</div>
	<div class="contentFooter">
		{BUTTON_MENU}
		<input type="hidden" name="del" value="1" disabled="disabled" id="mass_del_submit" />
		<div class="clear"></div>
	</div>
{CSRF_TOKEN}
</form>