<form method="post" action="{ACTION}" name="post">
	<table width="100%" border="0" cellspacing="1" cellpadding="2" id="calendars_table" class="colorswitch">
		<tr>
			<th align="center" colspan="5">{L_manage_calendars}</th>
		</tr>
		<tr>
			<th width="20"></th>
			<th>{L_calendars_color}</th>
			<th>{L_calendars_name}</th>
			<th>{L_calendars_feed}</th>
			<th>{L_calendars_type}</th>
		</tr>
		<!-- BEGIN calendars -->
		<tr>
			<td style="text-align:center;"><!-- IF calendars.DELETABLE -->
				<input type="checkbox" name="calendar_ids[]" value="{calendars.ID}" />
				<!-- ELSE -->
				<img src="../images/calendar/lock_delete.png" alt="lockdelete" />
				<!-- ENDIF --><input type="hidden" name="calendars[{calendars.KEY}][id]" value="{calendars.ID}" />
			</td>
			<td>{calendars.COLOR}</td>
			<td><input type="text" name="calendars[{calendars.KEY}][name]" size="30" maxlength="50" value="{calendars.NAME}" class="maininput" /></td>
			<td><input type="text" name="calendars[{calendars.KEY}][feed]" size="50" maxlength="250" value="{calendars.FEED}" class="maininput" /></td>
			<td>{calendars.TYPE}</td>
		</tr>
		<!-- END calendars -->
		<tr>
			<td><input type="hidden" name="calendars[{KEY}][id]" value="{ID}" /></td>
			<td>{COLOR}</td>
			<td><input type="text" name="calendars[{KEY}][name]" size="30" maxlength="50" value="" class="maininput" /></td>
			<td><input type="text" name="calendars[{KEY}][feed]" size="50" maxlength="250" value="" class="maininput" /></td>
			<td>{TYPE}</td>
		</tr>
		<tr>
			<th colspan="5">
				<input type="submit" name="save" value="{L_save}" class="mainoption bi_ok" />
				<input type="button" name="del" value="{L_delete}" class="liteoption bi_delete" onclick="delete_warning();" />
				<input type="hidden" name="del" value="1" disabled="disabled" id="mass_del_submit" />
			</th>
		</tr>
	</table>
{CSRF_TOKEN}	
</form>