
<div class="contentHeader">
	<h1 class="contentTitle">{L_manage_calendars} <span class="bubble">{CALENDAR_COUNT}</span></h1>
</div>
<div class="tableHeader floatRight">
	<button class="mainoption" type="button" onclick="window.location='manage_calendars.php{SID}&c=-1'"><i class="fa fa-plus"></i>{L_add_calendar}</button>
</div>
	
<form method="post" action="{ACTION}" name="post">
	<table id="calendars_table" class="table fullwidth colorswitch">
		<tr>
			<th style="width:20px"></th>
			<th style="width:20px" colspan="2">{L_action}</th>
			<th style="width:20px"></th>
			<th>{L_calendars_name}</th>
			<th>{L_calendars_type}</th>
		</tr>
		<!-- BEGIN calendars -->
		<tr>
			<td style="width:20px; text-align:center;"><!-- IF calendars.DELETABLE -->
				<input type="checkbox" name="calendar_ids[]" value="{calendars.ID}" />
				<!-- ELSE -->
				<i class="fa fa-lock fa-lg"></i>
				<!-- ENDIF -->
			</td>
			<td style="width:20px"><a href="manage_calendars.php{SID}&amp;c={calendars.ID}" title="{L_edit}"><i class="fa fa-pencil fa-lg" title="{L_edit}"></i></a></td>
			<td style="width:20px"><a href="manage_calevents.php{SID}&amp;c={calendars.ID}" title="{L_manage_calevents}"><i class="fa fa-clock-o fa-lg" title="{L_manage_calevents}"></i></a></td>
			
			<td>{calendars.COLOR}</td>
			<td><a href="manage_calendars.php{SID}&amp;c={calendars.ID}" title="{L_edit}">{calendars.NAME}</a></td>
			<td>{calendars.TYPE}</td>
		</tr>
		<!-- END calendars -->
	</table>
	<div class="contentFooter">
		<button class="liteoption" type="button" name="del" onclick="delete_warning();"><i class="fa fa-times"></i>{L_delete}</button>
		<input type="hidden" name="del" value="1" disabled="disabled" id="mass_del_submit" />
	</div>

{CSRF_TOKEN}
</form>
