<!-- IF S_DKP_EASYMODE -->
<div class="infobox infobox-large infobox-blue clearfix">
		<i class="fa fa-info-circle fa-4x pull-left"></i> {L_dkp_easymode_active}
	</div>
<!-- ENDIF -->

<!-- IF MDKP_ID -->
<div class="tableHeader floatRight">
		<button class="mainoption" type="button" onclick="window.location='manage_multidkp.php{SID}&info={MDKP_ID}'"><i class="fa fa-info-circle"></i>{L_manmdkp_info}</button>
</div>
<div class="clear"></div>
<!-- ENDIF -->
<script>
$(function(){
	$("#events").multiselect().bind("multiselectclick multiselectcheckall multiselectuncheckall", function( event, ui ){
		var checkedValues = $.map($(this).multiselect("getChecked"), function( input ){
			return input.value;
		});

		var checkedValuesNA = $.map($("#no_atts").multiselect("getChecked"), function( input ){
			return input.value;
		});

		$("#no_atts").html("");

		$.each(checkedValues, function(index, value) {
			var text = $("#events option[value='"+value+"']").text();


			$("#no_atts").append(
			    $('<option></option>').val(value).html(text)
			);
		});

		$.each(checkedValuesNA, function(index, value) {
			$("#no_atts option[value='"+value+"']").prop("selected", true);
		});

		$("#no_atts").multiselect("refresh");
	});
});
</script>

<form method="post" action="{ACTION}" name="post">
	<fieldset class="settings">
		<legend>{L_Multi_addkonto}</legend>
		<dl>
			<dt><label>{L_Multi_chooseevents}:</label></dt>
			<dd>{EVENT_SEL}</dd>
		</dl>
		<dl>
			<dt><label>{L_Multi_eventsnoatt}:</label></dt>
			<dd>{NO_ATT_SEL}</dd>
		</dl>
		<!-- IF not S_DKP_EASYMODE -->
		<dl>
			<dt><label>{L_Multi_chooseitempools}:</label></dt>
			<dd>{ITEMPOOL_SEL}</dd>
		</dl>
		<!-- ENDIF -->
		<dl>
			<dt><label>{L_Multi_kontoname_short}:</label><br /><span>{L_Multi_discnottolong}</span></dt>
			<dd><input type="text" name="name" size="10" maxlength="254" value="{NAME}" class="input" required /></dd>
		</dl>
		<dl>
			<dt><label>{L_description}:</label></dt>
			<dd><input type="text" name="desc" size="55" maxlength="250" value="{DESC}" class="input" /></dd>
		</dl>
	</fieldset>
	<button class="mainoption" type="submit" name="save"><i class="fa fa-check"></i>{L_save}</button>
	<!-- IF MDKP_ID -->
	<input type="hidden" name="id" value="{MDKP_ID}" />
	<button class="mainoption" type="button" name="del" onclick="delete_warning();"><i class="fa fa-times"></i>{L_delete}</button>
	<!-- ENDIF -->
	<button class="mainoption" type="submit" name="cancel"><i class="fa fa-chevron-left"></i>{L_cancel}</button>
{CSRF_TOKEN}
</form>
