<!-- IF S_NORMAL_HEADER -->
<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li><a href="{EQDKP_ROOT_PATH}admin/{SID}">{L_menu_admin_panel}</a>
		<li><a href="{EQDKP_ROOT_PATH}admin/manage_ranks.php{SID}">{L_manrank_title}</a></li>
		<li class="current"><a><!-- IF RANK_ID == -1 -->{L_add_rank}<!-- ELSE -->{NAME}<!-- ENDIF --></a></li>
	</ul>
	<div class="clear"></div>
</div>
<!-- ENDIF -->
<form method="post" action="{ACTION}" name="post">
	<fieldset class="settings smallsettings">
		<legend><!-- IF RANK_ID == -1 -->{L_add_rank}<!-- ELSE -->{L_edit_rank}<!-- ENDIF --></legend>
		<dl>
			<dt><label>{L_name}:</label></dt>
			<dd><input name="name" type="text" class="input" value="{NAME}" size="100" /></dd>
		</dl>
		<dl>
			<dt><label>{L_prefix}:</label></dt>
			<dd><input name="prefix" type="text" class="input" value="{PREFIX}"  size="100" /></dd>
		</dl>
		<dl>
			<dt><label>{L_suffix}:</label></dt>
			<dd><input name="suffix" type="text" class="input" value="{SUFFIX}"  size="100" /></dd>
		</dl>
		<dl>
			<dt><label>{L_hidden}:</label></dt>
			<dd><input type="checkbox" name="hidden" value="1" {HIDE}/></dd>
		</dl>
		<!-- IF S_RANK_IMAGES -->
		<dl>
			<dt><label>{L_rank_icon}:</label></dt>
			<dd>{RANK_ICON_DD}</dd>
		</dl>
		<!-- ENDIF -->
	</fieldset>
	<div class="contentFooter">
		<input type="hidden" name="r" value="{RANK_ID}" />
		<button class="mainoption" type="submit" name="upd"><i class="fa fa-check"></i>{L_save}</button>
		<button class="mainoption" type="button" name="" onclick="window.location.href='manage_ranks.php{SID}'"><i class="fa fa-chevron-left"></i>{L_cancel}</button>
	</div>
{CSRF_TOKEN}
</form>