<script type="text/javascript">
//<![CDATA[
$(document).ready(function(){
	$('#alias').change(check_alias);
});

function check_alias() {
	var alias = $('#alias').val();
	if(alias != "") {
		jQuery.ajax({
			type: "POST",
			url: "manage_articles.php{SID}&checkalias=1&a={AID}",
			data: 'alias='+ alias, 
			cache: false,
			success: function(response){
				if($.trim(response) == 'false'){
					$('#alias').css('border', '1px #C33 solid');
					$('#tick_alias').hide();
					$('#cross_alias').fadeIn();
				}else{
					$('#alias').css('border', '1px #090 solid');
					$('#cross_alias').hide();
					$('#tick_alias').fadeIn();
				}
			}
		});
	}
}

//]]>
</script>

<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li><a href="{EQDKP_ROOT_PATH}admin/{SID}">{L_menu_admin_panel}</a>
		<li><a href="{EQDKP_ROOT_PATH}admin/manage_article_categories.php{SID}">{L_manage_article_categories}</a></li>
		<li><a href="{EQDKP_ROOT_PATH}admin/manage_articles.php{SID}&c={CID}">{CATEGORY_NAME}</a></li>		
		<li><a href="{EQDKP_ROOT_PATH}admin/manage_articles.php{SID}&c={CID}">{L_manage_articles}</a></li>
		<li class="current"><a><!-- IF ARTICLE_NAME != "" -->{ARTICLE_NAME}<!-- ELSE -->{L_add_new_article}<!-- ENDIF --></a></li>
	</ul>
	<div class="clear"></div>
</div>

<form method="post" action="{ACTION}" name="post">
	<div class="contentHeader">
		<h1 class="contentTitle">{L_manage_articles}: {CATEGORY_NAME} &raquo; <!-- IF ARTICLE_NAME != "" -->{ARTICLE_NAME}<!-- ELSE -->{L_add_new_article}<!-- ENDIF --></h1>
	</div>
	<div class="clear"></div>
	<div id="article_category-tabs">
		<ul>
			<li><a href='#general'>{L_core_sett_fs_globalsettings}</a></li>
			<li><a href='#settings'>{L_settings}</a></li>
		</ul>
	
		<div id="general">
			<fieldset class="settings smallsettings">
			<legend>{L_core_sett_fs_globalsettings}</legend>
			<dl>
				<dt><label>{L_headline}</label></dt>
				<dd><input type="text" name="title" style="width:95%;" maxlength="255" value="{TITLE}" class="input required" /></dd>
			</dl>
			<dl>
				<dt><label>{L_description}</label></dt>
				<dd><textarea name="text" id="text" class="mceEditor" rows="3" cols="60" style="width:95%;height:400px;">{TEXT}</textarea>
				</dd>
			</dl>
			<dl>
				<dt><label>{L_tags}</label></dt>
				<dd><input type="text" name="tags" style="width:95%;" maxlength="255" value="{TAGS}" class="input" /></dd>
			</dl>
			<dl>
				<dt><label>{L_preview_image}</label></dt>
				<dd>{PREVIEW_IMAGE}</dd>
			</dl>
			</fieldset>
		</div>
		<div id="settings">
			<fieldset class="settings mediumsettings">
			<legend>{L_settings}</legend>
			<dl>
				<dt><label>{L_alias}</label></dt>
				<dd><input name="alias" type="text" class="input" id="alias" value="{ALIAS}" size="50" />
					<i class="fa fa-check fa-lg icon-color-green" id="tick_alias" style="display: none;"></i>
						<div id="cross_alias" style="display:none;"><i class="fa fa-check fa-lg icon-color-red"></i> {L_info_error_alias}</div></dd>
			</dl>
			<dl>
				<dt><label>{L_published}</label></dt>
				<dd>{PUBLISHED_RADIO}</dd>
			</dl>
			<dl>
				<dt><label>{L_featured}</label></dt>
				<dd>{FEATURED_RADIO}</dd>
			</dl>
			<dl>
				<dt><label>{L_category}</label></dt>
				<dd>{DD_CATEGORY}</dd>
			</dl>
			<dl>
				<dt><label>{L_user}</label></dt>
				<dd>{DD_USER}</dd>
			</dl>
			<dl>
				<dt><label>{L_date}</label></dt>
				<dd>{DATE_PICKER}</dd>
			</dl>
			<dl>
				<dt><label>{L_show_from}</label></dt>
				<dd>{DATE_FROM_PICKER}</dd>
			</dl>
			<dl>
				<dt><label>{L_show_to}</label></dt>
				<dd>{DATE_TO_PICKER}</dd>
			</dl>
			<dl>
				<dt><label>{L_info_comments}</label></dt>
				<dd>{COMMENTS_RADIO} <button class="mainoption" type="submit" name="del_comments"><i class="fa fa-times"></i>{L_info_delete_comments}</button></dd>
			</dl>
			<dl>
				<dt><label>{L_info_voting}</label></dt>
				<dd>{VOTES_RADIO} <button class="mainoption" type="submit" name="del_votes"><i class="fa fa-times"></i>{L_info_reset_votings}</button></dd>
			</dl>
			<dl>
				<dt><label>{L_hide_header}</label></dt>
				<dd>{HIDE_HEADER_RADIO}</dd>
			</dl>
			
			</fieldset>
		
		</div>
		
		</div>
	</div>
	<div class="contentFooter">
		<input type="hidden" name="c" value="{CID}" />
		<input type="hidden" name="a" value="{AID}" />
		<button type="submit" name="update" class="mainoption"><i class="fa fa-check"></i>{L_save}</button>
		<button type="reset" name="reset" class="liteoption"><i class="fa fa-trash-o"></i>{L_reset}</button>
		<button type="button" class="liteoption" onclick="window.location='manage_articles.php{SID}&c={CID}'"><i class="fa fa-chevron-left"></i>{L_back}</button>
	</div>
{CSRF_TOKEN}	
</form>