<form method="post" action="{ACTION}" name="post">
<fieldset class="settings smallsettings">
	<legend>{L_editing_adj}</legend>
	<dl>
		<dt><label>{L_reason}:</label></dt>
		<dd><input type="text" name="reason" value="{REASON}" class="input" size='60' id="reason" /></dd>
	</dl>
	<dl>
		<dt><label>{L_value}:</label></dt>
		<dd><input type="text" name="value" value="{VALUE}" class="input" size='60' id="value" /></dd>
	</dl>
	<dl>
		<dt><label>{L_raid}:</label></dt>
		<dd>{RAID}</dd>
	</dl>
	<dl>
		<dt><label>{L_event}:</label></dt>
		<dd>{EVENT}</dd>
	</dl>
	<dl>
		<dt><label>{L_date}:</label></dt>
		<dd>{DATE}</dd>
	</dl>
	<dl>
		<dt><label>{L_members}:</label></dt>
		<dd>{MEMBERS}</dd>
	</dl>

</fieldset>
<div class="contentFooter">
	<button class="mainoption" type="submit" name="save"><i class="icon-ok"></i>{L_save}</button>
	<button class="liteoption" type="button" name="del" onclick="delete_warning('{GRP_KEY}');"><i class="icon-remove"></i>{L_delete}</button>
	<button class="mainoption" type="button" name="" onclick="window.location.href='manage_adjustments.php{SID}'"><i class="icon-chevron-left"></i>{L_cancel}</button>
</div>
{CSRF_TOKEN}
</form>