<fieldset class="settings smallsettings">
	<legend>{NAME}</legend>
	<dl>
		<dt>
			<label>{L_name}</label></span>
		</dt>
		<dd>
			{NAME}
		</dd>
	</dl>
	<dl>
		<dt>
			<label>{L_version}</label></span>
		</dt>
		<dd>
			{VERSION} {LEVEL}
		</dd>
	</dl>
	<dl>
		<dt>
			<label>{L_liveupdate_new_version_published}</label></span>
		</dt>
		<dd>
			{DATE}
		</dd>
	</dl>
	<dl>
		<dt>
			<label>{L_portalplugin_author}</label></span>
		</dt>
		<dd>
			{AUTHOR}
		</dd>
	</dl>
	<dl>
		<dt>
			<label>{L_pi_rating}</label></span>
		</dt>
		<dd>
			{RATING}
		</dd>
	</dl>
	<dl>
		<dt>
			<label>{L_description}</label></span>
		</dt>
		<dd>
			{DESCRIPTION}
		</dd>
	</dl>
	<dl>
		<dt>
			<label>{L_liveupdate_changelog}</label></span>
		</dt>
		<dd>
			{CHANGELOG}
		</dd>
	</dl>
	<dl>
		<dt>
			<label>{L_preview}</label></span>
		</dt>
		<dd>
			<img src="http://cdn1.eqdkp-plus.eu/repository/screenshot.php?extid={EXTID}" alt="No Screenshot available" style="max-width: 500px;"/>
		</dd>
	</dl>
</fieldset>