<form method="post" action="{ACTION}" name="post">
	<fieldset class="settings">
		<legend>{L_Multi_addkonto}</legend>
		<dl>
			<dt><label>{L_Multi_chooseevents}:</label></dt>
			<dd>{EVENT_SEL}</dd>
		</dl>
		<dl>
			<dt><label>{L_Multi_eventsnoatt}:</label></dt>
			<dd>{NO_ATT_SEL}</dd>
		</dl>
		<dl>
			<dt><label>{L_Multi_chooseitempools}:</label></dt>
			<dd>{ITEMPOOL_SEL}</dd>
		</dl>
		<dl>
			<dt><label>{L_Multi_kontoname_short}:</label><br /><span>{L_Multi_discnottolong}</span></dt>		
			<dd><input type="text" name="name" size="10" maxlength="254" value="{NAME}" class="input" /></dd>
		</dl>
		<dl>
			<dt><label>{L_description}:</label></dt>
			<dd><input type="text" name="desc" size="55" maxlength="250" value="{DESC}" class="input" /></dd>
		</dl>
	</fieldset>
	<button class="mainoption" type="submit" name="save"><i class="icon-ok"></i>{L_save}</button>
	<!-- IF MDKP_ID -->
	<input type="hidden" name="mdkp_id" value="{MDKP_ID}" />
	<button class="mainoption" type="button" name="del" onclick="delete_warning();"><i class="icon-remove"></i>{L_delete}</button>
	<!-- ENDIF -->
	<button class="mainoption" type="submit" name="cancel"><i class="icon-chevron-left"></i>{L_cancel}</button>
{CSRF_TOKEN}
</form>