<!-- IF S_NORMAL_HEADER -->
<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li><a href="{EQDKP_ROOT_PATH}admin/{SID}">{L_menu_admin_panel}</a>
		<li><a href="{EQDKP_ROOT_PATH}admin/manage_events.php{SID}">{L_manevents_title}</a></li>
		<li class="current"><a><!-- IF S_UPD -->{NAME}<!-- ELSE -->{L_addevent_title}<!-- ENDIF --></a></li>
	</ul>
	<div class="clear"></div>
</div>
<!-- ENDIF -->
<form method="post" action="{ACTION}" name="post">
<input type="hidden" name="calendar" value="{CALENDAR}" />

<fieldset class="settings">
	<legend>{L_addevent_title}</legend>
	<dl>
		<dt><label>{L_name}:</label></dt>
		<dd><input type="text" name="name" size="35" maxlength="255" value="{NAME}" class="input" /></dd>
	</dl>
	<!-- IF not S_POINTS_DISABLED -->
	<dl>
		<dt><label>{L_value}:</label></dt>
		<dd><input type="text" name="value" size="8" maxlength="7" value="{VALUE}" class="input" /></dd>
	</dl>
	<!-- ENDIF -->
	<dl>
		<dt><label>{L_multidkp_to_event}:</label></dt>
		<dd>{MDKP2EVENT}</dd>
	</dl>
	<dl>
		<dt><label>{L_event_icon_header}:</label></dt>
		<dd><button class="mainoption" type="button" id="iubuttonedit" onclick="elfinder_all();"><i class="fa fa-upload"></i> {L_upload_eventicon}</button></dd>
	</dl>
	
	<table class="table fullwidth scrollable-x">
	<!-- IF ICONS -->
	<!-- BEGIN files_row -->
	<tr class="colorswitch">
		<!-- BEGIN fields -->
		<td class="nowrap" width="16%">
			<!-- IF files_row.fields.CHECKBOX -->
			<label><input type="radio" name="icon" {files_row.fields.CHECKED} value="{files_row.fields.NAME}" />
			{files_row.fields.IMAGE}</label>
			<!-- ENDIF -->
		</td>
		<!-- END fields -->
	</tr>
	<!-- END files_row -->
	<!-- ENDIF -->
</table>
</fieldset>

<button class="mainoption" type="submit" name="save" id="eventSubmBtn"><i class="fa fa-check"></i>{L_save}</button>
<!-- IF S_UPD -->
<input type="hidden" name="event_id" value="{EVENT_ID}" />
<button class="mainoption" type="button" name="del" onclick="delete_warning();"><i class="fa fa-times"></i>{L_delete}</button>
<!-- ENDIF -->
<button class="mainoption" type="submit" name="cancel"><i class="fa fa-chevron-left"></i>{L_cancel}</button>

{CSRF_TOKEN}
</form>