<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li><a href="{EQDKP_ROOT_PATH}admin/{SID}">{L_menu_admin_panel}</a>
		<li class="current"><a>{L_uc_delete_manager}</a></li>
	</ul>
	<div class="clear"></div>
</div>

<div class="contentHeader">
	<h1 class="contentTitle">{L_uc_delete_manager}</h1>
</div>
<div class="infobox infobox-large infobox-blue clearfix">
	<i class="fa fa-info-circle fa-4x pull-left"></i> {L_uc_tasks_info}
</div>

<!-- BEGIN task_row -->
<form method="post" action="{ACTION}" name="manage_tasks">
	<div class="tableHeader">
		<h2>{task_row.HEADLINE}</h2>
	</div>
	
	<table class="table fullwidth colorswitch">
		<tr>
			<th width="35" class="nowrap"><input type="checkbox" id="{task_row.ID}" value="1"/></th>
			<!-- BEGIN th_row -->
			<th class="nowrap">{task_row.th_row.CONTENT}</th>
			<!-- END th_row -->
		</tr>
		<!-- BEGIN content_row -->
		<tr>
			<td class="nowrap"><input type="checkbox" value="{task_row.content_row.ID}" name="cb_{task_row.ID}[]"></td>
			<!-- BEGIN td_row -->
			<td class="nowrap">{task_row.content_row.td_row.CONTENT}</td>
			<!-- END td_row -->
		</tr>
		<!-- END content_row -->
	</table>
	<div class="contentFooter">
		{task_row.MENU}<input type="hidden" name="cbname" value="cb_{task_row.ID}" />
		<input type="hidden" name="task" value="{task_row.NAME}" />
		<!-- BEGIN button_row -->
		<input type="submit" id="{task_row.button_row.ID}" style="display:none;" name="mode" value="{task_row.button_row.VALUE}"/>
		<!-- END button_row -->
	</div>
	<div class="clear"></div><br />
{CSRF_TOKEN}
</form>
<!-- END task_row -->