<!-- IF S_NORMAL_HEADER -->
<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li><a href="{EQDKP_ROOT_PATH}admin/{SID}">{L_menu_admin_panel}</a>
		<li class="current"><a>{L_apa_manager}</a></li>
	</ul>
	<div class="clear"></div>
</div>
<!-- ENDIF -->

<!-- IF not S_POINTS_DISABLED -->
<form method="post" action="{ACTION}" name="post">
<div class="contentHeader">
	<h1 class="contentTitle">{L_apa_manager}</h1>
</div>
<table class="table fullwidth colorswitch hoverrows">
	<tr>
		<th colspan="3">{L_action}</th>
		<th width="300" class="nowrap">{L_apa_type}</th>
		<th width="150" class="nowrap">{L_name}</th>
		<th width="80" class="nowrap">{L_apa_exectime}</th>
		<th class="hiddenSmartphone">{L_apa_pools}</th>
	</tr>
	<!-- BEGIN apa_row -->
	<tr>
		<td width="20"><i class="fa fa-pencil fa-lg hand apa_edit" alt="{apa_row.ID}" title="{L_edit}"></i></td>
		<td width="20"><i class="fa fa-trash-o fa-lg hand apa_del" alt="{apa_row.ID}" title="{L_delete}"></i></td>
		<td width="20"><a href="manage_auto_points.php{SID}&amp;recalc=true&amp;id={apa_row.ID}" title="{L_apa_recalculate}"><i class="fa fa-refresh fa-lg"></i></a></td>
		<td>{apa_row.TYPE}</td>
		<td>{apa_row.NAME}</td>
		<td>{apa_row.EXECTIME}</td>
		<td class="hiddenSmartphone">{apa_row.POOLS}</td>
	</tr>
	<!-- END apa_row -->
</table>
<div class="tableFooter">
	<button class="mainoption" type="button" id="add_apa"><i class="fa fa-plus"></i>{L_APA_ADD}</button> {TYPE_DD}
</div>
<br />
<div class="tableHeader">
	<h1 class="contentTitle">{L_apa_calc_funcs}</h1>
</div>
<table class="table fullwidth colorswitch hoverrows">
	<tr>
		<th colspan="2">{L_action}</th>
		<th width="200">{L_apa_func_name}</th>
		<th width="300" class="hiddenSmartphone">{L_apa_func_used}</th>
		<th class="hiddenSmartphone">call function(50, now, now-2weeks, 100)</th>
	</tr>
	<!-- BEGIN func_row -->
	<tr>
		<td width="20"><i class="fa fa-pencil fa-lg hand func_edit" alt="{func_row.NAME}" title="{L_edit}"></i></td>
		<td width="20"><i class="fa fa-trash-o fa-lg hand func_del" alt="{func_row.NAME}" title="{L_delete}" <!-- IF func_row.NODEL --> style="display:none;"<!-- ENDIF -->></i></td>
		<td>{func_row.NAME}</td>
		<td class="hiddenSmartphone">{func_row.USED}</td>
		<td class="hiddenSmartphone">{func_row.EXPL}</td>
	</tr>
	<!-- END func_row -->
</table>
<div class="tableFooter">
	<button class="mainoption" type="button" id="add_func"><i class="fa fa-plus"></i>{L_apa_add_func}</button>
</div>	
{CSRF_TOKEN}
</form>
<!-- ELSE -->
<div class="infobox infobox-large infobox-red clearfix">
	<i class="fa fa-exclamation-triangle fa-4x pull-left"></i> {L_disabled_points_info}
</div>
<!-- ENDIF -->