<form method="post" action="{ACTION}" name="{FORM_ID}" id="{FORM_ID}">
<center>
<fieldset class="settings" style="width:95%">
	<!-- IF NOGAME_SELECTED -->
		{L_NOGAMESELECT}
	<!-- ELSE -->
		<!-- BEGIN fields -->
			<dl> 
				<dt><label>{fields.NAME}</label><br /><span>{fields.HELP}</span></dt>
				<dd>{fields.FIELD}</dd>
			</dl>
		<!-- END fields -->
	<!-- ENDIF -->
</fieldset>
<button type="submit" name="save_sett"><i class="fa fa-check"></i>{L_save}</button>
<button type="reset"><i class="fa fa-trash-o"></i>{L_reset}</button>

</center>
{CSRF_TOKEN}
</form>