<form action='manage_members.php{SID}' method='post' class="colorswitch">
<div class="contentHeader">
	<h1 class="contentTitle">{L_group_members}</h1>
</div>
<div class="tableHeader floatRight">
	<button class="mainoption" type="button" name="addadj" onclick="AddChar()"><i class="icon-plus"></i>{L_add_member}</button>
</div>
<div class="clear"></div>	
<table width="100%" cellpadding="2" cellspacing="1" border="0">
	{MEMBER_LIST}
</table>
<div class="center pagination_wrapper">
	{PAGINATION}
</div>
<div class="contentFooter">
	{BUTTON_MENU}
	<input type="button" name="mdel" value="{L_delete_selected_members}" class="mainoption bi_delete" onclick="delete_warning();" id="del_members" style="display:none;"/>
	<input type="submit" name="mstatus" value="{L_mass_stat_change}" class="mainoption" id="member_statchange" style="display:none;"/>
	<input type="submit" name="rankc" value="{L_mass_rank_change}" class="mainoption" style="display:none;" />
	<div class="clear"></div>
</div>
{CSRF_TOKEN}
</form>