
<form method="post" action="{ACTION}" name="post">
	<fieldset class="settings smallsettings">
		<legend>{L_bulkedit}</legend>
		<dl>
			<dt><label><input type="checkbox" name="bulk[name]" value="1"/>&nbsp;&nbsp;&nbsp;{L_name}:</label></dt>
			<dd><input name="name" type="text" class="input" value="{NAME}" size="100" id="name" /></dd>
		</dl>
		<dl>
			<dt><label><input type="checkbox" name="bulk[item_id]" value="1" />&nbsp;&nbsp;&nbsp;{L_item_id}:</label></dt>
			<dd><input type="text" name="item_id" value="{ITEM_ID}" class="input" id="item_id"/></dd>
		</dl>
		<dl>
			<dt><label><input type="checkbox" name="bulk[raid_id]" value="1" />&nbsp;&nbsp;&nbsp;{L_raid}:</label></dt>
			<dd>{RAID}</dd>
		</dl>
		<dl>
			<dt><label><input type="checkbox" name="bulk[date]" value="1" />&nbsp;&nbsp;&nbsp;{L_date}:</label></dt>
			<dd>{DATE}</dd>
		</dl>
		<!-- IF not S_POINTS_DISABLED -->
		<dl>
			<dt><label><input type="checkbox" name="bulk[item_value]" value="1" />&nbsp;&nbsp;&nbsp;{L_value}:</label></dt>
			<dd><input type="text" name="value" value="{VALUE}" class="input" id="item_value"/></dd>
		</dl>
		<!-- ENDIF -->
		<!-- IF not S_DKP_EASYMODE -->
		<dl>
			<dt><label><input type="checkbox" name="bulk[itempool_id]" value="1" />&nbsp;&nbsp;&nbsp;{L_itempool}:</label></dt>
			<dd>{ITEMPOOLS}</dd>
		</dl>
		<!-- ENDIF -->
		<dl>
			<dt><label><input type="checkbox" name="bulk[buyer]" value="1"/>&nbsp;&nbsp;&nbsp;{L_buyers}:</label></dt>
			<dd>{BUYERS}</dd>
		</dl>
	</fieldset>
	<div class="contentFooter">
		<button class="mainoption" type="submit" name="bulk_upd"><i class="fa fa-check"></i>{L_save}</button>
		<button class="mainoption" type="button" name="" onclick="window.location.href='manage_items.php{SID}'"><i class="fa fa-chevron-left"></i>{L_cancel}</button>
		<input type="hidden" name="selected_ids" value="{BULK_ITEMS}" />
	</div>
{CSRF_TOKEN}
</form>