
<form method="post" action="{ACTION}" name="post">
	<div class="contentHeader">
		<h1 class="contentTitle">{L_manage_raid_groups}: {GROUP_NAME}<input type="hidden" name="g" value="{GRP_ID}" /></h1>
	</div>

	<div class="tableHeader floatRight">
		<button class="mainoption" type="button" onclick="$('#dialog-add-users').dialog('open')"><i class="fa fa-plus"></i>{L_add_member_to_group}</button>
	</div>

		<div id="members">
			<table id="raid_groups_table" class="table fullwidth colorswitch">
				<tr>
					<th style="width:20px"><input type="checkbox" id="selall_usergr" /></th>
					<th>
						<a href="{U_MANAGE_MEMBERS}&amp;o=0.0">
							<span class="down_arrow{RED00}"></span>
						</a>
						<a href="{U_MANAGE_MEMBERS}&amp;o=0.1">
							<span class="up_arrow{RED01}"></span>
						</a>
						{L_name}
					</th>
					<th class="hiddenSmartphone">{L_level}</th>
					<th>{L_rank}</th>
					<th class="hiddenSmartphone">{L_class}</th>
					<th class="hiddenSmartphone">{L_user}</th>
					<th class="hiddenSmartphone">{L_active}</th>
				</tr>
				<tr>
					<th class="center" colspan="7"><!-- IF S_USERGROUP_ADMIN --><a href="#" onclick="$('#dialog-add-grpleaders').dialog('open')">{L_grpleaders} <i class="fa fa-plus"></i></a><!-- ELSE -->{L_grpleaders}<!-- ENDIF --></th>
				</tr>
				<!-- BEGIN char_row_grpleader -->
				<tr>
					<td>
					<!-- IF S_USERGROUP_ADMIN -->
						<input type="checkbox" name="group_raid[{char_row_grpleader.ID}]" value="{char_row_grpleader.ID}" class="usercheckbox" />
					<!-- ENDIF -->
					</td>
					<td>
						<a href="{char_row_grpleader.LINK}">{char_row_grpleader.NAME}</a>
					</td>
					<td class="hiddenSmartphone">{char_row_grpleader.LEVEL}</td>
					<td>{char_row_grpleader.RANK}</td>
					<td class="hiddenSmartphone">{char_row_grpleader.CLASS}</td>
					<td class="hiddenSmartphone">{char_row_grpleader.USER}</td>
					<td class="hiddenSmartphone">{char_row_grpleader.ACTIVE}</td>
				</tr>
				<!-- END char_row_grpleader -->

				<!-- IF COUNT_GROUPLEADERS == 0 -->
				<tr>
					<td colspan="7" style="font-style:italic;"><a href="#" onclick="$('#dialog-add-grpleaders').dialog('open')"><i class="fa fa-plus"></i> {L_no_grpleaders_chars}</a></td>
				</tr>
				<!-- ENDIF -->
				

				<tr>
					<th colspan="7"><a href="#" onclick="$('#dialog-add-users').dialog('open')">{L_group_members} <i class="fa fa-plus"></i></a></th>
				</tr>
				
				<!-- IF COUNT_MEMBERS == 0 -->
				<tr>
					<td colspan="7" style="font-style:italic;"><a href="#" onclick="$('#dialog-add-users').dialog('open')"><i class="fa fa-plus"></i> {L_no_group_members_chars}</a></td>
				</tr>
				<!-- ENDIF -->
				
				<!-- BEGIN char_row -->
				<tr>
					<td><input type="checkbox" name="group_raid[{char_row.ID}]" value="{char_row.ID}" class="usercheckbox" /></td>
					<td>
						<a href="{char_row.LINK}">{char_row.NAME}</a>
					</td>
					<td class="hiddenSmartphone">{char_row.LEVEL}</td>
					<td>{char_row.RANK}</td>
					<td class="hiddenSmartphone">{char_row.CLASS}</td>
					<td class="hiddenSmartphone">{char_row.USER}</td>
					<td class="hiddenSmartphone">{char_row.ACTIVE}</td>
				</tr>
				<!-- END char_row -->
				</table>
		</div>
	<div class="contentFooter">
		{BUTTON_MENU} <button class="mainoption" type="button" name="back" onclick="window.location='manage_raid_groups.php{SID}'"><i class="fa fa-chevron-left"></i>{L_back}</button>
	</div>

{CSRF_TOKEN}
</form>
<script type="text/javascript">
//<![CDATA[
$(function() {
		$( "#dialog-add-users" ).dialog({
			height: 410,
			width: 500,
			modal: true,
			autoOpen: false,
		});	
		$( "#dialog-add-grpleaders" ).dialog({
			height: 410,
			width: 500,
			modal: true,
			autoOpen: false,
		});
});	
//]]>
</script>



<div id="dialog-add-users" title="{L_add_member_to_group}">
	<form method="post" action="{ACTION}" name="post">
			<fieldset class="settings mediumsettings" class="settings">
					<legend>{L_add_member_to_group}</legend>
					{ADD_USER_DROPDOWN}
					<br /><br />
					<button class="mainoption" type="submit" name="add_group_members" id="add_group_users"><i class="fa fa-plus"></i>{L_add_selected_to_group}</button>
			</fieldset>
	{CSRF_TOKEN}
	<input type="hidden" name="g" value="{GRP_ID}" />
	</form>		
</div>

<div id="dialog-add-grpleaders" title="{L_add_member_to_groupleader}">
	<form method="post" action="{ACTION}" name="post">
			<fieldset class="settings mediumsettings" class="settings">
					<legend>{L_add_member_to_groupleader}</legend>
					{ADD_GRPLEADER_DROPDOWN}
					<br /><br />
					<button class="mainoption" type="submit" name="add_grpleader"><i class="fa fa-plus"></i>{L_add_selected_to_group}</button>
			</fieldset>
	{CSRF_TOKEN}
	<input type="hidden" name="g" value="{GRP_ID}" />
	</form>		
</div>