<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li><a href="{EQDKP_ROOT_PATH}admin/{SID}">{L_menu_admin_panel}</a>
		<li class="current"><a>{L_menu_itempools}</a></li>
	</ul>
	<div class="clear"></div>
</div>

<div class="contentHeader">
	<h1 class="contentTitle">{L_menu_itempools}</h1>
</div>
<div class="tableHeader floatRight">
		<button type="button" name="add" class="mainoption" onclick="window.location='manage_itempools.php{SID}&amp;upd=true'" ><i class="fa fa-plus"></i>{L_add_itempool}</button>
</div>
<div class="clear"></div>
<table  class="table fullwidth colorswitch">
	<tr>
		<th width="16">&nbsp;</th>
		<th width="200">
			<a href="manage_itempools.php{SID}&amp;sort=0.0" class="down_arrow_green"></a>
			<a href="manage_itempools.php{SID}&amp;sort=0.1" class="up_arrow_green"></a>
			{L_name}
		</th>
		<th class="hiddenSmartphone">
			<a href="manage_itempools.php{SID}&amp;sort=1.0" class="down_arrow_green"></a>
			<a href="manage_itempools.php{SID}&amp;sort=1.1" class="up_arrow_green"></a>
			{L_description}
		</th>
	</tr>
	<!-- BEGIN itempools -->
	<tr>
		<td width="16"><a href="manage_itempools.php{SID}&amp;upd=true&amp;id={itempools.ID}"><i class="fa fa-pencil fa-lg" title="{L_edit}"></i></a></td>
		<td width="200"><a href="manage_itempools.php{SID}&amp;upd=true&amp;id={itempools.ID}">{itempools.NAME}</a></td>
		<td class="hiddenSmartphone">{itempools.DESC}</td>
	</tr>
	<!-- END itempools -->
	<tr>
		<th colspan="3" class="footer">{ITEMPOOLS_FOOTCOUNT}</th>
	</tr>
</table>