<form method="post" action="{ACTION}" name="post">
	<fieldset class="settings">
		<legend>{L_add_itempool}</legend>
		<dl>
			<dt><label>{L_name}:</label></dt>
			<dd><input type="text" name="name" value="{NAME}" class="input" /></dd>
		</dl>
		<dl>
			<dt><label>{L_description}:</label></dt>
			<dd><input type="text" name="desc" value="{DESC}" class="input" /></dd>
		</dl>
	</fieldset>
	<button class="mainoption" type="submit" name="save"><i class="icon-ok"></i>{L_save}</button>
	<!-- IF IID -->
	<input type="hidden" name="ip_id" value="{IID}" />
	<button class="mainoption" type="button" name="del" onclick="delete_warning();"><i class="icon-remove"></i>{L_delete}</button>
	<!-- ENDIF -->
	<button class="mainoption" type="submit" name="cancel"><i class="icon-chevron-left"></i>{L_cancel}</button>
{CSRF_TOKEN}
</form>