<form action='manage_raids.php{SID}&r={RAID_ID}' method='post' name='post'>
<div id="toggleRaidInfos">
	<fieldset class="settings smallsettings">
	<legend><!-- IF S_RAID_UPD -->{L_editing_raid} <!-- ELSE -->{L_addraid_title}<!-- ENDIF --><span class="toggle_button"></span></legend>
	<div class="clear"></div>
	<div class="toggle_container">
	<!-- IF not S_RAID_UPD -->
				<dl>
					<dt><label>{L_select_raid_draft}:</label></dt>
					<dd>{RAID_DROPDOWN}</dd>
				</dl>
	<!-- ENDIF -->
				<dl>
					<dt><label>{L_date}:</label></dt>
					<dd>{DATE}</dd>
				</dl>
				<dl>
					<dt><label>{L_note}:</label></dt>
					<dd><input type="text" name="rnote" value="{NOTE}" class="input" size="55" id="note" /></dd>
				</dl>
				<dl>
					<dt><label>{L_event}:</label></dt>
					<dd>{EVENT}
					<button class="liteoption" type="button" name="addevent" id="r_add_event"><i class="icon-plus"></i>{L_add_event}</button></dd>
				</dl>
				<dl>
					<dt><label>{L_value}:</label></dt>
					<dd><input type="text" name="value" value="{VALUE}" class="input" /></dd>
				</dl>
				<dl>
					<dt><label>{L_attendees}:</label></dt>
					<dd>{NEW_MEM_SEL}
					<button class="liteoption" type="button" name="addmem" id="r_add_mem"><i class="icon-plus"></i>{L_add_member}</button>
				</dd>
				</dl>
		</div>
	</fieldset>
</div>
<div id="toggleAdjustments">
	<h2>{L_adjustments}<span class="toggle_button"></span></h2>
	<div class="toggle_container">
		<div class="tableHeader floatRight">
			<button type="submit" name="refresh" class="mainoption" value="{L_add_aadjustment}"><i class="icon-plus"></i>{L_add_aadjustment}</button>
		</div>
		<div class="clear"></div>
		<table width="100%" border="0" cellpadding="2" cellspacing="1" class="colorswitch">
			<tr>
				<th width="25">&nbsp;</th><th width="200">{L_member}</th><th colspan="2">{L_reason}</th><th width="170">{L_event}</th><th width="120">{L_value}</th>
			</tr>
			<!-- BEGIN adjs -->
			<tr>
				<td><input type="checkbox" name="adjs[{adjs.KEY}][delete]" value="true" class="input" /><input type="hidden" name="adjs[{adjs.KEY}][group_key]" value="{adjs.GK}" /></td>
				<td>{adjs.MEMBER}</td>
				<td colspan="2"><input type="text" name="adjs[{adjs.KEY}][reason]" value="{adjs.REASON}" class="input" size="80" id="adjs_{adjs.KEY}" /></td>
				<td>{adjs.EVENT}</td>
				<td><input type="text" name="adjs[{adjs.KEY}][value]" value="{adjs.VALUE}" class="input" /></td>
			</tr>
			<!-- END adjs -->
		</table>	
		<br />
	</div>
</div>

<div id="toggleItems">
	<h2>{L_items}<span class="toggle_button"></span></h2>
	<div class="toggle_container">

		<div class="tableHeader floatRight">
			<button type="submit" name="refresh" class="mainoption" value="{L_add_aitem}"><i class="icon-plus"></i>{L_add_aitem}</button>
		</div>
		<div class="clear"></div>
		<table width="100%" border="0" cellpadding="2" cellspacing="1" class="colorswitch">
			<tr>
				<th width="25">&nbsp;</th><th>{L_item}</th><th>{L_item_id}</th><th>{L_itempool}</th><th>{L_member}</th><th>{L_value}</th>
			</tr>
			<!-- BEGIN items -->
			<tr>
				<td><input type="checkbox" name="items[{items.KEY}][delete]" value="true" class="input" /><input type="hidden" name="items[{items.KEY}][group_key]" value="{items.GK}" /></td>
				<td><input type="text" name="items[{items.KEY}][name]" value="{items.NAME}" class="input" size="40" id="items_{items.KEY}"/></td>
				<td><input type="text" name="items[{items.KEY}][itemid]" value="{items.ITEMID}" class="input" /></td>
				<td>{items.ITEMPOOL}</td>
				<td>{items.MEMBER}</td>
				<td><input type="text" name="items[{items.KEY}][value]" value="{items.VALUE}" class="input" /></td>
			</tr>
			<!-- END items -->
		</table>
	</div>
</div>
<br />
<div class="contentFooter">
	<input type="hidden" name="raid_id" value="{RAID_ID}" />
	<button class="liteoption" type="submit" name="itemadj_del"><i class="icon-remove"></i>{L_adjitem_del}</button>
	<!-- IF S_RAID_UPD -->
	<button class="mainoption" type="button" name="del" onclick="delete_warning();"><i class="icon-remove"></i>{L_delete_raid}</button>
	<button class="mainoption" type="reset" name="reset"><i class="icon-trash"></i>{L_reset}</button>
	<!-- ENDIF -->
	<button class="mainoption" type="submit" name="save" id="save_button"><i class="icon-ok"></i>{L_RAID_SAVE}</button>
</div>
{CSRF_TOKEN}
</form>