<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li><a href="{EQDKP_ROOT_PATH}admin/{SID}">{L_menu_admin_panel}</a>
		<li class="current"><a>{L_manrank_title}</a></li>
	</ul>
	<div class="clear"></div>
</div>
<form method="post" action="{ACTION}" name="post">
	<div class="contentHeader">
		<h1 class="contentTitle">{L_edit_ranks}</h1>
	</div>
	<div class="tableHeader floatRight">
		<button class="mainoption" type="button" onclick="window.location='manage_ranks.php{SID}&r=-1'"><i class="fa fa-plus"></i>{L_add_rank}</button>
	</div>
	<table id="rank_table" class="table fullwidth colorswitch">
		<thead>
		<tr class="not-sortable">
			<th width="10px"></th>
			<th width="20px;"><input type="checkbox" name="" id="selall_ranks" /></th>
			<th width="20px;"></th>
			<th>{L_name}</th>
			<th>{L_default}</th>
			<th class="hiddenSmartphone">{L_prefix}</th>
			<th class="hiddenSmartphone">{L_suffix}</th>
			<th class="hiddenSmartphone">{L_hidden}</th>
			<!-- IF S_RANK_IMAGES -->
			<th class="hiddenSmartphone">{L_rank_icon}</th>
			<!-- ENDIF -->
		</tr>
		</thead>
		<tbody>
		<!-- BEGIN ranks -->
		<tr>
			<td><span class="ui-icon ui-icon-arrowthick-2-n-s" title="{L_dragndrop}"></span></td>
			<td><input type="checkbox" name="rank_ids[]" value="{ranks.ID}" /><input type="hidden" name="ranks[]" value="{ranks.ID}" /></td>
			<td><a href="manage_ranks.php{SID}&amp;r={ranks.ID}" title="{L_edit_rank}"><i class="fa fa-pencil fa-lg" title="{L_edit}"></i></a></td>
			<td>{ranks.NAME}</td>
			<td><input type="radio" name="ranks_default" value="{ranks.ID}" {ranks.DEFAULT} /></td>
			<td class="hiddenSmartphone">{ranks.PREFIX}</td>
			<td class="hiddenSmartphone">{ranks.SUFFIX}</td>
			<td class="hiddenSmartphone">{ranks.HIDE}</td>
			<!-- IF S_RANK_IMAGES -->
			<td class="hiddenSmartphone">{ranks.ICON}</td>
			<!-- ENDIF -->
		</tr>
		<!-- END ranks -->
		</tbody>
	</table>
	<div class="contentFooter">
		<button class="mainoption" type="submit" name="save"><i class="fa fa-check"></i>{L_save}</button>
		<button class="liteoption" type="button" name="del" onclick="delete_warning();"><i class="fa fa-times"></i>{L_del_selected_ranks}</button>
		<input type="hidden" name="del" value="1" disabled="disabled" id="mass_del_submit" />
	</div>
{CSRF_TOKEN}
</form>