<form method="post" action="{ACTION}" name="apa_post" id="apa_post" class="fv_checkit">
<fieldset class="settings">
	<legend>{HEAD_TEXT}</legend>
<!-- BEGIN input -->
	<dl>
		<dt><label>{input.NAME}</label><br /><span>{input.HELP}</span></dt>
		<dd>{input.FIELD}<!-- IF input.FUNC --><input type="button" id="add_func" value="{L_apa_add_func}" class="mainoption bi_new" /><!-- ENDIF --></dd>
	</dl>
<!-- END input -->
</fieldset>
<button class="mainoption" type="submit" name="upd"><i class="fa fa-check"></i>{L_save}</button>
<input type="hidden" name="{HIDDEN_NAME}" value="{HIDDEN_VAL}" />
{CSRF_TOKEN}
</form>	