<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li><a href="{EQDKP_ROOT_PATH}admin/{SID}">{L_menu_admin_panel}</a>
		<li class="current"><a>{L_liveupdate}</a></li>
	</ul>
	<div class="clear"></div>
</div>

<div class="infobox infobox-large infobox-red clearfix" id="lu_error" style="display:none;">
	<i class="fa fa-exclamation-triangle fa-4x pull-left"></i> <span id="lu_error_label"></span>
</div>
<!-- IF S_START -->
	<!-- IF S_NEW_VERSION && S_REQUIREMENTS -->
	<div class="infobox infobox-large infobox-red clearfix">
		<i class="fa fa-exclamation-triangle fa-4x pull-left"></i> {L_liveupdate_update_available}
	</div>
	<!-- ELSEIF S_NEW_VERSION && not S_REQUIREMENTS -->
	<div class="infobox infobox-large infobox-red clearfix">
		<i class="fa fa-exclamation-triangle fa-4x pull-left"></i> {L_liveupdate_update_requirements_failed}
	</div>
	<!-- ELSE -->
	<div class="infobox infobox-large infobox-green clearfix">
		<i class="fa fa-check fa-4x pull-left"></i> {L_liveupdate_no_update_available}
	</div>
	<!-- ENDIF -->
	<form method="post" action="{ACTION}">
	<fieldset class="settings">
		<legend>{L_information}</legend>
		<!-- IF S_RELEASE_CHANNEL -->
		<dl>
			<dt><label>{L_liveupdate_release_channel}</label></dt>
			<dd>{RELEASE_CHANNEL}</dd>
		</dl>
		<!-- ENDIF -->
		<dl>
			<dt><label>{L_liveupdate_installed_version}</label></dt>
			<dd><!-- IF S_NEW_VERSION --><span class="negative">{RECENT_VERSION}</span><!-- ELSE -->{RECENT_VERSION}<!-- ENDIF --></dd>
		</dl>
		<!-- IF S_NEW_VERSION -->
		<dl>
			<dt><label>{L_liveupdate_new_version}</label></dt>
			<dd><b>{NEW_VERSION}</b> {L_liveupdate_new_version_published} {RELEASE_DATE}</dd>
		</dl>
		<dl>
			<dt><label>{L_liveupdate_changelog}</label></dt>
			<dd>{CHANGELOG}</dd>
		</dl>
		<!-- ENDIF -->
	</fieldset>
	<!-- IF S_NEW_VERSION && S_REQUIREMENTS -->
	<button class="mainoptio" type="submit" name="show"><i class="fa fa-check"></i> {L_liveupdate_start}</button>
	<!-- ENDIF -->
	<!-- IF S_UPDATE_BUTTON && S_REQUIREMENTS && not S_NEW_VERSION -->
	<button  type="submit" name="refresh" class="mainoption"><i class="fa fa-refresh"></i> {L_livecore_sett_f_update_check_for_updates}</button>
	<!-- ENDIF -->
	
	</form>
<!-- ENDIF -->


<!-- IF S_STEP -->
<style type="text/css">
	.ui-progressbar { position:relative; height:30px;}
	.nl_progressbar_label { position: absolute; width: 90%; text-align: center; line-height: 30px; left:5%; right:5%;}
</style>
<div class="infobox infobox-large infobox-blue clearfix">
	<i class="fa fa-info-circle fa-4x pull-left"></i> {L_liveupdate_dontclose}
</div>
<br />
<div id="nl_progressbar">
	<span class="nl_progressbar_label"><i class="fa fa-refresh fa-spin fa-lg"></i> &nbsp;<span id="nl_progressbar_label">{L_liveupdate}...</span></span>
</div>
<!-- ENDIF -->


<!-- IF S_SHOW -->
<style type="text/css">
	.ui-progressbar { position:relative; height:30px;}
	.nl_progressbar_label { position: absolute; width: 90%; text-align: center; line-height: 30px; left:5%; right:5%;}
</style>
<div id="nl_progressbar">
	<span class="nl_progressbar_label"><span id="nl_progressbar_label"></span></span></div>
</div>
	<!-- IF S_SHOW_5 -->
	<form method="post" action="{ACTION}">
		<!-- IF S_CONFLICTED_FILES -->
		<div class="infobox infobox-large infobox-red clearfix" id="lu_dontclose">
			<i class="fa fa-exclamation-triangle fa-4x pull-left"></i> {L_liveupdate_conflictedfiles_note}
		</div>

		<fieldset class="settings">
			<legend>{L_liveupdate_conflictedfiles}</legend>
			<!-- BEGIN conflicted_row -->
			<dl>
				<dt><label>{conflicted_row.FILENAME}</label></dt>
				<dd><a href="javascript:liveupdate_diff('{conflicted_row.ENCODED_FILENAME}');">{L_liveupdate_show_differences}</a></dd>
			</dl>
			<!-- END conflicted_row -->
			<button type="submit" class="mainoption" name="download"><i class="fa fa-download"></i>{L_liveupdate_downloadfiles}</button>
		</fieldset>		
		<br />
		<!-- ENDIF -->
		
		<!-- IF S_REMOVED_FILES -->
		<fieldset class="settings">
			<legend>{L_liveupdate_filestoremove}</legend>
			<!-- BEGIN removed_row -->
			<dl>
				<dt><label>{removed_row.FILENAME}</label></dt>
				<dd><a href="javascript:liveupdate_diff('{removed_row.ENCODED_FILENAME}&type=showfile');">{L_liveupdate_show_file}</a></dd>
			</dl>
			<!-- END removed_row -->
		</fieldset>
		<br />
		<!-- ENDIF -->
		<button type="submit" class="mainoption" name="submit" <!-- IF S_CONFLICTED_FILES -->onclick="confirm_conflicted(); return false;"<!-- ENDIF -->><i class=""></i>{L_bridge_continue}</button>
		<button type="button" name="cancel" class="mainoption" onclick="window.location.href='manage_live_update.php{SID}'"><i class="fa fa-chevron-left"></i>{L_cancel}</button>
		<input type="hidden" name="show" value="5" >
	</form>
	<!-- ENDIF -->


	<!-- IF S_SHOW_9 -->
	<form method="post" action="{ACTION}">
		<div class="infobox infobox-large infobox-red clearfix" id="lu_dontclose">
			<i class="fa fa-exclamation-triangle fa-4x pull-left"></i> {L_liveupdate_missingfiles_note}
		</div>

		<table  class="table fullwidth colorswitch">
			<tr>
			  <th>{L_liveupdate_missingfiles}</th>
			</tr>
			<!-- BEGIN missing_row -->
		  <tr>
			<td>&bull; {missing_row.FILENAME}</td>
		  </tr>
		  <!-- END missing_row -->
		  <tr>
			<th><input  value=""  /> <input  class=" bi_save"/></th>
			</tr> 
		</table>
		<button type="button" name="submit" class="mainoption" onclick="lu_step8();"><i class="fa fa-refresh"></i>{L_liveupdate_checkagain}</button>
		<button class="mainoption" type="submit" value="" name="download"><i class="fa fa-download"></i>{L_liveupdate_downloadfiles}</button>
		<input type="hidden" name="show" value="9" >
	</form>
	<!-- ENDIF -->

<!-- ENDIF -->