
<script type="text/javascript">
	function loadEventValue(event_id){
		$.get("manage_raids.php{SID}", { raidvalue: "1", event: event_id }, function(data){
			$("#raid_value").val($.trim(data));
		});
		
		//Get default itempool
		$.get("manage_raids.php{SID}", { defitempool: "1", event: event_id }, function(data){
			if($.trim(data) != "0") new_itempool_option = data;
		});
	}
</script>
<form action='{ACTION}' method='post' name='post'>
<div id="toggleRaidInfos">
	<fieldset class="settings smallsettings">
	<legend>{L_bulkedit}</legend>
	<div class="clear"></div>
	<div>
				<dl>
					<dt><label><input type="checkbox" name="bulk[date]" value="1"/>&nbsp;&nbsp;&nbsp;{L_date}:</label></dt>
					<dd>{DATE}</dd>
				</dl>
				<dl>
					<dt><label><input type="checkbox" name="bulk[note]" value="1"/>&nbsp;&nbsp;&nbsp;{L_note}:</label></dt>
					<dd><input type="text" name="rnote" value="{NOTE}" class="input" size="55" id="note" />
						<div class="additional-note-container">
						{ADDITIONAL_INFOS_EDITOR}
						</div>
					</dd>
				</dl>
				<dl>
					<dt><label><input type="checkbox" name="bulk[event]" value="1"/>&nbsp;&nbsp;&nbsp;{L_event}:</label></dt>
					<dd>{EVENT}
				</dl>
				<!-- IF not S_POINTS_DISABLED -->
				<dl>
					<dt><label><input type="checkbox" name="bulk[value]" value="1"/>&nbsp;&nbsp;&nbsp;{L_value}:</label></dt>
					<dd><input type="text" name="value" value="{VALUE}" class="input" id="raid_value" /></dd>
				</dl>
				<!-- ENDIF -->
				<dl>
					<dt><label><input type="checkbox" name="bulk[attendees]" value="1"/>&nbsp;&nbsp;&nbsp;{L_attendees}:</label></dt>
					<dd>{NEW_MEM_SEL}
					</dd>
				</dl>
				<!-- IF not S_DKP_EASYMODE -->
				<dl>
					<dt><label><input type="checkbox" name="bulk[itempool]" value="1"/>&nbsp;&nbsp;&nbsp;{L_itempool}:</label></dt>
					<dd>{ITEMPOOL_DD}
					</dd>
				</dl>
				<!-- ENDIF -->
		</div>
	</fieldset>
</div>

<div class="contentFooter">
	<button class="mainoption" type="submit" name="bulk_upd"><i class="fa fa-check"></i>{L_save}</button>
		<button class="mainoption" type="button" name="" onclick="window.location.href='manage_raids.php{SID}'"><i class="fa fa-chevron-left"></i>{L_cancel}</button>
		<input type="hidden" name="selected_ids" value="{BULK_ITEMS}" />
</div>
{CSRF_TOKEN}
</form>
