<form action='' method='post'>
<div class="contentHeader">
	<h1 class="contentTitle">{L_manraid_title}</h1>
</div>
<div class="tableHeader floatRight">
		{IMPORT_DKP} <button type="button" name="add" class="mainoption" onclick="window.location='manage_raids.php{SID}&amp;upd=true'" ><i class="icon-plus"></i>{L_add_raid}</button>
</div>

<table width="100%" cellpadding="2" cellspacing="1" border="0" class="colorswitch">
	{RAID_LIST}
</table>
<div class="center pagination_wrapper">
	{PAGINATION}
</div>
{CSRF_TOKEN}
</form>