<form method="post" action="{ACTION}" name="post">
<fieldset class="settings smallsettings">
	<legend>{L_apa_func_name}</legend>
	<dl>
		<dt><label>{L_apa_func_name}</label></dt>
		<dd><input type="text" id="func_name" name="func" value="{FUNC_NAME}" class="input" size="30" /></dd>
	</dl>
</fieldset>

<div class="infobox infobox-large infobox-blue clearfix">
	<i class="fa fa-info-circle fa-4x pull-left"></i> {L_apa_func_help}
</div>

<fieldset class="settings smallsettings">
	<legend>{L_apa_edit_function}</legend>
	<dl>{L_apa_valid_symbols}: {VALID_SYMBOLS}</dl>
	<dl>{L_apa_func_args}: {AVAILABLE_ARGS}</dl>
	<dl>{L_apa_func_example}: {EXAMPLE_FUNCS}</dl>
	<div id="exprs_block">
		<!-- BEGIN exprs -->
		<dl>
			<i class="fa fa-trash-o fa-lg del_me hand" title="{L_delte}"></i><span class="apa_var">{exprs.VAR}</span> = <input type="text" size="70" name="exprs[]" value="{exprs.EXPR}" class="input expr_field" />;
		</dl>
		<!-- END exprs -->
	</div>

	<dl>
		{L_tab_points} = <input type="text" size="70" name="exprs[]" value="{POINT_EXPR}" class="input expr_field expr_last points" />;
	</dl>
	<button class="mainoption" type="button" id="add_expr"><i class="fa fa-plus"></i>{L_apa_func_add_expr}</button>
</fieldset>
<button class="mainoption" type="submit" name="save_func"><i class="fa fa-check"></i>{L_save}</button>
<button class="mainoption" type="reset" name="reset"><i class="fa fa-trash-o"></i>{L_reset}</button>
{CSRF_TOKEN}
</form>
<div id="clone" style="display:none;">
	<dl>
		<i class="fa fa-trash-o fa-lg del_me hand" title="{L_delte}"></i> <span class="apa_var">Var0</span> = <input type="text" size="70" name="exprs[]" value="{exprs.EXPR}" class="input expr_field" />;
	</dl>
</div>