
<fieldset class="settings mediumsettings">
	<legend>{L_manexport_title}</legend>

	<dl>
		<dt><label>{L_export_memberitems}</label></dt>
		<dd><input type="checkbox" id="memberitems" value="1" onchange="ajax_reload_export()" checked="checked"/></dd>
	</dl>

	<dl>
		<dt><label>{L_export_memberadjustments}</label></dt>
		<dd><input type="checkbox" id="memberadjs" value="1" onchange="ajax_reload_export()" checked="checked"/></dd>
	</dl>

	<dl>
		<dt><label>{L_export_format}</label></dt>
		<dd><label><input type="radio" id="format" name="format" value="lua" checked="checked"  onchange="ajax_reload_export()"/>LUA</label>
			<label><input type="radio" id="format" name="format" value="xml"  onchange="ajax_reload_export()"/>XML</label>
			<label><input type="radio" id="format" name="format" value="json"  onchange="ajax_reload_export()" />JSON</label></dd>
	</dl>
	<dl>
		<dt><label>{L_export_data}</label></dt>
		<dd><textarea style="width: 95%; height: 200px;" id="export_data" readonly="readonly">{EXPORT_DATA}</textarea></dd>
	</dl>
</fieldset>
<script type="text/javascript">
$(function(){
	document.getElementById("export_data").focus();
    document.getElementById("export_data").select();
});

function ajax_reload_export(){
	if ($('#memberitems').prop("checked")) {
		var memberitems = 1;
	} else {
		var memberitems = 0;
	}

	if ($('#memberadjs').prop("checked")) {
		var memberadjs = 1;
	} else {
		var memberadjs = 0;
	}
	var format = $('input[name=format]:checked').val();

	$.get('manage_export.php{SID}&ajax_export=1&format='+format+'&memberitems='+memberitems+'&memberadjs='+memberadjs, function(data) {
		$('#export_data').val($.trim(data));
		document.getElementById("export_data").focus();
		document.getElementById("export_data").select();
	});
}
</script>
<!-- IF S_SHOW_APIKEY -->
<form action="" method="post">
<fieldset class="settings mediumsettings">
	<legend>{L_core_sett_f_settings_apikey}</legend>

	<dl>
		<dt><label>{L_core_sett_f_settings_apikey}</label></dt>
		<dd>{API_KEY}<br /><button type="submit" name="regenerate_apikey"><i class="fa fa-lg fa-refresh"></i> {L_user_create_new_appkey}</button></dd>
	</dl>
</fieldset>
{CSRF_TOKEN}
</form>
<!-- ENDIF -->
