
<form method="post" action="{ACTION}" name="post">
<input type="hidden" name="calendar" value="{CALENDAR}" />

<fieldset class="settings">
	<legend>{L_addevent_title}</legend>
	<dl>
		<dt><label>{L_name}:</label></dt>
		<dd><input type="text" name="name" size="35" maxlength="255" value="{NAME}" class="input" /></dd>
	</dl>
	<!-- IF not S_POINTS_DISABLED -->
	<dl>
		<dt><label>{L_value}:</label><br /><span>{L_event_defaultvalue_note}</span</dt>
		<dd><input type="text" name="value" size="8" maxlength="7" value="{VALUE}" class="input" /></dd>
	</dl>
	<!-- ENDIF -->
	<dl>
		<dt><label>{L_multidkp_to_event}:</label></dt>
		<dd>{MDKP2EVENT}</dd>
	</dl>
	<!-- IF not S_DKP_EASYMODE -->
	<dl>
		<dt><label>{L_default_itempool}:</label></dt>
		<dd id="defaultItempoolContainer">{DD_DEFAULT_ITEMPOOL}</dd>
	</dl>
	<!-- ENDIF -->
	<dl>
		<dt><label>{L_show_on_profile}:</label></dt>
		<dd>{SHOW_ON_PROFILE}</dd>
	</dl>
	
	<dl>
		<dt><label>{L_event_icon_header}:</label></dt>
		<dd><button class="mainoption" type="button" id="iubuttonedit" onclick="elfinder_all();"><i class="fa fa-upload"></i> {L_upload_eventicon}</button></dd>
	</dl>
	

	<table class="table fullwidth scrollable-x">
	<!-- IF ICONS -->
	<!-- BEGIN files_row -->
	<tr class="colorswitch">
		<!-- BEGIN fields -->
		<td class="nowrap" style="width:16%">
			<!-- IF files_row.fields.CHECKBOX -->
			<label><input type="radio" name="icon" {files_row.fields.CHECKED} value="{files_row.fields.NAME}" />
			{files_row.fields.IMAGE}</label>
			<!-- ENDIF -->
		</td>
		<!-- END fields -->
	</tr>
	<!-- END files_row -->
	<!-- ENDIF -->
</table>
</fieldset>

<button class="mainoption" type="submit" name="save" id="eventSubmBtn"><i class="fa fa-check"></i>{L_save}</button>
<!-- IF S_UPD -->
<input type="hidden" name="event_id" value="{EVENT_ID}" />
<button class="mainoption" type="button" name="del" onclick="delete_warning();"><i class="fa fa-times"></i>{L_delete}</button>
<!-- ENDIF -->
<button class="mainoption" type="submit" name="cancel"><i class="fa fa-chevron-left"></i>{L_cancel}</button>

{CSRF_TOKEN}
</form>

<script>
$(function(){
	$("#mdkp2event").multiselect().bind("multiselectclick multiselectcheckall multiselectuncheckall", function( event, ui ){
		var checkedValues = $.map($(this).multiselect("getChecked"), function( input ){
			return input.value;
		});

		$('#defaultItempoolContainer').html('<i class="fa fa-spin fa-spinner fa-lg"></i>');

		$.post("manage_events.php{SID}", { itempools: "1", pools: JSON.stringify(checkedValues), eventid: '{EVENT_ID}'}, function(data){
			$('#defaultItempoolContainer').html($.trim(data));
		});
	});
});
</script>