<!-- IF S_NORMAL_HEADER -->
<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li><a href="{EQDKP_ROOT_PATH}admin/{SID}">{L_menu_admin_panel}</a>
		<li class="current"><a>{L_backup}</a></li>
	</ul>
	<div class="clear"></div>
</div>
<!-- ENDIF -->

<form method="post" action="{ACTION}" name="post" id="backup_form">
<div id="backup_tabs">
<ul>
		<li><a href='#create'><span>{L_backup_database}</span></a></li>
		<li><a href='#trestore'><span>{L_backup_restore}</span></a></li>
</ul>
<div id="create">
	<!-- IF TABLE_PREFIX_WARNING -->
	<div class="infobox infobox-large infobox-red clearfix">
		<i class="fa fa-exclamation-triangle fa-4x pull-left"></i> {TABLE_PREFIX_WARNING}
	</div>
	<!-- ENDIF -->	

		
	<fieldset class="settings">
		<legend>{L_backup_title}</legend>
		
		<dl>
			<dt><label>{L_create_table}</label><br /><span></span></dt>
			<dd><label><input type="radio" name="create_table" value="Y" checked="checked" id="create_table_y" />{L_yes}</label> &nbsp;<label><input type="radio" name="create_table" value="N" id="create_table_n" />{L_no}</label></dd>
		</dl>
		
		<dl>
			<dt><label>{L_backup_type}</label><br /><span></span></dt>
			<dd><label><input name="method" type="radio" class="radio" id="method_zip" value="zip" checked="checked" /> 
    	<strong>zip</strong> <em>({L_recommended})</em></label>
    
    <label>
    	<input name="method" class="radio" value="text" id="method_text" type="radio" /> text</label></dd>
		</dl>
		
		<dl>
			<dt><label>{L_backup_action}</label><br /><span></span></dt>
			<dd><label>
      <input type="radio" name="action" value="store" checked="checked" id="action_store" />
      {L_backup_action_store} &nbsp;</label>
      <label>
        <input type="radio" name="action" value="download" id="action_download" />
        {L_backup_action_download}</label>
&nbsp;
<label>
  <input type="radio" name="action" value="both" id="action_both" />
  <strong>{L_backup_action_both}</strong> <em>({L_recommended})</em></label></dd>
		</dl>
		
		<dl>
			<dt><label>{L_select_tables}</label><br /><span></span></dt>
			<dd>{TABLE_SELECT}</dd>
		</dl>

	</fieldset>
	<button type="submit" name="backup" class="mainoption"><i class="fa fa-check"></i>{L_backup_database}</button>
</div>
<div id="trestore">
	
	<fieldset class="settings smallsettings">
		<legend>{L_backup_restore}</legend>
		
		<div class="infobox infobox-large infobox-red clearfix">
			<i class="fa fa-exclamation-triangle fa-4x pull-left"></i> {L_backup_restore_info}
		</div>
		<br />
		<div class="infobox infobox-large infobox-blue clearfix">
			<i class="fa fa-info-circle fa-4x pull-left"></i> {L_backup_uncomplete_info}<br /><br />{BACKUP_UPLOAD_INFO}
		</div>
		<br />
		<br />
		
		<dl>
			<dt><label>{L_backup_select}</label><br /><span></span></dt>
			<dd><!-- IF not NO_BACKUPS --><div style="float:left;"><select size="10" name="backups" onchange="show_metadata(this.value)"> <!-- BEGIN backup_list --><option value="{backup_list.FILE}">{backup_list.NAME}</option><!-- END backup_list --></select></div>
				<div style="float:left; margin-left: 20px;"><b style="font-weight:bold;">{L_metadata}:</b><br />
      			<br /><div id="metadata"></div></div>
				<!-- ELSE --> {L_backup_no_files}<!-- ENDIF -->
			</dd>
		</dl>
	</fieldset>
	<button name="restore" type="button" class="mainoption" onclick="restore_warning();" id="restore"><i class="fa fa-check"></i>{L_backup_restore_button}</button>
	<button  name="backup_delete" type="button" class="liteoption" onclick="delete_warning();" id="backup_delete"><i class="fa fa-times"></i>{L_backup_delete}</button>
	<button class="mainoption" name="backup_download" type="submit" id="backup_download"><i class="fa fa-download"></i>{L_backup_download}</button>
	<input type="hidden" name="restore_data" id="restore_data" value="0" />
	<input type="hidden" name="" id="mode" value="1" />
</div>
</div>
{CSRF_TOKEN}
</form>