<!-- IF S_USERGROUP_ADMIN -->
<form method="post" action="{ACTION}" name="post">
	<div class="contentHeader">
		<h1 class="contentTitle">{L_manage_user_groups} <span class="bubble">{GROUP_COUNT}</span></h1>
	</div>
	<div class="tableHeader floatRight">
		<button class="mainoption" type="button" onclick="window.location='manage_user_groups.php{SID}&g=0&edit=true'"><i class="fa fa-plus"></i>{L_add_user_group}</button>
		<button class="mainoption" name="user_group_perms" type="submit" id="user_group_perms"><i class="fa fa-list"></i>{L_user_group_permissions}</button>
	</div>
	<div class="clear"></div>
	<table id="user_groups_table" class="table fullwidth colorswitch">
		<thead>
		<tr class="not-sortable">
			<th style="width:10px"></th>
			<th style="width:20px"><input type="checkbox" name="selectall" id="selall_groups" />&nbsp;</th>
			<th colspan="3" style="width:20px" class="nowrap">{L_action}</th>
			<th>{L_name}</th>
			<th style="width:20px">{L_default}</th>
			<th>{L_description}</th>
		</tr>
		</thead>
		<tbody class="add_container">
		<!-- BEGIN user_groups -->
		<tr>
			<td style="width:10px"><span class="ui-icon ui-icon-arrowthick-2-n-s" title="{L_dragndrop}"></span></td>
			<td class="center"><!-- IF user_groups.S_DELETABLE --><input type="checkbox" name="user_group_ids[]" value="{user_groups.ID}" /><!-- ENDIF --><input type="hidden" name="user_groups[{user_groups.KEY}][id]" value="{user_groups.ID}" /></td>
			<td class="center" style="width:20px"><a href="manage_user_groups.php{SID}&amp;g={user_groups.ID}&amp;edit=true" title="{L_manage_user_group}"><i class="fa fa-pencil fa-lg"></i></a></td>
			<td class="nowrap" style="width:30px"><a href="manage_user_groups.php{SID}&amp;g={user_groups.ID}&amp;users=true" title="{L_group_members}"><i class="fa fa-users fa-lg"></i> {user_groups.USER_COUNT}</a></td>
			<td class="center" style="width:20px">
				<!-- IF user_groups.S_DELETABLE -->
				<a href="javascript:delete_single_warning({user_groups.ID});" title="{L_delete}"><i class="fa fa-trash-o fa-lg" title="{L_delete}"></i></a>
				<!-- ENDIF -->
			</td>
			<td><a href="manage_user_groups.php{SID}&amp;g={user_groups.ID}&amp;edit=true" title="{L_manage_user_group}">{user_groups.NAME}</a><!-- IF user_groups.STANDARD --> <i class="fa fa-globe fa-lg" title="{L_default_group}"></i><!-- ENDIF --></td>
			<td style="width:50px" class="nowrap"><!-- IF not user_groups.S_NO_STANDARD --><input type="radio" value="{user_groups.ID}" name="user_groups_standard" {user_groups.STANDARD} /><!-- ENDIF --></td>		
			<td>{user_groups.DESC}</td>
			</tr>
		<!-- END user_groups -->
		</tbody>
	</table>
	<div class="contentFooter">
		<button class="mainoption" type="submit" name="saveorder"><i class="fa fa-check"></i>{L_save}</button>
		<button class="mainoption" type="button" name="del" onclick="delete_warning();"><i class="fa fa-times" ></i>{L_delete_selected_group}</button>
		<input type="hidden" name="del" value="1" disabled="disabled" id="mass_del_submit" />
	</div>

{CSRF_TOKEN}
</form>

<!-- ELSE -->

<div class="contentHeader">
	<h1 class="contentTitle">{L_manage_user_groups}</h1>
</div>
<table id="user_groups_table" class="table fullwidth colorswitch">
		<tr>
			<th style="width:20px" class="nowrap">{L_action}</th>
			<th>
				<a href="{ACTION}&amp;order=0.1"><span class="down_arrow{RED01}"></span></a>
				<a href="{ACTION}&amp;order=0.0"><span class="up_arrow{RED00}"></span></a>
				{L_name}
			</th>
			<th>{L_description}</th>
		</tr>
		<!-- BEGIN user_groups -->
		<!-- IF user_groups.S_IS_GRPLEADER -->
		<tr>
			<td class="center"><a href="manage_user_groups.php{SID}&amp;g={user_groups.ID}&amp;users=true" title="{L_group_members}"><i class="fa fa-users fa-lg"></i> {user_groups.USER_COUNT}</a></td>
			<td>{user_groups.NAME}</td>
			<td>{user_groups.DESC}</td>
		</tr>
		<!-- ENDIF -->
		<!-- END user_groups -->
	</table>
<!-- ENDIF -->
