
<div class="infobox infobox-large infobox-red clearfix" id="lu_error" style="display:none;">
	<i class="fa fa-exclamation-triangle fa-4x pull-left"></i> <span id="lu_error_label"></span>
</div>
<!-- IF S_START -->
	<!-- IF S_NEW_VERSION && S_REQUIREMENTS -->
	<div class="infobox infobox-large infobox-red clearfix">
		<i class="fa fa-exclamation-triangle fa-4x pull-left"></i> {L_liveupdate_update_available}
	</div>
	<!-- ELSEIF S_NEW_VERSION && not S_REQUIREMENTS -->
	<div class="infobox infobox-large infobox-red clearfix">
		<i class="fa fa-exclamation-triangle fa-4x pull-left"></i> <!-- IF S_NO_UPDATE_PACKAGE -->{L_liveupdate_update_nopackages_failed}<!-- ELSE -->{L_liveupdate_update_requirements_failed}
		{REQUIREMENTS_NOTE}<!-- ENDIF -->
	</div>
	<!-- ELSEIF S_IS_OUTDATED -->
	<div class="infobox infobox-large infobox-red clearfix">
		<i class="fa fa-exclamation-triangle fa-4x pull-left"></i> {L_liveupdate_update_outdated}
	</div>
	<!-- ELSE -->
	<div class="infobox infobox-large infobox-green clearfix">
		<i class="fa fa-check fa-4x pull-left"></i> {L_liveupdate_no_update_available}
	</div>
	<!-- IF S_RELEASE_NOTE -->
	<script>
	$(function(){
		$( "#releaseNoteDialog" ).dialog({
			height: 500,
			width: 600,
			modal: true,
			autoOpen: false,
		});
		
		$('#releaseNoteDialog').on('dialogclose', function(event) {
			location.reload();
		 });
		
		$( "#releaseNoteDialog" ).dialog('open');
	});
	</script>
	<div id="releaseNoteDialog" title="{L_new_release_notes}">
		<form method="post" action="">
			<h2>{L_new_release_notes}</h2>
			{STR_RELEASE_NOTE}
		</form>
	</div>

	
	<!-- ENDIF -->
	<!-- IF S_FINISHED -->
	 <table class="table fullwidth">
      <tr>
        <td id="support"><i class="fa fa-heart fa-5x" style="color:red;vertical-align:middle;"></i>
						<span class="fa-stack fa-lg" style="margin-left: -30px; margin-bottom: -10px; margin-right: 10px;">
						<i class="fa fa-circle fa-stack-2x"></i>
  						<i class="fa fa-usd fa-stack-1x fa-inverse"></i>
						</span></td>
        <td>{L_support_eqdkplus}</td>
      </tr>
    </table>
	<!-- ENDIF -->
	<!-- ENDIF -->
	<form method="post" action="{ACTION}">
	<fieldset class="settings">
		<legend>{L_information}</legend>
		<!-- IF S_RELEASE_CHANNEL -->
		<dl>
			<dt><label>{L_liveupdate_release_channel}</label></dt>
			<dd>{RELEASE_CHANNEL}</dd>
		</dl>
		<!-- ENDIF -->
		<dl>
			<dt><label>{L_liveupdate_installed_version}</label></dt>
			<dd><!-- IF S_NEW_VERSION --><span class="negative">{RECENT_VERSION}</span><!-- ELSE -->{RECENT_VERSION}<!-- ENDIF --></dd>
		</dl>
		<dl>
			<dt><label>{L_liveupdate_last_checked}</label></dt>
			<dd>{LAST_CHECKED}</dd>
		</dl>
		<!-- IF S_NEW_VERSION -->
		<dl>
			<dt><label>{L_liveupdate_new_version}</label></dt>
			<dd><b>{NEW_VERSION}</b> {L_liveupdate_new_version_published} {RELEASE_DATE}</dd>
		</dl>
		<dl>
			<dt><label>{L_liveupdate_changelog}</label></dt>
			<dd>{CHANGELOG}</dd>
		</dl>
		<!-- ENDIF -->
	</fieldset>
	<!-- IF S_NEW_VERSION && S_REQUIREMENTS -->
	<button class="mainoptio" type="submit" name="show"><i class="fa fa-check"></i> {L_liveupdate_start}</button>
	<!-- ENDIF -->
	<!-- IF S_REQUIREMENTS -->
	<button  type="submit" name="refresh" class="mainoption"><i class="fa fa-refresh"></i> {L_livecore_sett_f_update_check_for_updates}</button>
	<!-- ENDIF -->
	
	</form>
<!-- ENDIF -->


<!-- IF S_STEP -->
<style type="text/css">
	.ui-progressbar { position:relative; height:30px;}
	.nl_progressbar_label { position: absolute; width: 90%; text-align: center; line-height: 30px; left:5%; right:5%;}
</style>
<div class="infobox infobox-large infobox-blue clearfix lu_dontclose_info">
	<i class="fa fa-info-circle fa-4x pull-left"></i> {L_liveupdate_dontclose}
</div>
<br />
<div id="nl_progressbar">
	<span class="nl_progressbar_label"><i class="fa fa-refresh fa-spin fa-lg lu_loading_indicator"></i> &nbsp;<span id="nl_progressbar_label">{L_liveupdate}...</span></span>
</div>
<!-- ENDIF -->


<!-- IF S_SHOW -->
<style type="text/css">
	.ui-progressbar { position:relative; height:30px;}
	.nl_progressbar_label { position: absolute; width: 90%; text-align: center; line-height: 30px; left:5%; right:5%;}
</style>
<div id="nl_progressbar">
	<span class="nl_progressbar_label"><span id="nl_progressbar_label"></span></span>
</div>
	<!-- IF S_SHOW_5 -->
	<form method="post" action="{ACTION}">
		<!-- IF S_CONFLICTED_FILES -->
		<br />
		<div class="infobox infobox-large infobox-red clearfix" id="lu_dontclose">
			<i class="fa fa-exclamation-triangle fa-4x pull-left"></i> {L_liveupdate_conflictedfiles_note}
		</div>

		<fieldset class="settings">
			<legend>{L_liveupdate_conflictedfiles}</legend>
			<!-- BEGIN conflicted_row -->
			<dl>
				<dt><label>{conflicted_row.FILENAME}</label></dt>
				<dd><a href="javascript:liveupdate_diff('{conflicted_row.ENCODED_FILENAME}');">{L_liveupdate_show_differences}</a></dd>
			</dl>
			<!-- END conflicted_row -->
			<button type="submit" class="mainoption" name="download"><i class="fa fa-download"></i>{L_liveupdate_downloadfiles}</button>
		</fieldset>
		<br />
		<!-- ENDIF -->
		
		<!-- IF S_REMOVED_FILES -->
		<fieldset class="settings">
			<legend>{L_liveupdate_filestoremove}</legend>
			<!-- BEGIN removed_row -->
			<dl>
				<dt><label>{removed_row.FILENAME}</label></dt>
				<dd><a href="javascript:liveupdate_diff('{removed_row.ENCODED_FILENAME}&type=showfile');">{L_liveupdate_show_file}</a></dd>
			</dl>
			<!-- END removed_row -->
		</fieldset>
		<br />
		<!-- ENDIF -->
		<button type="submit" class="mainoption" name="submit" <!-- IF S_CONFLICTED_FILES -->onclick="confirm_conflicted(); return false;"<!-- ENDIF -->><i class=""></i>{L_bridge_continue}</button>
		<button type="button" name="cancel" class="mainoption" onclick="window.location.href='manage_live_update.php{SID}'"><i class="fa fa-chevron-left"></i> {L_cancel}</button>
		<input type="hidden" name="show" value="5" >
	</form>
	<!-- ENDIF -->


	<!-- IF S_SHOW_9 -->
	<form method="post" action="{ACTION}">
		<br />
		<div class="infobox infobox-large infobox-red clearfix" id="lu_dontclose">
			<i class="fa fa-exclamation-triangle fa-4x pull-left"></i> {L_liveupdate_missingfiles_note}
		</div>

		<table  class="table fullwidth colorswitch">
			<tr>
			  <th>{L_liveupdate_missingfiles}</th>
			</tr>
			<!-- BEGIN missing_row -->
		  <tr>
			<td>&bull; {missing_row.FILENAME}</td>
		  </tr>
		  <!-- END missing_row -->
		</table>
		<div class="contentFooter">
			<button type="button" name="submit" class="mainoption" onclick="lu_step8();"><i class="fa fa-refresh"></i>{L_liveupdate_checkagain}</button>
			<button class="mainoption" type="submit" value="" name="download"><i class="fa fa-download"></i>{L_liveupdate_downloadfiles}</button>
			<input type="hidden" name="show" value="9" >
			<!-- IF S_SHOW_CONTINUE_BTN -->
			<button type="submit" name="continue" onclick="confirm_conflicted(); return false;"><i class="fa fa-chevron-right"></i> {L_skip}</button>
			<!-- ENDIF -->
		</div>
	</form>
	<!-- ENDIF -->

<!-- ENDIF -->