<table width="100%" border="0" cellspacing="1" cellpadding="2" class="colorswitch">
	<tr>
		<th colspan="{HPTT_COLUMN_COUNT}"><span style="float:left;">{L_manevents_title}</span>
		<span style="float:right;"><input type="button" class="mainoption bi_new" name="add_event" value="{L_addevent_title}" onclick="window.location='manage_events.php{SID}&amp;upd=true'" /></span>
		</th>
	</tr>
	<tr>
		<td colspan="{HPTT_COLUMN_COUNT}" align="center" class="menu">{EVENT_PAGINATION}</td>
	</tr>
		{EVENTS_LIST}
	<tr class="pagination_row">
		<td colspan="{HPTT_COLUMN_COUNT}" align="center" class="menu">{EVENT_PAGINATION}</td>
	</tr>
</table>