
<form method="post" action="{ACTION}" name="post">
	<div class="contentHeader">
		<h1 class="contentTitle">{L_manage_user_groups}: {GROUP_NAME}<input type="hidden" name="g" value="{GRP_ID}" /></h1>
	</div>
	
	<!-- IF S_IS_IN_GROUP -->
	<div class="infobox infobox-large infobox-blue clearfix">
		<i class="fa fa-exclamation-triangle  fa-4x pull-left"></i> {L_usergroup_edit_membership_info}
	</div>
	<!-- ENDIF -->
	
	<div id="groups_tabs">
		<ul>
			<li><a href='#members'><span>{L_group_members}</span></a></li>
			<!-- IF S_USERGROUP_ADMIN-->
			<li><a href='#permissions'><span>{L_permissions}</span></a></li>
			<!-- ENDIF -->
		</ul>

		<div id="members">
			<table id="user_groups_table" class="table fullwidth colorswitch">
				<tr>
					<th style="width:20px"><input type="checkbox" id="selall_usergr" /></th>
					<th>
						<a href="{U_MANAGE_USERS}&amp;o=0.0">
							<span class="down_arrow{RED00}"></span>
						</a>
						<a href="{U_MANAGE_USERS}&amp;o=0.1">
							<span class="up_arrow{RED01}"></span>
						</a>
						{L_username}
					</th>
					<!-- IF S_USERGROUP_ADMIN --><th>{L_email}</th><!-- ENDIF -->
					<th>{L_last_visit}</th>
					<th>{L_active}</th>
					<th>{L_online}</th>
				</tr>
				<tr>
					<th class="center" colspan="6">{L_grpleaders}</th>
				</tr>
				<!-- BEGIN user_row_grpleader -->
				<tr>
					<td>
					<!-- IF S_USERGROUP_ADMIN -->
						<!-- IF not user_row_grpleader.S_UNDELETABLE --><input type="checkbox" name="group_user[{user_row_grpleader.ID}]" value="{user_row_grpleader.ID}" class="usercheckbox" />
						<!-- ENDIF -->
					<!-- ENDIF -->
					</td>
					<td>
						<a href="manage_users.php{SID}&amp;u={user_row_grpleader.ID}">{user_row_grpleader.NAME}</a>
					</td>
					<!-- IF S_USERGROUP_ADMIN --><td>{user_row_grpleader.EMAIL}</td><!-- ENDIF -->
					<td>{user_row_grpleader.LAST_VISIT}</td>
					<td>{user_row_grpleader.ACTIVE}</td>
					<td>{user_row_grpleader.ONLINE}</td>
				</tr>
				<!-- END user_row_grpleader -->


				<tr>
					<th colspan="6" />{L_group_members}</th>
				</tr>
				<!-- BEGIN user_row -->
				<tr>
					<td><!-- IF not user_row.S_UNDELETABLE --><input type="checkbox" name="group_user[{user_row.ID}]" value="{user_row.ID}" class="usercheckbox" /><!-- ENDIF --></td>
					<td>
						<a href="manage_users.php{SID}&amp;u={user_row.ID}">{user_row.NAME}</a>
					</td>
					<!-- IF S_USERGROUP_ADMIN --><td>{user_row.EMAIL}</td><!-- ENDIF -->
					<td>{user_row.LAST_VISIT}</td>
					<td>{user_row.ACTIVE}</td>
					<td>{user_row.ONLINE}</td>
				</tr>
				<!-- END user_row -->
				<tr>
					<th colspan="6">
						{BUTTON_MENU}
					</th>
				</tr>

				</table>
				<br />
				<fieldset class="settings mediumsettings" class="settings">
						<legend>{L_add_user_to_group}</legend>
						{ADD_USER_DROPDOWN}
						<br /><br />
						<button class="mainoption" type="submit" name="add_group_users" id="add_group_users"><i class="fa fa-plus"></i>{L_add_selected_to_group}</button>
				</fieldset>
		</div>
		<!-- IF S_USERGROUP_ADMIN -->
		<div id="permissions">
			<div class="tableHeader floatRight">
				<button class="mainoption" name="user_group_perms" type="button" id="user_group_perms" onclick="window.location='{SID}&user_group_perms&grp={GRP_ID}'"><i class="fa fa-list"></i>{L_user_resolve_perms}</button>
			</div>
			<div class="clear"></div>
	
			<div id="permission_tabs">
				<ul>
					<li><a href='#user_perms'><span>{L_user_permissions}</span></a></li>
					<li><a href='#admin_perms'><span class="adminicon">{L_admin_permissions}</span></a></li>
					<li><a href='#articles'>{L_article_categories}</a></li>
				</ul>

				<div id="user_perms">
					<!-- BEGIN u_permissions_row -->
					<fieldset class="settings mediumsettings" class="settings">
						<legend>{u_permissions_row.ICON} {u_permissions_row.GROUP}</legend>
						<!-- BEGIN check_group -->
						<div class="permissions">
							<label title="{u_permissions_row.check_group.CBNAME}"">
								<input type="checkbox" name="{u_permissions_row.check_group.CBNAME}" value="Y" {u_permissions_row.check_group.CBCHECKED} class="changepermcolor" id="cb_{u_permissions_row.check_group.CBNAME}"/>
								<span id="span_cb_{u_permissions_row.check_group.CBNAME}" class="perm_text {u_permissions_row.check_group.CLASS}">{u_permissions_row.check_group.TEXT}</span>
							</label>
						</div>
						<!-- END check_group -->
					</fieldset>
					<br />
					<!-- END u_permissions_row -->
				</div>

				<div id="admin_perms">
					<!-- IF GRP_ID == 1 -->
					<div class="infobox infobox-large infobox-blue clearfix">
						<i class="fa fa-info-circle fa-4x pull-left"></i> {L_guest_no_admin_perms_note}
					</div>
					<!-- ENDIF -->

					<!-- BEGIN a_permissions_row -->
					<fieldset class="settings mediumsettings" class="settings">
						<legend>{a_permissions_row.ICON} {a_permissions_row.GROUP}</legend>
						<!-- BEGIN check_group -->
						<div class="permissions">
							<label>
								<input type="checkbox" name="{a_permissions_row.check_group.CBNAME}" value="Y" {a_permissions_row.check_group.CBCHECKED} class="changepermcolor" id="cb_{a_permissions_row.check_group.CBNAME}"/>
								<span id="span_cb_{a_permissions_row.check_group.CBNAME}" class="perm_text {a_permissions_row.check_group.CLASS}">{a_permissions_row.check_group.TEXT}</span>
							</label>
						</div>
						<!-- END check_group -->
					</fieldset>
					<br />
					<!-- END a_permissions_row -->
				</div>
				
				<div id="articles">
					<table id="user_groups_table2" class="table fullwidth colorswitch hoverrows scrollable-x">
						<!-- BEGIN articelcat_row -->
						<tr>
							<th>{articelcat_row.ICON} {articelcat_row.GROUP}</th>
							<!-- BEGIN headline_row -->
							<th>{articelcat_row.headline_row.GROUP}</th>
							<!-- END headline_row -->
						</tr>
						<!-- BEGIN check_group -->
						<tr>
							<td>
								<!-- IF articelcat_row.check_group.S_ADMIN -->
								<span class="adminicon" title="{L_admin_right_icon_title}" style="background-position: 0 -2px;" />
								<b>{articelcat_row.check_group.CBNAME}</b>
								<!-- ELSE -->
								{articelcat_row.check_group.CBNAME}
								<!-- ENDIF -->
							</td>
							<!-- BEGIN group_row -->
							<td>{articelcat_row.check_group.group_row.STATUS}</td>
							<!-- END group_row -->
						</tr>
						<!-- END check_group -->
						<!-- END articelcat_row -->
					</table>
				</div>

			</div>
			<div class="contentFooter">
				<button class="mainoption" type="submit" name="save_group_perms"><i class="fa fa-check"></i>{L_save}</button>
			</div>
		</div>
	</div>
	<!-- ENDIF -->
	<div class="contentFooter">
		<button class="mainoption" type="button" name="back" onclick="window.location='manage_user_groups.php{SID}'"><i class="fa fa-chevron-left"></i>{L_back}</button>
	</div>

{CSRF_TOKEN}
</form>
<script type="text/javascript">
//<![CDATA[
$(function(){
	$('.changepermcolor').change(function() {
		if($(this).prop('checked')){
			$('#span_'+this.id).attr('class', 'positive');
		}else{
			$('#span_'+this.id).attr('class', 'negative');
		}
	});

	$("#selall_usergr").click(function(){
		var checked_status = this.checked;
		$(".usercheckbox").each(function(){
			$(this).prop("checked", checked_status).trigger('change');
		});
	});
});
//]]>
</script>
