<!-- IF S_NORMAL_HEADER -->
<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li><a href="{EQDKP_ROOT_PATH}admin/{SID}">{L_menu_admin_panel}</a>
		<li class="current"><a>{L_manage_calendars}</a></li>
	</ul>
	<div class="clear"></div>
</div>
<!-- ENDIF -->

<div class="contentHeader">
	<h1 class="contentTitle">{L_manage_calendars}</h1>
</div>

<form method="post" action="{ACTION}" name="post">
	<table id="calendars_table" class="table fullwidth colorswitch">
		<tr>
			<th width="20"></th>
			<th>{L_calendars_color}</th>
			<th>{L_calendars_name}</th>
			<th>{L_calendars_feed}</th>
			<th>{L_calendars_type}</th>
			<th>{L_calendars_restricted}</th>
		</tr>
		<!-- BEGIN calendars -->
		<tr>
			<td style="text-align:center;"><!-- IF calendars.DELETABLE -->
				<input type="checkbox" name="calendar_ids[]" value="{calendars.ID}" />
				<!-- ELSE -->
				<i class="fa fa-lock fa-lg"></i>
				<!-- ENDIF --><input type="hidden" name="calendars[{calendars.KEY}][id]" value="{calendars.ID}" />
			</td>
			<td>{calendars.COLOR}</td>
			<td><input type="text" name="calendars[{calendars.KEY}][name]" size="30" maxlength="50" value="{calendars.NAME}" class="maininput" /></td>
			<td><input type="text" name="calendars[{calendars.KEY}][feed]" size="50" maxlength="250" value="{calendars.FEED}" class="maininput" /></td>
			<td>{calendars.TYPE}</td>
			<td>{calendars.RESTRICTED}</td>
		</tr>
		<!-- END calendars -->
		<tr>
			<td><input type="hidden" name="calendars[{KEY}][id]" value="{ID}" /></td>
			<td>{COLOR}</td>
			<td><input type="text" name="calendars[{KEY}][name]" size="30" maxlength="50" value="" class="maininput" /></td>
			<td><input type="text" name="calendars[{KEY}][feed]" size="50" maxlength="250" value="" class="maininput" /></td>
			<td>{TYPE}</td>
			<td>{RESTRICTED}</td>
		</tr>
	</table>
	<div class="contentFooter">
		<button class="mainoption" type="submit" name="save" ><i class="fa fa-check"></i>{L_save}</button>
		<button class="liteoption" type="button" name="del" onclick="delete_warning();"><i class="fa fa-times"></i>{L_delete}</button>
		<input type="hidden" name="del" value="1" disabled="disabled" id="mass_del_submit" />
	</div>
	
{CSRF_TOKEN}	
</form>