
<div class="contentHeader">
	<h1 class="contentTitle">{L_manage_media}</h1>
</div>

<link rel="stylesheet" type="text/css" media="screen" href="{EQDKP_ROOT_PATH}libraries/elfinder/css/elfinder.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="{EQDKP_ROOT_PATH}libraries/elfinder/css/theme.css">

<!-- elFinder JS (REQUIRED) -->
<script type="text/javascript" src="{EQDKP_ROOT_PATH}libraries/elfinder/js/elfinder.min.js"></script>

<!-- IF ELFINDER_LANG -->
<script type="text/javascript" src="{EQDKP_ROOT_PATH}libraries/elfinder/js/i18n/elfinder.{ELFINDER_LANG}.js"></script>
<!-- ENDIF -->

<script type="text/javascript" charset="utf-8">
	var myCommands = elFinder.prototype._options.commands;
	var disabled = ['extract', 'archive','mkfile','help','edit'];
	$.each(disabled, function(i, cmd) {
		(idx = $.inArray(cmd, myCommands)) !== -1 && myCommands.splice(idx,1);
	});

	$(function() {
		var elf = $('#elfinder').elfinder({
			url : '{EQDKP_ROOT_PATH}libraries/elfinder/php/connector.php',  // connector URL (REQUIRED)
			lang: '{ELFINDER_LANG}',
			commands : myCommands,
			height: 500,
		}).elfinder('instance');
	});
</script>

<div id="elfinder"></div>
