<!-- IF S_LOCAL_UPDATE -->
<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li><a href="{EQDKP_ROOT_PATH}admin/{SID}">{L_menu_admin_panel}</a>
		<li><a href="{EQDKP_ROOT_PATH}admin/manage_extensions.php{SID}">{L_extension_repo}</a>
		<li class="current"><a>{L_style_localupdate}</a></li>
	</ul>
	<div class="clear"></div>
</div>

<form method="post" action="{ACTION}&amp;cat=2&amp;code={TEMPLATE_ID}&amp;mode=process_update" name="post">
	<fieldset class="settings">
		<legend>{L_style_localupdate}</legend>
		<dl>
			<dt><label>{L_template_files}</label></dt>
			<dd><label><input type="radio" name="template" value="1" checked="checked" />{L_style_localupdate_overwrite} <em>({L_recommended})</em></label> 
				<label><!-- IF S_CHANGED_FILES --><input type="radio" name="template" value="0" />{L_style_localupdate_dontoverwrite}<!-- ENDIF --></label>
			</dd>
		</dl>
		<dl>
			<dt><label>{L_color_settings}</label></dt>
			<dd><label><input type="radio" name="colors" value="1" checked="checked" />{L_style_localupdate_overwrite} <em>({L_recommended})</em></label> 
				<label><input type="radio" name="colors" value="0" />{L_style_localupdate_dontoverwrite}</label>
			</dd>
		</dl>
	</fieldset>
	<!-- IF S_CHANGED_FILES -->
	<fieldset class="settings">
		<legend>{L_style_localupdate_changedfiles}</legend>
		<!-- BEGIN changed_files_row -->
		<dl>
		<dt><label>{changed_files_row.FILE}</label></dt>
		<dd>
			<a href="javascript:diffviewer('{changed_files_row.ENCODED_FILENAME}');">{L_liveupdate_show_differences}</a>
		</dd>
		</dl>
		<!-- END changed_files_row -->
	</fieldset>
	<!-- ENDIF -->
	
	<button type="submit" name="process_update" class="mainoption"><i class="fa fa-check"></i>{L_bridge_continue}</button> <!-- IF S_CHANGED_FILES --><button type="button" class="mainoption" onclick="window.location='manage_styles.php{SID}&export_changed_files=true&styleid={TEMPLATE_ID}'"><i class="fa fa-download"></i>{L_style_localupdate_dlchangedfiles}</button><!-- ENDIF -->
{CSRF_TOKEN}
	</form>
<!-- ELSE -->
<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li><a href="{EQDKP_ROOT_PATH}admin/{SID}">{L_menu_admin_panel}</a>
		<li><a href="{EQDKP_ROOT_PATH}admin/manage_extensions.php{SID}">{L_extension_repo}</a>
		<li><a href="{EQDKP_ROOT_PATH}admin/manage_extensions.php{SID}&amp;tab=1">{L_styles_title}</a>
		<li class="current"><a>{STYLE_NAME}</a></li>
	</ul>
	<div class="clear"></div>
</div>

<script>

$(document).ready(function(){
	$('input[name="background_type"]').on('change', function(){
		if($(this).val() == "2"){
			$("#background_image").attr("disabled", false);
		} else {
			$("#background_image").attr("disabled", true);
		}
	})
	var recent = $('input[name="background_type"]:checked').val();
	if(recent == "2"){
		$("#background_image").attr("disabled", false);
	} else {
		$("#background_image").attr("disabled", true);
	}
})
</script>

<form method="post" action="{F_ADD_STYLE}" name="post">
<div id="style_tabs">
<ul>
<li><a href="#settings">{L_style_settings}</a></li>
<li><a href="#colors">{L_color_settings}</a></li>
<li><a href="#class_colors">{L_core_sett_f_class_colors}</a></li>
<li><a href="#templates">{L_edit_templates}</a></li>
</ul>

<input type="hidden" name="styleid" value="{STYLE_ID}" />

<div id="settings">
	<fieldset class="settings">
		<legend>{L_style_settings}</legend>
		<dl>
			<dt><label>{L_style_name}: *</label></dt>
			<dd><input type="text" name="style_name" size="35" maxlength="100" value="{STYLE_NAME}" class="input" /></dd>
		</dl>
		<dl>
			<dt><label>{L_style_version}: *</label></dt>
			<dd><input type="text" name="style_version" size="35" maxlength="100" value="{STYLE_VERSION}" class="input" /></dd>
		</dl>
		<dl>
			<dt><label>{L_attendees_columns}</label><br /><span>{L_attendees_columns_note}</span></dt>
			<dd>{DD_ATTENDEE_COLUMNS}</dd>
		</dl>
		<dl>
			<dt><label>{L_logo_position}</label></dt>
			<dd>{DD_LOGO_POSITION}</dd>
		</dl>
	</fieldset>
	<fieldset class="settings">
		<legend>{L_background_image}</legend>	
		<dl>
			<dt><label>{L_background_image_type}</label><br /><span>{L_background_image_type_help}</span></dt>
			<dd>{RADIO_BACKGROUND_IMAGE_TYPE}</dd>
		</dl>
		<dl>
			<dt><label>{L_background_image}</label><br /><span>{L_background_image_note}</span></dt>
			<dd>
			<div class="input-icon-append">
			<input id="background_image" type="text" name="background_img" size="25" maxlength="255" value="{BACKGROUND_IMG}" class="input" {BACKGROUND_IMG_DISABLED}/>
			<i class="fa fa-lg fa-folder-open hand" onclick="elfinder_all('background_image');"></i>
			</div>
			</dd>
		</dl>
		<dl>
			<dt><label>{L_background_position}</label></dt>
			<dd>{RADIO_BACKGROUND_POSITION}</dd>
		</dl>
	</fieldset>

	<fieldset class="settings">
		<legend>{L_pk_set_portal_head}</legend>
		<dl>
			<dt><label>{L_style_portal_width}</label></dt>
			<dd><input type="text" name="portal_width" size="5" maxlength="5" value="{STYLE_PORTAL_WIDTH}" class="input" {STYLE_PORTAL_WIDTH_DISABLED}/> {DD_PORTAL_WIDTH}</dd>
		</dl>
		<dl>
			<dt><label>{L_style_column_left_width}</label></dt>
			<dd><input type="text" name="column_left_width" size="5" maxlength="5" value="{STYLE_COLUMN_LEFT_WIDTH}" class="input" {STYLE_COLUMN_LEFT_DISABLED}/> {DD_COLUMN_LEFT_WIDTH}</dd>
		</dl>
		<dl>
			<dt><label>{L_style_column_right_width}</label></dt>
			<dd><input type="text" name="column_right_width" size="5" maxlength="5" value="{STYLE_COLUMN_RIGHT_WIDTH}" class="input" {STYLE_COLUMN_RIGHT_DISABLED}/> {DD_COLUMN_RIGHT_WIDTH}</dd>
		</dl>
	</fieldset>


</div>

<div id="colors">
<div class="infobox infobox-large infobox-blue clearfix">
	<i class="fa fa-info-circle fa-4x pull-left"></i> {L_style_settings_info}
</div>



	<fieldset class="settings">
		<legend>{L_color_settings}</legend>
		<dl>
			<dt><label>{L_background_color}</label></dt>
			<dd>{CP_BODY_BG}</dd>
		</dl>
	</fieldset>
	<fieldset class="settings">
		<legend>{L_fonts}</legend>
		<dl>
			<dt><label>{L_fontface1}</label><br /><span>{L_fontface1_note}</span></dt>
			<dd><input type="text" name="fontface1" size="35" maxlength="60" value="{FONTFACE1}" class="input" {FONTFACE1_DISABLED} /></dd>
		</dl>
		<dl>
			<dt><label>{L_fontface2}</label><br /><span>{L_fontface2_note}</span></dt>
			<dd><input type="text" name="fontface2" size="35" maxlength="60" value="{FONTFACE2}" class="input" {FONTFACE2_DISABLED} /></dd>
		</dl>
		<dl>
			<dt><label>{L_fontface3}</label><br /><span>{L_fontface3_note}</span></dt>
			<dd><input type="text" name="fontface3" size="35" maxlength="60" value="{FONTFACE3}" class="input" {FONTFACE3_DISABLED} /></dd>
		</dl>
		<dl>
			<dt><label>{L_fontsize1}</label><br /><span>{L_fontsize1_note}</span></dt>
			<dd><input type="text" name="fontsize1" size="3" maxlength="4" value="{FONTSIZE1}" class="input" {FONTSIZE1_DISABLED} /> px</dd>
		</dl>
		<dl>
			<dt><label>{L_fontsize2}</label><br /><span>{L_fontsize2_note}</span></dt>
			<dd><input type="text" name="fontsize2" size="3" maxlength="4" value="{FONTSIZE2}" class="input" {FONTSIZE2_DISABLED} /> px</dd>
		</dl>
		<dl>
			<dt><label>{L_fontsize3}</label><br /><span>{L_fontsize3_note}</span></dt>
			<dd><input type="text" name="fontsize3" size="3" maxlength="4" value="{FONTSIZE3}" class="input" {FONTSIZE3_DISABLED} /> px</dd>
		</dl>
		<dl>
			<dt><label>{L_fontcolor1}</label><br /><span>{L_fontcolor1_note}</span></dt>
			<dd>{CP_FONTCOLOR1}</dd>
		</dl>
		<dl>
			<dt><label>{L_fontcolor2}</label><br /><span>{L_fontcolor2_note}</span></dt>
			<dd>{CP_FONTCOLOR2}</dd>
		</dl>
		<dl>
			<dt><label>{L_fontcolor3}</label><br /><span>{L_fontcolor3_note}</span></dt>
			<dd>{CP_FONTCOLOR3}</dd>
		</dl>
		<dl>
			<dt><label>{L_fontcolor_neg}</label><br /><span>{L_fontcolor_neg_note}</span></dt>
			<dd>{CP_FONTCOLOR_NEG}</dd>
		</dl>
		<dl>
			<dt><label>{L_fontcolor_pos}</label><br /><span>{L_fontcolor_pos_note}</span></dt>
			<dd>{CP_FONTCOLOR_POS}</dd>
		</dl>
	</fieldset>	
	<fieldset class="settings">
		<legend>{L_pk_set_linkstable}</legend>
		<dl>
			<dt><label>{L_body_link}</label></dt>
			<dd>{CP_BODY_LINK}</dd>
		</dl>
		<dl>
			<dt><label>{L_body_link_style}</label></dt>
			<dd>{DD_LINK_STYLE}</dd>
		</dl>
		<dl>
			<dt><label>{L_body_hlink}</label></dt>
			<dd>{CP_BODY_HLINK}</dd>
		</dl>
		<dl>
			<dt><label>{L_body_hlink_style}</label></dt>
			<dd>{DD_HLINK_STYLE}</dd>
		</dl>
		<dl>
			<dt><label>{L_header_link}</label></dt>
			<dd>{CP_HEADER_LINK}</dd>
		</dl>
		<dl>
			<dt><label>{L_header_link_style}</label></dt>
			<dd>{DD_HEAD_LINK_STYLE}</dd>
		</dl>
		<dl>
			<dt><label>{L_header_hlink}</label></dt>
			<dd>{CP_HEADER_HLINK}</dd>
		</dl>
		<dl>
			<dt><label>{L_header_hlink_style}</label></dt>
			<dd>{DD_HEAD_HLINK_STYLE}</dd>
		</dl>
	</fieldset>
	<fieldset class="settings">
		<legend>{L_tables}</legend>
		<dl>
			<dt><label>{L_tr_color1}</label></dt>
			<dd>{CP_TR_COLOR1}</dd>
		</dl>
		<dl>
			<dt><label>{L_tr_color2}</label></dt>
			<dd>{CP_TR_COLOR2}</dd>
		</dl>
		<dl>
			<dt><label>{L_th_color1}</label></dt>
			<dd>{CP_TH_COLOR1}</dd>
		</dl>
		<dl>
			<dt><label>{L_table_border_width}</label></dt>
			<dd><input type="text" name="table_border_width" size="2" maxlength="3" value="{TABLE_BORDER_WIDTH}" class="input" {TABLE_BORDER_WIDTH_DISABLED} /> px</dd>
		</dl>
		<dl>
			<dt><label>{L_table_border_color}</label></dt>
			<dd>{CP_TABLE_BORDER}</dd>
		</dl>
		<dl>
			<dt><label>{L_table_border_style}</label></dt>
			<dd>{DD_TABLE_BORDERSTYLE}</dd>
		</dl>
	</fieldset>
	<fieldset class="settings">
		<legend>{L_inputs}</legend>
		<dl>
			<dt><label>{L_input_color}</label></dt>
			<dd>{CP_INPUT_COLOR}</dd>
		</dl>
		<dl>
			<dt><label>{L_input_border_width}</label></dt>
			<dd><input type="text" name="input_border_width" size="2" maxlength="3" value="{INPUT_BORDER_WIDTH}" class="input" {INPUT_BORDER_WIDTH_DISABLED} /> px</dd>
		</dl>
		<dl>
			<dt><label>{L_input_border_color}</label></dt>
			<dd>{CP_INPUT_BORDER}</dd>
		</dl>
		<dl>
			<dt><label>{L_input_border_style}</label></dt>
			<dd>{DD_INPUT_BORDERSTYLE}</dd>
		</dl>
	</fieldset>
</div>


<div id="class_colors">
	<fieldset class="settings">
		<legend>{L_core_sett_f_class_colors}</legend>
		<!-- BEGIN classes -->
		<dl>
			<dt><label>{classes.NAME}</label></dt>
			<dd>{classes.CPICKER}</dd>
		</dl>
		<!-- END classes -->
	</fieldset>
</div>

<div id="templates">			
	<fieldset class="settings smallsettings">
		<legend>{L_edit_templates}</legend>
		<div class="infobox infobox-large infobox-red clearfix">
			<i class="fa fa-exclamation-triangle fa-4x pull-left"></i> {L_TEMPLATE_WARNING}
		</div>

		<dl>
			<dt><label>{L_select_template}:</label></dt>
			<dd>{DD_EDIT_TEMPLTES}</dd>
		</dl>

		<input type="hidden" name="template" />{TEMPLATE_CONTENT}
	</fieldset>
	<button name="template_edit_button" type="submit" class="mainoption" id="template_edit_button"><i class="fa fa-check"></i>{L_save}</button>
	<button name="template_reset_button" type="submit" class="mainoption" id="template_reset_buttonn"><i class="fa fa-trash-o"></i>{L_reset}</button>
</div>

</div>

<div class="contentFooter">
	<button type="submit" name="update" class="mainoption"><i class="fa fa-check"></i>{L_update_style}</button>
	<button type="submit" name="" class="liteoption"><i class="fa fa-chevron-left"></i>{L_cancel}</button>
	<button type="button" name="del" class="liteoption" onclick="delete_warning();"><i class="fa fa-times"></i>{L_delete_style}</button>
</div>
{CSRF_TOKEN}
</form>
<!-- ENDIF -->