<!-- IF S_NORMAL_HEADER -->
<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li><a href="{EQDKP_ROOT_PATH}admin/{SID}">{L_menu_admin_panel}</a>
		<li class="current"><a>{L_pdc_manager}</a></li>
	</ul>
	<div class="clear"></div>
</div>
<!-- ENDIF -->

<form method="post" action="{ACTION}" name="post">
<fieldset class="settings">
	<legend>{L_pdc_settings}</legend>
	<dl>
		<dt>
			<label>{L_pdc_cache_select_text}</label><br />
			<span>{L_pdc_cache_select_info}</span>
		</dt>
		<dd>
			<label>
				<select name="cache_selection" class="input" id="cache_select">
					<!-- BEGIN cache_selection_row -->
					<option value="{cache_selection_row.VALUE}"{cache_selection_row.SELECTED}>{cache_selection_row.OPTION}</option>
					<!-- END cache_selection_row -->
				</select>
			</label>
		</dd>
	</dl>
	<div id="all_cache_divs">
	<div id="div_cache_none" style="display:{DIV_CACHE_NONE_VISIBLE}">
		<div class="infobox infobox-large infobox-red clearfix">
			<i class="fa fa-exclamation-triangle fa-4x pull-left"></i> {L_pdc_cache_info_none}
		</div>
	</div>

	<div id="div_cache_file" style="display:{DIV_CACHE_FILE_VISIBLE}">
		<div class="infobox infobox-large infobox-blue clearfix">
			<i class="fa fa-info-circle fa-4x pull-left"></i> {L_pdc_cache_info_file}
		</div>
		<br />
		<dl>
			<dt><label>{L_pdc_dttl_text}</label><br /><span>{L_pdc_dttl_help}</span></dt>
			<dd><label><input type='text' name='cache_file[dttl]' size='32' value="{V_CACHE_FILE_DTTL}" class='input' /></label></dd>
		</dl>
		<dl>
			<dt><label>{L_pdc_globalprefix}</label><br /><span>{L_pdc_globalprefix_help}</span></dt>
			<dd><label><input type='text' name='cache_file[prefix]' size='32' value="{V_CACHE_FILE_PREFIX}" class='input' /></label></dd>
		</dl>
	</div>

	<div id="div_cache_xcache" style="display:{DIV_CACHE_XCACHE_VISIBLE}">
		<div class="infobox infobox-large infobox-blue clearfix">
			<i class="fa fa-info-circle fa-4x pull-left"></i> {L_pdc_cache_info_xcache}
		</div>
		<br />
		<dl>
			<dt><label>{L_pdc_dttl_text}</label><br /><span>{L_pdc_dttl_help}</span></dt>
			<dd><label><input type='text' name='cache_xcache[dttl]' size='32' value="{V_CACHE_XCACHE_DTTL}" class='input' /></label></dd>
		</dl>
		<dl>
			<dt><label>{L_pdc_globalprefix}</label><br /><span>{L_pdc_globalprefix_help}</span></dt>
			<dd><label><input type='text' name='cache_xcache[prefix]' size='32' value="{V_CACHE_XCACHE_PREFIX}" class='input' /></label></dd>
		</dl>
	</div>
	<div id="div_cache_apc" style="display:{DIV_CACHE_APC_VISIBLE}">
		<div class="infobox infobox-large infobox-blue clearfix">
			<i class="fa fa-info-circle fa-4x pull-left"></i> {L_pdc_cache_info_apc}
		</div>
		<br />
		<dl>
			<dt><label>{L_pdc_dttl_text}</label><br /><span>{L_pdc_dttl_help}</span></dt>
			<dd><label><input type='text' name='cache_apc[dttl]' size='32' value="{V_CACHE_APC_DTTL}" class='input' /></label></dd>
		</dl>
		<dl>
			<dt><label>{L_pdc_globalprefix}</label><br /><span>{L_pdc_globalprefix_help}</span></dt>
			<dd><label><input type='text' name='cache_apc[prefix]' size='32' value="{V_CACHE_APC_PREFIX}" class='input' /></label></dd>
		</dl>
	</div>
	<div id="div_cache_memcache" style="display:{DIV_CACHE_MEMCACHE_VISIBLE}">
		<div class="infobox infobox-large infobox-blue clearfix">
			<i class="fa fa-info-circle fa-4x pull-left"></i> {L_pdc_cache_info_memcache}
		</div>
		<br />
		<dl>
			<dt><label>{L_pdc_dttl_text}</label><br /><span>{L_pdc_dttl_help}</span></dt>
			<dd><label><input type='text' name='cache_memcache[dttl]' size='32' value="{V_CACHE_MEMCACHE_DTTL}" class='input' /></label></dd>
		</dl>
		<dl>
			<dt><label>{L_pdc_globalprefix}</label><br /><span>{L_pdc_globalprefix_help}</span></dt>
			<dd><label><input type='text' name='cache_memcache[prefix]' size='32' value="{V_CACHE_MEMCACHE_PREFIX}" class='input' /></label></dd>
		</dl>
		<dl>
			<dt><label>{L_pdc_memcache_server_text}</label><br /><span>{L_pdc_memcache_server_help}</span></dt>
			<dd><label><input type='text' name='cache_memcache[server]' size='32' value="{V_CACHE_MEMCACHE_SERVER}" class='input' /></label></dd>
		</dl>
		<dl>
			<dt><label>{L_pdc_memcache_port_text}</label><br /><span>{pdc_memcache_port_help}</span></dt>
			<dd><label><input type='text' name='cache_memcache[port]' size='32' value="{V_CACHE_MEMCACHE_PORT}" class='input' /></label></dd>
		</dl>
	</div>
	</div>
	<br />
	<div>
		<button type="submit" name="cache_save" class="mainoption"><i class="fa fa-check"></i>{L_save}</button>
	</div>
</fieldset>

<!-- IF PDC_CACHE_ENABLED -->
<br />
<fieldset class="settings">
	<legend>{L_pdc_table}</legend>
	<div class="infobox infobox-large infobox-blue clearfix">
		<i class="fa fa-info-circle fa-4x pull-left"></i> {L_CACHE_TABLE_INFO}
	</div>
	<br />
	<div class="tableHeader floatRight">
		<button type="submit" name="cache_clear" class="mainoption"><i class="fa fa-times"></i>{L_pdc_clear}</button>
		<button type="submit" name="cache_cleanup" class="mainoption"><i class="fa fa-trash-o"></i>{L_pdc_cleanup}</button>
	</div>
	<table class="table fullwidth colorswitch hoverrows">
		<tr>
			<th>{L_pdc_globalprefix}</th>
			<th>{L_pdc_entity}</th>
			<th>{L_pdc_status}</th>
			<th>{L_pdc_expire_time}</th>
		</tr>
		<!-- BEGIN cache_entity_list_row -->
		<tr>
			<td>{cache_entity_list_row.GLOBAL_PREFIX}</td>
			<td>{cache_entity_list_row.KEY}</td>
			<td>{cache_entity_list_row.EXPIRED}</td>
			<td>{cache_entity_list_row.EXPIRY_DATE}</td>
		</tr>
		<!-- END cache_entity_list_row -->
	</table>
	<br />
	<div>
		<button type="submit" name="cache_clear" class="mainoption"><i class="fa fa-times"></i>{L_pdc_clear}</button>
		<button type="submit" name="cache_cleanup" class="mainoption"><i class="fa fa-trash-o"></i>{L_pdc_cleanup}</button>
	</div>
</fieldset>
<!-- ENDIF -->
{CSRF_TOKEN}
</form>