<!-- INCLUDE page_header.html -->
<table width="80%" border="0" cellspacing="0" cellpadding="2" class="outline" align="center">
  <tr class="row4">
    <th align="center">&nbsp;</th>
  </tr>
  <tr>
    <td class="row1" align="center">
    <!-- BEGIN root_menu -->
    <b>{root_menu.TEXT}</b><br />
    <!-- BEGIN sub_menu -->
    {root_menu.sub_menu.TEXT}
    <!-- END sub_menu -->
    <br /><br />
    <!-- END root_menu -->
    </td>
  </tr>
  <tr>
    <th class="pageingnav"></th>
  </tr>
  <tr>
  	<td class="spacerow"></td>
  </tr>
</table>
<!-- INCLUDE page_tail.html -->