<!-- INCLUDE page_header.html -->
<table width="100%" border="0" cellspacing="1" cellpadding="2">
  <tr>
    <th align="center" colspan="2">{L_MEMBERS_PRESENT_AT}</th>
  </tr>
  <tr rowspan="2"><td> {EVENT_ICON} </td>
	<td align=left width="100%">
		  	<table width="100%" border="0" cellspacing="1" cellpadding="2">
		  <tr>
		    <td align="left" width="100%" colspan="2"><b>{EVENT_NAME}</b></td>
		  </tr>
		  <tr>
		    <td class="row2" width="50%"><b>{L_ADDED_BY}:</b> {RAID_ADDED_BY}</td>
		    <td class="row1" width="50%"><b>{L_UPDATED_BY}:</b> {RAID_UPDATED_BY}</td>
		  </tr>
		  <tr>
		    <td class="row2" width="50%"><b>{L_NOTE}:</b> {RAID_NOTE}</td>
		    <td class="row1" width="50%"><b>{DKP_NAME} {L_VALUE}:</b> <span class="positive">{RAID_VALUE}</span></td>
		  </tr>
		</table>
  </td> </tr>
</table>
<br />
<table width="100%" border="0" cellspacing="1" cellpadding="2">
  <tr>
    <th align="center" colspan="{COLSPAN}">{L_ATTENDEES}</th>
  </tr>
  <!-- BEGIN attendees_row -->
  <tr>
    <!-- IF S_COLUMN0 --><td class="row2" width="{COLUMN_WIDTH}%" nowrap="nowrap">{attendees_row.COLUMN0_NAME}</td><!-- ENDIF -->
    <!-- IF S_COLUMN1 --><td class="row1" width="{COLUMN_WIDTH}%" nowrap="nowrap">{attendees_row.COLUMN1_NAME}</td><!-- ENDIF -->
    <!-- IF S_COLUMN2 --><td class="row2" width="{COLUMN_WIDTH}%" nowrap="nowrap">{attendees_row.COLUMN2_NAME}</td><!-- ENDIF -->
    <!-- IF S_COLUMN3 --><td class="row1" width="{COLUMN_WIDTH}%" nowrap="nowrap">{attendees_row.COLUMN3_NAME}</td><!-- ENDIF -->
    <!-- IF S_COLUMN4 --><td class="row2" width="{COLUMN_WIDTH}%" nowrap="nowrap">{attendees_row.COLUMN4_NAME}</td><!-- ENDIF -->
    <!-- IF S_COLUMN5 --><td class="row1" width="{COLUMN_WIDTH}%" nowrap="nowrap">{attendees_row.COLUMN5_NAME}</td><!-- ENDIF -->
    <!-- IF S_COLUMN6 --><td class="row2" width="{COLUMN_WIDTH}%" nowrap="nowrap">{attendees_row.COLUMN6_NAME}</td><!-- ENDIF -->
    <!-- IF S_COLUMN7 --><td class="row1" width="{COLUMN_WIDTH}%" nowrap="nowrap">{attendees_row.COLUMN7_NAME}</td><!-- ENDIF -->
    <!-- IF S_COLUMN8 --><td class="row2" width="{COLUMN_WIDTH}%" nowrap="nowrap">{attendees_row.COLUMN8_NAME}</td><!-- ENDIF -->
    <!-- IF S_COLUMN9 --><td class="row1" width="{COLUMN_WIDTH}%" nowrap="nowrap">{attendees_row.COLUMN9_NAME}</td><!-- ENDIF -->
  </tr>
  <!-- END attendees_row -->
  <tr>
    <th colspan="{COLSPAN}" class="footer">{ATTENDEES_FOOTCOUNT}</th>
  </tr>
</table>
<br />
<table width="100%" border="0" cellspacing="1" cellpadding="2">
  <tr>
    <th align="center" colspan="3">{L_DROPS}</th>
  </tr>
  <tr>
    <th align="left" width="100" nowrap="nowrap">{L_BUYER}</th>
    <th align="left" width="100%">{L_ITEM}</th>
    <th align="left" width="60" nowrap="nowrap">{L_SPENT}</th>
  </tr>
  <!-- BEGIN items_row -->
  <tr class="{items_row.ROW_CLASS}">
    <td width="120" nowrap="nowrap">{items_row.BUYER}</td>
    <td width="100%"><a href="{items_row.U_VIEW_ITEM}">{items_row.NAME}</a></td>
    <td width="60" class="negative">{items_row.VALUE}</td>
  </tr>
  <!-- END items_row -->
  <tr>
    <th colspan="3" class="footer">{ITEM_FOOTCOUNT}</th>
  </tr>
</table>
<br />
<table width="100%" border="0" cellspacing="1" cellpadding="2">
  <tr>
    <th align="center" colspan="3">{L_CLASS_DISTRIBUTION}</th>
  </tr>
  <tr>
    <th align="left" width="100">{L_CLASS}</th>
    <th align="left" width="50%">{L_PERCENT}</th>
    <th align="left" width="50%">{L_ATTENDEES}</th>
  </tr>
  <!-- BEGIN class_row -->
  <tr>
    <td width="100" nowrap="nowrap" class="row2">{class_row.CLASS}</td>
    <td width="50%" class="row1">{class_row.BAR}</td>
    <td width="50%" class="row2"><span class="small">{class_row.ATTENDEES}</span></td>
  </tr>
  <!-- END class_row -->
</table>
 <!-- IF ITEMHISTORY_DIA -->
<br/>
<table width="100%" border="0" cellspacing="1" cellpadding="2">
  <tr>
    <th align="center" colspan="3">{L_CLASS_DISTRIBUTION}</th>
  </tr>
 <tr>
 <td class="row2">
 {CLASS_PERCENT_CHART}
 </td>
 </tr>
</table>
<!-- ENDIF -->
<br>
{COMMENT}
<!-- INCLUDE page_tail.html -->
