
<section data-article-id="{ARTICLE_ID}" data-article-category-id="{ARTICLE_REAL_CATEGORY}" class="article_detail_container <!-- IF S_FEATURED -->featured<!-- ENDIF -->"  itemprop="mainEntity" itemscope itemtype="http://schema.org/Article">
	<!-- IF not S_HIDE_HEADER -->
	<nav class="nextAndPrevArticles">
		<!-- IF S_PREV_ARTICLE -->
		<a href="{U_PREV_ARTICLE}" title="{PREV_TITLE}" class="prevArticle"><i class="fa fa-chevron-left"></i> {PREV_TITLE}</a>
		<!-- ENDIF -->

		<!-- IF S_NEXT_ARTICLE -->
		<a href="{U_NEXT_ARTICLE}" title="{NEXT_TITLE}" class="nextArticle floatRight">{NEXT_TITLE} <i class="fa fa-chevron-right"></i></a>
		<!-- ENDIF -->
		<div class="clear"></div>
		<br />
	</nav>
	
	<header>
		<div class="contentHeader">
			<h1 class="contentTitle">
				<!-- IF not ARTICLE_PUBLISHED -->
				<i class="fa fa-eye-slash fa-lg "></i>
				<!-- ENDIF -->
				
			<span class="<!-- IF S_INLINE_EDIT -->headline_inlineedit<!-- ENDIF -->" itemprop="name headline">{ARTICLE_TITLE}</span>
				<!-- IF S_TOOLBAR -->
				<div class="floatRight">
					<div class="toolbar-button">
						<span class="{ARTICLE_TOOLBAR} toolbar"><i class="fa fa-cog"></i></span>
					</div>
				</div>
				<!-- ENDIF -->
				<div class="floatRight">
					<a href="{PERMALINK}" title="{L_permalink}" class="permalink"><i class="fa fa-link"></i></a>
				</div>
			</h1>
		</div>
		<div class="news_author">
			<div class="floatLeft">
				{ARTICLE_AUTHOR_AVATAR}
				<span class="news_author_user" itemprop="author" itemscope itemtype="http://schema.org/Person">{ARTICLE_AUTHOR}</span> &bull;
				<span class="news_author_date"><i class="fa fa-calendar-o"></i> {ARTICLE_TIMETAG} </span><span class="news_author_category" style="display:none;">&bull; <i class="fa fa-folder-o"></i> {ARTICLE_REAL_CATEGORY_NAME}</span> <!-- IF S_COMMENTS --><span class="news_author_comments"> &bull; <a href="#comments"><i class="fa fa-comments"></i> {COMMENTS_COUNTER}</a></span><!-- ENDIF -->
				<meta itemprop="datePublished" content="{ARTICLE_DATE_ATOM}">
				<meta itemprop="dateModified" content="{ARTICLE_DATE_ATOM}">
			</div>
			<div class="clear"></div>
		</div>
	</header>
	<!-- ELSE -->
		<!-- IF S_TOOLBAR -->
		<div class="floatRight">
			<div class="toolbar-button">
				<span class="{ARTICLE_TOOLBAR} toolbar"><i class="fa fa-cog"></i></span>
			</div>
		</div>
		<!-- ENDIF -->
	<!-- ENDIF -->
	
	<meta itemprop="mainEntityOfPage" content="{ARTICLE_LINK}">
			<div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
				<meta itemprop="name" content="{MAIN_TITLE}">
				<div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
					<meta itemprop="url" content="{HEADER_LOGO}">
				</div>
			</div>

	<!-- IF S_PAGINATION -->
	<aside class="articleSitemap">
		<ul>
		<!-- BEGIN articlesitemap_row -->
		<li <!-- IF articlesitemap_row.ACTIVE-->class="active"<!-- ENDIF -->>{articlesitemap_row.LINK}</li>
		<!-- END articlesitemap_row -->
		</ul>
	</aside>
	<!-- ENDIF -->
	<article class="article_content <!-- IF S_INLINE_EDIT -->article-inlineedit<!-- ENDIF -->">
		<!-- IF not ARTICLE_PUBLISHED -->
		<div class="infobox infobox-large infobox-red clearfix">
			<i class="fa fa-eye-slash fa-lg"></i> {L_article_unpublished_note}
		</div>
		<!-- ENDIF -->
	
		<!-- PRE ARTICLE_CONTENT -->
	</article>
	<div class="clear"></div>
	{PAGINATION}

	<!-- IF not S_HIDE_HEADER -->
	<div class="news_social">
		{ARTICLE_SOCIAL_BUTTONS}
	</div>
	<!-- ENDIF -->

	<footer class="tags-container">
		<!-- IF S_TAGS -->
		 <ul class="tags">
			<!-- BEGIN tag_row -->
			<li><a href="{tag_row.U_TAG}">{tag_row.TAG}</a></li>
			<!-- END tag_row -->
		</ul>
		<!-- ENDIF -->
		<div class="<!-- IF S_TAGS -->floatRight<!-- ENDIF -->">{ARTICLE_RATING}</div>
		<div class="clear"></div>
	</footer>
	<div class="contentDivider"></div>

	<span id="comments"></span>
	{COMMENTS}

</section>
