<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		{BREADCRUMB}
	</ul>
	<div class="clear"></div>
</div>

<section data-category-id="{CATEGORY_ID}">
	<!-- IF not S_HIDE_HEADER -->
	<header>
		<hgroup class="contentHeader">
			<h1 class="contentTitle">{CATEGORY_NAME}
			<!-- IF S_TOOLBAR --> 
				<div class="floatRight">
					<div class="toolbar-button">
						<span class="{ARTICLE_TOOLBAR} toolbar"><i class="fa fa-cog"></i></span>
					</div>
				</div>
			<!-- ENDIF -->
			<div class="floatRight normal-fontsize">
				<a href="{RSSLINK}" title="{L_rsslink}" class="rsslink"><i class="fa fa-rss"></i></a>
				<a href="{PERMALINK}" title="{L_permalink}" class="permalink"><i class="fa fa-link"></i></a>
			</div>
			</h1>
		</hgroup>
		<!-- IF S_CHILDS -->
		<div class="categoryChildSitemap">
			<ul>
				<!-- BEGIN child_row -->
				<li><a href="{child_row.U_PATH}" title="{child_row.DESC} ">{child_row.NAME} ({child_row.COUNT})</a></li>
				<!-- END child_row -->
			</ul>
		</div>
		<!-- ENDIF -->
		{CATEGORY_DESCRIPTION}
		<div class="clear"></div>
	</header>
	<!-- ENDIF -->



	<div class="article-container-wrapper">
		<!-- IF LIST_TYPE == 1 -->
		<!-- BEGIN article_row -->
		<article class="article-container list-type1 <!-- IF article_row.S_FEATURED -->featured<!-- ENDIF -->" data-article-id="{article_row.ARTICLE_ID}" data-article-category-id="{article_row.ARTICLE_REAL_CATEGORY}">
			<!-- IF not article_row.S_HIDE_HEADER -->
			<header>
				<h2>
				<!-- IF not article_row.ARTICLE_PUBLISHED -->
				<i class="fa fa-eye-slash fa-lg "></i>
				<!-- ENDIF -->
				<a href="{article_row.ARTICLE_PATH}">{article_row.ARTICLE_TITLE}</a>
					<!-- IF article_row.S_TOOLBAR --> 
					<div class="floatRight">
						<div class="toolbar-button">
							<span class="{article_row.ARTICLE_TOOLBAR} toolbar"><i class="fa fa-cog"></i></span>
						</div>
					</div>
					<!-- ENDIF -->
					<div class="floatRight">
						<a href="{article_row.PERMALINK}" title="{L_permalink}" class="permalink"><i class="fa fa-link"></i></a>
					</div>
				</h2>
					
				<div class="news_author">
					<div class="floatLeft">
						<i class="fa fa-clock-o"></i> {article_row.ARTICLE_TIMETAG} &bull; <i class="fa fa-user"></i> {article_row.ARTICLE_AUTHOR} <!-- IF article_row.S_COMMENTS --> &bull; <a href="{article_row.ARTICLE_PATH}#comments"><i class="fa fa-comments"></i> {article_row.COMMENTS_COUNTER}</a><!-- ENDIF -->
					
					</div>
					<div class="news_social floatRight">
						{article_row.ARTICLE_SOCIAL_BUTTONS}
					</div>
					<div class="clear"></div>
				</div>
			</header>
			<!-- ENDIF -->
			<div class="article_content">
				<!-- IF not article_row.ARTICLE_PUBLISHED -->
				<div class="infobox infobox-large infobox-red clearfix">
					<i class="fa fa-eye-slash fa-lg"></i> {L_article_unpublished_note}
				</div>
				<!-- ENDIF -->

				{article_row.ARTICLE_CONTENT}
			</div>
			<!-- IF article_row.S_READMORE -->
			<div>
				<a href="{article_row.ARTICLE_PATH}#system-readmore" class="button"><i class="fa fa-chevron-down"></i>{L_news_readmore}</a>
			</div>
			<!-- ENDIF -->
			<div class="clear"></div>
			<footer class="tags-container">
				<!-- IF article_row.S_TAGS -->
				 <ul class="tags small">
					<!-- BEGIN tag_row -->
					<li><a href="{article_row.tag_row.U_TAG}">{article_row.tag_row.TAG}</a></li>
					<!-- END tag_row -->
				</ul>
				<!-- ENDIF -->
				
				<div class="floatRight"><a href="#top"><i class="fa fa-chevron-up"></i></a></div>
			</footer>
			<div class="clear"></div>
			
		</article>
		<!-- END article_row -->
		<!-- ENDIF -->

		<!-- IF LIST_TYPE == 2 -->
		<!-- BEGIN article_row -->
		<article class="article-container list-type2 <!-- IF article_row.S_FEATURED -->featured<!-- ENDIF -->" data-article-id="{article_row.ARTICLE_ID}" data-article-category-id="{article_row.ARTICLE_REAL_CATEGORY}">
			<header>
				<!-- IF article_row.ARTICLE_PREVIEW_IMAGE != "" -->
					<img src="{article_row.ARTICLE_PREVIEW_IMAGE}" class="floatLeft articlePreviewImage" style="margin-right: 5px;"/>
				<!-- ENDIF -->
				<div class="floatLeft">
					<h3>
					<!-- IF not article_row.ARTICLE_PUBLISHED -->
					<i class="fa fa-eye-slash fa-lg "></i>
					<!-- ENDIF -->
					<a href="{article_row.ARTICLE_PATH}">{article_row.ARTICLE_TITLE}</a></h3>
					<br />
					<!-- IF not article_row.S_HIDE_HEADER -->
					<p>
					{article_row.ARTICLE_DATE} - {article_row.ARTICLE_SUBMITTED}<!-- IF article_row.S_COMMENTS --> (<a href="{article_row.ARTICLE_PATH}#comments"><i class="fa fa-comments"></i>{article_row.COMMENTS_COUNTER}</a>)<!-- ENDIF -->
					</p>
					<!-- ENDIF -->
				</div>
				
				<div class="clear"></div>
			</header>
		</article>
		<!-- END article_row -->
		<!-- ENDIF -->

		<!-- IF LIST_TYPE == 3 -->
		<!-- BEGIN article_row -->
		<article class="article-container list-type3 <!-- IF article_row.S_FEATURED -->featured<!-- ENDIF -->" data-article-id="{article_row.ARTICLE_ID}" data-article-category-id="{article_row.ARTICLE_REAL_CATEGORY}">
			<!-- IF not article_row.S_HIDE_HEADER -->
			<header>
				<h2>
				<!-- IF not article_row.ARTICLE_PUBLISHED -->
				<i class="fa fa-eye-slash fa-lg "></i>
				<!-- ENDIF -->
				<a href="{article_row.ARTICLE_PATH}">{article_row.ARTICLE_TITLE}</a>
				<!-- IF article_row.S_TOOLBAR --> 
					<div class="floatRight">
						<div class="toolbar-button">
							<span class="{article_row.ARTICLE_TOOLBAR} toolbar"><i class="fa fa-cog"></i></span>
						</div>
					</div>
				<!-- ENDIF -->
					<div class="floatRight">
						<a href="{article_row.PERMALINK}" title="{L_permalink}" class="permalink"><i class="fa fa-link"></i></a>
					</div>
				</h2>
				
				<div class="news_author">
					<div class="floatLeft">
						<i class="fa fa-clock-o"></i>  {article_row.ARTICLE_TIMETAG} &bull; <i class="fa fa-user"></i> {article_row.ARTICLE_AUTHOR} <!-- IF article_row.S_COMMENTS --> &bull; <a href="{article_row.ARTICLE_PATH}#comments"><i class="fa fa-comments"></i>{article_row.COMMENTS_COUNTER}</a><!-- ENDIF -->
					</div>
					<div class="news_social floatRight">
						{article_row.ARTICLE_SOCIAL_BUTTONS}
					</div>
					<div class="clear"></div>
				</div>
			</header>
			<!-- ENDIF -->
			<div class="article_content">
				<!-- IF not article_row.ARTICLE_PUBLISHED -->
				<div class="infobox infobox-large infobox-red clearfix">
					<i class="fa fa-eye-slash fa-lg"></i> {L_article_unpublished_note}
				</div>
				<!-- ENDIF -->
				{article_row.ARTICLE_CUTTED_CONTENT}
			</div>
			<footer>
				<div>
					<a href="{article_row.ARTICLE_PATH}#system-readmore" class="button"><i class="fa fa-chevron-down"></i>{L_news_readmore}</a>
				</div>
				<div class="tags-container">
					<!-- IF article_row.S_TAGS -->
					 <ul class="tags small">
						<!-- BEGIN tag_row -->
						<li><a href="{article_row.tag_row.U_TAG}">{article_row.tag_row.TAG}</a></li>
						<!-- END tag_row -->
					</ul>
					<!-- ENDIF -->
					<div class="floatRight"><a href="#top"><i class="fa fa-chevron-up"></i></a></div>
				</div>
				<div class="clear"></div>
			</footer>
		</article>
		<!-- END article_row -->
		<!-- ENDIF -->
		{PAGINATION}
	</div>
</section>