<!-- BEGIN article_row -->
		<article class="article-container list-type3 <!-- IF article_row.S_FEATURED -->featured<!-- ENDIF -->" data-article-id="{article_row.ARTICLE_ID}" data-article-category-id="{article_row.ARTICLE_REAL_CATEGORY}">
			<!-- IF not article_row.S_HIDE_HEADER -->
			<div class="table fullwidth">
					<div class="tr">
						<div class="td bigDateTd">
							<div class="bigDateContainer">
								<span class="bigDateNumber">{article_row.ARTILE_DATE_DAY}</span>
								<span class="articleMonth">{article_row.ARTILE_DATE_MONTH}</span>
								
								<div class="ribbon"><span>{article_row.ARTICLE_REAL_CATEGORY_NAME}</span></div>
							</div>
						</div>
						<div class="td">
							<header>
								<h2>
								<!-- IF not article_row.ARTICLE_PUBLISHED -->
								<i class="fa fa-eye-slash fa-lg "></i>
								<!-- ENDIF -->
								<a href="{article_row.ARTICLE_PATH}">{article_row.ARTICLE_TITLE}</a>
								<!-- IF article_row.S_TOOLBAR --> 
									<div class="floatRight">
										<div class="toolbar-button">
											<span class="{article_row.ARTICLE_TOOLBAR} toolbar"><i class="fa fa-cog"></i></span>
										</div>
									</div>
								<!-- ENDIF -->
									<div class="floatRight">
										<a href="{article_row.PERMALINK}" title="{L_permalink}" class="permalink"><i class="fa fa-link"></i></a>
									</div>
								</h2>
								
								<div class="news_author">
									<div class="floatLeft">
										{article_row.ARTICLE_AUTHOR_AVATAR}<span class="news_author_user"> {article_row.ARTICLE_AUTHOR}</span> &bull; <span class="news_author_date"><i class="fa fa-calendar-o"></i> {article_row.ARTICLE_TIMETAG} </span><span class="news_author_category" style="display:none;"> &bull; <i class="fa fa-folder-o"></i> {article_row.ARTICLE_REAL_CATEGORY_NAME}</span> <!-- IF article_row.S_COMMENTS --><span class="news_author_comments"> &bull; <a href="{article_row.ARTICLE_PATH}#comments"><i class="fa fa-comments"></i> {article_row.COMMENTS_COUNTER}</a></span><!-- ENDIF -->
									</div>
									<div class="news_social floatRight">
										{article_row.ARTICLE_SOCIAL_BUTTONS}
									</div>
									<div class="clear"></div>
								</div>
							</header>

							<div class="article_content">
								<!-- IF not article_row.ARTICLE_PUBLISHED -->
								<div class="infobox infobox-large infobox-red clearfix">
									<i class="fa fa-eye-slash fa-lg"></i> {L_article_unpublished_note}
								</div>
								<!-- ENDIF -->
								{article_row.ARTICLE_CONTENT}
							</div>
							<footer>
								<!-- IF article_row.ARTICLE_CONTENT_LENGTH > 600 -->
								<div>
									<a href="{article_row.ARTICLE_PATH}#system-readmore" class="button readmore"><i class="fa fa-chevron-down"></i>{L_news_readmore}</a>
								</div>
								<!-- ENDIF -->
								<div class="tags-container">
									<!-- IF article_row.S_TAGS -->
									 <ul class="tags small">
										<!-- BEGIN tag_row -->
										<li><a href="{article_row.tag_row.U_TAG}">{article_row.tag_row.TAG}</a></li>
										<!-- END tag_row -->
									</ul>
									<!-- ENDIF -->
									<div class="floatRight"><a href="#top"><i class="fa fa-chevron-up"></i></a></div>
								</div>
								<div class="clear"></div>
							</footer>
						</div>
					</div>
			</div>
			
			<!-- ELSE -->

			<div class="article_content">
				<!-- IF not article_row.ARTICLE_PUBLISHED -->
				<div class="infobox infobox-large infobox-red clearfix">
					<i class="fa fa-eye-slash fa-lg"></i> {L_article_unpublished_note}
				</div>
				<!-- ENDIF -->
				{article_row.ARTICLE_CONTENT}
			</div>
			<footer>
				<!-- IF article_row.ARTICLE_CONTENT_LENGTH > 600 -->
				<div>
					<a href="{article_row.ARTICLE_PATH}#system-readmore" class="button readmore"><i class="fa fa-chevron-down"></i>{L_news_readmore}</a>
				</div>
				<!-- ENDIF -->
				<div class="tags-container">
					<!-- IF article_row.S_TAGS -->
					 <ul class="tags small">
						<!-- BEGIN tag_row -->
						<li><a href="{article_row.tag_row.U_TAG}">{article_row.tag_row.TAG}</a></li>
						<!-- END tag_row -->
					</ul>
					<!-- ENDIF -->
					<div class="floatRight"><a href="#top"><i class="fa fa-chevron-up"></i></a></div>
				</div>
				<div class="clear"></div>
			</footer>
			<div class="clear"></div>
			<!-- ENDIF -->
		</article>
		<!-- END article_row -->