<div class="list-type4">
<!-- BEGIN article_row -->
		<article class="article-container list-type4 floatLeft <!-- IF article_row.S_FEATURED -->featured<!-- ENDIF -->" data-article-id="{article_row.ARTICLE_ID}" data-article-category-id="{article_row.ARTICLE_REAL_CATEGORY}">
			<div>
				<div class="article-banner-image">
					<a href="{article_row.ARTICLE_PATH}" style="background-image: url('<!-- IF article_row.ARTICLE_PREVIEW_IMAGE_BIG -->{article_row.ARTICLE_PREVIEW_IMAGE_BIG}<!-- ELSE -->{EQDKP_IMAGE_PATH}global/default-banner.jpg<!-- ENDIF -->')"> &nbsp; </a>
				</div>
				<div class="article_content">
								<h2>
								<!-- IF not article_row.ARTICLE_PUBLISHED -->
								<i class="fa fa-eye-slash fa-lg "></i>
								<!-- ENDIF -->
								<a href="{article_row.ARTICLE_PATH}">{article_row.ARTICLE_TITLE}</a></h2>
								<div>
								{article_row.ARTICLE_CONTENT}
								</div>
				</div>
				<div class="news_author">
					<p>
								{article_row.ARTICLE_AUTHOR_AVATAR} {article_row.ARTICLE_AUTHOR} &bull; <i class="fa fa-calendar-o"></i> {article_row.ARTICLE_TIMETAG} <!-- IF article_row.S_COMMENTS --> &bull; <i class="fa fa-folder-o"></i> {article_row.ARTICLE_REAL_CATEGORY_NAME} &bull; <a href="{article_row.ARTICLE_PATH}#comments"><i class="fa fa-comments"></i> {article_row.COMMENTS_COUNTER}</a><!-- ENDIF -->
								</p>
				</div>
			</div>

		</article>
		<!-- END article_row -->
<div class="clear"></div>		
</div>