<form method="post" action="{ACTION}" name="data" id="charactersform">
<input type='hidden' name='delete_id' id='delete_id' value='' />
{CSRF_TOKEN}
</form>
<!-- IF S_SHOW_NO_CONN_INFO -->
<div class="bluebox roundbox">
	<div class="icon_info">{L_no_connected_char_info}</div>
</div>
<br >
<!-- ENDIF -->
<!-- IF CONNECT_CHARS -->
<table width="100%" border="0" cellspacing="1" cellpadding="2">
	<tr>
		<th width="75%">
			<form method="post" action="{ACTION}">
				{L_associated_members}: {JS_CONNECTIONS} <input type="submit" name="connection_submit" value="{L_uc_connectme}" class="mainoption bi_ok" />
				{CSRF_TOKEN}
			</form>
		</th>
		<th width="25%">
			{ADD_MENU}
		</th>
	</tr>
</table>
<!-- ENDIF --> 
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="colorswitch">
	{CHAR_LIST}
</table>
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="borderless">
	<tr>
		<td align="center" class="menu">{CHAR_PAGINATION}</td>
	</tr>
</table>