<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li <!-- IF not S_DISPLAY_GROUP -->class="current"<!-- ENDIF -->><a href="{EQDKP_CONTROLLER_PATH}User{SEO_EXTENSION}{SID}">{L_user_list}</a></li>
		<!-- IF S_DISPLAY_GROUP -->
		<li class="current"><a>{L_usergroup}: {GROUPNAME}</a></li>
		<!-- ENDIF -->
	</ul>
	<div class="clear"></div>
</div>


<h1 class="pageTitle"><!-- IF S_DISPLAY_GROUP -->{GROUPNAME}<!-- ELSE -->{L_user_list}<!-- ENDIF --></h1>

<!-- IF S_DISPLAY_GROUP -->
<h3>{L_grpleaders}</h3>
<table class="table fullwidth hptt colorswitch scrollable-x">
	{PAGE_OUT_GRPLEADER}
</table>
<h3>{L_group_members}</h3>
<table class="table fullwidth hptt colorswitch scrollable-x">
	{PAGE_OUT}
</table>
<div>{USER_PAGINATION}</div>
<!-- ELSE -->
<table class="table fullwidth hptt colorswitch scrollable-x">
	{PAGE_OUT}
</table>
<div>{USER_PAGINATION}</div>
<!-- ENDIF -->