<form method="get" action="{ACTION}" id="form_listcharacters">
<div class="contentHeader">
	<h1 class="contentTitle"><!-- IF not S_POINTS_DISABLED -->{L_menu_standings}<!-- ELSE -->{L_menu_members}<!-- ENDIF --> <!-- IF MDKP_POOLNAME != "" -->&raquo; {MDKP_POOLNAME}<!-- ENDIF -->
	<div class="floatRight">
	{COMPARE_LINK}
	</div>
	</h1>
</div>

<div class="tableHeader">
{L_select_mdkppool}: <select name="mdkpid" class="input" onchange="form.submit();" >
					<!-- BEGIN mdkpid_row -->
					<option value="{mdkpid_row.VALUE}"{mdkpid_row.SELECTED}>{mdkpid_row.OPTION}</option>
					<!-- END mdkpid_row -->
				</select>
<br />
{L_filter}: <select name="filter" class="input" onchange="form.submit();" >
					<!-- BEGIN filter_row -->
					<option value="{filter_row.VALUE}"{filter_row.SELECTED}>{filter_row.OPTION}</option>
					<!-- END filter_row -->
				</select>
				<label><input type="checkbox" name="show_inactive" value="1" onchange="form.submit();" {SHOW_INACTIVE_CHECKED} /> {L_show_inactive}</label>
				<label><input type="checkbox" name="show_hidden" value="1" onchange="form.submit();" {SHOW_HIDDEN_RANKS_CHECKED} /> {L_show_hidden_ranks}</label>
				<!-- IF S_SHOW_TWINKS -->
				<label><input type="checkbox" name="show_twinks" value="1" onchange="form.submit();" {SHOW_TWINKS_CHECKED} /> {L_show_twinks}</label>
				<!-- ENDIF -->
</div>


	{LEADERBOARD}
	
	<br />
	<!-- IF MDKP_POOLNAME != "" --><h2>{MDKP_POOLNAME}</h2><!-- ELSE --><h2>{L_overview}</h2><!-- ENDIF -->
	<table class="table fullwidth trcheckboxclick hptt colorswitch scrollable-x">
		{POINTOUT}
	</table>

	<button type="submit" name="{BUTTON_NAME}" onclick="$('#form_listcharacters').attr('method', 'post');" value="{L_compare_members}"><i class="bi_compare"></i>{L_compare_members}</button>
	<input type="hidden" name="lbc" value="{LBC_VALUE}" id="lbc" />
</form>