
<h1 class="pageTitle"><!-- IF S_DISPLAY_GROUP -->{GROUPNAME}<!-- ELSE -->{L_user_list} {HPTT_ADMIN_LINK}<!-- ENDIF --></h1>

<!-- IF S_DISPLAY_GROUP -->
<h3>{L_grpleaders} <span class="bubble">{GRPLEADER_COUNT}</span> {HPTT_ADMIN_LINK}</h3>
<table class="table fullwidth hptt colorswitch scrollable-x">
	{PAGE_OUT_GRPLEADER}
</table>
<h3>{L_group_members} <span class="bubble">{USER_COUNT}</span> {HPTT_ADMIN_LINK}</h3>
<table class="table fullwidth hptt colorswitch scrollable-x">
	{PAGE_OUT}
</table>
<div>{USER_PAGINATION}</div>
<!-- ELSE -->
<table class="table fullwidth hptt colorswitch scrollable-x">
	{PAGE_OUT}
</table>
<div>{USER_PAGINATION}</div>
<!-- ENDIF -->