<form method="get" action="{ACTION}">
	<table width="100%" border="0" cellspacing="1" cellpadding="2" class="borderless">
		<tr>
			<td align="center" class="menu">{EVENT_PAGINATION}</td>
		</tr>
	</table>
	<table width="100%" border="0" cellspacing="1" cellpadding="2">
		<tr align="right">
			<th>
				<span style="float:left;">{L_events}</span><span style="float:right;">{MANAGE_LINK}</span>
			</th>
		</tr>
	</table>
	<table width="100%" border="0" cellspacing="1" cellpadding="2" class="colorswitch">
		{EVENT_OUT}
	</table>
	<table width="100%" border="0" cellspacing="1" cellpadding="2" class="borderless">
		<tr>
			<td align="center" class="menu">{EVENT_PAGINATION}</td>
		</tr>
	</table>
{CSRF_TOKEN}
</form>