	<div class="contentHeader">
		<h1 class="contentTitle">{L_login}</h1>
	</div>	
	
	<!-- IF S_BRIDGE_INFO -->
	<div class="bluebox roundbox">
		<div class="icon_info">{L_login_bridge_notice}</div>
	</div>
	<!-- ENDIF -->
	<form method="post" action="{EQDKP_CONTROLLER_PATH}Login{SEO_EXTENSION}{SID}" name="login" id="login">
	
	<fieldset class="settings mediumsettings">		
			<div class="contentSideLeft floatLeft contentWidth60">
				<dl>
					<dt><label>{L_username}:</label></dt>
					<dd><div class="input-icon"><i class="icon-user"></i><input type="text" name="username" size="30" maxlength="30" class="input required username" id="username"/></div></dd>
				</dl>
				<dl>
					<dt><label>{L_password}:</label></dt>
					<dd><div class="input-icon"><i class="icon-key"></i><input type="password" name="password" size="30" maxlength="32" class="input required password" id="password"/></div>
						<!-- IF S_SHOW_PWRESET_LINK -->
						<br />{U_PWRESET_LINK}
						<!-- ENDIF -->
						<br /><br /><label><input type="checkbox" name="auto_login" />{L_remember_password}</label>
					</dd>
				</dl>
				
				<!-- IF S_DISPLAY_CATPCHA -->
				<dl>
					<dt>
						<label>{L_lib_captcha_head}</label><br /><span>{L_lib_captcha_insertword}</span>
					</dt>
					<dd><div id="recaptcha_image" style="float:left; cursor:pointer;" onclick="javascript:Recaptcha.reload();" title="{L_lib_captcha_reload}"></div><img src="{EQDKP_ROOT_PATH}images/global/update.png" onclick="javascript:Recaptcha.reload();" title="{L_lib_captcha_reload}" alt="{L_lib_captcha_reload}" style="cursor:pointer; padding-top:20px;" /><div style="clear:both;"></div>
					<input name="recaptcha_response_field" type="text" id="recaptcha_response_field" style="width:300px; margin-top:5px;" class="input"/>
					{FV_CAPTCHA}
					{CAPTCHA}</dd>
				</dl>
				<!-- ENDIF -->
			</div>
			
			<!-- IF not S_LOGGED_IN -->
			<div class="contentSideRight contentWidth30 floatRight">
				<!-- IF S_REGISTER -->
				<h3>{L_no_account}</h3>
				{U_REGISTER}
				<br /><br />
				<!-- ENDIF -->
				<!-- IF S_USER_ACTIVATION and not S_BRIDGE_INFO -->
				<h3>{L_no_activation_mail}</h3>
				<a href="{EQDKP_CONTROLLER_PATH}Register/ResendActivation/{SID}">{L_get_new_activation_mail}</a>
				<!-- ENDIF -->
			</div>
			<!-- ENDIF -->
	</fieldset>
	
	
	<div class="clear"></div>
	
	<div class="contentFooter">
		{REDIRECT}
		<button type="submit" name="login" class="mainoption"><i class="icon-signin"></i>{L_login}</button>
	</div>
	
	<!-- IF AUTH_LOGIN_BUTTON != "" -->
	<br />
	<fieldset class="settings mediumsettings">
		<legend>{L_login_use_authmethods}</legend>
		{AUTH_LOGIN_BUTTON}
	</fieldset>
	<!-- ENDIF -->
	
	{CSRF_TOKEN}
	</form>

