<form method="post" action="{ACTION}" name="lost_password" id="lost_password" class="fv_checkit">
	<div class="contentHeader">
		<h1 class="contentTitle"><!-- IF S_RESEND_ACTIVATION -->{L_get_new_activation_mail}<!-- ELSE -->{L_get_new_password}<!-- ENDIF --></h1>
	</div>
	
	<fieldset class="settings mediumsettings">
	<div class="loginform">
		<dl>
			<dt><label>{L_username}/{L_email}:</label><br /><span>{L_lost_password_email_info}</span></dt>
			<dd>
				<div class="input-icon">
					<i class="fa fa-user"></i>
					<input type="text" name="username" size="30" maxlength="30" class="input" id="username" required />
					<span class="fv_msg" data-errormessage="{L_fv_required_user}"></span>
				</div>
			</dd>
		</dl>
	</div>
	</fieldset>
	<div class="contentFooter">
		<button class="mainoption" type="submit" name="{BUTTON_NAME}"><i class="fa fa-check"></i>{L_submit}</button>
	</div>
{CSRF_TOKEN}
</form>
