<!-- IF S_MESSAGE -->
<div class="infobox infobox-large infobox-{MSG_CLASS} clearfix">
	<i class="fa {MSG_ICON} fa-4x pull-left"></i> <span class="bold">{MSG_TITLE}</span><br />{MSG_TEXT}</span>
</div>

<!-- ELSE -->
	<div class="contentHeader">
		<h1 class="contentTitle"><!-- IF MSG_TITLE == "" -->{L_error}<!-- ELSE -->{MSG_TITLE}<!-- ENDIF --></h1>
	</div>
	{MSG_TEXT}
	<div class="contentFooter">
		<!-- IF S_BUTTON -->{BU_FORM}<button type="submit" class="mainoption" {BU_ONCLICK}><i class=""></i>{BU_VALUE}</button>{BU_FORM_END}<!-- ENDIF -->
	</div>

<!-- ENDIF -->

<!-- IF S_LOGIN -->
	<br />
	<!-- INCLUDE login.html -->
<!-- ENDIF -->