<form method="post" action="{ACTION}" name="data" id="charactersform">
<input type='hidden' name='delete_id' id='delete_id' value='' />
{CSRF_TOKEN}
</form>
<div class="contentHeader">
	<h1 class="contentTitle">{L_manage_members_titl}</h1>
</div>
<!-- IF S_SHOW_NO_CONN_INFO -->
<div class="bluebox roundbox">
	<div class="icon_info">{L_no_connected_char_info}</div>
</div>
<br >
<!-- ENDIF -->
<!-- IF CONNECT_CHARS -->
<form method="post" action="{ACTION}">
	{L_associated_members}: {JS_CONNECTIONS} <input type="submit" name="connection_submit" value="{L_uc_connectme}" class="mainoption bi_ok" />
	{CSRF_TOKEN}
</form>

{ADD_MENU}
<!-- ENDIF --> 
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="colorswitch">
	{CHAR_LIST}
</table>

<div class="center pagination_wrapper">
	{CHAR_PAGINATION}
</div>