<form method="post" action="{EQDKP_CONTROLLER_PATH}Login/{SID}&amp;key={KEY}" name="new_password" id="new_password">
<div class="contentHeader">
	<h1 class="contentTitle">{L_create_new_password}</h1>
</div>	
<fieldset class="settings mediumsettings">

	<dl>
		<dt><label>{L_user_sett_f_new_password}:</label></dt>
		<dd><div class="input-icon"><i class="fa fa-key"></i><input type="password" name="password1" size="30" maxlength="32" class="input required password" id="password"/></div>
		</dd>
	</dl>
	<dl>
		<dt><label>{L_confirm_password}:</label></dt>
		<dd><div class="input-icon"><i class="fa fa-key"></i><input type="password" name="password2" size="30" maxlength="32" class="input required password" id="password"/></div>
		</dd>
	</dl>

</fieldset>
<div class="contentFooter">
	<button class="mainoption" type="submit" name="new_password"><i class="fa fa-check"></i>{L_submit}</button>
	<button class="liteoption" type="reset" name="reset" onclick="reset_validator_new_password();"><i class="fa fa-trash-o"></i>{L_reset}</button>
</div>
			
{CSRF_TOKEN}
</form>
