<!-- IF S_VALUE_TOO_SHORT -->
	<div class="bluebox roundbox">
		<div class="icon_info">{L_search_value_too_short}</div>
	</div>
<!-- ENDIF -->

<!-- IF S_SEARCHED and not S_RESULTS -->
	<div class="bluebox roundbox">
		<div class="icon_info">{L_NO_RESULTS}</div>
	</div>
<!-- ENDIF -->

<form method="post" action="{ACTION}">
	<fieldset class="settings">
		<legend>{L_search}</legend>
		<dl>
			<dt><label>{L_search_value}</label><br /><span>{L_search_value_note}</span></dt>
			<dd><input type="text" class="input" size="30" name="svalue" value="{SEARCH_VALUE}" /></dd>
		</dl>
	</fieldset>
	<input type="submit" value="{L_search_do}" name="search" class="mainoption bi_search" />
	{CSRF_TOKEN}
</form>

<!-- IF S_RESULTS -->
<h1>{L_SEARCH_RESULTS}</h1>
<div id="search_result_tabs">
		<ul>
			<!-- BEGIN tabs --> <li><a href='#fragment-{tabs.ID}'><span>{tabs.NAME} ({tabs.COUNT})</span></a></li><!-- END tabs -->
		</ul>
		
		<!-- BEGIN tabs -->
		<div id="fragment-{tabs.ID}">
			<table width="100%" border="0" cellspacing="1" cellpadding="4" class="colorswitch hoverrows">
			<tr><th colspan="2">{L_search_results_category} {tabs.NAME} ({tabs.COUNT}) </th></tr>
			<!-- BEGIN results -->
				<tr><td width="20" class="nowrap"><a href="{tabs.results.LINK}">{tabs.results.ID}</a></td><td><a href="{tabs.results.LINK}">{tabs.results.NAME}</a></td></tr>
			<!-- END results -->
			</table>
		</div>
		<!-- END tabs -->

</div>
<!-- ENDIF -->