<script language="JavaScript" type="text/javascript">
//<![CDATA[
$(document).ready(function(){
	$('#username').change(function() {
		var username = $(this).val();
		if(username.length > 0){
			$.post("{EQDKP_CONTROLLER_PATH}Register/{SID}&ajax=1{AJAXEXTENSION_USER}", { username: username }, function(result){
				if(result == 'true'){
					$("#error_username").hide();
					$("#tick_username").show();
				}else{
					errortext	= $("#error_username").html();
					$('#error_username').html(errortext.replace(new RegExp("\\{0\\}", "g"), username));
					$("#tick_username").hide();
					$("#error_username").show();
				}
			});
		}else{
			$("#tick_username").hide();
			$("#error_username").hide();
		}
	});

	$('#useremail').change(function() {
		var user_email = $(this).val();
		if(user_email.length > 0){
			$.post("{EQDKP_CONTROLLER_PATH}Register/{SID}&ajax=1{AJAXEXTENSION_USER}", { user_email: user_email }, function(result){
				if(result == 'true'){
					$("#error_email").hide();
					$("#tick_mail").show();
				}else{
					errortext	= $("#error_email").html();
					$('#error_email').html(errortext.replace(new RegExp("\\{0\\}", "g"), user_email));
					$("#tick_mail").hide();
					$("#error_email").show();
				}
			});
		}else{
			$("#tick_mail").hide();
			$("#error_email").hide();
		}
	});

	<!-- IF S_SETTING_ADMIN -->
	$('.changepermcolor').change(function() {

		if($(this).prop('checked')){
			$('#span_'+this.id).removeClass("negative");
			$('#span_'+this.id).addClass('positive');
		}else{
			$('#span_'+this.id).addClass("negative");
			$('#span_'+this.id).removeClass('positive');
		}
	});

	var user_perms = new Array(''<!-- BEGIN user_permissions -->,'{user_permissions.NAME}'<!-- END user_permissions -->);
	var group_perms = new Array();
	<!-- BEGIN group_permissions -->
	group_perms[{group_permissions.KEY}] = new Array(''<!-- BEGIN group_permission_row -->,'{group_permissions.group_permission_row.NAME}'<!-- END group_permission_row-->);
	<!-- END group_permissions -->
	$("#dw_user_groups")
		.multiselect()
		.bind("multiselectclick multiselectcheckall multiselectuncheckall", function( event, ui ){
			var checkedValues = $.map($(this).multiselect("getChecked"), function( input ){
				return input.value;
			});
			reset_permissions();
			set_user_permissions();
			console.log(checkedValues);
			
			$.each(checkedValues, function(index, value) {
				set_group_permissions(value);
			});
		})
		.triggerHandler("multiselectclick"); // trigger above logic when page first loads

	function reset_permissions(){
		$('.changepermcolor').prop("checked", false);
		$('.changepermcolor').prop("disabled", false);
		$('.perm_text').removeClass("positive");
		$('.perm_text').addClass("negative");
	}

	function set_user_permissions(){
		$.each(user_perms, function(index, value) {
			if (value != ""){
				$('#span_cb_'+value).removeClass('negative');
				$('#span_cb_'+value).addClass('positive');
				$('#cb_'+value).prop('checked', true);
			}
		});
	}

	function set_group_permissions(groupid){
		$.each(group_perms[groupid], function(index, value) {
			if (value != ""){
				$('#span_cb_'+value).removeClass('negative');
				$('#span_cb_'+value).addClass('positive');
				$('#cb_'+value).prop('checked', true);
				$('#cb_'+value).prop('disabled', true);
			}
		});
	}
	<!-- ENDIF -->

	// possible fix for double-click problem
	// http://forum.jquery.com/topic/validate-plugin-and-remote-have-to-submit-twice
	$.ajaxSetup ({
		async: false
	});
});
//]]>
</script>

<!-- IF S_SETTING_ADMIN -->
<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li><a href="{EQDKP_ROOT_PATH}admin/{SID}">{L_menu_admin_panel}</a>
		<li><a href="{EQDKP_ROOT_PATH}admin/manage_users.php{SID}">{L_manage_users}</a></li>
		<li class="current"><a>{USERNAME}</a></li>
	</ul>
	<div class="clear"></div>
</div>
<div class="contentHeader">
	<h1 class="contentTitle">{L_manage_users}: {USERNAME}</h1>
</div>
<!-- ELSE -->
<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li class="current"><a>{L_settings_title}</a></li>
	</ul>
	<div class="clear"></div>
</div>
<!-- ENDIF -->

<form method="post" action="{ACTION}" name="{FORM_ID}" id="{FORM_ID}" class="{FORMCLASS}">
<div class="content">
	<div id="usersettings_tabs">

		<ul>
			<!-- BEGIN tabs --> <li><a href='#fragment-{tabs.ID}'><span>{tabs.NAME}</span></a></li><!-- END tabs -->
			<!-- BEGIN plugin_settings_row --><li><a href='#{plugin_settings_row.KEY}'>{plugin_settings_row.ICON} {plugin_settings_row.PLUGIN}</a></li><!-- END plugin_settings_row -->
			<!-- IF S_SETTING_ADMIN -->
			<li><a href='#permissions'>{L_permissions}</a></li>
			<li><a href='#members'>{L_associated_members}</a></li>
			<!-- ENDIF -->
		</ul>

		<input type="hidden" name="old_username" value="{USERNAME}" />
		<input type="hidden" name="user_id[]" value="{USERID}" />
		<input type="hidden" name="u" value="{USERID}" />

		<!-- BEGIN tabs -->
		<div id="fragment-{tabs.ID}">
			<!-- BEGIN fieldsets -->
			<!-- IF tabs.fieldsets.INFO -->
			<div class="infobox infobox-large infobox-blue clearfix">
				<i class="fa fa-info-circle fa-4x pull-left"></i> {tabs.fieldsets.INFO}
			</div>

			<!-- ENDIF -->

			<fieldset class="settings">
				<legend>{tabs.fieldsets.NAME}</legend>

				<!-- BEGIN fields -->
				<dl>
					<dt><label>{tabs.fieldsets.fields.NAME}</label><br /><span>{tabs.fieldsets.fields.HELP}</span></dt>
					<dd>{tabs.fieldsets.fields.FIELD}{tabs.fieldsets.fields.TEXT}</dd>
				</dl>
				<!-- END fields -->
			</fieldset>
			<!-- END fieldsets -->
		</div>
		<!-- END tabs -->

		<!-- BEGIN plugin_usersettings_div -->
		<div id="{plugin_usersettings_div.KEY}">
			<fieldset class="settings">
				<!-- BEGIN plugin_usersettings -->
					<!-- IF plugin_usersettings_div.plugin_usersettings.S_TH -->
						</fieldset><fieldset class="settings">
						<legend>{plugin_usersettings_div.plugin_usersettings.NAME}</legend>
					<!-- ELSE -->
						<dl>
							<dt>
								<label>{plugin_usersettings_div.plugin_usersettings.NAME}</label><br /><span>{plugin_usersettings_div.plugin_usersettings.HELP}</span>
							</dt>
							<dd>{plugin_usersettings_div.plugin_usersettings.FIELD}</dd>
						</dl>
					<!-- ENDIF -->
				<!-- END plugin_usersettings -->
			</fieldset>
		</div>
		<!-- END plugin_usersettings_div -->

		<!-- IF S_SETTING_ADMIN -->
		<div id="permissions">
			<div class="infobox infobox-large infobox-blue clearfix">
				<i class="fa fa-info-circle fa-4x pull-left"></i> <input type="checkbox" checked="checked" disabled="disabled" />{L_s_group_note}
			</div>
			<fieldset class="settings">
				<legend>{L_account_enabled}</legend>

				<dl>
					<dt><label>{L_account_enabled}</label></dt>
					<dd>{ACTIVE_RADIO}</dd>
				</dl>

			</fieldset>
			<fieldset class="settings">
				<legend>{L_user_groups}</legend>

				<dl>
					<dt><label>{L_user_groups}</label></dt>
					<dd>{USER_GROUP_SELECT}</dd>
				</dl>

			</fieldset>
				<!-- IF S_PERM_PERMISSION -->
				<div id="permission_tabs">
				<ul>
					<li><a href='#user_perms'><span>{L_user_permissions}</span></a></li>
					<li><a href='#admin_perms'><span class="adminicon">{L_admin_permissions}</span></a></li>
				</ul>

				<div id="user_perms">
					<!-- BEGIN u_permissions_row -->
					<fieldset class="settings mediumsettings">
						<legend>{u_permissions_row.ICON} {u_permissions_row.GROUP}</legend>
						<!-- BEGIN check_group -->
						<!-- IF not u_permissions_row.check_group.S_SUPERADMIN_PERM -->
						<div class="permissions">
							<label title="{u_permissions_row.check_group.CBNAME}">
								<!-- IF u_permissions_row.check_group.S_IS_GROUP -->
								<input type="checkbox" name="{u_permissions_row.check_group.CBNAME}" value="Y" {u_permissions_row.check_group.CBCHECKED} disabled="disabled" class="changepermcolor" id="cb_{u_permissions_row.check_group.CBNAME}" />
								<!-- ELSE -->
								<input type="checkbox" name="{u_permissions_row.check_group.CBNAME}" value="Y" {u_permissions_row.check_group.CBCHECKED} class="changepermcolor" id="cb_{u_permissions_row.check_group.CBNAME}"/>
								<!-- ENDIF -->
								<span id="span_cb_{u_permissions_row.check_group.CBNAME}" class="perm_text {u_permissions_row.check_group.CLASS}">{u_permissions_row.check_group.TEXT}</span>
							</label>
						</div>
						<!-- ENDIF -->
						<!-- END check_group -->
					</fieldset>
					<!-- END u_permissions_row -->
				</div>

				<div id="admin_perms">
					<!-- BEGIN a_permissions_row -->
					<fieldset class="settings mediumsettings">
						<legend>{a_permissions_row.ICON} {a_permissions_row.GROUP}</legend>
						<!-- BEGIN check_group -->
						<div class="permissions">
							<label>
								<!-- IF a_permissions_row.check_group.S_IS_GROUP -->
								<input type="checkbox" name="{a_permissions_row.check_group.CBNAME}" value="Y" {a_permissions_row.check_group.CBCHECKED} disabled="disabled" class="changepermcolor" id="cb_{a_permissions_row.check_group.CBNAME}" />
								<!-- ELSE -->
								<input type="checkbox" name="{a_permissions_row.check_group.CBNAME}" value="Y" {a_permissions_row.check_group.CBCHECKED} class="changepermcolor" id="cb_{a_permissions_row.check_group.CBNAME}"/>
								<!-- ENDIF -->
								<span id="span_cb_{a_permissions_row.check_group.CBNAME}" class="perm_text {a_permissions_row.check_group.CLASS}">{a_permissions_row.check_group.TEXT}</span>
							</label>
						</div>
						<!-- END check_group -->
					</fieldset>
					<!-- END a_permissions_row -->
				</div>
			</div>
			<!-- ENDIF -->
		</div>

		<!-- IF S_MU_TABLE -->
		<div id="members">
			<fieldset class="settings">
				<legend>{L_associated_members}</legend>

				<dl>
					<dt>
						<label>{L_associated_members}</label><br />
					</dt>
					<dd>
						{JS_CONNECTIONS} {FV_MEMBER_ID}
					</dd>
				</dl>
			</fieldset>
		</div>
		<!-- ENDIF -->

		<!-- ENDIF -->
	</div>
		<div class="contentFooter">
			<button class="mainoption" type="submit" name="submit" ><i class="fa fa-check"></i>{L_uc_connectme}</button>
			<button class="liteoption" type="reset" name="reset"><i class="fa fa-trash-o"></i>{L_reset}</button>
			<!-- IF S_SETTING_ADMIN -->	
			<!-- IF not S_PROTECT_USER -->
			<button class="liteoption cancel" type="button" name="del" onclick="delete_warning({USERID});" id="delete_button"><i class="fa fa-times"></i>{L_delete}</button>
			<!-- ENDIF -->
			<button class="mainoption cancel" type="submit" name=""><i class="fa fa-chevron-left"></i>{L_back}</button>
			<!-- ENDIF -->
			
		</div>
	</div>

	{HIDDEN_FIELDS}
	{CSRF_TOKEN}
</form>
<!-- IF S_SETTING_ADMIN -->{JS_TAB_SELECT}<!-- ENDIF -->