	<div class="contentHeader">
		<h1 class="contentTitle">{L_login_twofactor}</h1>
	</div>	
	
	<form method="post" action="{EQDKP_CONTROLLER_PATH}Login{SEO_EXTENSION}{SID}&amp;lmethod=twofactor" name="login" id="login">
	
	<fieldset class="settings mediumsettings">		
			<div>
				<dl>
					<dt><label>{L_login_twofactor_code_init}:</label><br /><span>{L_login_twofactor_code_help}</span></dt>
					<dd><div class="input-icon"><i class="icon-time"></i><input type="text" name="twofactor_code" size="10" maxlength="10" class="input required"/></div>
					<br /><br /><label><input type="checkbox" name="twofactor_cookie" value="1" />{L_login_twofactor_remember}</label>
					</dd>
				</dl>
			</div>
			
			<!-- IF S_DISPLAY_CATPCHA -->
				<dl>
					<dt>
						<label>{L_lib_captcha_head}</label><br /><span>{L_lib_captcha_insertword}</span>
					</dt>
					<dd><div id="recaptcha_image" style="float:left; cursor:pointer;" onclick="javascript:Recaptcha.reload();" title="{L_lib_captcha_reload}"></div><img src="{EQDKP_ROOT_PATH}images/global/update.png" onclick="javascript:Recaptcha.reload();" title="{L_lib_captcha_reload}" alt="{L_lib_captcha_reload}" style="cursor:pointer; padding-top:20px;" /><div style="clear:both;"></div>
					<input name="recaptcha_response_field" type="text" id="recaptcha_response_field" style="width:300px; margin-top:5px;" class="input"/>
					{FV_CAPTCHA}
					{CAPTCHA}</dd>
				</dl>
				<!-- ENDIF -->
	</fieldset>
	
	
	<div class="clear"></div>
	
	<div class="contentFooter">
		<input type="hidden" name="twofactor_data" value="{TWOFACTOR_DATA}" />
		<input type="checkbox" name="auto_login" style="display:none;" {TWOFACTOR_AUTOLOGIN}>
		<button type="submit" name="login" class="mainoption"><i class="icon-signin"></i>{L_login}</button>
	</div>
		
	{CSRF_TOKEN}
	</form>

