<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li><a href="{EQDKP_CONTROLLER_PATH}User{SEO_EXTENSION}{SID}">{L_user_list}</a></li>
		<li class="current"><a>{L_user}: {USER_PROFILE_USERNAME}</a></li>
	</ul>
	<div class="clear"></div>
</div>

<div class="contentHeader">
	<h1 class="contentTitle">{L_user}: {USER_PROFILE_USERNAME}</h1>
</div>

<div class="user-profile">
	<div class="user-avatar">
		<img src="{USER_PROFILE_AVATAR}" alt="userimg" />
	</div>
	<div class="user-name-container">
		<div class="user-name">
			<h2>{USER_PROFILE_USERNAME}</h2><div class="user-groups">{USER_PROFILE_USERGROUPS}</div><div class="clear"></div>
			{USER_PROFILE_GENDER}{L_registered_at} {USER_PROFILE_REGISTERED}<br />
			{L_user_last_activity} {USER_PROFILE_LAST_ACTIVITY}
		</div>
	</div>

	<div class="clear"></div>
	<br /><br />
	<div id="userprofile_tabs">
		<ul>
			<li><a href="#wall">{L_user_wall}</a></li>
			<li><a href="#about">{L_about_me}</a></li>
			<!-- IF S_PROFILE_CHARACTERS -->
			<li><a href="#characters">{L_chars}</a></li>
			<!-- ENDIF -->
			<!-- BEGIN custom_tabs -->
			<li><a href="#{custom_tabs.ID}">{custom_tabs.NAME}</a></li>
			<!-- END custom_tabs -->
		</ul>
		
		<div id="wall">
			<h1>{L_user_wall}</h1>
			<!-- IF S_SHOW_WALL -->
			{USER_WALL}
			<!-- ELSE -->
			{L_userwall_no_permission}
			<!-- ENDIF -->
		</div>
		<div id="about">
			<!-- IF S_PROFILE_PERSONAL_ROW -->
			<fieldset class="settings">
				<legend>{L_about_me}</legend>

				<!-- BEGIN profile_personal_row -->
				<dl>
					<dt><label>{profile_personal_row.NAME}</label></dt>
					<dd>{profile_personal_row.TEXT}</dd>
				</dl>
				<!-- END profile_personal_row -->
			</fieldset>
			<br />
			<!-- ENDIF -->
			
			<!-- IF S_PROFILE_CONTACT_ROW -->
			<fieldset class="settings">
				<legend>{L_user_contact}</legend>

				<!-- BEGIN profile_contact_row -->
				<dl>
					<dt><label>{profile_contact_row.NAME}</label></dt>
					<dd>{profile_contact_row.TEXT}</dd>
				</dl>
				<!-- END profile_contact_row -->
			</fieldset>
			<br />
			<!-- ENDIF -->

		</div>
		<!-- IF S_PROFILE_CHARACTERS -->
		<div id="characters">
			<h1>{L_chars}</h1>
			<table class="table fullwidth trcheckboxclick hptt colorswitch scrollable-x">
				{PROFILE_CHARS}
			</table>
			<br />
			<div id="userprofile_dkp_tabs">
				<ul>
					<li><a href='#items'><span>{L_tab_items}</span></a></li>
					<!-- IF not S_POINTS_DISABLED -->
					<li><a href='#adjustments'><span>{L_tab_adjustments}</span></a></li>
					<!-- ENDIF -->
					<li><a href='#raids'><span>{L_tab_raids}</span></a></li>
					<li><a href='#attendance'><span>{L_tab_attendance}</span></a></li>
				</ul>
				
				<!-- RAIDS TABLE -->
				<div id="raids">
					<div class="tableHeader">
						<h2>{L_raid_attendance_history}</h2>
					</div>
					<table class="table fullwidth hptt colorswitch scrollable-x">
					{RAID_OUT}
					</table>
					<div class="center pagination_wrapper">
						{RAID_PAGINATION}
					</div>
				</div>

				<!-- ITEMS TABLE -->
				<div id="items">
					<div class="tableHeader">
						<h2>{L_item_purchase_history}</h2>
					</div>
					<table class="table fullwidth hptt colorswitch scrollable-x">
					{ITEM_OUT}
					</table>
					<div class="center pagination_wrapper">
						{ITEM_PAGINATION}
					</div>
				</div>
				
				<!-- IF not S_POINTS_DISABLED -->
				<!-- ADJUSTMENTS TABLE-->
				<div id="adjustments">
					<div class="tableHeader">
						<h2>{L_individual_adjustment_history}</h2>
					</div>
					<table class="table fullwidth hptt colorswitch scrollable-x">
					{ADJUSTMENT_OUT}
					</table>
					<div class="center pagination_wrapper">
						{ADJUSTMENT_PAGINATION}
					</div>
				</div>
				<!-- ENDIF -->

				<!-- ATTENDANCE -->
				<div id="attendance">
					<table class="table fullwidth hptt colorswitch scrollable-x">
					{EVENT_ATT_OUT}
					</table>
				</div>
				
			</div>
		</div>
		<!-- ENDIF -->
		
		<!-- BEGIN custom_tabs -->
		<div id="{custom_tabs.ID}">
			{custom_tabs.CONTENT}
		</div>
		<!-- END custom_tabs -->
		
		</div>

</div>


