<div class="contentHeader">
	<h1 class="contentTitle"><a href="{EQDKP_CONTROLLER_PATH}User/{SID}">{L_user_list}</a> &raquo; {L_user}: {USER_PROFILE_USERNAME}</h1>
</div>

<div class="user-profile">
	<div class="user-avatar">
		<img src="{USER_PROFILE_AVATAR}" alt="userimg" />
	</div>
	<div class="user-name-container">
		<div class="user-name">
			<h2>{USER_PROFILE_USERNAME}</h2><div class="user-groups">{USER_PROFILE_USERGROUPS}</div><div class="clear"></div>
			{USER_PROFILE_GENDER}{L_registered_at} {USER_PROFILE_REGISTERED}<br />
			{L_user_last_activity} {USER_PROFILE_LAST_ACTIVITY}
		</div>
	</div>

	<div class="clear"></div>
	<br /><br />
	<div id="userprofile_tabs">
		<ul>
			<li><a href="#wall">{L_user_wall}</a></li>
			<li><a href="#about">{L_about_me}</a></li>
			<li><a href="#characters">{L_chars}</a></li>
		</ul>
		
		<div id="wall">
			<h1>{L_user_wall}</h1>
			<!-- IF S_SHOW_WALL -->
			{USER_WALL}
			<!-- ELSE -->
			{L_userwall_no_permission}
			<!-- ENDIF -->
		</div>
		<div id="about">
			<!-- IF S_PROFILE_PERSONAL_ROW -->
			<fieldset class="settings">
				<legend>{L_about_me}</legend>

				<!-- BEGIN profile_personal_row -->
				<dl>
					<dt><label>{profile_personal_row.NAME}</label></dt>
					<dd>{profile_personal_row.TEXT}</dd>
				</dl>
				<!-- END profile_personal_row -->
			</fieldset>
			<br />
			<!-- ENDIF -->
			
			<!-- IF S_PROFILE_CONTACT_ROW -->
			<fieldset class="settings">
				<legend>{L_user_contact}</legend>

				<!-- BEGIN profile_contact_row -->
				<dl>
					<dt><label>{profile_contact_row.NAME}</label></dt>
					<dd>{profile_contact_row.TEXT}</dd>
				</dl>
				<!-- END profile_contact_row -->
			</fieldset>
			<br />
			<!-- ENDIF -->
			
			<!-- IF S_PROFILE_MISC_ROW -->
			<fieldset class="settings">
				<legend>{L_adduser_misc}</legend>

				<!-- BEGIN profile_misc_row -->
				<dl>
					<dt><label>{profile_misc_row.NAME}</label></dt>
					<dd>{profile_misc_row.TEXT}</dd>
				</dl>
				<!-- END profile_misc_row -->
			</fieldset>
			<br />
			<!-- ENDIF -->
		</div>
		<div id="characters">
			<h1>{L_chars}</h1>
			<table width="100%" border="0" cellspacing="1" cellpadding="2" class="trcheckboxclick colorswitch">
				{PROFILE_CHARS}
			</table>
		</div>
	</div>

</div>


