<div class="contentHeader">
	<h1 class="contentTitle">{EVENT_ICON} {EVENT_NAME}</h1>
</div>
<fieldset class="settings smallsettings raidcal_infos">
		<dl>
			<dt><label>{L_belonging_mdkppools}</label></dt>
			<dd>{MDKPPOOLS}
			</dd>
		</dl>
		<dl>
			<dt><label>{L_belonging_itempools}</label></dt>
			<dd>{ITEMPOOLS}
			</dd>
		</dl>
	</fieldset>

<br />
<div class="tableHeader">
	<h2>{L_raids}</h2>
</div>
<table class="table fullwidth hptt colorswitch scrollable-x">
	{RAID_LIST}
</table>
<br />
<div class="tableHeader">
	<h2>{L_items}</h2>
</div>
<table class="table fullwidth hptt colorswitch scrollable-x">
	{ITEM_LIST}
</table>