<table width="100%" border="0" cellspacing="1" cellpadding="2" class="borderless">
	<tr>
		<th colspan="3">{L_event_name}: {EVENT_NAME}</th>
	</tr>
	<tr>
		<td rowspan="2" style="height:65px;width:65px;" class="row1">{EVENT_ICON}</td>
		<td class="row2" style="width:200px;">{L_belonging_mdkppools}:</td>
		<td class="row1">{MDKPPOOLS}</td>
	</tr>
	<tr>
		<td class="row2">{L_belonging_itempools}:</td>
		<td class="row1">{ITEMPOOLS}</td>
	</tr>
</table>
<br />
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="borderless colorswitch">
	<tr>
		<th colspan="10">{L_raids}</th>
	</tr>
	{RAID_LIST}
</table>
<br />
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="borderless colorswitch">
	<tr>
		<th colspan="10">{L_items}</th>
	</tr>
	{ITEM_LIST}
</table>