<div class="contentHeader">
	<h1 class="contentTitle">{L_PURCHASE_HISTORY_FOR}</h1>
</div>

<table class="table fullwidth item-itemstats">
	<tr class="row1">
		<!-- IF SHOW_ITEMSTATS -->
		<td class="viewitem-itemstats center">{ITEM_STATS}</td>
		<!-- ENDIF -->
		<!-- IF SHOW_ITEMHISTORYA -->
		<td center="center">{ITEM_CHART} </td>
		<!-- ENDIF -->
	</tr>
</table>

<div class="item-droprates">
<!-- BEGIN droprate -->
<div class="floatLeft item-droprate-container" style="width: 600px">
	<h2>{L_droprate} {droprate.POOLNAME}</h2>
	<div id="{droprate.CHART}"></div>
</div>
<!-- END droprate -->
</div>

<div class="clear"></div>

<br />{HPTT_ADMIN_LINK}
<table class="table fullwidth hptt colorswitch scrollable-x">
	{BUYERS_TABLE}
</table>