<!-- IF S_PERM_RAID_ADMIN -->
<div class="floatRight">
<i class="hand fa fa-lg fa-pencil" onclick="editRaid()" title="{L_raidevent_raid_edit}"></i>
</div>
<!-- ENDIF -->
<div class="contentHeader">
	<h1 class="contentTitle">{EVENT_ICON} {EVENT_NAME}, {RAID_DATE}</h1>
</div>

	<fieldset class="settings smallsettings raidcal_infos toggle_container">
		<dl>
			<dt><label>{L_added_by}</label></dt>
			<dd>{RAID_ADDED_BY}
			</dd>
		</dl>
		<!-- IF S_RAID_UPDATED -->
		<dl>
			<dt><label>{L_updated_by}</label></dt>
			<dd>{RAID_UPDATED_BY}
			</dd>
		</dl>
		<!-- ENDIF -->
		<dl>
			<dt><label>{L_note}</label></dt>
			<dd>{RAID_NOTE}
			</dd>
		</dl>
		<!-- IF not S_POINTS_DISABLED -->
		<dl>
			<dt><label>{DKP_NAME} {L_value}</label></dt>
			<dd><span class="positive">{RAID_VALUE}</span>
			</dd>
		</dl>
		<!-- ENDIF -->
		<!-- IF S_ADDITIONAL_DATA -->
		<dl>
			<dt><label>{L_additional_infos}</label></dt>
			<dd>{RAID_ADDITIONAL_DATA}
			</dd>
		</dl>
		<!-- ENDIF -->
	</fieldset>

<br />
<div class="tableHeader">
	<h2>{L_attendees}</h2>
</div>
<table class="table fullwidth">
  <!-- BEGIN attendees_row -->
  <tr>
    <!-- IF S_COLUMN0 --><td class="row2 nowrap" width="{COLUMN_WIDTH}%">{attendees_row.COLUMN0_NAME}</td><!-- ENDIF -->
    <!-- IF S_COLUMN1 --><td class="row1 nowrap" width="{COLUMN_WIDTH}%">{attendees_row.COLUMN1_NAME}</td><!-- ENDIF -->
    <!-- IF S_COLUMN2 --><td class="row2 nowrap" width="{COLUMN_WIDTH}%">{attendees_row.COLUMN2_NAME}</td><!-- ENDIF -->
    <!-- IF S_COLUMN3 --><td class="row1 nowrap" width="{COLUMN_WIDTH}%">{attendees_row.COLUMN3_NAME}</td><!-- ENDIF -->
    <!-- IF S_COLUMN4 --><td class="row2 nowrap" width="{COLUMN_WIDTH}%">{attendees_row.COLUMN4_NAME}</td><!-- ENDIF -->
    <!-- IF S_COLUMN5 --><td class="row1 nowrap" width="{COLUMN_WIDTH}%">{attendees_row.COLUMN5_NAME}</td><!-- ENDIF -->
    <!-- IF S_COLUMN6 --><td class="row2 nowrap" width="{COLUMN_WIDTH}%">{attendees_row.COLUMN6_NAME}</td><!-- ENDIF -->
    <!-- IF S_COLUMN7 --><td class="row1 nowrap" width="{COLUMN_WIDTH}%">{attendees_row.COLUMN7_NAME}</td><!-- ENDIF -->
    <!-- IF S_COLUMN8 --><td class="row2 nowrap" width="{COLUMN_WIDTH}%">{attendees_row.COLUMN8_NAME}</td><!-- ENDIF -->
    <!-- IF S_COLUMN9 --><td class="row1 nowrap" width="{COLUMN_WIDTH}%">{attendees_row.COLUMN9_NAME}</td><!-- ENDIF -->
  </tr>
  <!-- END attendees_row -->
  <tr>
    <th colspan="{COLSPAN}" class="footer">{ATTENDEES_FOOTCOUNT}</th>
  </tr>
</table>
<br />

<div class="tableHeader">
	<h2>{L_items}</h2>
</div>
<table class="table fullwidth hptt colorswitch scrollable-x">
{ITEM_OUT}
</table>

<br />

<table class="table fullwidth">
  <tr>
    <th align="center">{L_class_distribution}</th>
    <th align="center">{L_loot_distribution}</th>
  </tr>
 <tr>
 <td class="row2" align="center">
  {CLASS_PERCENT_CHART}
 </td>
 <td class="row2" align="center">
  {LOOT_PERCENT_CHART}
 </td>
 </tr>
</table>
<br />
<div class="tableHeader">
	<h2>{L_class_distribution}</h2>
</div>
<table class="table fullwidth">
  <tr>
    <th align="left" width="100">{L_class}</th>
    <th align="left" width="50%">{L_percent}</th>
    <th align="left" width="50%">{L_attendees}</th>
  </tr>
  <!-- BEGIN class_row -->
  <tr>
    <td width="100" class="row2 nowrap">{class_row.CLASS}</td>
    <td width="50%" class="row1">{class_row.BAR}</td>
    <td width="50%" class="row2"><span class="small">{class_row.ATTENDEES}</span></td>
  </tr>
  <!-- END class_row -->
</table>
<br/>

<!-- IF S_ADJUSTMENTS -->
	<div class="tableHeader">
		<h2>{L_tab_adjustments}</h2>
	</div>
	<table class="table fullwidth hptt colorswitch scrollable-x">
	{ADJUSTMENT_OUT}
	</table>
	<br />
<!-- ENDIF -->

<div class="contentFooter">
	<button class="mainoption" type="button" onclick="window.location='{U_RAIDLIST}'"><i class="fa fa-chevron-left"></i>{L_back}</button>
</div>