<div class="contentHeader">
	<h1 class="contentTitle">{EVENT_ICON} {EVENT_NAME}</h1>
</div>
<fieldset class="settings smallsettings raidcal_infos event-belongings">
		<dl>
			<dt><label>{L_belonging_mdkppools}</label></dt>
			<dd>{MDKPPOOLS}
			</dd>
		</dl>
		<dl>
			<dt><label>{L_belonging_itempools}</label></dt>
			<dd>{ITEMPOOLS}
			</dd>
		</dl>
	</fieldset>

<br />
<div class="tableHeader event-raidlist">
	<h2>{L_raids} {HPTT_ADMIN_LINK}</h2>
</div>
<table class="table fullwidth hptt colorswitch scrollable-x  event-raidlist">
	{RAID_LIST}
</table>
<br />
<div class="tableHeader event-itemlist">
	<h2>{L_items} {HPTT_ADMIN_LINK}</h2>
</div>
<table class="table fullwidth hptt colorswitch scrollable-x event-itemlist">
	{ITEM_LIST}
</table>