body {
	background-color:#f3f3f3;
	color:#000;
	font:12px Helvetica,Arial,sans-serif;
	padding:0;
	margin:0;
	text-align:center;
}

h1 {
	font-family: EasonPro,"Times New Roman",serif;
    font-size: 2.5em;
    font-size-adjust: 0.43;
    font-weight: 400;
    text-shadow: 0 0 0.25em rgba(0, 0, 0, 0.75);
	font-variant:small-caps;
}

.portal .column {
	vertical-align: top;
}

.portal .second .columnInner {
	padding: 0;
}

.portal {
	border-collapse: collapse;
	display: table;
	width: 100%;
}
.columnContainer {
	display: table-row;
	border: none;
}

.column {
	display: table-cell;
	margin: 0;
	padding: 0;
}
 
.portal .first, .portal .third {
	padding:10px;
}

.portal .first .columnInner, .portal .third .columnInner, .portal .second .columnInner {
	padding: 0;
}
.portal .second {
	padding:10px;
	width:100%;
}

#wrapper {
	text-align: left;
	min-width:100%;
	display:inline-block;
}

#prewrapper{
	margin-right:40px;
	margin-left: 40px;
	margin-top: -40px;
}

.wrapperBGLeft{
	background:transparent url(images/User_Alfa-R_bg_left.png) no-repeat left bottom;
}

.wrapperBGRight{
	background:transparent url(images/User_Alfa-R_bg_right.png) no-repeat right top;
}

.fixed_width {
	min-width: T_PORTAL_WIDTH !important;
}

.fixed_width #contentContainer .wrapperBGRight .wrapperBGLeft .portal .columnContainer .second {
	width: T_PORTAL_WIDTH_WITHOUT_BOTH_COLUMNS !important;
}

.fixed_width #contentContainer .wrapperBGRight .wrapperBGLeft .portal .columnContainer .second.no_third_column {
	width: T_PORTAL_WIDTH_WITHOUT_LEFT_COLUMN !important;
}


#personalArea {
	line-height:25px;
	color: #fff;
}

#personalArea a {
	color: #FFF;
	text-decoration:none;
}
#personalArea a:hover {
	color: #aeaeae;
	text-decoration:underline;
}

#header {
	text-align:center;
	min-height:250px;
	background:url(images/header.4146716500.png) no-repeat;
	background-position: top left;
}

#logoContainer {
	overflow: hidden; 
	display:table; 
}

#header .center {
	margin-left:auto;
	margin-right:auto;
}

#header .right {
	margin-left:auto;
	margin-right:0px;
}

#header .left {

}

#header .none {
	display:none;
}

#logoArea {
	float:right;
	text-align:right;
}

#mainlogo {
	
}

#titles {
	float:right;
	text-align:left;
	padding-right:50px;
}
#titles h1 {
	padding-left:50px;
	padding-top:10px;
	margin-bottom:0px;
	padding-bottom:0px;
	color: #fff;
    font-family: EasonPro,"Times New Roman",serif;
    font-size: 4em;
    font-size-adjust: 0.43;
    font-weight: 400;
    text-shadow: 0 0 0.25em rgba(0, 0, 0, 0.75);
	font-variant:small-caps;
}

#titles h2 {
	padding-left:50px;
	margin-top:-10px;
	padding-top:-10px;
	color: #fff;
    font-family: EasonPro,"Times New Roman",serif;
    font-size: 2em;
    font-size-adjust: 0.43;
    font-weight: 400;
    text-shadow: 0 0 0.25em rgba(0, 0, 0, 0.75);
}

#contentContainer {
	border:1px solid #cccccc; 
	background-color:#fff;
	padding-bottom:20px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

.simpleHeader {
	margin-bottom:10px;
	margin-right:20px;
	margin-left: 20px;
}

.noheight{
	height: 0px;
}

.table { 
	display: table;
	width: 100%;
}
.tr { display: table-row;}
.td { 
	display: table-cell;
	padding: 2px;
}
.colorswitch .td{
	border:1px solid #c9c9c9;
}

/***************************************************
 * FRONTEND
 **************************************************/

/* frontend: news style */
blockquote {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	margin-left: 0.1em;
	padding: 0;
	color: #CFCFCF;
	padding-left: 0.6em;
	border-left: solid 4px #336796;
	background-image: none;
}
.selected {
	display: block;
}

/* frontend: roster & others */
#inner_wrapper{
	width:720px;
	margin-top: 10px;
	margin-right : auto;
	margin-bottom: 10px;
	margin-left:auto;
}
.member_wrapper{
	width:690px;
	margin-top: 10px;
	margin-right : auto;
	margin-bottom: 10px;
	margin-left:auto;
}
.roster_hr_member{
	border: none 0;
	border-top: 1px dashed ;
	height: 1px;
}

/* News */
.news {
	padding: 15px;
	overflow:hidden;
	clear:both;
	background-image: url(images/borderline.png);
	background-repeat: repeat-x;
}

.news_headline h1 {
	margin: 0px;
	padding: 0 0 4 0px;
}
.news_headline {
	width: 100%;
}

.news_author {
	margin-top: 4px;
	margin-bottom: 10px;
}

.news hr {
	background: url(images/borderline.png) repeat-x;
	height: 1px;
	border:0;
}

.news_comments, .news_social {
	margin-top: 5px;
	margin-bottom: 5px;
}

.news_content {
	padding: 10px;
}

a.news_rmlink {
	padding-right: 16px !important;
	background-image: url('EQDKP_IMAGE_PATHarrows/menuarrow.png');
	background-position: center right;
	background-repeat: no-repeat;
	display: inline-block;
}
/***************************************************
 * GENERAL
 **************************************************/

/* general: html construct styling */
form {
	display: inline;
}
img {
	border: 0px; vertical-align: middle;
}

a:link,a:active,a:visited,a.postlink{
	
	color: #a90000;
	text-decoration: none;
}
a:hover{
	color: #000000;
	text-decoration: none;
}
a.link2{
	color: #a90000;
}
a.link2:visited{
	color: #a90000;
}
.forumline{
	background:#14293b url(images/table.jpg) repeat-x top;
}


/* general: content */

#contentBody {
	text-align:left;
	margin-bottom: 14px;
}

.content {

}



.contentHead, .contentFooter {
	background: #3f3f3f url(images/head.jpg) repeat-x;
	color:#fff;
	font-size: 12px;
	font-weight:bold;
	min-height:25px;
	white-space:nowrap;
	text-align:left;
	padding-left:8px;
	padding-right:8px;
	vertical-align: middle;
	line-height: 25px;
	clear: both;
}

.contentHead{
	color: #FFFFFF;
    font-family: EasonPro,"Times New Roman",serif;
    font-size: 1.3em !important;
    font-size-adjust: 0.43;
    font-weight: 400;
    text-shadow: 0 0 0.25em rgba(0, 0, 0, 0.75);
	font-variant:small-caps;
}

.contentInner {
	padding:5px;
}

.contentSideRight{
	float: right;
	text-align: left;
	border-left: 1px solid #3F3F3F;
	padding: 15px;
	margin-left: 15px;
	margin-top: 5px;
}

.contentSideLeft {
	float: left;
}

.contentWidth30{
	width: 30%;
}

.contentWidth60{
	width: 60%;
}

.inline-block {
	display:inline-block;
}

input[type=button], input[type=reset], input[type=submit], input.button, a.button {
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 10px;
	padding: 3px 5px 3px 5px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	border: none;
	color: #fff;
	border: solid 1px #640000;
	background-color: #a90000; /* Old browsers */
}
input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover, input.button :hover, a.button:hover {
	text-decoration: none;
	border: 1px solid #000;
	background-color: #353535 !important; /* Old browsers */
}

input[type=button]:active, input[type=reset]:active, input[type=submit]:active, input.button :active ,input[type=button]:focus, input[type=reset]:focus, input[type=submit]:focus, input.button :focus{
	position: relative;
	top: 1px;
	border: 1px solid #000;
	background-color: #353535 !important;
}


input.imagebutton{
	border:1px solid #333;
	height: 26px;
	cursor: pointer;
	color:#333;
	background-color:#d5d5d5;
	-webkit-border-radius: 4px; 
    -khtml-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px;
}


/* general: html elements */
select	{
	-moz-transition: box-shadow 0.1s linear 0s;
    background: none repeat scroll 0 0 #EFEFEF;
    border: 1px solid #A3A3A3;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset;
	
	padding:3px;
	margin: 2px;
	color: #000;
}

textarea{
	-moz-transition: box-shadow 0.1s linear 0s;
    background: none repeat scroll 0 0 #EFEFEF;
    border: 1px solid #A3A3A3;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset;
	
	padding:3px;
	margin: 2px;
	color: #000;
	resize: none;
}
.resizeable{
	resize: both;
}

/* general: inputs */


input {
	-moz-transition: box-shadow 0.1s linear 0s;
    background: none repeat scroll 0 0 #EFEFEF;
    border: 1px solid #A3A3A3;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset;
	
	padding:3px;
	margin: 2px;
	color: #000;
	
}
input[type=text],input[type=password]{
	
}

#personalArea input {
	padding-right: 2px;
	padding-bottom: 2px;
	padding-top: 2px;
}

#personalAreaLogin input[type="submit"], #personalAreaLogin input[type="button"]  {
	background-color: #414141;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus, select:focus {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0,0,0,0.6);
	outline: none;
}

input[type=submit][disabled=disabled], input[type=button][disabled=disabled], input[type=reset][disabled=disabled],input[type=submit][disabled=disabled]:hover, input[type=button][disabled=disabled]:hover, input[type=reset][disabled=disabled]:hover {
	background-color:#eeeeee;
	color:#aaaaaa;
	border-color: #aaaaaa;
}

input[disabled], textarea[disabled],select[disabled], input[disabled]:hover, textarea[disabled]:hover, select[disabled]:hover{
	background:#c8c8c8;
	color:#9a9999;
}

input[type=text][readonly] {
	color: grey;
}

/* Input with images */
input.username{
	padding-left:20px;
	background-image: url(../images/admin/manage_users.png);
	background-repeat: no-repeat, repeat-x;
	background-position: 2px center;
}

input.password{
	padding-left:20px;
	background-image: url(../images/glyphs/key.png);
	background-repeat: no-repeat, repeat-x;
	background-position: 2px center;
}

input[type=checkbox],input[type=radio]  {
	border: none;
	background: none;
}

input.mainoption {
	font-weight: bold;
}

#search_form {
	position: relative;
}

#personalArea .search_button, #personalArea .search_button:hover {
    margin-right: 7px;
	margin-top: 6px;
    position: absolute;
    right: 0;
	background: transparent url(../images/glyphs/view.png) no-repeat center center !important;
	height: 16px;
	width: 16px;
	border: none !important;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow: none;
}

/* general: table style */
td.cat{
	font-weight:bold;
	letter-spacing:1px;
	background: #2b577c url(images/head.jpg) repeat-x;
	height:22px;
	text-indent:4px;
}
th {
	background: #2b577c url(images/head.jpg) repeat-x;
	color:#fff; 
	font-size: 11px;
	font-weight:bold;
	height:25px;
	white-space:nowrap;
	text-align:left;
	padding-left:8px;
	padding-right:8px;
}
td.spacerow{
	background: #2b577c url(images/chains.gif) repeat-x;
	height: 9px;
}
th a, th a:visited, th a:active {
	color: #fff !important;
	text-decoration: none;
	font-weight: bold;
}
th a:hover {
	color: #a90000 !important;
	text-decoration: none;
	font-weight: bold;
}
th.smalltitle {
	font-weight: bold;
	white-space: nowrap;
}
th.smalltitle a, th.smalltitle a:visited, th.smalltitle a:active {
	font-weight: bold;
}
th.smalltitle a:hover {
	font-weight: bold;
}
th.footer {
	text-align: right;
	white-space: nowrap;
	font-weight: normal;
}
th.footer a:link, th.footer a:visited, th.footer a:active {
	font-weight: normal;
}
th.footer a:hover {
	font-weight: normal;
}

.row1,.colorswitch tr:nth-child(even),.colorswitch>td:nth-child(even), .colorswitch > div:nth-child(even){
	background:#c9c9c9;
	color: #000;
}
.row2,.helpline, .colorswitch  tr:nth-child(odd),.colorswitch>td:nth-child(odd), .colorswitch > div:nth-child(odd){
	background:#ededed;
	color: #000;
}
.row3{
	background:#244969;
}
.row4{
	background: #2b577c url(images/head.jpg) repeat-x;
	height: 23px;
	font-size:9px;
	color: #FFFFFF;
	font-weight:bold;
}
.rowHover, 
table tr.marked th,
table tr.marked ,
.hoverrows tr:hover, .hoverrows > div:hover{
	background-color: #aeaeae;
	color:#000;
}
.rowHover a {
	color:#eeeeee;
}
.row1 a,
.row3 a,
.row3 a,
.row4 a {
	color:#a90000;
}
.row1  a:hover,
.row2  a:hover,
.row3  a:hover,
.row4  a:hover {
	color: #000;
}
.pagination_row, .no_bg_table tr th{
	background-color: transparent !important;
	background-image: none !important;
}
.portal_sidebar .row1 a, .portal_sidebar .row1 a:hover,
.portal_sidebar .row2 a, .portal_sidebar .row2 a:hover,
.portal_sidebar .row3 a, .portal_sidebar .row3 a:hover,
.portal_sidebar .row4 a, .portal_sidebar .row4 a:hover {
	color:#eeeeee;
	text-decoration: none;
}

/* general: other elements */
.nav{
	font-size:9px;
	font-weight:bold;
	color: #EDD76F;
}
.subtitle {
	font-size: 12px;
	color: #EEEEEE;
}
.quote1 {
	background: #3A73A4;
	width: 100px;
	border: 1px solid #224461;
	font-size: 11px;
	line-height: 125%;
}
.quote2 {
	background: #3A73A4;
	border: 1px solid #224461;
	font-size: 11px;
	line-height: 125%;
}
.maintitle {
	font-size: 24px;
	font-weight: bold;
	color:#EEEEEE;
}
.small {
	font-size: 10px;
}
.small:hover {
	color: #EEEEEE;
}

.permissions {
	width: 50%;
	float: left;
}

/* general: pagination */
.pagination_wrapper {
	padding: 2px;
	background:#ededed url(images/borderline.png) repeat-x top;
}

div.pagination {
	padding:4px;
}

a.pagination {
	background: #3f3f3f url(images/head.jpg) repeat-x;
	color: #ffffff;
	font-weight:normal;
	text-decoration:none;
	padding: 3px; border: 1px solid white;
}
a.pagination:hover {
	background: #414141;
	font-weight:normal;
	text-decoration:none;
	padding: 3px; border: 1px solid white;
}

.pagination_activ {
	background: #a90000 !important;
	color: #ffffff;
	font-weight:bold;
	padding: 3px;
	border: 1px solid white;
	margin-top:4px;
}

a.arrowright{ 
  background: url('EQDKP_IMAGE_PATH/arrows/right_big.png') no-repeat 0 0;
  padding: 3px 0 4px 34px;
  text-decoration: none;
}

/* general: bbcode */
.image_resized{
	left:0px;
	top:0px;
	position:relative;
	margin:0;
	padding:1px;
}			
.markImageResized{
	width:32px;
	height:32px;
	left:10px;
	top:10px;
	position:absolute;
	margin:0;
	padding:0;
	display: none;
}

/* general: positive/negative/neutral */
.positive {
	color: #33cc33;
}
.negative {
	color: #e23b30;
}
.neutral {
	color: #000;
}

/* general: comment system */
#htmlCommentTable {
	background:none;
}
div.contentBox {
	background:#bfbfbf;
	color: #000;
	margin-bottom: 10px;
	border: 1px solid #999999;
}
.contentBox .boxHeader {
	padding-bottom: 0px;
	white-space: nowrap;
	background: #434343;
	height: 28px;
	line-height: 28px;
	text-align: left;
	padding: 0px 8px 0px 8px;
}
.contentBox .boxHeader h1	{
	color: #FFFFFF;
    font-family: EasonPro,"Times New Roman",serif;
    font-size: 1.3em;
    font-size-adjust: 0.43;
    font-weight: 400;
    text-shadow: 0 0 0.25em rgba(0, 0, 0, 0.75);
	margin: 0;
	padding: 0;
}
.contentBox .boxContent	{
	padding: 8px;
}
.contentBox .boxContent h2 a {
	font-weight:bold;
	font-size: 12px;
}
.boxContent .comment_text {
	font-size: 12px;
}
.rowcolor1 {
	padding: 10px;
	background-color:#ededed;
}
.rowcolor2 {
	padding: 10px;
	background-color: #c9c9c9;
}
.boxContent .comment_link, .boxContent  .comment_link a, .boxContent  .comment_link a:visited {
	text-decoration: underline;
}
.boxContent .comment_link a:hover {
	text-decoration: underline;
	color: #EEEEEE;
}

.comment_avatar{
	vertical-align:middle;
	text-align:center;
}
.comment_avatar img{
	max-width: 48px;
	max-height: 48px;
}

/***************************************************
 * MENUS
 **************************************************/

.mainmenu4 {
	list-style-type: none;
	height:19px;
}

.mainmenu4 li{
	float: left;
	display: block;
}

.mainmenu4 li a {
	background: #fff;
	margin-left: 5px;
	display: block;
	float: left;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	margin-bottom: -1px;
	height:20px;
	
	color: #000;
    font-family: EasonPro,"Times New Roman",serif;
    font-size: 1.8em;
    font-size-adjust: 0.43;
    font-weight: 400;
    text-shadow: 0 0 0.25em rgba(0, 0, 0, 0.75);
	font-variant:small-caps;
	
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

.mainmenu4 li a:hover{
	background: #e8e8e8;
	text-decoration: underline;
	border-top: 1px solid #BBBBBB;
	border-left: 1px solid #BBBBBB;
	border-right: 1px solid #BBBBBB;
}

.mainmenu4 li a:active{
	background: #e8e8e8;
	text-decoration: underline;
	border-top: 1px solid #BBBBBB;
	border-left: 1px solid #BBBBBB;
	border-right: 1px solid #BBBBBB;
}

/***************************************************
 * FOOTER
 **************************************************/
#footer{
	text-align: center;
	margin: -80px 0 0 0;
	color: #000000;
	background: url(images/Skin_footer.png) no-repeat;
	background-position: center bottom;
	height: 200px;
	
}

.copyright {
	font-size: 12px;
	color: #000000;
	padding-top: 100px;
}

#gw2copy{
	color: #fff;
	font-size: 10px;
	margin-left: auto; 
	margin-right: auto;
	width: 800px;
	padding-top: 15px;
}

#gw2copy #ncsoft_logo {
	float:left;
	margin-right:30px;
}

#gw2copy #arenanet_logo {
	float:left;
	margin-right:30px;
}

#gw2copy #gw2_copytext {
	float:left;
	width: 400px;
	text-align:left;
}

#footer a, copyright a {
	color: #000000;
	text-decoration:none;
}
#footer a:hover, copyright a:hover, #impressum:hover {
	color: #666666;
	text-decoration:underline;
}
#dialog_disclaimer{
	display: none;
}
#impressum{
	margin: 0px 0px 10px 0px;
}

/***************************************************
 * MENUS
 **************************************************/

.mainmenu, .mainmenu1, .mainmenu2, .mainmenu3 {
	list-style:none;
	display:block;
	margin:0;
	padding:0;
}

.mainmenu li a, .mainmenu1 li a, .mainmenu2 li a, .mainmenu3 li a {
	display:block;
	margin:1px;
	padding:2px;
	padding-left:14px;
}

.mainmenu a, .mainmenu1 a, .mainmenu2 a, .mainmenu3 a   {
	color:#eeeeee;
	text-decoration: none;
}

.mainmenu li:nth-child(even) a:hover, .mainmenu1 li:nth-child(even) a:hover,.mainmenu2 li:nth-child(even) a:hover, .mainmenu3 li:nth-child(even) a:hover, .mainmenu li:nth-child(odd) a:hover, .mainmenu1 li:nth-child(odd) a:hover,.mainmenu2 li:nth-child(odd) a:hover, .mainmenu3 li:nth-child(odd) a:hover {
	color:#fff;
	text-decoration: none;
	background: #aeaeae url('EQDKP_IMAGE_PATHarrows/menuarrow.png') no-repeat 3px center;
}

.mainmenu li:nth-child(even) a, .mainmenu1 li:nth-child(even) a,.mainmenu2 li:nth-child(even) a, .mainmenu3 li:nth-child(even) a{
	background:#c9c9c9 url('EQDKP_IMAGE_PATHarrows/menuarrow.png') no-repeat 3px center; /* Dynamic */
	color: #000; /* Dynamic */
}
.mainmenu li:nth-child(odd) a, .mainmenu1 li:nth-child(odd) a,.mainmenu2 li:nth-child(odd) a, .mainmenu3 li:nth-child(odd) a{
	background:#ededed url('EQDKP_IMAGE_PATHarrows/menuarrow.png') no-repeat 3px center; /* Dynamic */
	color: #000; /* Dynamic */
}

/***************************************************
 * PORTAL
 **************************************************/

/* portal modules: global/boxes */
.portalbox {
	border:1px solid #ccc;
	margin-bottom: 14px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}
.portalbox_content {
	color: #000;
	white-space: normal;
	overflow: hidden;
	background-color:#fff;
}
.portalbox_head {
	white-space: nowrap;
	overflow: hidden;
	background:#3f3f3f url(images/head.jpg) repeat-x;
	height: 28px;
	line-height: 28px;
	text-align: left;
	padding: 0px 8px 0px 8px;
	
	color: #FFFFFF;
    font-family: EasonPro,"Times New Roman",serif;
    font-size: 1.3em;
    font-size-adjust: 0.43;
    font-weight: 400;
    text-shadow: 0 0 0.25em rgba(0, 0, 0, 0.75);
	font-variant:small-caps;
}

#personalAreaLogin {
	float:left;
	padding: 3px;
	padding-left: 10px;
}

#personalAreaTime {
	float:right;
	padding: 3px;
	padding-right: 10px;
}

/***************************************************
 * settings style
 **************************************************/
fieldset.settings {
	margin: 15px 0;
	padding: 10px;
	border: 1px solid #989898;
	background-color: #cfcfcf;
	color: #000;
}
fieldset.settings legend {
	font-family: Tahoma,arial,Verdana,Sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.2em;
	color: #fff;
	margin-top: -.4em;
	position: relative;
	text-transform: none;
	line-height: 1.2em;
	top: 0;
	vertical-align: middle;
	background: #414141;
	padding: 6px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
fieldset.settings dl {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.00em;
	color: #000;
}
fieldset.settings dt {
	float: left;
	width: auto;
}
fieldset.settings dd + dd {
	padding-top: 5px;
}
fieldset.settings dt {
	width: 55%;
	text-align: left;
	border: none;
	border-right: 1px solid #fff;
	padding-top: 3px;
}
fieldset.settings dd {
	margin: 0 0 0 55%;
	padding: 0 0 0 5px;
	border: none;
	border-left: 1px solid #fff;
	vertical-align: middle;
	font-size: 1.00em;
	text-align: left;
}
fieldset.settings dt.onerow {
	width: 100%;
}
fieldset.smallsettings dt {
	width: 15%;
}
fieldset.smallsettings dd{
	margin: 0 0 0 15%;
}
fieldset.mediumsettings dt {
	width: 35%;
}
fieldset.mediumsettings dd{
	margin: 0 0 0 35%;
}
fieldset.settings dl {
	overflow: hidden;
	margin-bottom: 10px;
	font-size: 0.95em;
}
fieldset.settings dl:hover {
	background: #bcbcbc;
}
fieldset.settings dt label {
	font-size: 1.00em;
	text-align: left;
	font-weight: bold;
	color: #000;
}
fieldset.settings dd label {
	font-size: 1.00em;
	margin: 0 10px 0 0;
}
fieldset.settings dt span {
	padding: 0 5px 0 0;
}


fieldset.invisible {
	padding: 10px;
	border: none;
}

fieldset.invisible dt {
	float: left;
	width: auto;
}

fieldset.invisible dt {
	width: 30%;
	text-align: left;
	border: none;
	padding-top: 3px;
}
fieldset.invisible dd {
	margin: 0 0 0 30%;
	padding: 0 0 0 5px;
	border: none;
	vertical-align: middle;
	text-align: left;
}

fieldset.invisible dt label {
	font-weight:bold;
}

/* Hack for tinymce in colorswitch tables */
.mceLayout tr:nth-child(odd),.mceLayout>td:nth-child(odd),
.mceLayout tr:nth-child(even),.mceLayout>td:nth-child(even){
	background: transparent;
}

/***************************************************
 * Admin Control Panel [ACP]
 **************************************************/

#adminmenu{
	padding:10px;
}
 
/* ACP: index, rss notifications */
#notifications,
#twitterfeed{
	background: #ededed;
	margin:0;
	padding:5px;
	border:1px solid #999999;
	height:200px;
	width:auto;
	overflow: auto;
}
#notifications a,
#twitterfeed a {
	color:#a90000;
}
#notifications .date,
#twitterfeed .date {
	margin:0;
	color: #666;
	font-size:x-small;
	letter-spacing:0.2em;
}
#notifications .description,
#twitterfeed .description{
	margin:0;
	padding:0;
}
.loading{
	margin:20% 0% 0% 40%;
	float:left;
}

/*  ACP: portal module management */
.portal_block {
	list-style-type: none;
	padding: 5px;
	margin:10px;
	border:1px dashed #666;
}
.red {
	background: rgba(255, 0, 0, 0.6); 
}
.green {
	background: rgba(0, 255, 0, 0.6); 
}
.portal_block li { list-style-type: none; padding: 10px;
	margin:10px;
	background-color:#fff;
	cursor:pointer;
}
.portal_block_light { 
	list-style-type: none;
	padding: 5px;
	margin:10px;
	border:1px dashed #666;
}
.portal_block_light li { list-style-type: none; padding: 10px;
	margin:10px;
	background-color:#CCC;
	color:#333;
}

/* ACP: admin menu - update available badge */
.update_available {
	background-image: url(../images/extensions/updatebadge.png);
	top: -10px;
	left: 4px;
	margin-right: 4px;
	position: relative;
	width:  24px;
	height: 24px;
	line-height:24px;
	text-align: center;
	display: block;
	float:  right;
	vertical-align: middle;
	font-size: 10px;
	font-weight: bold;
	color:  white;
}

/* ACP: admin menu - update available badge */
.update_available_yellow {
	background-image: url(../images/extensions/updatebadge_yellow.png);
	top: -10px;
	left: 4px;
	margin-right: 4px;
	position: relative;
	width:  24px;
	height: 24px;
	line-height:24px;
	text-align: center;
	display: block;
	float:  right;
	vertical-align: middle;
	font-size: 10px;
	font-weight: bold;
	color:  black;
}

/* ACP: manage menues */
.manage_menues_block { 
	list-style-type: none; padding: 3px; margin:6px; border:1px dashed #666; min-width:180px;
}
.manage_menues_block2 {
	list-style-type: none; padding: 3px; margin:6px; border:3px dashed #666; min-width:180px;
}
.manage_menues_block ul {
	margin:0px;
	padding:0px;
}
.manage_menues_block li, .manage_menues_block2 li {
	list-style-type: none; padding: 5px;
	margin:5px; background-color:#fff; cursor:pointer; color:#666;
}

/***************************************************
 * CALENDAR
 **************************************************/
 
 /* calendar: global */
#calendar_loading{
	-webkit-border-radius: 10px; 
    -khtml-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;
	width: 160px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	background-color: rgba(0,0,0,0.4);
	color: white;
	position:fixed;
	top:50%;
	left:50%;
	margin-left:-100px;
	margin-top:-100px;
	padding: 0px 10px 0px 10px;
	z-index:999999;
	font-size: 20px;
}
#calendar_loading img{
	margin: 0px 5px 0px 5px;
}
.fc-event-icons{
	margin-left: 4px;
	margin-top:2px;
	border: 0px;
	display:block;
	float:left;
}
.fc-event-flag{
	margin-right: 4px;
	margin-top:2px;
	border: 0px;
	display:block;
	float:right;
}
.fc-event-title{
	vertical-align: middle;
}
#events-layer{
	width:38px;
	text-align:right;
	z-index:100;
	position: absolute;
	right:0px;
	top:-20px;
	background-color: rgba(0,0,0,0.6);
	border:1px solid #333;
	padding: 3px;
}

/* calendar: raidevent view */

.raidcal_name{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 28px;
	color: #000;
}

.raidcal_infos, .moderation_panel{
	font-size: 12px;
	line-height: 1.3;
}

fieldset.raidcal_infos, fieldset.moderation_panel {
	padding-top: 0px;
}

fieldset.raidcal_infos dt, fieldset.moderation_panel dt {
	padding-top: 0px;
}

table.guesttable { 
	padding: 5px;
	border: 1px solid green;
	background: #EEFFDF;
}
table.guesttable td{
	color:black;
}
.style1 {
	text-align: center;
}
a.attendee_Link{
	text-decoration: none;
}
a.attendee_Link:hover{
	text-decoration: underline;
}

/* calendar:  raidevent view - Not signed in Members Bar */
.notsignedpanel {
	position: fixed;
	top: 50px;
	right: 0;
	display: none;
	background: #000000;
	border:1px solid #111111;
	-webkit-border-radius: 20px 0px 0px 20px;
	border-radius: 20px 0px 0px 20px; 
	width: 350px;
	height: auto;
	padding: 30px 30px 30px 50px;
	filter: alpha(opacity=85);
	opacity: .85;
	z-index: 9999;
	color: #fff;
}

.notsigned_button {
	outline: none;
	float: right;
	display: block;
}

.notsignedpanel_close {
		position:absolute;
	background: url(../images/global/close.png) no-repeat;
	height: 32px;
	width: 32px;
	top: -16px;
	left: -16px;
	cursor: pointer;
}

#memberScroller{
	height: 300px;
	overflow:auto;
	width:380px;
}
#pnlMemButton{
	padding-left:60px;
	padding-top:15px;
}
#pnlHeader{
	font-size: 13pt;
	font-weight: bold;
}
#addguest{
	background:#EEFFDF;
	display: inline-block;
	padding: 10px;
	color:#555555;
	height:24px;
	line-height:24px;
	-webkit-border-radius: 5px; 
    -khtml-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px;
	cursor: pointer;
	border: 1px solid #C0E0A4;
}
#addguest:hover{
	background:#D9EBCA;
}
.raidcal_actionbar{
	margin: 5px;
	cursor: pointer;
}
#raidcal_signin_form div{
	height: 50px;
	display:table-cell;
	vertical-align:middle;
}
#raidcal_change_signin{
	float:right;
	margin-top:14px;
	margin-right:10px;
}
.charchange_menu, .notechange_menu{
	display: none;
}
.charchange_menucontainer{
	background-color:#466988;
	overflow: hidden;
}
.charchange_button{
	width: 20px; height: 20px;
	background-image: url(../images/calendar/changechar.png);
	display : inline-block;
}
.rcal_comment{
	width: 20px; height: 20px;
	background: url(../images/calendar/comment.png);
	background-position: -0px -0px;
	display : inline-block;
}
.rcal_comment_admin{
	width: 20px; height: 20px;
	background: url(../images/calendar/comment.png);
	background-position: 0px -60px;
	display : inline-block;
}
.rcal_comment_add{
	width: 20px; height: 20px;
	background:url(../images/calendar/comment.png);
	background-position: 0px -30px;
	display : inline-block;
}

/* general: information boxes */
.roundbox{
	-webkit-border-radius: 10px; 
    -khtml-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;
}
.errorbox{
	border: 1px solid red;
	background: #FFEFEF;
	padding: 5px;
	margin: 3px;
	color:red;
}
.errorbox a, .errorbox a:visited{
	color:red;
	text-decoration: none;
}
.errorbox a:hover{
	color:red;
	text-decoration: underline;
}
.errorbox div, .greenbox div, .bluebox div {
	padding: 7px 10px 7px 72px;
	background-position: 10px center;
	margin: 10px 0px;
	display:block;
	min-height: 32px;	
}
.errorbox div span, .greenbox div span, .bluebox div span{
	padding: 0px 0px 0px 0px;
	margin: 10px 0px;
	display:inline;
}
.greenbox{
	border: 1px solid green;
	background: #EEFFDF;
	padding: 5px;
	padding: 5px;
	margin: 3px;
	color:black;
}
.bluebox{
	border: 1px solid blue;
	background: #BDD2FF;
	margin: 3px;
	color:black;
	padding: 5px;
}
.greenbox a, .greenbox a:visited,
.bluebox a, .bluebox a:visited{
	color:black;
	text-decoration: none;
}
.greenbox a:hover, .bluebox a:hover{
	color:black;
	text-decoration: underline;
}

/* general: superfish - global settings  */
.sf-menu {
	float: left;
	margin-bottom: .3em;
	background: #BDD2FF;
}
.sf-menu a {
	padding: .75em 1em;
	text-decoration: none;
}
.sf-menu a, .sf-menu a:visited  {
	color: #13a;
}
.sf-menu li {
	background: #BDD2FF;
}
.sf-menu li li {
	background: #AABDE6;
}
.sf-menu li li li {
	background: #9AAEDB;
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	background: #CFDEFF;
	outline: 0;
}

#adminmenu ul.sf-shadow {
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	border: 1px solid #CCCCCC;
}

.sf-sub-indicator {
	background:url('images/arrows.png') no-repeat -10px -100px;
}

/* general: superfish - admin menu style */
.sf-admin{
	background: #3f3f3f url(images/head.jpg) repeat-x;
	width: 100%;
}
.sf-admin a, .sf-admin a:visited{
	color: white;
}
.sf-admin li {
	background: #3f3f3f url(images/head.jpg) repeat-x;
	height:3em;
}
.sf-admin li li {
	background: #3f3f3f;
}
.sf-admin li li li {
	background: #5a5a5a
}
.sf-admin li:hover, .sf-admin li.sfHover,
.sf-admin a:focus, .sf-admin a:hover, .sf-admin a:active {
	background: #a90000 !important;
}

/* general: superfish - single dropdown menu */
.sf-ddm{
	background:#333333;
	margin-left: 10px;
	float: right;
	border:1px solid #666666;
	text-align: center;

}
.sf-ddm a, .sf-ddm a:visited{
	color: white;
}
.sf-ddm li {
	padding: 3px 0px 3px 0px;
	background:#333333;
	color: white;
}
.sf-ddm li li {
	padding: 0px;
	background: #333333;
}
.sf-ddm li li li {
	background: #9AAEDB;
	float: left;
}
.sf-ddm li:hover, .sf-menu li.sfHover,
.sf-ddm a:focus, .sf-menu a:hover, .sf-menu a:active {
	background: #222222;
}

/* general: game specific */
.resists {
	width: 27px;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 12px !important;
}

/* general: validate error messages */
label.error, label.error {
	color: red;
	font-style: italic;
	display:inline-block;
	padding-left:20px;
	line-height:16px;
	background:transparent url(images/warning.png) center left no-repeat;
}
div.error { display: none; }

/* general: hptt arrows */
.up_arrow_red{
	background:url(images/updownarrow.png) no-repeat;
	background-position: 0px -40px;
	width: 9px;
	height: 10px;
	display : inline-block;
}
.up_arrow_green, .up_arrow {
	background:url(images/updownarrow.png) no-repeat;
	background-position: 0px 0px;
	width: 9px;
	height: 10px;
	display : inline-block;
}
.down_arrow_green, .down_arrow {
	background:url(images/updownarrow.png) no-repeat;
	background-position: 0px -20px;
	width: 9px;
	height: 10px;
	display : inline-block;
}
.down_arrow_red{
	background:url(images/updownarrow.png) no-repeat;
	background-position: 0px -60px;
	width: 9px;
	height: 10px;
	display : inline-block;
}

/* general: jquery toogle arrows */
span.toggle_button {
	display:inline-block;
	width:16px;
	height:16px;
}
.toggle_button { 
	display: inline-block;
	height: 16px;
	vertical-align: middle;
	cursor: pointer;
	background:transparent url("EQDKP_IMAGE_PATH/arrows/toggle_arrows.png") no-repeat;
	min-height: 16px;
}
.toggle_button.active {
	background-position: left -16px;
}
.togglebutton_name{
	margin-left:24px;
}
.confirmdialog{
	text-align:left;
}
.imageuploader_buttons{
	width:38px;
	text-align:right;
	z-index:100;
	position: relative;
	left: 3px;
	bottom: 3px;
	background-color: rgba(0,0,0,0.6);
	border:1px solid #333;
	padding: 3px;
}
.imageuploader_image{
}

div.icon_loading{
	background:transparent url(images/bluebox_loading.gif) center left no-repeat;
}

/* character view */
.profile_header{
	margin: 7px 0 20px 7px;
	min-height: 48px;
}
.profile_header img {
	float: left;
	margin: 0 10px 0 0;
}
.profile_header .charname {
	font-size: 1.6em;
	font-weight: normal;
	text-align: left;
}
.profile_header.charlevel{}
.profile_header.charguild{}

/* notify messages */
.notify_error{
	background: rgba(255, 0, 0, 0.6);
	min-height: 50px;
}
.notify_success{
	color: black;
	background: rgba(0, 255, 0, 0.6);
	min-height: 50px;
}

.ui-notify a {
	color: #fff;
}
.ui-notify a:hover{
	color: #a90000;
}

.ui-notify-message {
	text-align:left;
}

.ui-notify-message h1 {
	text-align:center;
}

input.ui-spinner-input, input.ui-spinner-input:focus, input.ui-spinner-input:hover {
	background:transparent;
	border:none;
}

.social  iframe {
	vertical-align: middle;
	margin-bottom: .25em;
}

.ui-accordion-content {
	padding: 5px !important;
	color: #000;
}

.ui-tabs {
	background: none !important;
}

.ui-tabs .ui-widget-content {
	color: #000 !important;
}

.fc-day-number {
	color: #fff;
}

.ui-state-highlight .fc-day-number {
	color: #000;
}

.ui-widget {
	font-size:12px;
}