<!-- INCLUDE page_header.html -->
<table width="100%" border="0" cellspacing="1" cellpadding="2">
  <tr>
    <th align="center">{L_MANAGE_MEMBERS}</th>
  </tr>
  <tr>
    <td class="row1" align="center">
      <table border="0" cellspacing="0" cellpadding="3" align="center" class="borderless">
        <tr>
          <td align="center" nowrap="nowrap" class="row1"><a href="{U_ADD_MEMBER}">{L_ADD_MEMBER}</a></td>
        </tr>
        <tr>
          <td align="center" nowrap="nowrap" class="row1"><a href="{U_LIST_MEMBERS}">{L_LIST_EDIT_DEL_MEMBERS}</a></td>
        </tr>
        <tr>
          <td align="center" nowrap="nowrap" class="row1"><a href="{U_EDIT_RANKS}">{L_EDIT_RANKS}</a></td>
        </tr>
        <tr>
          <td align="center" nowrap="nowrap" class="row1"><a href="{U_TRANSFER_HISTORY}">{L_TRANSFER_HISTORY}</a></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <th align="center">&nbsp;</th>
  </tr>
</table>
<!-- INCLUDE page_tail.html -->