<!-- INCLUDE page_header.html -->
  <table width="100%" border="0" cellspacing="1" cellpadding="2">
    <tr>
      <th class="smalltitle" align="center">{L_ADMINISTRATION}</th>
    </tr>
    <tr>
      <td class="row1">&nbsp;<img src="{EQDKP_ROOT_PATH}images/arrow.gif" alt="arrow" />&nbsp;<a href="index.php{SID}&amp;pane=right" target="main">{L_ADMIN_INDEX}</a></td>
    </tr>
    <tr>
      <td class="row2">&nbsp;<img src="{EQDKP_ROOT_PATH}images/arrow.gif" alt="arrow" />&nbsp;<a href="{EQDKP_ROOT_PATH}{SID}" target="_top">{L_EQDKP_INDEX}</a></td>
    </tr>
    <!-- BEGIN header_row -->
    <tr>
      <th align="left" class="smalltitle">{header_row.HEADER}</th>
    </tr>
    <!-- BEGIN menu_row -->
    <tr>
      <td class="{header_row.menu_row.ROW_CLASS}">&nbsp;<img src="{EQDKP_ROOT_PATH}images/arrow.gif" alt="arrow" />&nbsp;{header_row.menu_row.LINK}</td>
    </tr>
    <!-- END menu_row -->
    <!-- END header_row -->
  </table>
<!-- INCLUDE page_tail.html -->