<!-- INCLUDE page_header.html -->
<script language="JavaScript" type="text/javascript">
<!--

var form_name = 'post';
var text_name = 'news_message';

// Startup variables
var theSelection = false;

// Check for Browser & Platform for PC & IE specific bits
// More details from: http://www.mozilla.org/docs/web-developer/sniffer/browser_type.html
var clientPC = navigator.userAgent.toLowerCase(); // Get client info
var clientVer = parseInt(navigator.appVersion); // Get browser version

var is_ie = ((clientPC.indexOf('msie') != -1) && (clientPC.indexOf('opera') == -1));
var is_win = ((clientPC.indexOf('win') != -1) || (clientPC.indexOf('16bit') != -1));

// Define the bbCode tags
bbtags = new Array(
	'[b]','[/b]',
	'[i]','[/i]',
	'[u]','[/u]',
	'[quote]','[/quote]',
	'[img]http://','[/img]',
	'[url]http://','[/url]',
	'[center]','[/center]',
	'[item]','[/item]',
	'[itemicon]','[/itemicon]'
	);

// Define the bbCode helpline messages
var help_line_messages = {
	b: '{L_B_HELP}',
	i: '{L_I_HELP}',
	u: '{L_U_HELP}',
	q: '{L_Q_HELP}',
	c: '{L_C_HELP}',
	p: '{L_P_HELP}',
	w: '{L_W_HELP}',
	it: '{L_IT_HELP}',
	ii: '{L_II_HELP}'
}

/**
* Shows the help messages in the helpline window
*/
function helpline(help)
{
	document.forms[form_name].helpbox.value = help_line_messages[help];
}

function check_form()
{
    if (document.post.news_message.value.length < 2)
    {
        alert('{MSG_MESSAGE_EMPTY}');
        return false;
    }
    if (document.post.news_headline.value.length < 1)
    {
        alert('{MSG_HEADLINE_EMPTY}');
        return false;
    }
    return true;
}

function bbstyle(bbnumber)
{
	bbfontstyle(bbtags[bbnumber], bbtags[bbnumber+1]);
    return;
}

function bbfontstyle(bbopen, bbclose)
{
	theSelection = false;

	var textarea = document.forms[form_name].elements[text_name];

	textarea.focus();

	if ((clientVer >= 4) && is_ie && is_win)
	{
		// Get text selection
		theSelection = document.selection.createRange().text;

		if (theSelection)
		{
			// Add tags around selection
			document.selection.createRange().text = bbopen + theSelection + bbclose;
			document.forms[form_name].elements[text_name].focus();
			theSelection = '';
			return;
		}
	}
	else if (document.forms[form_name].elements[text_name].selectionEnd && (document.forms[form_name].elements[text_name].selectionEnd - document.forms[form_name].elements[text_name].selectionStart > 0))
	{
		mozWrap(document.forms[form_name].elements[text_name], bbopen, bbclose);
		document.forms[form_name].elements[text_name].focus();
		theSelection = '';
		return;
	}

	// No text is selected, so add tags at the end
	document.forms[form_name].elements[text_name].value += bbopen + bbclose;
	textarea.focus();
	return;
}

/**
* From http://www.massless.org/mozedit/
*/
function mozWrap(txtarea, open, close)
{
	var selLength = txtarea.textLength;
	var selStart = txtarea.selectionStart;
	var selEnd = txtarea.selectionEnd;
	var scrollTop = txtarea.scrollTop;

	if (selEnd == 1 || selEnd == 2)
	{
		selEnd = selLength;
	}

	var s1 = (txtarea.value).substring(0,selStart);
	var s2 = (txtarea.value).substring(selStart, selEnd)
	var s3 = (txtarea.value).substring(selEnd, selLength);

	txtarea.value = s1 + open + s2 + close + s3;
	txtarea.selectionStart = selEnd + open.length + close.length;
	txtarea.selectionEnd = txtarea.selectionStart;
	txtarea.focus();
	txtarea.scrollTop = scrollTop;

	return;
}
//-->
</script>
<form method="post" action="{F_ADD_NEWS}" name="post" onsubmit="return check_form(this)">
<input type="hidden" name="{URI_NEWS}" value="{NEWS_ID}" />
<table width="100%" border="0" cellspacing="1" cellpadding="2">
  <tr>
    <th align="center" colspan="2" >{L_ADD_NEWS}</th>
  </tr>
  <tr>
    <td width="200" class="row1" nowrap="nowrap"><b>{L_HEADLINE}:</b></td>
    <td width="100%" class="row2"><input type="text" name="news_headline" size="40" maxlength="255" value="{HEADLINE}" style="width: 450px" class="input" />{FV_HEADLINE}</td>
  </tr>

  <tr>
    <td width="200" class="row1" nowrap="nowrap"><b>{L_MESSAGE_BODY}:</b></td>
    <td width="100%" class="row2">
      <table border="0" cellspacing="0" cellpadding="2" class="borderless">
        <tr>
          <td><input type="button" accesskey="b" name="addcode0" value=" B " style="font-weight: bold; width: 30px" onmouseover="helpline('b')" onclick="bbstyle(0)" class="input" /></td>
          <td><input type="button" accesskey="i" name="addcode2" value=" i " style="font-style: italic; width: 30px" onmouseover="helpline('i')" onclick="bbstyle(2)" class="input" /></td>
          <td><input type="button" accesskey="u" name="addcode4" value=" u " style="text-decoration: underline; width: 30px" onmouseover="helpline('u')" onclick="bbstyle(4)" class="input" /></td>
          <td><input type="button" accesskey="q" name="addcode6" value=" Quote " style="width: 50px" onmouseover="helpline('q')" onclick="bbstyle(6)" class="input" /></td>
          <td><input type="button" accesskey="c" name="addcode12" value=" Center " style="width: 50px" onmouseover="helpline('c')" onclick="bbstyle(12)" class="input" /></td>
          <td><input type="button" accesskey="p" name="addcode8" value=" IMG " style="width: 50px" onmouseover="helpline('p')" onclick="bbstyle(8)" class="input" /></td>
          <td><input type="button" accesskey="w" name="addcode10" value=" URL " style="width: 50px" onmouseover="helpline('w')" onclick="bbstyle(10)" class="input" /></td>

          <td><input type="button" accesskey="t" name="addcode14" value=" Item " style="width: 50px" onmouseover="helpline('it')" onclick="bbstyle(14)" class="input" /></td>
          <td><input type="button" accesskey="o" name="addcode16" value=" ItemIcon " style="width: 60px" onmouseover="helpline('ii')" onclick="bbstyle(16)" class="input" /></td>
        </tr>
      </table>
      <table border="0" cellspacing="0" cellpadding="2" class="borderless">
        <tr>
          <td><input type="text" name="helpbox" size="45" maxlength="100" style="width: 450px; font-size: 10px;" class="helpline2" value="" />
          <br><span class="small">{L_VIDEO_HELP} </span></td>
        </tr>
        <tr><td> </td></tr>
        <tr>
          <td>{L_NEWS_MSG}<br>
          <textarea name="news_message" rows="15" cols="60" style="width: 450px" class="input">{MESSAGE}</textarea>{FV_MESSAGE}</td>
        </tr>
        <tr>
          <td>{L_NEWS_EXT_MSG}<br>
          <textarea name="extended_message" rows="15" cols="60" style="width: 450px" class="input">{MESSAGE_EXT}</textarea>{FV_MESSAGE}</td>
        </tr>
       </table>
    </td>
  </tr>

    <tr>
      <td width="200" class="row1" nowrap="nowrap"><b>{L_MESSAGE_SHOW_LOOT_RAID}</b></td>
      <td width="100%" class="row2">

         <select name="raid_id[]" size="10" multiple="multiple" class="input">
	          <option value=""></option>
	          <!-- BEGIN raids_row -->
	          <option value="{raids_row.VALUE}"{raids_row.SELECTED}>{raids_row.OPTION}</option>
	          <!-- END raids_row -->
    </select>

      </td>
  </tr>
  <tr>
      <td width="200" class="row1" nowrap="nowrap"><b>{L_NEWS_NOCOMMENTS}</b></td>
      <td width="100%" class="row2"><input type="checkbox" name="nocomments" value="1" {NOCOMMENTS_CHECKED}> </td>
  </tr>
  <tr>
      <td width="200" class="row1" nowrap="nowrap"><b>{L_PERMISSIONS}</b></td>
      <td width="100%" class="row2">{L_PERMISSIONS_HELP}<br>

      <input type="radio" name="news_permissions" value="0" {PERM0CHECKED}> {L_PERMISSIONS_ALL} <br>
      <input type="radio" name="news_permissions" value="1" {PERM1CHECKED}> {L_PERMISSIONS_GUEST} <br>
      <input type="radio" name="news_permissions" value="2" {PERM2CHECKED}> {L_PERMISSIONS_MEMBER} <br>
      </td>
  </tr>

  <!-- IF S_UPDATE -->
  <tr>
    <td width="200" class="row1" nowrap="nowrap"><b>{L_UPDATE_DATE_TO}</b></td>
    <td width="100%" class="row2"><input type="checkbox" name="update_date" value="1" /></td>
  </tr>
  <!-- ENDIF -->
  <tr>
    <th align="center" colspan="2">
    <!-- IF S_ADD -->
    <input type="submit" name="add" value="{L_ADD_NEWS}" class="mainoption" /> <input type="reset" name="reset" value="{L_RESET}" class="liteoption" />
    <!-- ELSE -->
    <input type="submit" name="update" value="{L_UPDATE_NEWS}" class="mainoption" /> <input type="submit"  name="delete" value="{L_DELETE_NEWS}" class="liteoption" />
    <!-- ENDIF -->
    </th>
  </tr>
</table>
</form>
<!-- INCLUDE page_tail.html -->