<!-- INCLUDE page_header.html -->
<!-- IF S_LIST -->
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="borderless">
  <tr>
    <td align="center" class="menu">{VIEWLOGS_PAGINATION}</td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="1" cellpadding="2">
  <tr>
    <th align="left" width="150" nowrap="nowrap"><a href="{U_LOGS}o={O_DATE}">{L_DATE}</a></th>
    <th align="left" width="100%"><a href="{U_LOGS}o={O_TYPE}">{L_TYPE}</a></th>
    <th align="left" width="100" nowrap="nowrap" class="rowhead">{L_VIEW_ACTION}</th>
    <th align="left" width="100" nowrap="nowrap"><a href="{U_LOGS}o={O_USER}">{L_USER}</a></th>
    <th align="left" width="120" nowrap="nowrap"><a href="{U_LOGS}o={O_IP}">{L_IP_ADDRESS}</a></th>
    <th align="left" width="70" nowrap="nowrap"><a href="{U_LOGS}o={O_RESULT}">{L_RESULT}</a></th>
  </tr>
  <!-- BEGIN logs_row -->
  <tr class="{logs_row.ROW_CLASS}">
    <td width="150" nowrap="nowrap">{logs_row.DATE}</td>
    <td width="100%"><a href="{U_LOGS_SEARCH}o={CURRENT_ORDER}&amp;search={logs_row.ENCODED_TYPE}">{logs_row.TYPE}</a></td>
    <td width="100" nowrap="nowrap"><a href="{logs_row.U_VIEW_LOG}">{L_VIEW}</a></td>
    <td width="100" nowrap="nowrap"><a href="{U_LOGS_SEARCH}o={CURRENT_ORDER}&amp;search={logs_row.ENCODED_USER}">{logs_row.USER}</a></td>
    <td width="120" nowrap="nowrap"><a href="{U_LOGS_SEARCH}o={CURRENT_ORDER}&amp;search={logs_row.ENCODED_IP}">{logs_row.IP}</a></td>
    <td width="70" nowrap="nowrap" class="{logs_row.C_RESULT}">{logs_row.RESULT}</td>
  </tr>
  <!-- END logs_row -->
  <tr>
    <th colspan="6" class="footer">{VIEWLOGS_FOOTCOUNT}</th>
  </tr>
</table>
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="borderless">
  <tr>
    <td align="center" class="menu">{VIEWLOGS_PAGINATION}</td>
  </tr>
</table>
<!-- ELSE -->
<table width="100%" border="0" cellspacing="1" cellpadding="2">
  <tr>
    <th align="left" colspan="2">{L_LOG_VIEWER}</th>
  </tr>
  <tr>
    <td class="row1" width="200" nowrap="nowrap">{L_DATE}:</td>
    <td class="row1" width="100%">{LOG_DATE}</td>
  </tr>
  <tr>
    <td class="row2" width="200" nowrap="nowrap">{L_USERNAME}:</td>
    <td class="row2" width="100%">{LOG_USERNAME}</td>
  </tr>
  <tr>
    <td class="row1" width="200" nowrap="nowrap">{L_IP_ADDRESS}:</td>
    <td class="row1" width="100%">{LOG_IP_ADDRESS}</td>
  </tr>
  <tr>
    <td class="row2" width="200" nowrap="nowrap">{L_SESSION_ID}:</td>
    <td class="row2" width="100%">{LOG_SESSION_ID}</td>
  </tr>
  <tr>
    <th align="left" colspan="2">{LOG_ACTION}</th>
  </tr>
  <!-- BEGIN log_row -->
  <tr>
    <td class="{log_row.ROW_CLASS}" width="200" nowrap="nowrap">{log_row.KEY}</td>
    <td class="{log_row.ROW_CLASS}" width="100%">{log_row.VALUE}</td>
  </tr>
  <!-- END log_row -->
  <tr>
    <th colspan="2">&nbsp;</th>
  </tr>
</table>
<!-- ENDIF -->
<!-- INCLUDE page_tail.html -->