	<!-- That's the End of the Data Table ;) -->
		</td>
		<td style="background:url({TEMPLATE_PATH}/images/data_border/right.gif); background-repeat:repeat-y; ">
			<img src="{TEMPLATE_PATH}/images/therest/spacer.gif" width="12" />
		</td>
	</tr>
	<tr>
		<td style="background:url({TEMPLATE_PATH}/images/data_border/bottom_left.gif); background-repeat:no-repeat; background-position:right;">
			<img src="{TEMPLATE_PATH}/images/therest/spacer.gif" width="12" height="12" />
		</td>
		<td style="background:url({TEMPLATE_PATH}/images/data_border/bottom.gif); background-repeat:repeat-x;">
			<img src="{TEMPLATE_PATH}/images/therest/spacer.gif" height="12" />
		</td>
		<td style="background:url({TEMPLATE_PATH}/images/data_border/bottom_right.gif); background-repeat:no-repeat;">
			<img src="{TEMPLATE_PATH}/images/therest/spacer.gif" width="12" height="13" />
		</td>
	</tr>
</table>
<script>
                      <!-- BEGIN msystem -->
                        {msystem.MESSAGE}
                      <!-- END msystem -->
                    </script>
<!-- IF S_IN_ADMIN -->
    </td>
  </tr>
</table>
<!-- for admin style only ;) -->
	<!-- That's the End of the Data Table ;) -->


		</td>
		<td style="background:url({TEMPLATE_PATH}/images/data_border/right.gif); background-repeat:repeat-y; ">
			<img src="{TEMPLATE_PATH}/images/therest/spacer.gif" width="12" />
		</td>
	</tr>
	<tr>
		<td style="background:url({TEMPLATE_PATH}/images/data_border/bottom_left.gif); background-repeat:no-repeat; background-position:right;">
			<img src="{TEMPLATE_PATH}/images/therest/spacer.gif" width="12" height="12" />
		</td>
		<td style="background:url({TEMPLATE_PATH}/images/data_border/bottom.gif); background-repeat:repeat-x;">
			<img src="{TEMPLATE_PATH}/images/therest/spacer.gif" height="12" />
		</td>
		<td style="background:url({TEMPLATE_PATH}/images/data_border/bottom_right.gif); background-repeat:no-repeat;">
			<img src="{TEMPLATE_PATH}/images/therest/spacer.gif" width="12" height="13" />
		</td>
	</tr>
</table>
<br />
<!-- ENDIF -->
</td>
<!-- End of Main Table Data :P, so now everything is fine, and we can
	 begin creating this stupid footer :D -->
<!-- IF S_NORMAL_FOOTER -->
<!-- here was some query stuff, well I didn't now how to turn it on, so i deleted this section ;)
     due code reasons ;)-->
<!--
	Well this text is not from Hirogen(CD) but from the creator of this
	software, so read it and make it!!

    If you use this software and find it to be useful, we ask that you
    retain the copyright notice below.  While not required for free use,
    it will help build interest in the EQdkp project.
//-->
<!-- Begin of the copyright part ;) well please don't delete this :P -->
<tr>
	<!-- Begin with the Data :P -->
	<td align="center">
		<table class="borderless">
			<tr>
				<td>
{EQDKP_PLUS_COPYRIGHT}
				</td>
			</tr>
			<!-- here was some debbug stuff, i deleted it ;) because i did'nt need it :P-->
		</table>
	</td>
	<!-- End of the Data -->
</tr>
<!-- End of the Copyright Part, finally -->
<!-- Beginning of footer-row (Well finally we have reached the footer) -->
<tr>
	<!-- Begin of the main block in the footer now we start with the graphics stuff-->
	<td>
		<!-- here we go, the table, sometimes it's easier to create this stuff, if you just
			 copy this table in an new sheet, so you have only this tabel, there you can
			 change everything how you would like it ;) and then copy it back! -->
		<table width="100%" align="center" cellpadding="0" cellspacing="0" class="borderless">
		<tr style="background:url({TEMPLATE_PATH}/images/bottom/bottom-bg.gif); background-position:bottom; background-repeat:repeat-x">
			<td align="center" valign="bottom">
				<img src="{TEMPLATE_PATH}/images/bottom/bottom-blizzlogo.gif" />
			</td>
		</tr>
		</table>
	</td>
	<!-- End of the main block -->
</tr>
<!-- End of the footer-row ;) -->
</table>
<!-- End of the "Table around the whole standard template" -->
<!-- ENDIF -->
{H}
{G}
</body>
</html>