<form method="get" action="{F_EVENTS}">
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="borderless">
  <tr>
    <td align="center" class="menu">{EVENT_PAGINATION}</td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="1" cellpadding="2">
  <tr colspan="22" align="right">                 
    <th>   
      <span style="float:left;">{L_EVENTS}</span><span style="float:right;">{MANAGE_LINK}</span>
    </th>
  </tr>
</table>
<table width="100%" border="0" cellspacing="1" cellpadding="2">
  {EVENT_OUT}
</table>
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="borderless">
  <tr>
    <td align="center" class="menu">{EVENT_PAGINATION}</td>
  </tr>
</table>
</form>