<form method="{FORM_METHOD}" action="task.php{SID}">
	<input type="hidden" name="task" value="{TASK_NAME}" />
	<h2>{TASK_DESC}</h2>
	
	<!-- IF S_STEP_END -->
	<div class="infobox infobox-large infobox-blue clearfix">
		<i class="fa fa-info-circle fa-4x pull-left"></i> {L_STEPEND_INFO}
	</div>
	<br />
	<!-- ENDIF -->
	
	<!-- IF S_APPLICABLE_WARNING-->
	<div class="infobox infobox-large infobox-red clearfix">
		<i class="fa fa-exclamation-triangle fa-4x pull-left"></i> {L_APPLICABLE_WARNING}
	</div>
	<!-- ENDIF -->
	{TASK_OUTPUT}
</form>
<div class="timer"> {TIMER_OUT}s</div>