<!-- IF S_MMODE_ACTIVE and S_IS_ADMIN -->
<div class="infobox infobox-large infobox-blue clearfix">
	<i class="fa fa-info-circle fa-4x pull-left"></i>
	{L_MMODE_INFO}<br />
	<button onclick="window.location='index.php{SID}&amp;disable=true'">{L_DEACTIVATE_MMODE}</button>
</div>
<br />
<!-- ENDIF -->

<ul class="nav nav-tabs">
	<!-- BEGIN task_types -->
	<li {task_types.ACTIVE}><a href="index.php{SID}&amp;type={task_types.TYPE}">{task_types.L_TYPE}</a></li>
	<!-- END task_types -->
  </ul>
<br />
<div class="contentWrapper">
<!-- IF S_PFH_ERROR -->
<div class="infobox infobox-large infobox-red clearfix">
	<i class="fa fa-exclamation-triangle fa-4x pull-left"></i> 
	<strong>{L_pfh_ERROR}</strong>
	<ul>
		<!-- BEGIN pfh_errors -->
		<li>{pfh_errors.PFH_ERROR}</li>
		<!-- END pfh_errors -->
	</ul>
</div>
<!-- ENDIF -->
<!-- IF S_NEC_TASKS -->
<div class="infobox infobox-large infobox-red clearfix">
	<i class="fa fa-exclamation-triangle fa-4x pull-left"></i> {L_NEC_TASK}
</div>
<!-- ENDIF -->
<!-- IF S_NO_NEC_TASKS -->
<div class="infobox infobox-large infobox-green clearfix">
	<i class="fa fa-check fa-4x pull-left"></i>
	{L_NO_NEC_TASK}
</div>
<br />
<!-- ENDIF -->
<div id="container">

<!-- IF not S_HIDE_TASK_TABLE -->
 <!-- BEGIN tasks_list -->
<h1>{tasks_list.L_TASKS}</h1>

<table width='100%' border='1' cellpadding="2" cellspacing="1" class="task_table colorswitch hoverrows">
  <tr>
  	<th width='20'>&nbsp;</th>
    <th width='25%'>{L_NAME}</th>
	<th width='45%'>{L_DESCRIPTION}</th>
	<th width='15%'>{L_VERSION}</th>
	<th width='15%'>{L_AUTHOR}</th>
  </tr>
  <!-- BEGIN spec_task_list -->
  <tr>
  	<td width="20" class="nowrap">{tasks_list.spec_task_list.STATUS}</td>
	<td><!-- IF not tasks_list.spec_task_list.S_NOT_APPLICABLE --><a href="{tasks_list.spec_task_list.LINK}"><a href="{tasks_list.spec_task_list.LINK}">{tasks_list.spec_task_list.NAME}</a><!-- ELSE -->{tasks_list.spec_task_list.NAME}<!-- ENDIF --></td>
	<td>{tasks_list.spec_task_list.DESCRIPTION}</td>
	<td>{tasks_list.spec_task_list.VERSION}</td>
	<td>{tasks_list.spec_task_list.AUTHOR}</td>
  </tr>
  <!-- END spec_task_list -->
</table>
<br />
<!-- END tasks_list -->
<!-- IF UPDATE_ALL -->
  <form method='post' action='task.php{SID}&amp;update_all=1&amp;task={UPDATE_ALL}'>
		<input type='submit' name='start_sql_update' value='{L_UPDATE_ALL}' class='mainoption' />
	</form>
<!-- ENDIF -->
<!-- ENDIF -->
</div>
</div>