<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  {META}
  <title>EQdkp Plus - {ERROR_TITLE}</title>
  <style type="text/css">
  <!-- INCLUDE maintenance.css -->
  </style>
</head>

<body style="background-color:#efefef">
<div width="100%" align="center"> 
<div class="error_table">
  <table width="400" border="0" cellspacing="1" cellpadding="2" style="background:#336c99 url('{EQDKP_ROOT_PATH}templates/maintenance/images/header_back.png') left no-repeat; font-size: 24px;
  font-weight:bold;
  height:110px;
  width: 100%;
  border: 0px;
  border-bottom:2px solid #333;
  text-transform: uppercase; color:#FFF;">
    <tr>
      <td width="100%">
        <center>
  	      <img src="{EQDKP_ROOT_PATH}templates/maintenance/images/logo.png" alt="EQdkp Plus" class="absmiddle" />
        {ERROR_TITLE}
        </center>
      </td>
    </tr>
  </table>

 
<div id="cont" align="left" style="margin:15px;">
{ERROR_MESSAGE}
</div>
</div>

<div style="width:700px;">
  <a href="http://www.eqdkp-plus.eu" target="_blank">EQDKP Plus</a> &copy; 2003 - {TYEAR} by EQDKP Plus Developer Team
</div>
</div>
</body>
</html>