form { display: inline; }
img { vertical-align: middle; border: 0px; }

BODY { font-family: Verdana, Tahoma, Arial; font-size: 11px; color: #000000; margin-left: 1%; margin-right: 1%; margin-top: 1%; background-color: #212042; }
TABLE { border-top: 1px; border-right: 1px; border-bottom: 1px; border-left: 1px; border-color: #7B819A; border-style: solid; }
TABLE.borderless { border-style: none; }

th { font-weight: bold; color: #CECFEF; font-size: 16px; background-color: #424563; white-space: nowrap; }
tr, td { font-family: Verdana, Tahoma, Arial; font-size: 11px; color: #000000; }

a:link, a:visited, a:active { text-decoration: underline; color: #31308C; }
a:hover { text-decoration: underline; color: #000084; }

th a:link, th a:visited, th a:active { text-decoration: underline; color: #CECFEF; font-weight: bold; }
th a:hover { text-decoration: underline; color: #E6E6F5; font-weight: bold; }

th.smalltitle { font-weight: bold; color: #CECFEF; background-color: #424563; white-space: nowrap; font-size: 10px; }
th.smalltitle a:link, th.smalltitle a:visited, th.smalltitle a:active { text-decoration: underline; color: #CECFEF; font-weight: bold; font-size: 10px; }
th.smalltitle a:hover { color: #E6E6F5; font-weight: bold; font-size: 10px; text-decoration: underline; }

th.footer { color: #CECFEF; text-align: right; background-color: #424563; white-space: nowrap; font-weight: normal; }
th.footer a:link, th.footer a:visited, th.footer a:active { color: #CECFEF; text-decoration: underline;  font-weight: normal; }
th.footer a:hover { color: #E6E6F5; text-decoration: underline; font-weight: normal; }

.row1 { background-color: #EFEFEF; }
.row2 { background-color: #FFFFFF; }

.quote1 { background-color: #FFFFFF; font-size: 11px; line-height: 125%; }
.quote2 { background-color: #EFEFEF; font-size: 11px; line-height: 125%; }

.positive { color: #008800; }
.negative { color: #F80000; }
.neutral  { color: #000000; }

.maintitle { font-size: 18px; font-weight: bold; color: #CECFEF; }
.subtitle  { font-size: 12px; color: #CECFEF; }

.menu { font-size: 10px; color: #CECFEF; }
.menu a:link, .menu a:active, .menu a:visited { text-decoration: none; font-size: 10px; color: #CECFEF; }
.menu a:hover { text-decoration: underline; font-size: 10px; color: #E6E6F5; }

.small { font-size: 10px; }

.copy { font-size: 10px; color: #CECFEF; }
.copy a:link, .copy a:active, .copy a:visited { font-size: 10px; color: #CECFEF; }
.copy a:hover { font-size: 10px; color: #E6E6F5; }

.input { font-family: Verdana, Tahoma, Arial; font-size: 10px; color: #000000; background-color: #FFFFFF; 
         border-top: 1px; border-right: 1px; border-bottom: 1px; border-left: 1px; border-color: #000000; border-style: solid; }

input.helpline1 { background-color: #EFEFEF; border-style: none; }
input.helpline2 { background-color: #FFFFFF; border-style: none; }

input.mainoption { font-family: Verdana, Tahoma, Arial; font-size: 10px; font-weight: bold; color: #CECFEF; background-color: #424563; border-top: 1px;
                   border-right: 1px; border-bottom: 1px; border-left: 1px; border-color: #CECFEF; border-style: solid; }
input.liteoption { font-family: Verdana, Tahoma, Arial; font-size: 10px; font-weight: normal; color: #CECFEF; background-color: #424563; border-top: 1px;
                   border-right: 1px; border-bottom: 1px; border-left: 1px; border-color: #CECFEF; border-style: solid; }