<!-- IF S_SHOW_BUTTON -->
<form method="post" action="index.php" name="post">
<input type="hidden" name="install_step" value="7" />

<input type="hidden" name="table_prefix" size="25" value="{TABLE_PREFIX}" />
<input type="hidden" name="dbpass" size="25" value="{DB_PASS}" />
<input type="hidden" name="dbuser" size="25" value="{DB_USER}" />
<input type="hidden" name="dbname" size="25" value="{DB_NAME}" />
<input type="hidden" name="dbhost" size="25" value="{DB_HOST}" />
<input type="hidden" name="dbtype" size="25" value="{DB_TYPE}" />
<input type="hidden" name="ftpdata" value="{FTP_DATA}" />

<!-- ENDIF -->
<div class="dialog">
 <div class="content">
  <div class="t"></div>
  <!-- Your content goes here -->
  <p>
<table width="100%" border="0" cellspacing="1" cellpadding="2">
  <tr>
    <th align="left" colspan="2"><h1>{L_LANG_CONF}</h1></th>
  </tr>
  <tr>
    <td width="40%" class="row2" align="right"><strong>{L_DEF_LANG}:</strong></td>
    <td width="60%" class="row1">{LANG_DD}</td>
  </tr>
  <tr>
    <td width="40%" class="row2" align="right"><strong>{L_DEF_LOCA}:</strong></td>
    <td width="60%" class="row1">{LOCA_DD}</td>
  </tr>
</table><br />
<table width="100%" border="0" cellspacing="1" cellpadding="2">
  <tr>
    <th align="left" colspan="2"><h1>{L_GAME_CONF}</h1></th>
  </tr>
  <tr>
    <td width="40%" class="row2" align="right"><strong>{L_DEF_GAME}:</strong></td>
    <td width="60%" class="row1">{GAME_DD} {GAMELANG_DD}</td>
  </tr>
</table>
<br />
<table width="100%" border="0" cellspacing="1" cellpadding="2">
  <tr>
    <th align="left" colspan="2"><h1>{L_SERVER_CONF}</h1></th>
  </tr>
  <tr>
    <td width="40%" class="row2" align="right"><strong>{L_SERVERPATH}:</strong></td>
    <td width="60%" class="row1"><input type="text" name="server_path" size="25" value="{SERVER_PATH}" class="input" /></td>
  </tr>
</table></p><br/>
</div>
 <div class="b"><div></div></div>
</div>

<!-- IF MSG_TEXT != '' -->
<div class="dialog">
 <div class="content">
  <div class="t"></div>
  <!-- Your content goes here -->
  <p><h1>{MSG_TITLE}</h1></p>
  <p><div class="msgtext">&nbsp;{MSG_TEXT}</div><br/>
 </div>
 <div class="b"><div></div></div>
</div>
<br />
<!-- ENDIF -->
<div align="center"><input type="button" name="back" value="{L_BUTTON_BACK}" class="mainoption" onClick="history.back()"/>
<!-- IF S_SHOW_BUTTON -->
<input type="submit" name="submit" value="{L_BUTTON4}" class="mainoption" />
</form>
<!-- ENDIF -->
</div>