<!-- INCLUDE install_header.html -->
<form method="post" action="../login.php" name="post">
<input type="hidden" name="redirect" value="admin/settings.php" />

<div class="dialog">
 <div class="content">
  <div class="t"></div>
  <!-- Your content goes here -->
  <p>
<table width="100%" border="0" cellspacing="1" cellpadding="7">
  <tr>
    <th align="center">{L_LOGIN}</th>
  </tr>
  <tr>
    <td class="row1" align="center">
      <table border="0" cellspacing="0" cellpadding="3" align="center" class="borderless">
        <tr>
          <td class="row1" width="40" nowrap="nowrap" align="center">{L_USERNAME}:</td>
          <td class="row1" width="100" align="center"><input type="text" name="username" size="20" maxlength="30" class="input" /></td>
        </tr>
        <tr>
          <td class="row1" width="40" nowrap="nowrap">{L_PASSWORD}:</td>
          <td class="row1" width="100"><input type="password" name="password" size="20" maxlength="32" class="input" /></td>
        </tr>
        <tr>
          <td class="row1" colspan="2" valign="middle">
            {L_COOKIE_SET}: <input type="checkbox" name="auto_login" class="checkbox" />
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <th align="center"><input type="submit" name="login" value="{L_LOGBUTTON}" class="mainoption" /></th>
  </tr>
</table>
</p><br/>
</div>
 <div class="b"><div></div></div>
</div>

<!-- IF MSG_TEXT != '' -->
<div class="dialog">
 <div class="content">
  <div class="t"></div>
  <!-- Your content goes here -->
  <p><h1>{MSG_TITLE}</h1></p>
  <p><div class="msgtext">&nbsp;{MSG_TEXT}</div><br/>
 </div>
 <div class="b"><div></div></div>
</div>

<!-- ENDIF -->
</form>
<!-- INCLUDE install_tail.html -->
