</div>
</div>
<div id="ftr" align="center">
<!-- 
    If you use this software and find it to be useful, we ask that you
    retain the copyright notice below.  While not required for free use,
    it will help build interest in the EQdkp-Plus project.
//-->


</div>
</div>
</div>
<div class="copy"><a href=http://www.eqdkp-plus.com target=_new class=copy>EQDKP Plus</a> {EQDKP_VERSION} &copy; 2003 - {TYEAR} by
								EQDKP Plus Development-Team</div>
<script>
{JS_CODE_EOP}
</script>
</body>
</html>