<!-- INCLUDE page_header.html -->

<div id="inner_wrapper">
	<!-- BEGIN class_row -->
	
		<span class="maintitle"> {class_row.CLASS_ICONS} {class_row.CLASS_NAME} </span>
		<hr>
		
		<div class="member_wrapper">
			<!-- BEGIN member -->
			<div class="floatR right"> {class_row.member.MEMBER_GILDE} {class_row.member.MEMBER_LEVEL}  </div> 	
				{class_row.member.MEMBER_RACE_ICON} {class_row.member.MEMBER_SPEC}  <a href={class_row.member.U_VIEW_MEMBER}>{class_row.member.MEMBER_NAME} </a>
				<hr class="roster_hr_member">
			<!-- END member -->
		</div>		
		<br><br>
	<!-- END class_row -->
</div>

<!-- INCLUDE page_tail.html -->