.tooltip{
	position:	relative;
	width: 200px; 
	color:#000;
	font:lighter 11px/1.3 Arial,sans-serif;
	text-decoration:none;
	text-align:center;
	z-index: 999;
}

.tooltip span.top{
	padding: 30px 8px 0;
  background: url(bt.gif) no-repeat top
}

.tooltip b.bottom{
	padding:3px 8px 15px;
	color: #548912;
  background: url(bt.gif) no-repeat bottom
}