#headjs {left:0;position:absolute;right:0;*text-align:left;top:0;z-index:999999999}
.tt-source {clear:both;font-size:11px;padding:0 5px 0 0;text-align:right;text-shadow:0 1px 3px #000}
.tooltip-icon {left:-36px;position:absolute;top:0}
.hide-icon .tooltip-icon {display:none}

/* EQ2 */
.eq2tt {background:url(http://zam.zamimg.com/eq2/i/tooltip-bg.png);border:1px solid;border-color:#ae9b5e #b19a58 #b19e60 #ad9755;color:#c7cfc7;font:11px Arial,Helvetica,sans-serif;width:300px;line-height:1.4em}
.eq2tt .inner-border {border:1px solid;border-color:#161200 #191400 #1c1803 #171300;padding:2px}
.eq2tt .item-details {padding:6px 4px 4px 4px}
.eq2tt td {color:#bbb;font-size:11px;padding:0 7px 0 0;vertical-align:top}
.eq2tt .name {color:#fff;font-size:13px}
.eq2tt .flags {color:#f2e388;font-weight:bold}
.eq2tt .eq2-icon {background:url(http://zam.zamimg.com/eq2/i/no-icon-lrg.gif);float:right;height:42px;position:relative;width:42px}
.eq2tt .eq2-icon span {background:url(http://zam.zamimg.com/eq2/i/eq2icon-border-lrg.gif);height:42px;left:0;position:absolute;width:42px}
.eq2tt .value {color:#fff;text-align:left}
.eq2tt .stats {color:#2f2}
.eq2tt .stats .blue {color:#93d9ff}
.eq2tt .negstats {color:#f22}
.eq2tt .wield {color:#fff}
.eq2tt .effects {color:#e1e39d;font-weight:bold;margin:.5em 0 0 0}
.eq2tt .effects ul {list-style-type:disc !important;margin:0;padding:0 0 0 1.4em}
.eq2tt .effects b {color:#bbb;font-weight:normal}
.eq2tt .set .name {color:#ff0;font-size:11px;font-weight:normal !important;margin:1.2em 0}
.eq2tt .set .items {margin:0 0 1.2em 0}
.eq2tt .set .items a {color:#c7cfc7}
.eq2tt .set .effects {color:#c7cfc7;font-weight:normal}
.eq2tt .body-only {display:none}
.eq2tt .referal {color:#fff}

var.eq2-icon, var.eq2-icon-lrg, var.eq2-icon-med, var.eq2-icon-sml {background:url(http://zam.zamimg.com/eq2/i/no-icon-lrg.gif) no-repeat;height:42px;position:relative;width:42px}
var.eq2-icon span, var.eq2-icon-lrg span, var.eq2-icon-med span, var.eq2-icon-sml span {background:url(http://zam.zamimg.com/eq2/i/eq2icon-border-lrg.gif) no-repeat;height:42px;left:0;position:absolute;top:0;width:49px}
var.eq2-icon img, var.eq2-icon-lrg img, var.eq2-icon-med img, var.eq2-icon-sml img {background:#000;height:42px;vertical-align:top;width:42px}
var.eq2-icon-med {background-image:url(http://zam.zamimg.com/eq2/i/no-icon-med.gif);height:26px;width:26px}
var.eq2-icon-med span {background-image:url(http://zam.zamimg.com/eq2/i/eq2icon-border-med.gif);height:26px;width:31px}
var.eq2-icon-med img {height:26px;width:26px}
var.eq2-icon-sml {background-image:url(http://zam.zamimg.com/eq2/i/no-icon-sml.gif);height:16px;width:16px}
var.eq2-icon-sml span {background-image:url(http://zam.zamimg.com/eq2/i/eq2icon-border-sml.gif);height:16px;width:19px}
var.eq2-icon-sml img {height:16px;width:16px}
.eq2-icon-float-lrg, .eq2-icon-float {line-height:42px}
.eq2-icon-float-med {line-height:26px}
.eq2-icon-float-sml {line-height:16px}
.eq2-icon-float-lrg var, .eq2-icon-float var {float:left;padding:0 7px 0 0}
.eq2-icon-float-med var {float:left;padding:0 5px 0 0}
.eq2-icon-float-sml var {float:left;padding:0 3px 0 0}

.eq2-icon-float-lrg var, .eq2-icon-float var, .eq2-icon-float-med var, .eq2-icon-float-sml var {display:inline-block;float:none;vertical-align:middle}
.eq2-icon-float-sml var {vertical-align:top}

.eq2-quality.common {color:#fff !important}
.eq2-quality.fabled, .eq2-quality.mastercrafted.fabled {color:#ff939d !important}
.eq2-quality.treasured {color:#93d9ff !important}
.eq2-quality.mythical {color:#ea93ff !important}
.eq2-quality.uncommon, .eq2-quality.handcrafted {color:#beff93 !important}
.eq2-quality.mastercrafted, .eq2-quality.legendary, .eq2-quality.mastercrafted.legendary {color:#ffc993 !important}

/* make sure div shows up on top */
#tmpItemFrm {z-index:499}


/* SOE Tooltips */
.smallitemicon { width: 20px; height: 20px; }
.itemicon { 
	position: relative; left: 326px; width: 42px; height: 42px; z-index: 4; background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqCAMAAADyHTlpAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyBpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBXaW5kb3dzIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjU5RUU3M0M3NDc1MjExRTFCNjY2ODg3QTVDRjFEODcwIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjU5RUU3M0M4NDc1MjExRTFCNjY2ODg3QTVDRjFEODcwIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NTlFRTczQzU0NzUyMTFFMUI2NjY4ODdBNUNGMUQ4NzAiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NTlFRTczQzY0NzUyMTFFMUI2NjY4ODdBNUNGMUQ4NzAiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7X+CoIAAABGlBMVEUQCAAeLkaEZSkGCQ4NEx2cdSkRGigZJTkdLEMeLEQSGikNFB6MbTE2Un02UHtIbKYpPl8SGykjNVEwR24MExwXIzYdK0MMEhwGCA1CYpeljkIYIzYlN1QRGScvR20SHCoTHCsRGSYMERs7WYgZJjofLkcrQGILERoqQGEIBAA3Un48WYkkNVKMbSkjNFAfL0eUeUKljkqlijllWj8ABABBYpYxSXAYCAClklIdLEIrQWM3U38XIjU1UHsiM04MERoxSnE8WokMEhsFBwsjNVAWIDIiMk0NEhwaJjdBYZULEBkHCg8XIzM1T3oYJDcIAAA8W4t7YSkkNlMYJTgeLUU8WooqPmAwSW8wSG4qP2FCY5g2UXwkN1QAAABQ7SgLAAADU0lEQVR42ozVCXPSQBgGYCIxCUQgKUeokBZKAUsreNZ637euMZuThP//N3y/3YVWZ3R8mTLb4eHbL9nNUrm4uKlyD7n+j1QuNts8QDZ/ycnJyfXKzd2/1WpVt/HW1xF6q1K2n1auXVJP1w2jbtd38aHf7OwV6nmjUbfbxR+3OB8gHHxs2/0/qeeyrsh0almlpQ20Aef803hwhd5VNRnTkClSIu8wBv2G4rbs4dF9ST0UjTRtqe0hTumUey80rYasBoPxx6u03ydK1YbDJMkRB2OaJYpqjLlUV1LcGNeNwjIpE0qa5qkDiwm0x1EUwXp9ondO+n3dQNEcCC9I5Pz83HkCG0aRwHoflwWK+8lYGEok8r3ZbJ5nWfYkDxHYri7oW9v3uVWWRLNCJA6CZrMosixFz1SZ2YLatm9K+jxVEjQAnRRoiCgbE72x2dJUVY2R/f39IMY4TcuEqm6pb/Ysy3HQwPPfaByDJgmaZUzSI8Y+hGGe4zJIBvFaZh/9HhzcujUcWub7zpZqJHMhi2C9brVaggaSWpZ1qKgLKqsCBpK2BA2egjqo6ip6xLQoJ0s1g89SttaiX1iiu6ruNII8OFgsUOjhtup6HcenjUY7X66Yry7riHNBFxNJiQm6ljRfMt9XVfkUy4eqk0VT9LpNvD49JbpacVWV8xdEZ4vFpAkrb1aL5o+JvlouV1xW7RhmrVbSwtK643NV86FY3KJoz/Y0Pr6kNexV0Fgu1j+oiaq0U5sCqsgtk2WC2lcaENufdlb8WspCUKzL7PcG0KpDDwutQmNCaTSKmGpmCZ4diymK+SNJU1rbhoqAoJBc7awO5o/KqBwKit7abZLtTNBkCMnVfjUMUETRHBKvdhvDDDNhY3FuS1qvm1bEYEvHoTNAPGP0HToP0Gitxut6dUtNxmDR7yXFIMxDOjpqfEdxThIVlp5lum/0FVpsSAuUGztaZ644GyTFMZMrS1eP1A1dUJy4PhbsMR1nvbAXajjkzmZnM1TE42lxnLkjzxMU5zrOF1PkuNfr4VTbO0NKjKkm5MijBm7/oB+Bl4aIeYy4z55pUMc9jKnN0Xw0B/0p6Ibq6kan05kfHs5d5FDmi9ExOvP5/Gt1I+j/pFIhevvnf+aXAAMAGOF3wJaUNAoAAAAASUVORK5CYII=');height:42px;width:42px;
}
.itemd_surround {
	font: bold 13px Times New Roman, Times, serif; line-height: 12px;
        text-align: left; width: 300px; padding: 14px; position: relative; border: 2px solid #6C6052;
}
.itemd_detailwrap {
	border: 1px solid #f7c35a; background-color: #212831; width: 326px; padding: 12px;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px;
}
.itemd_detail {
	width: 300px; padding: 14px; background-color: #0d1014; position: relative;
}
.itemd_hoverdiv {
	width: 350px; padding: 12px; background-color: rgb(13, 16, 20); background-color: rgba(13, 16, 20, 0.85);
	border: 1px solid #75420b; -moz-border-radius: 7px; -webkit-border-radius: 7px; -khtml-border-radius: 7px; border-radius: 7px;
	display:none; z-index: 1000; left: -1000px; top: -1000px; position:absolute;
}
.itemd_hoverdivFOO {
	width: 350px; padding: 12px; background-color: rgb(13, 16, 20); background-color: rgba(13, 16, 20, 0.85);
	border: 1px solid #75420b; -moz-border-radius: 7px; -webkit-border-radius: 7px; -khtml-border-radius: 7px; border-radius: 7px;
}
.itemd_name {
	color: white; padding-bottom: 12px; width: 250px; font-size: 15px;
}
.itemd_icon {
	position: absolute; top: 10px; right: 10px; background: #30476e url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqCAMAAADyHTlpAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyBpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBXaW5kb3dzIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjU5RUU3M0M3NDc1MjExRTFCNjY2ODg3QTVDRjFEODcwIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjU5RUU3M0M4NDc1MjExRTFCNjY2ODg3QTVDRjFEODcwIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NTlFRTczQzU0NzUyMTFFMUI2NjY4ODdBNUNGMUQ4NzAiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NTlFRTczQzY0NzUyMTFFMUI2NjY4ODdBNUNGMUQ4NzAiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7X+CoIAAABGlBMVEUQCAAeLkaEZSkGCQ4NEx2cdSkRGigZJTkdLEMeLEQSGikNFB6MbTE2Un02UHtIbKYpPl8SGykjNVEwR24MExwXIzYdK0MMEhwGCA1CYpeljkIYIzYlN1QRGScvR20SHCoTHCsRGSYMERs7WYgZJjofLkcrQGILERoqQGEIBAA3Un48WYkkNVKMbSkjNFAfL0eUeUKljkqlijllWj8ABABBYpYxSXAYCAClklIdLEIrQWM3U38XIjU1UHsiM04MERoxSnE8WokMEhsFBwsjNVAWIDIiMk0NEhwaJjdBYZULEBkHCg8XIzM1T3oYJDcIAAA8W4t7YSkkNlMYJTgeLUU8WooqPmAwSW8wSG4qP2FCY5g2UXwkN1QAAABQ7SgLAAADU0lEQVR42ozVCXPSQBgGYCIxCUQgKUeokBZKAUsreNZ637euMZuThP//N3y/3YVWZ3R8mTLb4eHbL9nNUrm4uKlyD7n+j1QuNts8QDZ/ycnJyfXKzd2/1WpVt/HW1xF6q1K2n1auXVJP1w2jbtd38aHf7OwV6nmjUbfbxR+3OB8gHHxs2/0/qeeyrsh0almlpQ20Aef803hwhd5VNRnTkClSIu8wBv2G4rbs4dF9ST0UjTRtqe0hTumUey80rYasBoPxx6u03ydK1YbDJMkRB2OaJYpqjLlUV1LcGNeNwjIpE0qa5qkDiwm0x1EUwXp9ondO+n3dQNEcCC9I5Pz83HkCG0aRwHoflwWK+8lYGEok8r3ZbJ5nWfYkDxHYri7oW9v3uVWWRLNCJA6CZrMosixFz1SZ2YLatm9K+jxVEjQAnRRoiCgbE72x2dJUVY2R/f39IMY4TcuEqm6pb/Ysy3HQwPPfaByDJgmaZUzSI8Y+hGGe4zJIBvFaZh/9HhzcujUcWub7zpZqJHMhi2C9brVaggaSWpZ1qKgLKqsCBpK2BA2egjqo6ip6xLQoJ0s1g89SttaiX1iiu6ruNII8OFgsUOjhtup6HcenjUY7X66Yry7riHNBFxNJiQm6ljRfMt9XVfkUy4eqk0VT9LpNvD49JbpacVWV8xdEZ4vFpAkrb1aL5o+JvlouV1xW7RhmrVbSwtK643NV86FY3KJoz/Y0Pr6kNexV0Fgu1j+oiaq0U5sCqsgtk2WC2lcaENufdlb8WspCUKzL7PcG0KpDDwutQmNCaTSKmGpmCZ4diymK+SNJU1rbhoqAoJBc7awO5o/KqBwKit7abZLtTNBkCMnVfjUMUETRHBKvdhvDDDNhY3FuS1qvm1bEYEvHoTNAPGP0HToP0Gitxut6dUtNxmDR7yXFIMxDOjpqfEdxThIVlp5lum/0FVpsSAuUGztaZ644GyTFMZMrS1eP1A1dUJy4PhbsMR1nvbAXajjkzmZnM1TE42lxnLkjzxMU5zrOF1PkuNfr4VTbO0NKjKkm5MijBm7/oB+Bl4aIeYy4z55pUMc9jKnN0Xw0B/0p6Ibq6kan05kfHs5d5FDmi9ExOvP5/Gt1I+j/pFIhevvnf+aXAAMAGOF3wJaUNAoAAAAASUVORK5CYII=') no-repeat; width: 42px; height: 42px; z-index: 4;
}
.itemd_desc {
	color : white; width: 250px; margin-bottom: 4px; font-size: 13px;
}
.itemd_tier {
	font-size: 14px; font-weight: bold; margin-bottom: 2px;
}
.itemd_flags {
	color: #fee65c; font-size: 14px; font-weight: bold; margin-bottom: 3px;
}
.itemd_green {
	color: #22ff22;
}
.itemd_blue {
	color: #5ce6fe;
}
.itemd_yellow {
	color: #e6e970;
}
.itemd_red {
	color: red;
}
.itemd_white {
	color: white;
}
.adorncontainer {
    display: table;
	width: auto; 
}
.itemd_adicongreen {
	background-image: url(./images/eq2/green.jpg); width: 32px; height: 32px; display: table-cell;
}
.itemd_adiconblue {
	background-image: url(./images/eq2/blue.jpg); width: 32px; height: 32px; display: table-cell;
}
.itemd_adiconyellow {
	background-image: url(./images/eq2/yellow.jpg); width: 32px; height: 32px; display: table-cell;
}
.itemd_adiconred {
	background-image: url(./images/eq2/red.jpg); width: 32px; height: 32px; display: table-cell;
}
.itemd_adiconwhite {
	background-image: url(./images/eq2/white.jpg); width: 32px; height: 32px; display: table-cell;
}
.itemd_recipe {
	color: #e6e970; margin-top: 12px; height: 150px; overflow: auto;
}
.itemd_effects {
	color: #e6e970; margin-top: 8px; margin-bottom: 2px;
}
.itemd_adornslots {
	color: #e6e970; margin-top: 8px; margin-bottom: 2px;
}
.itemd_usableslots {
	color: #e6e970; margin-top: 8px; margin-bottom: 2px;
}
.itemd_itemlink {
	width: 260px;
	background-color: #b3c5e3;
	font-family: Arial, sans-serif;
	font-size: 13px;
}
/* jQuery clearfix helper */
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { zoom: 1; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }

