#headjs {left:0;position:absolute;right:0;*text-align:left;top:0;z-index:999999999}
.tt-source {clear:both;font-size:11px;padding:0 5px 0 0;text-align:right;text-shadow:0 1px 3px #000}
.tooltip-icon {left:-36px;position:absolute;top:0}
.hide-icon .tooltip-icon {display:none}

/* Tooltip Frame | bg = #292929 */
.xivdb-tooltip-frame * { font-family: Verdana; font-size: 12px; color:#eee; }
.xivdb-tooltip-frame-width { width:16px; line-height:0; }
.xivdb-tooltip-frame-height { height:16px; line-height:0; }
.xivdb-tooltip-frame-contents { background-color:#292929; font-size:12px; padding:0 0 3px 0; min-width: 150px; }
.xivdb-tooltip-frame-top { background:url('http://xivdb.com/modules/tooltip/tooltip-sprite-height.png') repeat-x top center; }
.xivdb-tooltip-frame-top-left { background:url('http://xivdb.com/modules/tooltip/tooltip-sprite.png') no-repeat top left; }
.xivdb-tooltip-frame-top-right { background:url('http://xivdb.com/modules/tooltip/tooltip-sprite.png') no-repeat top right; }
.xivdb-tooltip-frame-bottom { background:url('http://xivdb.com/modules/tooltip/tooltip-sprite-height.png') repeat-x bottom center; }
.xivdb-tooltip-frame-bottom-left { background:url('http://xivdb.com/modules/tooltip/tooltip-sprite.png') no-repeat bottom left; }
.xivdb-tooltip-frame-bottom-right { background:url('http://xivdb.com/modules/tooltip/tooltip-sprite.png') no-repeat bottom right; }
.xivdb-tooltip-frame-mid-left { background:url('http://xivdb.com/modules/tooltip/tooltip-sprite-width.png') repeat-y center left; }
.xivdb-tooltip-frame-mid-right { background:url('http://xivdb.com/modules/tooltip/tooltip-sprite-width.png') repeat-y center right; }

/* Copyright */
.xivdb-tooltip-copyright { clear:both; margin: 5px 0 -5px 0; font-size: 11px; text-align: right; color: #999; }

/* Tooltip Content */
.xivdb-tooltip-content-header { }
.xivdb-tooltip-content-header-icon { float:left; width:40px; height: 40px; background-position:center; background-repeat:no-repeat; }
.xivdb-tooltip-content-header-data { float:left; margin:0 30px 0 12px; }
.xivdb-tooltip-content-header-data-title { font-size: 18px; letter-spacing:-1px; font-weight:normal; font-family: Arial; max-width: 250px; }
.xivdb-tooltip-content-header-data-subtitle { font-size: 11px; margin: 2px 0 0 0; }
.xivdb-tooltip-content-corestats-block { display: inline-block; text-align: right; border-radius: 3px; border-bottom: solid 6px #333; margin: 0 5px 0 0; height: 34px; padding: 0 5px 0 0; }
.xivdb-tooltip-content-corestats-block-title { color:#948c7b; letter-spacing: -1px; font-size: 11px; margin: 0 0 5px 0; }
.xivdb-tooltip-content-corestats-block-number { color: #5EA0F2; letter-spacing: -1px; font-size: 20px; font-family: Arial; }
.xivdb-tooltip-content-substats-block { display: block; margin:4px 0; } 
.xivdb-tooltip-content-substats-block-title { display: inline-block; width: 120px; color: #DCC9A5; font-size: 11px; }
.xivdb-tooltip-content-substats-block-number { display: inline-block; width: 40px; color: #5EA0F2; font-size: 12px; }
.xivdb-tooltip-content-substats-block-number2 { display: inline-block; width: 40px; color: #95b153; font-size: 12px; }
.xivdb-tooltip-content-substats-block-number3 { display: inline-block; width: 70px; color: #EAB63C; font-size: 12px; }
.xivdb-tooltip-content-statsbox {  padding: 4px 10px 8px 10px; border-bottom:solid 1px #181818; }
.xivdb-tooltip-content-statsbox2 { background:url('http://xivdb.com/images/transparency/d20.png'); padding: 10px; font-size: 11px; }
.xivdb-tooltip-content-header-set-bonus { color: #95b153; margin: 15px 0 2px 0; font-size: 10px; }
.xivdb-tooltip-content-label { font-size: 10px; }
.xivdb-tooltip-content-title { width: 100px; color: #948c7b; font-size: 11px; display: inline-block; }
.xivdb-tooltip-content-context { width: 180px; color: #eee; font-size: 12px; display: inline-block; }
.xivdb-tooltip-content-info { background:url('http://xivdb.com/images/transparency/blue.png'); font-size: 11px; line-height: 18px; color: #96BFCF;  max-width: 320px; padding: 10px; border-bottom:solid 1px #181818; }
.xivdb-tooltip-content-recipeicon { border-radius: 10px; margin:0 5px -5px 0; }
.xivdb-tooltip-content-recipe-item-title { color: #777; font-size:11px; }
.xivdb-tooltip-content-wardrobe-gearicon { width:32px; height:32px; border-radius:3px; margin:0 3px 3px 0; box-shadow: 0 1px 2px #000 }


/* Tooltip Effects */
.xivdb-tooltip-effects-seperator { margin: 10px -10px; height: 1px; background-color: #181818; }
.xivdb-tooltip-effects-frameShadow { border-radius: 8px; box-shadow:0 0 15px #000; }
.xivdb-tooltip-effects-textShadow { text-shadow:0 0 2px #000, 0 1px 2px #000, 0 1px 2px #000; }
.xivdb-tooltip-effects-indentShadowBorderRadius { border:solid 1px #000; border-radius:5px; box-shadow:0 0 3px #555; }
.xivdb-tooltip-effects-gradientBackgroundWithShadow { background-image:url('http://xivdb.com/images/hudbg_dark.png'); box-shadow: inset 0 0 5px #222; border:solid 1px #191919; }