/* The whole body of the popup frame */
.lotritemt, .lotritemname
{
	background-color: #000000;
	text-align: left;
	width: 305px;
	border: 1px;
	border-color: #CCCCCC;
	border-style: solid;
	position: relative;
    line-height:normal;
}
/* Default link colors for the whole frame */
.lotritem a:link, .lotritem a:visited, .lotritem a:active { color: #FFFF99; text-decoration: none; font-weight: normal }
.lotritemt a:link, .lotritemt a:visited, .lotritemt a:active { color: #FFFF99; text-decoration: none; font-weight: normal }
.lotritemt a:hover, .lotritem a:hover { color: #FFFF99; text-decoration: none; font-weight: normal }

.lotritemt td, .lotritem th, .lotritem
{
    font-family:Helvetica, Arial, sans-serif;
    font-size:9pt;
    color:#FAFAFA;
}
.lotritem {
	font-family: arial,sans-serif;
	font-size:12px;
	color: #e5e0dd;
	border: 1px solid #a9a9a9;
	padding: 3px;
	background-color: #333333;
	-moz-border-radius: 5px;
	min-width: 150px;
	max-width: 350px;
}
.iname {
	font-size: 18px;
}
.lotrrttxt {
	float: right;
	display: compact;
	position: relative;
	top: -14px;
	text-align: right;
}
.itemWhite {color: white; }
.itemYellow {color: yellow; }
.itemPurple {color: #EE82EE; }
.itemBlue {color: #00FFFF; }
.itemOrange {color: orange; }
.itemGreen {color: #00FF00; }
.itemLightGreen {color: lightgreen; }
.itemPink {color: #F4A460; }
.itemCyan {color: cyan; }

.credit {
	font-family: arial,sans-serif;
	font-size: 11px;
}
A.credit {
	font-size: 11px;
	color: blue;
}
