<script type='text/javascript'>
//<![CDATA[
	$(function() {

		if((!cal_getStorage("calendar.calendar_filter") && !cal_getStorage("calendar.amount_calendars")) ||
			(cal_getStorage("calendar.calendar_filter") && cal_getStorage("calendar.amount_calendars") < {AMOUNT_CALENDARS})) {
			var options = $('#calendarfilter option');

			var values = $.map(options ,function(option) {
				return option.value;
			});
			cal_setStorage("calendar.calendar_filter", JSON.stringify(values));
			cal_setStorage("calendar.amount_calendars", values.length);
		}
		$("#calendarfilter").val(JSON.parse(cal_getStorage("calendar.calendar_filter")) || [1, 2, -2]);
		$("#calendarfilter").multiselect('refresh');

		$("#"+(cal_getStorage('calendar.event_filter') || 'calfilter_all')).addClass("ui-state-active");

		var curSource = buildCalURL($("#calendarfilter").val());
		var newSource = '';

		$('#calendar').fullCalendar({
			firstDay: {STARTDAY},

			// The rest
			themeSystem: 'jquery-ui',
			locale: '{CALENDAR_LANG}',
			eventLimit: true,
			customButtons: {
				icalexport: {
					text: '{L_raideventlist_export_ical_button}'
				}
			},
			header: {
				left: 'today, icalexport',
				center: 'prev title next',
				right: 'month,basicWeek,agendaDay,listMonth'
			},
			<!-- IF ADD_RAID -->
			dayClick: function(date, jsEvent, view) {
				jQuery.FrameDialog.create({
					url: '{U_EDIT_CALENDAREVENT}&simple_head=true&calview='+view.name+'&timestamp='+(moment.utc(date).unix()),
					title: "{L_calendar_win_add}",
					width: 940,
					height:780,
					modal: false,
					buttons: false,
					close: function(event, ui) { $('#calendar').fullCalendar('refetchEvents'); }
				});
				return false;
			},
			<!-- ENDIF -->
			eventRender: function(event, element) {
				if(event.icon){
					element.find('.fc-time').hide();
					if(event.deadline || event.closed){
						element.find(".fc-title").before($("<span class=\"fc-icons\"></span>").html("<img src='"+event.icon+"' height='20px' width='20px' alt='' class='eventicon' /><span class=\"fc-deadlinereached\"><i class=\"fa fa-lock fa-lg\" title=\"{L_raidevent_raid_deadl_reach}\"></i></span>"));
					}else{
						element.find(".fc-title").before($("<span class=\"fc-icons\"></span>").html("<img src='"+event.icon+"' height='20px' width='20px' alt='' class='eventicon' />"));
					}

				}

				if(event.deadline && !event.icon){
					element.find(".fc-title").before($("<span class=\"fc-deadlinereached\"></span>").html("<i class=\"fa fa-lock fa-lg\" title=\"{L_raidevent_raid_deadl_reach}\"></i>"));
				}

				if(event.flag){
					element.find(".fc-title").before($("<span class=\"fc-flag\"></span>").html(event.flag));
				}

				if(event.closed){
					element.find(".fc-title").addClass("linethrough");
				}
				// onclick Event Tooltip
				if(event.type == 'birthday'){
					element.find(".fc-title").before($("<span class=\"fc-icons\"></span>").html("<i class='fa fa-gift fa-fw fa-lg'></i> "));
				}else if(event.type == 'event'){
					if(event.allDay){
						tmpttcontent = "<div class='calendartt_start'>{L_calendar_startdate}: "+moment(event.start).format('{JS_DATEFORMAT}')+"</div>";
						if((moment(event.end).format('dd') != moment(event.start).format('dd')) || (moment(event.end).format('MM') != moment(event.start).format('MM'))){
							tmpttcontent += "<div class='calendartt_end'>{L_calendar_enddate}: "+moment(event.end).subtract(1, 'days').format('{JS_DATEFORMAT}')+"</div>";
						}
						tmpttcontent += "<div class='calendartt_allday'>{L_calendar_allday}</div>";
					}else{
						tmpttcontent = "<div class='calendartt_start'>{L_calendar_startdate}: "+moment(event.start).format('{JS_DATEFORMAT}, '+mmocms_user_timeformat)+"</div>";
						tmpttcontent += "<div class='calendartt_end'>{L_calendar_enddate}: "+moment(event.end).format('{JS_DATEFORMAT}, '+mmocms_user_timeformat)+"</div>";
					}
					if(event.note){
						tmpttcontent += "<div class='calendartt_note'>{L_note}: "+event.note+"</div>";
					}
					tmpttcontent += "<div class='calendartt_note'>{L_creator}: "+event.author+"</div>";
					var buttontext = '';
					if(event.isowner){
						buttontext = '<div style="text-align:right;margin-right:-26px;"><i class="fa fa-pencil fa-lg hand" onclick="editEvent('+event.eventid+');"></i>  <i class="fa fa-trash-o fa-lg hand" onclick="deleteEvent('+event.eventid+');"></i></div>';
					}else if(event.isinvited){
						if(event.joinedevent){
							buttontext = '<div style="text-align:right;margin-right:-26px;"><i class="fa fa-times fa-lg hand" onclick="declineInvitation('+event.eventid+');"></i></div>';
						}else{
							buttontext = '<div style="text-align:right;margin-right:-26px;"><i class="fa fa-check fa-lg hand" onclick="acceptInvitation('+event.eventid+');"></i>  <i class="fa fa-times fa-lg hand" onclick="declineInvitation('+event.eventid+');"></i></div>';
						}
					}

					if(event.attendees != ''){
						tmpttcontent += "{L_calendar_eventparticipants}" + event.attendees;
					}

					if(event.editable){
						element.qtip({
							content: {
								text: tmpttcontent,
								title: {
									text: buttontext,
									button: false
								}
							},
							hide: {
								fixed: true,
								delay: 300
							},
							position: {
								at: "bottom center",
								my: "top center"
							},
							style: {
								tip: {
									corner: true
								},
								widget: true
							}
						});
					}else{
						element.qtip({
							content: {
								text: tmpttcontent,
							},
							hide: {
								fixed: true,
								delay: 300
							},
							position: {
								at: "bottom center",
								my: "top center"
							},
							style: {
								tip: {
									corner: true
								},
								widget: true
							}
						});
					}

				}else{
					tmpttcontent = '';
					tmpttcontent += "<div class='calendartt_title'>"+event.title+"</div><br/>";
					tmpttcontent += (event.raidleader) ? "<div class='calendartt_raidleader'>{L_raidevent_raidleader}: "+event.raidleader+"</div><br/>" : '';
					tmpttcontent += "<div class='calendartt_start'>{L_calendar_startdate}: "+moment(event.start).format('{JS_DATEFORMAT}, '+mmocms_user_timeformat)+"</div>";
					tmpttcontent += "<div class='calendartt_end'>{L_calendar_enddate}: "+moment(event.end).format('{JS_DATEFORMAT}, '+mmocms_user_timeformat)+"</div>";

					tmpttcontent += (event.rstatusdata) ? "<br/><div class='calendartt_raidcount'>"+event.rstatusdata+"</div>" : '';

					tmpttcontent += (event.note) ? "<br/><div class='calendartt_note'>{L_note}: "+event.note+"</div>" : '';
					if(event.raidgroups){
						tmpttcontent += "<div class='calendartt_raidgroups'>{L_calendar_raidgroups}: "+event.raidgroups+"</div>";
					}
					if(event.editable){
						element.qtip({
							content: {
								text: tmpttcontent,
								title: {
									text: '<div style="text-align:right;margin-right:-26px;"><i class="fa fa-pencil fa-lg hand" onClick="editEvent('+event.eventid+');"></i>  <i class="fa fa-trash-o fa-lg hand" onclick="deleteEvent('+event.eventid+');"></i></div>',
									button: false
								}
							},
							hide: {
								fixed: true,
								delay: 300
							},
							position: {
								at: "bottom center",
								my: "top center"
							},
							style: {
								tip: {
									corner: true
								},
								widget: true
							}
						});
					}else{
						element.qtip({
							content: {
								text: tmpttcontent,
							},
							hide: {
								fixed: true,
								delay: 300
							},
							position: {
								at: "bottom center",
								my: "top center"
							},
							style: {
								tip: {
									corner: true
								},
								widget: true
							}
						});
					}
				}
			},
			eventResize: function(event,delta,revertFunc) {
				// Save after event-drop is finished, use ajax() cause of error callback
				var minutesdelta = (parseInt(delta.hours())*60)+parseInt(delta.minutes());
				$.ajax({
					type: "POST",
					url: '{U_CALENDAR}&link_hash={CSRF_RESIZE_TOKEN}',
					data: { "resize": true, "daydelta": delta.days(), "minutedelta": minutesdelta, "eventid": event.eventid },
					error: function(){
						revertFunc();
					},
					success: function(msg){
						system_message(msg, 'success');
						$('#calendar').fullCalendar('refetchEvents');
					}
				});
			},
			eventDrop: function(event,delta,revertFunc) {
				// Save after event-drop is finished, use ajax() cause of error callback
				var minutesdelta = (parseInt(delta.hours())*60)+parseInt(delta.minutes());
				var allDay			= ($.fullCalendar.moment(event.start).hasTime()) ? false : true;
				$.ajax({
					type: "POST",
					url: '{U_CALENDAR}&link_hash={CSRF_MOVE_TOKEN}',
					data: { "move": true, "daydelta": delta.days(), "minutedelta": minutesdelta, "allday": allDay, "eventid": event.eventid },
					error: function(){
						revertFunc();
					},
					success: function(msg){
						system_message(msg, 'success');
						$('#calendar').fullCalendar('refetchEvents');
					}
				});
			},
			loading: function(bool) {
				$('#calendar_loading').toggle(bool);
			},
			defaultView: cal_getStorage("calendar.viewname") || 'month',
			defaultDate: cal_getStorage("calendar.currentdate") || moment(),
			viewRender: function(view){
				cal_setStorage("calendar.viewname", view.name);

				// get the date and set it to the variable
				var date2save	= (view.name == 'month') ? $('#calendar').fullCalendar('getDate') : view.start;
				cal_setStorage("calendar.currentdate", date2save.format());
			},
			//eventSources: curSource
		});

		// start the hack for the date picker
		$(".fc-header-toolbar .fc-center h2").attr('id', 'fc-datepicker-header').before('<input size="1" style="height: 0px; width:0px; border: 0px;" id="fc-datepicker" value="" /><input size="1" style="height: 0px; width:0px; border: 0px;" id="fc-monthpicker" value="" />');

		$("#fc-monthpicker").MonthPicker({
			Button: false,
			Position: {
				my: 'center top+1',
				at: 'center bottom',
				collision: 'flip',
				of: $('.fc-header-toolbar .fc-center')
			},
			OnAfterMenuClose: function() {
				var d = $("#fc-monthpicker").MonthPicker('Validate')
				if (d !== null){
					$('#calendar').fullCalendar('gotoDate', d);
				}
			}
		});

		$("#fc-datepicker").datepicker({
			dateFormat: 'mm-yy',
			changeMonth: true,
			changeYear: true,
			showButtonPanel: true,
			beforeShow: function(input, inst) {
				setTimeout(function () {
					var offsets = $(".fc-header-toolbar .fc-center").offset();
					var top = offsets.top + 25;
					inst.dpDiv.css({
						top: top,
						left: offsets.left,
					});
				});
			},
			onClose: function(dateText, inst) {
				var d = $("#fc-datepicker").datepicker("getDate");
				if (d !== null){
					$('#calendar').fullCalendar('gotoDate', d);
				}
			}
		});

		$("#fc-datepicker-header").click(function() {
			if((cal_getStorage("calendar.viewname") || 'month') == "month"){
				$('#fc-monthpicker').MonthPicker('Open')
			}else{
				$('#fc-datepicker').datepicker('show');
			}
		});

		$(".fc-icalexport-button,#export_callist").qtip({
			content: {
				text: function(event, api) {
					$.ajax({
						url: '{U_CALENDAR}&export_tooltip=true'
					})
					.then(function(content) {
						// Set the tooltip content upon successful retrieval
						api.set('content.text', content);
					}, function(xhr, status, error) {
						// Upon failure... set the tooltip content to the status and error value
						api.set('content.text', status + ': ' + error);
					});
					return '<i class="fa fa-refresh fa-spin fa-lg"></i>';
				},
				title: {
					text: "{L_calendar_export_head}",
					button: true
				}
			},
			position: {
				at: "bottom left",
				my: "top left"
			},
			style: {
				classes: 'tooltip_maxwidth tooltip_uiform',
				width: 500,
				tip: {
					corner: true,
				},
				widget: true
			},
			hide: false,
			show: {
				event: 'click'
			}
		});

		$("#calendar_tab").tabs({
			fxSlide: true,
			fxFade: true,
			fxSpeed: 'normal',
			beforeActivate: function(e, ui) {
				cal_setStorage("tabs.calendar", ui.newTab.index());
			},
			create: function (e, ui) {
				var tabID		= (window.location.hash) ? $('#' +  window.location.hash.replace('#', '')).index() : 0;
				var selectionId	= (window.location.hash && tabID > 0) ? tabID-1 : ((cal_getStorage("tabs.calendar") != null) ? cal_getStorage("tabs.calendar") : 0);
				$(this).tabs("option", "active", selectionId);
			},
			show: function(event, ui) {
				$('#calendar').fullCalendar('render');
			}
		});


		$('[name="selected_ids[]"], #pdh_selectall1').change( function() {
			if($(this).prop('checked') == true && $('#raid_masssignin_panel').is(':hidden')){
				$('#raid_masssignin_panel').fadeIn(2000);
			}else{
				if($('#raid_masssignin_panel').is(':visible') && $('[name="selected_ids[]"]').filter(":checked").length == 0){
					$('#raid_masssignin_panel').fadeOut("slow");
				}
			}
		});

		$('#calendarfilter').change(function(){
			var array_of_checked_values = $("#calendarfilter").multiselect("getChecked").map(function(){
				return this.value;
			}).get();
			cal_setStorage('calendar.calendar_filter', JSON.stringify(array_of_checked_values));
			curSource = doFiltering(curSource);

			calfilter_unchecked	= $("#calendarfilter").multiselect("getUnchecked").map(function(){
				return this.value;
			}).get().length;
			calfilter_current	= array_of_checked_values.length;
			calfilter_max = calfilter_unchecked+calfilter_current;

			if(calfilter_current < calfilter_max){
				$("#calendar_filtermessage").show();

			}else{
				$("#calendar_filtermessage").hide();
			}
		}).trigger('change');

		$(".caleventfilter").click(function(){
			var currid = $(this).attr('id');
			console.log(currid)
			$(".caleventfilter").removeClass("ui-state-active");
			$('#'+currid).addClass("ui-state-active");
			cal_setStorage('calendar.event_filter', currid);

			//now, perform the filtering...
			curSource = doFiltering(curSource);
		});

		$("#calendar_filterreset").click(function(){
			$("#calendarfilter").multiselect("checkAll");
		})
	});

	function doFiltering(curSource){
		newSource = buildCalURL($("#calendarfilter").val());
		$('#calendar').fullCalendar('removeEvents');
		$('#calendar').fullCalendar('removeEventSource', curSource);
		$('#calendar').fullCalendar('addEventSource', newSource)
		$('#calendar').fullCalendar('refetchEvents');
		return newSource;
	}

	function buildCalURL(calids){
		tmpids		= calids.join('|');
		tmpfilter	= cal_getStorage('calendar.event_filter');
		filter		= (tmpfilter != null) ? tmpfilter.replace('calfilter_', '') : 'all';
		return '{U_CALENDAR}&json=true&eventfilter='+filter+'&calids=' + tmpids;
	}

	function acceptInvitation(id){
		location.href = '{U_CALENDAR}&handle_invitation=true&status=accept&eventid='+id;
	}

	function declineInvitation(id){
		location.href = '{U_CALENDAR}&handle_invitation=true&status=decline&eventid='+id;
	}

	function editEvent(editid){
		jQuery.FrameDialog.create({
			url: '{U_EDIT_CALENDAREVENT}&simple_head=true&eventid='+editid,
			title: "{L_calendar_win_edit}",
			width: 940,
			height:730,
			modal: false,
			buttons: false,
			close: function(event, ui) { $('#calendar').fullCalendar('refetchEvents'); }
		});
	}

	function deleteEvent(deleteid){
		$.get("{U_CALENDAR}&checkrepeatable="+deleteid, function(data){
			if($.trim(data) == 'true'){
				var delclones_checked = '';
				$("#confirm_caleventdelete_all").dialog({
					resizable: false,
					height:200,
					width: 500,
					modal: true,
					buttons: {
						"{L_delete}": function() {
							if($('#deleteall_selection').val() != 'this'){
								delclones_checked = '&delete_clones=true&cc_selection='+$('#deleteall_selection').val();
							}
							$.post('{U_CALENDAR}&link_hash={CSRF_DELETEID_TOKEN}&deleteid='+deleteid+delclones_checked);
							$( this ).dialog( "close" );
							$('#calendar').fullCalendar('refetchEvents');
						},
						{L_cancel}: function() {
							$( this ).dialog( "close" );
						}
					}
				});
			}else{
				$("#confirm_caleventdelete").dialog({
					resizable: false,
					height:180,
					modal: true,
					buttons: {
						"{L_delete}": function() {
							$.post('{U_CALENDAR}&link_hash={CSRF_DELETEID_TOKEN}&deleteid='+deleteid);
							$( this ).dialog( "close" );
							$('#calendar').fullCalendar('refetchEvents');
						},
						{L_cancel}: function() {
							$( this ).dialog( "close" );
						}
					}
				});
			}
		});
	}

	// http://stackoverflow.com/questions/14555347/
	function cal_setStorage(name, value){
		if(isLocalStorageNameSupported()){
			localStorage.setItem(name, value);
		}
	}

	function cal_getStorage(name){
		if(isLocalStorageNameSupported()){
			return localStorage.getItem(name);
		}
		return false;
	}

	function isLocalStorageNameSupported() {
		var testKey = 'test', storage = window.sessionStorage;
		try {
			storage.setItem(testKey, '1');
			storage.removeItem(testKey);
			return true;
		}catch (error){
			return false;
		}
	}

//]]>
</script>

<!-- IF ADD_RAID -->
<style>
td.fc-day:hover:after {
	content: "{L_calendar_click_add}";
	color: #9f9f9f;
	font-weight: normal;
	float: right;
	font-style:italic;
}
</style>
<!-- ENDIF -->
<style>
.calendartt_note img{
	max-width: 95%;
}
</style>
<div id="confirm_caleventdelete_all" style="display:none;" title="{L_calendars_delete_title}">
	<p>
		<i class="fa fa-exclamation-triangle fa-2x" style="float:left; margin:0 7px 24px 0;"></i> {L_calendars_delete_text}
	</p><br/>
	<p>
		{DD_MULTIDEL}
	</p>
</div>
<div id="confirm_caleventdelete" style="display:none;" title="{L_calendars_delete_title}">
	<p><i class="fa fa-exclamation-triangle fa-2x" style="float:left; margin:0 7px 24px 0;"></i> {L_calendars_delete_text}</p>
</div>

<div id='calendar_tab'>
	<!-- IF not S_DISABLE_GUILD_FEATURES -->
	<ul>
		<li><a href='#fragment-calendar'><span>{L_calendar}</span></a></li>
		<li><a href='#fragment-list'><span>{L_calendar_list}</span></a></li>
		<li><a href='#fragment-raidstats'><span>{L_statistics}</span></a></li>
	</ul>
	<!-- ENDIF -->
	<div id="fragment-calendar">
		<div class="fc calendar-filtertoolbar">
			<div class="fc-button-group" id="calendar_filter">
				{MS_CALENDAR_SELECT}
			</div>

			<div class="fc-button-group" id="calendar_eventfilter">
				<button type="button" class="ui-button ui-state-default ui-corner-left caleventfilter" id="calfilter_all"><i class="fa fa-list"></i> {L_calendar_sortbutton_all}</button>
				<button type="button" class="ui-button ui-state-default fc-middle-button caleventfilter" id="calfilter_future"><i class="fa fa-clock-o"></i> {L_calendar_sortbutton_future}</button>
				<button type="button" class="ui-button ui-state-default caleventfilter <!-- IF S_LOGGED_IN -->fc-middle-button<!-- ELSE -->ui-corner-right<!-- ENDIF -->" id="calfilter_past"><i class="fa fa-clock-o"></i> {L_calendar_sortbutton_past}</button>
				<!-- IF S_LOGGED_IN -->
				<button type="button" class="ui-button ui-state-default fc-middle-button caleventfilter" id="calfilter_attendance"><i class="fa fa-flag"></i> {L_calendar_sortbutton_attendance}</button>
				<button type="button" class="ui-button ui-state-default ui-corner-right caleventfilter" id="calfilter_mine"><i class="fa fa-user"></i> {L_calendar_sortbutton_mine}</button>
				<!-- ENDIF -->
			</div>
		</div>

		<div class="infobox infobox-large infobox-blue clearfix" id="calendar_filtermessage">
			<i class="fa fa-filter fa-4x pull-left"></i> <span id="calendar_filtermessage_text">{L_calendar_filter_infotext}</span>
			<button type="button" class="mainoption" id="calendar_filterreset">{L_calendar_filter_resetbutton}</button>
		</div>


		<div id="calDialog"></div>
		<div id='calendar_loading'><i class="fa fa-spinner fa-spin fa-lg"></i> {L_lib_loading}</div>
		<div id='calendar'></div>
	</div>

	<!-- IF not S_DISABLE_GUILD_FEATURES -->
	<div id="fragment-list">
		<form name="masssignin" method="post" action="{ACTION}">
		<div class="tableHeader">
			<span id="export_callist"><button type="button" class="mainoption"><i class="fa fa-calendar fa-lg"></i> {L_raideventlist_export_ical}</button></span>
			{HPTT_ADMIN_LINK}
		</div>
		<div class="clear"></div>
		<br />
		<div id="raid_masssignin_panel" style="display:none;">
			<!-- IF S_LOGGED_IN AND not NO_CHAR_ASSIGNED -->
			<table class="table fullwidth scrollable-x">
				<tr>
					<td class="w35p">{L_raideventlist_masssignin}</td>
					<td class="w10p">{DD_CHARS}</td>
					<td class="w10p">{DD_ROLES}</td>
					<td class="w25p right"><i class="fa fa-comment fa-lg"></i> {TXT_NOTE}</td>
					<td class="w10p">{DD_STATUS}</td>
					<td class="w10p"><button type="submit" name="mass_signin" class="mainoption"><i class="fa fa-check"></i>{L_raideventlist_masssignbttn}</button>
				</tr>
			</table>
			<!-- ENDIF -->
			<!-- IF S_LOGGED_IN AND NO_CHAR_ASSIGNED -->
			<div class="infobox infobox-large infobox-red clearfix">
				<i class="fa fa-male fa-2x pull-left"></i> {L_raidevent_raid_nochar}
			</div>
			<!-- ENDIF -->
		</div>
		<table class="table fullwidth colorswitch">
			{RAID_LIST}
		</table>
		{CSRF_TOKEN}
		</form>
	</div>

	<div id="fragment-raidstats">
		<form name="raidstats" method="post" action="{ACTION}">

		<fieldset class="settings mediumsettings">
		<legend>{L_viewraid_create_summ}</legend>
		<div>
			<dl>
				<dt><label>{L_starting_date}</label></dt>
				<dd>{DATEPICK_DATE_FROM}</dd>
			</dl>
			<dl>
				<dt><label>{L_ending_date}</label></dt>
				<dd>{DATEPICK_DATE_TO}</dd>
			</dl>

			<dl>
				<dt><label>{L_show_twinks}</label></dt>
				<dd><label><input type="checkbox" name="show_twinks" value="1" {SHOW_TWINKS_CHECKED} /></label></dd>
			</dl>
			<dl>
				<dt><label>{L_hide_inactive}</label></dt>
				<dd><label><input type="checkbox" name="hide_inactive" value="1" {HIDE_INACTIVE_CHECKED} /></label></dd>
			</dl>
			<!-- IF S_SHOW_STAT_RAIDGROUP -->
			<dl>
				<dt><label>{L_calendar_raidgroup}</label></dt>
				<dd>{DD_RAIDGROUP}</dd>
			</dl>
			<!-- ENDIF -->

			<button class="mainoption" type="submit" name="submit" id="raidSumformSubmitBtn"><i class="fa fa-check"></i>{L_viewraid_create_summ}</button>
		</div>
		</fieldset>
		<br />
		<!-- IF S_RAIDSTATS -->
		<table class="table fullwidth hptt colorswitch scrollable-x">
			{RAIDSTATS_OUT}
		</table>
		<!-- ENDIF -->
		{CSRF_TOKEN}
		</form>
	</div>
	<!-- ENDIF -->
</div>
