<script type='text/javascript'>
//<![CDATA[
	$(document).ready(function() {
		$('#calendar').fullCalendar({
			firstDay: {STARTDAY},

			// The rest
			theme: true,
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			eventLimit: true,
			<!-- IF IS_OPERATOR -->
			dayClick: function(date, allDay, jsEvent, view) {
				if (allDay) {
					jQuery.FrameDialog.create({
						url: '{U_EDIT_CALENDAREVENT}&simple_head=true&timestamp='+(moment.utc(date).unix()),
						title: "{L_calendar_win_add}",
						width: 940,
						height:700,
						modal: false,
						buttons: false,
						close: function(event, ui) { $('#calendar').fullCalendar('refetchEvents'); }
					});
					return false;
				}
			},
			<!-- ENDIF -->
			eventRender: function(event, element) {
				if(event.icon){
					element.find('.fc-time').hide();
					element.find(".fc-title").before($("<span class=\"fc-icons\"></span>").html("<img src='"+event.icon+"' height='20px' width='20px' alt='' class='absmiddle' />"));
				}

				if(event.flag){
					element.find(".fc-title").after($("<span class=\"fc-flag\"></span>").html(event.flag));
				}

				if(event.closed){
					element.find(".fc-title").addClass("linethrough");
				}
				// onclick Event Tooltip
				if(event.className == 'cal_birthday'){
					element.find(".fc-title").before($("<span class=\"fc-icons\"></span>").html("<i class='fa fa-gift fa-fw fa-lg'></i> "));
				}else if(!event.url){
					if(event.allDay){
						tmpttcontent = "<div class='calendartt_start'>{L_calendar_startdate}: "+moment(event.start).format('{JS_DATEFORMAT}')+"</div>";
						if((moment(event.end).format('dd') != moment(event.start).format('dd')) || (moment(event.end).format('MM') != moment(event.start).format('MM'))){
							tmpttcontent += "<div class='calendartt_end'>{L_calendar_enddate}: "+moment(event.end).subtract(1, 'days').format('{JS_DATEFORMAT}')+"</div>";
						}
						tmpttcontent += "<div class='calendartt_allday'>{L_calendar_allday}</div>";
					}else{
						tmpttcontent = "<div class='calendartt_start'>{L_calendar_startdate}: "+moment(event.start).format('{JS_DATEFORMAT}, {JS_TIMEFORMAT}')+"</div>";
						tmpttcontent += "<div class='calendartt_end'>{L_calendar_enddate}: "+moment(event.end).format('{JS_DATEFORMAT}, {JS_TIMEFORMAT}')+"</div>";
					}
					if(event.note){
						tmpttcontent += "<div class='calendartt_note'>{L_note}: "+event.note+"</div>";
					}
					tmpttcontent += "<div class='calendartt_note'>{L_creator}: "+event.author+"</div>";
					element.qtip({
						content: {
							text: tmpttcontent,
							<!-- IF IS_OPERATOR -->title: {
								text: '<div style="text-align:right;margin-right:-26px;"><i class="fa fa-pencil fa-lg hand" onclick="editEvent('+event.eventid+');"></i>  <i class="fa fa-trash-o fa-lg hand" onclick="deleteEvent('+event.eventid+');"></i></div>',
								button: false
							}<!-- ENDIF -->
						},
						hide: {
							fixed: true,
							delay: 300
						},
						position: {
							at: "bottom center",
							my: "top center"
						},
						style: {
							tip: {
								corner: true
							},
							widget: true
						}
					});
				}else{
					tmpttcontent = '';
					tmpttcontent += (event.raidleader) ? "<div class='calendartt_raidleader'>{L_raidevent_raidleader}: "+event.raidleader+"</div><br/>" : '';
					tmpttcontent = "<div class='calendartt_start'>{L_calendar_startdate}: "+moment(event.start).format('{JS_DATEFORMAT}, {JS_TIMEFORMAT}')+"</div>";
					tmpttcontent += "<div class='calendartt_end'>{L_calendar_enddate}: "+moment(event.end).format('{JS_DATEFORMAT}, {JS_TIMEFORMAT}')+"</div>";

					tmpttcontent += (event.rstatusdata) ? "<br/><div class='calendartt_raidcount'>"+event.rstatusdata+"</div>" : '';

					tmpttcontent += (event.note) ? "<br/><div class='calendartt_note'>{L_note}: "+event.note+"</div>" : '';
					element.qtip({
						content: {
							text: tmpttcontent,
							<!-- IF IS_OPERATOR -->title: {
								text: '<div style="text-align:right;margin-right:-26px;"><i class="fa fa-pencil fa-lg hand" onClick="editEvent('+event.eventid+');"></i>  <i class="fa fa-trash-o fa-lg hand" onclick="deleteEvent('+event.eventid+');"></i></div>',
								button: false
							}<!-- ENDIF -->
						},
						hide: {
							fixed: true,
							delay: 300
						},
						position: {
							at: "bottom center",
							my: "top center"
						},
						style: {
							tip: {
								corner: true
							},
							widget: true
						}
					});
				}
			},
			eventResize: function(event,delta,revertFunc) {
				// Save after event-drop is finished, use ajax() cause of error callback
				var minutesdelta = (parseInt(delta.hours())*60)+parseInt(delta.minutes());
				$.ajax({
					type: "POST",
					url: '{U_CALENDAR}&link_hash={CSRF_RESIZE_TOKEN}',
					data: { "resize": true, "daydelta": delta.days(), "minutedelta": minutesdelta, "eventid": event.eventid },
					error: function(){
						revertFunc();
					},
					success: function(msg){
						$("#notify_container").notify("create", "success", {text: msg });
					}
				});
			},
			eventDrop: function(event,delta,revertFunc) {
				// Save after event-drop is finished, use ajax() cause of error callback
				var minutesdelta = (parseInt(delta.hours())*60)+parseInt(delta.minutes());
				var allDay			= ($.fullCalendar.moment(event.start).hasTime()) ? false : true;
				$.ajax({
					type: "POST",
					url: '{U_CALENDAR}&link_hash={CSRF_MOVE_TOKEN}',
					data: { "move": true, "daydelta": delta.days(), "minutedelta": minutesdelta, "allday": allDay, "eventid": event.eventid },
					error: function(){
						revertFunc();
					},
					success: function(msg){
						$("#notify_container").notify("create", "success", {text: msg });
					}
				});
			},
			loading: function(bool) {
				$('#calendar_loading').toggle(bool);
			},
			defaultView: cal_getStorage("calendar.viewname") || 'month',
			defaultDate: cal_getStorage("calendar.currentdate") || moment(),
			viewRender: function(view){
				cal_setStorage("calendar.viewname", view.name);
				
				// get the date and set it to the variable
				var date2save	= (view.name == 'month') ? $('#calendar').fullCalendar('getDate') : view.start;
				cal_setStorage("calendar.currentdate", date2save.format());
			},
			events: {
				url: '{U_CALENDAR}&json=true',
				//error: function() {
			//		$('#script-warning').show();
			//	}
			}
		});

		// add a new button to the calendar for the export
		addCalButton("left", "{L_raideventlist_export_ical_button}", "export_calendar");

		$("#export_calendar,#export_callist").qtip({
			content: {
				text: function(event, api) {
					$.ajax({
						url: '{U_CALENDAR}&export_tooltip=true'
					})
					.then(function(content) {
						// Set the tooltip content upon successful retrieval
						api.set('content.text', content);
					}, function(xhr, status, error) {
						// Upon failure... set the tooltip content to the status and error value
						api.set('content.text', status + ': ' + error);
					});
					return '<i class="fa fa-refresh fa-spin fa-lg"></i>';
				},
				title: {
					text: "{L_calendar_export_head}",
					button: true
				}
			},
			position: {
				at: "bottom left",
				my: "top left"
			},
			style: {
				classes: 'tooltip_maxwidth',
				width: 500,
				tip: {
					corner: true,
				},
				widget: true
			},
			hide: false,
			show: {
				event: 'click'
			}
		});

		$("#calendar_tab").tabs({
			fxSlide: true,
			fxFade: true,
			fxSpeed: 'normal',
			beforeActivate: function(e, ui) {
				cal_setStorage("tabs.calendar", ui.newTab.index());
			},
			create: function (e, ui) {
				var tabID		= (window.location.hash) ? $('#' +  window.location.hash.replace('#', '')).index() : 0;
				var selectionId	= (window.location.hash && tabID > 0) ? tabID-1 : ((cal_getStorage("tabs.calendar") != null) ? cal_getStorage("tabs.calendar") : 0);
				$(this).tabs("option", "active", selectionId);
			},
			show: function(event, ui) {
				$('#calendar').fullCalendar('render');
			}
		});
		

		$('[name="selected_ids[]"], #pdh_selectall1').change( function() {
			if($(this).prop('checked') == true && $('#raid_masssignin_panel').is(':hidden')){
				$('#raid_masssignin_panel').fadeIn(2000);
			}else{
				if($('#raid_masssignin_panel').is(':visible') && $('[name="selected_ids[]"]').filter(":checked").length == 0){
					$('#raid_masssignin_panel').fadeOut("slow");
				}
			}
		});
	});

	function addCalButton(where, text, id) {
		var my_button = '<span class="fc-header-space"></span>' +
						'<span id="' + id + '" class="cal-button">' + text +'</span>';
						$("div.fc-" + where).append(my_button);
						$("#" + id).button();
	}

	function editEvent(editid){
		jQuery.FrameDialog.create({
			url: '{U_EDIT_CALENDAREVENT}&simple_head=true&eventid='+editid,
			title: "{L_calendar_win_edit}",
			width: 940,
			height:650,
			modal: false,
			buttons: false,
			close: function(event, ui) { $('#calendar').fullCalendar('refetchEvents'); }
		});
	}

	function deleteEvent(deleteid){
		$.get("{U_CALENDAR}&checkrepeatable="+deleteid, function(data){
			if($.trim(data) == 'true'){
				var delclones_checked = '';
				$("#confirm_caleventdelete_all").dialog({
					resizable: false,
					height:200,
					width: 500,
					modal: true,
					buttons: {
						"{L_delete}": function() {
							if($('#deleteall_selection').val() != 'this'){
								delclones_checked = '&delete_clones=true&cc_selection='+$('#deleteall_selection').val();
							}
							$.post('{U_CALENDAR}&link_hash={CSRF_DELETEID_TOKEN}&deleteid='+deleteid+delclones_checked);
							$( this ).dialog( "close" );
							$('#calendar').fullCalendar('refetchEvents');
						},
						{L_cancel}: function() {
							$( this ).dialog( "close" );
						}
					}
				});
			}else{
				$("#confirm_caleventdelete").dialog({
					resizable: false,
					height:180,
					modal: true,
					buttons: {
						"{L_delete}": function() {
							$.post('{U_CALENDAR}&link_hash={CSRF_DELETEID_TOKEN}&deleteid='+deleteid);
							$( this ).dialog( "close" );
							$('#calendar').fullCalendar('refetchEvents');
						},
						{L_cancel}: function() {
							$( this ).dialog( "close" );
						}
					}
				});
			}
		});
	}

	// http://stackoverflow.com/questions/14555347/
	function cal_setStorage(name, value){
		if(isLocalStorageNameSupported()){
			localStorage.setItem(name, value);
		}
	}

	function cal_getStorage(name){
		if(isLocalStorageNameSupported()){
			return localStorage.getItem(name);
		}
		return false;
	}

	function isLocalStorageNameSupported() {
		var testKey = 'test', storage = window.sessionStorage;
		try {
			storage.setItem(testKey, '1');
			storage.removeItem(testKey);
			return true;
		}catch (error){
			return false;
		}
	}

//]]>
</script>

<!-- IF IS_OPERATOR -->
<style>
td.fc-day:hover:after {
	content: "{L_calendar_click_add}";
	color: #9f9f9f;
	font-weight: normal;
	float: right;
	font-style:italic;
}
</style>
<!-- ENDIF -->

<div id="confirm_caleventdelete_all" style="display:none;" title="{L_calendars_delete_title}">
	<p>
		<i class="fa fa-exclamation-triangle fa-2x" style="float:left; margin:0 7px 24px 0;"></i> {L_calendars_delete_text}
	</p><br/>
	<p>
		{DD_MULTIDEL}
	</p>
</div>
<div id="confirm_caleventdelete" style="display:none;" title="{L_calendars_delete_title}">
	<p><i class="fa fa-exclamation-triangle fa-2x" style="float:left; margin:0 7px 24px 0;"></i> {L_calendars_delete_text}</p>
</div>

<div id='calendar_tab'>
	<ul>
		<li><a href='#fragment-calendar'><span>{L_calendar}</span></a></li>
		<li><a href='#fragment-list'><span>{L_calendar_list}</span></a></li>
		<li><a href='#fragment-raidstats'><span>{L_statistics}</span></a></li>
	</ul>

	<div id="fragment-calendar">
		<div id="calDialog"></div>
		<div id='calendar_loading'><i class="fa fa-spinner fa-spin fa-lg"></i> {L_lib_loading}</div>
		<div id='calendar'></div>
	</div>

	<div id="fragment-list">
		<form name="masssignin" method="post" action="{ACTION}">
		<div class="tableHeader">
			<span id="export_callist"><button type="button" class="mainoption"><i class="fa fa-calendar fa-lg"></i> {L_raideventlist_export_ical}</button></span>
		</div>
		<div class="clear"></div>
		<br />
		<div id="raid_masssignin_panel" style="display:none;">
			<table class="table fullwidth">
				<tr>
					<td width="35%">{L_raideventlist_masssignin}</td>
					<td width="10%">{DD_CHARS}</td>
					<td width="10%">{DD_ROLES}</td>
					<td width="25%" align="right"><i class="fa fa-comment fa-lg"></i> {TXT_NOTE}</td>
					<td width="10%">{DD_STATUS}</td>
					<td width="10%"><button type="submit" name="mass_signin" class="mainoption"><i class="fa fa-check"></i>{L_raideventlist_masssignbttn}</button>
				</tr>
			</table>
		</div>
		<table class="table fullwidth colorswitch">
			{RAID_LIST}
		</table>
		{CSRF_TOKEN}
		</form>
	</div>
	
	<div id="fragment-raidstats">
		<form name="raidstats" method="post" action="{ACTION}">
		
		<fieldset class="settings mediumsettings">
		<legend>{L_viewraid_create_summ}</legend>
		<div>
			<dl>
				<dt><label>{L_starting_date}</label></dt>
				<dd>{DATEPICK_DATE_FROM}</dd>
			</dl>
			<dl>
				<dt><label>{L_ending_date}</label></dt>
				<dd>{DATEPICK_DATE_TO}</dd>
			</dl>

			<dl>
				<dt><label>{L_show_twinks}</label></dt>
				<dd><label><input type="checkbox" name="show_twinks" value="1" {SHOW_TWINKS_CHECKED} /></label></dd>
			</dl>

			<button class="mainoption" type="submit" name="submit" id="raidSumformSubmitBtn"><i class="fa fa-check"></i>{L_viewraid_create_summ}</button>
		</div>
		</fieldset>
		<br />
		<!-- IF S_RAIDSTATS -->
		<table class="table fullwidth hptt colorswitch scrollable-x">
			{RAIDSTATS_OUT}
		</table>
		<!-- ENDIF -->
		{CSRF_TOKEN}
		</form>
	</div>
</div>