<form method="post" action="{ACTION}" name="post">
	<input type="hidden" name="change_attendance" value="true" />
	<input type="hidden" name="event_id" value="{EVENT_ID}" />
	<div class="table fullwidth">
		<div class="tr">
			<div class="td bigDateTd" style="width: 100px;">
				<div class="bigDateContainer hiddenSmartphone">
					<span class="bigDateNumber">{DATE_DAY}</span>
					<span class="articleMonth">{DATE_MONTH}</span>
					<span class="middleDateTime">{DATE_TIME}</span>
				</div>
			</div>
			<div class="td" style="vertical-align: top;">
				<h2>{NAME}
					<!-- IF CALENDAR_TOOLBAR_COUNT -->
					<div class="floatRight">
						<div class="toolbar-button">
							<span class="{CALENDAR_TOOLBAR} toolbar"><i class="fa fa-cog"></i></span>
						</div>
					</div>
					<!-- ENDIF -->
				</h2>
				<div class="eventdata-header">
					<i class="fa fa-lg fa-globe"></i> <!-- IF PRIVATE_EVENT -->{L_calendar_eventlabel_private}<!-- ELSE -->{L_calendar_eventlabel_open}<!-- ENDIF --> | <!-- IF PRIVATE_EVENT -->{L_calendar_event_detail_invitedby}<!-- ELSE -->{L_calendar_event_detail_createdby}<!-- ENDIF -->: {CREATOR}

					<div class="eventdata-details">
						<div class="eventdata-details-date"><i class="fa fa-lg fa-calendar-o"></i> {DATE_FULL}</div>
						<!-- IF LOCATION --><div class="eventdata-details-location" id='eventdetailsmap-datacontainer' data-longitude="{LOCATION_LON}" data-latitude="{LOCATION_LAT}"><i class="fa fa-lg fa-map-marker"></i> {LOCATION}</div><!-- ENDIF -->
						<div class="eventdata-details-calendar"><i class="fa fa-calendar fa-lg"></i> {CALENDAR}</div>
					</div>
					<br />
					{MAPFRAME}
					<!-- IF S_LOGGED_IN -->
					<div class="eventdata-buttonrow">
						<button class="<!-- IF MYSTATUS == "1" -->green<!-- ELSE -->gray<!-- ENDIF --> button_changeattendance" name="attendancetype" value="attend">{L_calendar_event_button_attend}</button>
						<!-- IF not PRIVATE_EVENT --><button class="<!-- IF MYSTATUS == "2" -->orange<!-- ELSE -->gray<!-- ENDIF --> button_changeattendance" name="attendancetype" value="maybe">{L_calendar_event_button_maybe}</button><!-- ENDIF -->
						<button class="<!-- IF MYSTATUS == "3" -->red<!-- ELSE -->gray<!-- ENDIF --> button_changeattendance" name="attendancetype" value="decline">{L_calendar_event_button_decline}</button>
					</div>
					<!-- ENDIF -->
				</div>
				<br />
				<!-- IF SHOW_ATTENDEES -->
				<div id="tab_attendance">
					<ul>
						<li>{L_calendar_eventparticipants}</li>
						<li><a href="#tabs-attendees"><span class="bubble">{NUMBER_ATTENDEES}</span> {L_calendar_eventdetails_confirmations}</a></li>
						<!-- IF not PRIVATE_EVENT --><li><a href="#tabs-maybes"><span class="bubble">{NUMBER_MAYBES}</span> {L_calendar_eventdetails_maybes}</a></li><!-- ENDIF -->
						<li><a href="#tabs-declines"><span class="bubble">{NUMBER_DECLINES}</span> {L_calendar_eventdetails_declines}</a></li>
						<!-- IF HAS_INVITE --><li><a href="#tabs-invites"><span class="bubble">{NUMBER_INVITES}</span> {L_calendar_eventdetails_invitations}</a></li><!-- ENDIF -->
					</ul>

					<!-- IF HAS_INVITE -->
					<div id="tabs-invites">
						<!-- BEGIN invited -->
						{invited.ICON}
						<!-- END invited -->
						<div class="clear"></div>
					</div>
					<!-- ENDIF -->

					<div id="tabs-attendees">
						<!-- BEGIN attendance -->
						{attendance.ICON}
						<!-- END attendance -->
						<div class="clear"></div>
					</div>

					<!-- IF not PRIVATE_EVENT -->
					<div id="tabs-maybes">
						<!-- BEGIN maybe -->
						{maybe.ICON}
						<!-- END maybe -->
						<div class="clear"></div>
					</div>
					<!-- ENDIF -->

					<div id="tabs-declines">
						<!-- BEGIN decline -->
						{decline.ICON}
						<!-- END decline -->
						<div class="clear"></div>
					</div>

				</div>
				<!-- ENDIF -->
				<br />
				<div class="event_raidnote">
					<!-- IF NOTE -->{NOTE}<!-- ELSE -->{L_raidevent_raid_noeventnote}<!-- ENDIF -->
				</div>
			</div>
		</div>
	</div>
	{CSRF_TOKEN}
</form>

<div class="social">
	{MY_SOCIAL_BUTTONS}
</div>
