<!-- IF SHOW_GUESTS -->
<div id="viewraidcal_colapse_guests" class="attendee_table">
	<h4 class="state_header">
		<span class="toggle_button">&nbsp;</span>
		{L_raidevent_raid_guests}
		<span class="state_count">({GUEST_COUNT})</span>
		<!-- IF IS_OPERATOR --><button id="addguest" type="button"><i class="fa fa-user-plus fa-lg"></i></button><!-- ENDIF -->
	</h4>
	
	<div class="guest_table toggle_container">
		<!-- BEGIN raidstatus -->
		<div class="guest_column">
			<div class="guest_header">
				{raidstatus.NAME}
				<span class="guest_count">({raidstatus.GUESTCOUNT})</span>
			</div>
			
			<!-- BEGIN guests -->
			<div class="guest_box <!-- IF COLORED_NAMESBYCLASS -->class_{raidstatus.guests.CLASSID}<!-- ENDIF -->" data-guestid="{raidstatus.guests.ID}" data-approval="{raidstatus.guests.TOBEAPPROVED}" data-status="{raidstatus.guests.SIGNEDSTATUS}">
				<!-- IF raidstatus.guests.CLASSICON -->{raidstatus.guests.CLASSICON}<!-- ENDIF -->
				<span class="guest_name">{raidstatus.guests.NAME}</span>
				<!-- IF raidstatus.guests.EXTERNALAPPL --><!-- IF raidstatus.guests.TOBEAPPROVED --><i class="fa fa-external-link-square icon-color-red"><!-- ELSE --><i class="fa fa-check-square icon-color-green"><!-- ENDIF --></i><!-- ENDIF -->
				<span class="guest_tooltip" style="display:none">{raidstatus.guests.TOOLTIP}</span>
			</div>
			<!-- END guests -->
		</div>
		<!-- END raidstatus -->
	</div>
</div>
<!-- ENDIF -->