<!-- IF SHOW_GUESTS -->
	<tr>
		<td width="100%" valign="top" class="row2" colspan="{ATTENDEES_COLSPAN}"><br/>
			<table border="0" cellpadding="0" cellspacing="0" class="guesttable" width="100%">
				<tr>
					<td width="90%">
						<b>{L_raidevent_raid_guests}</b> ({GUEST_COUNT}): 
						<!-- BEGIN guests -->
							<!-- IF IS_OPERATOR -->
							<span class="guesttooltip guesteditpanel<!-- IF COLORED_NAMESBYCLASS2 --> class_{guests.CLASSID}<!-- ENDIF -->">
								
								<!-- IF guests.CLASSICON -->{guests.CLASSICON} <!-- ENDIF -->{guests.NAME} 
								<span style="display:none;cursor:pointer;" class='guestpanel'>
									<i class="fa fa-trash-o fa-lg hand" title="{L_raidevent_raid_guest_del}" onclick="DeleteGuest('{guests.ID}');"></i>
									&nbsp;
									<i class="fa fa-pencil fa-lg hand" title="{L_raidevent_raid_guest_edit}" onclick="EditGuest('{guests.ID}');"></i>
								</span>
							</span>
							
							<!-- ELSE -->
							<span class="guesttooltip <!-- IF COLORED_NAMESBYCLASS2 --> class_{guests.CLASSID}<!-- ENDIF -->">
								<!-- IF guests.CLASSICON -->{guests.CLASSICON} <!-- ENDIF -->{guests.NAME}
							</span>
							<!-- ENDIF -->
							<span class="guesttooltip-data" style="display:none">{guests.TOOLTIP}</span>
						<!-- END guests -->
					</td>
					<!-- IF IS_OPERATOR -->
					<td width="10%" align="right">
						<button id="addguest" type="button">
							<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 width="60px" height="56px" viewBox="0 0 60 56" style="enable-background:new 0 0 60 56;" xml:space="preserve" class="add_guest">
							<g>
								<path d="M49.5,55.5c-5.5,0-10-4.5-10-10s4.5-10,10-10s10,4.5,10,10S55,55.5,49.5,55.5z M55.3,44.7c0-0.5-0.4-0.8-0.8-0.8h-3.3v-3.3
									c0-0.5-0.4-0.8-0.8-0.8h-1.7c-0.5,0-0.8,0.4-0.8,0.8v3.3h-3.3c-0.5,0-0.8,0.4-0.8,0.8v1.7c0,0.5,0.4,0.8,0.8,0.8h3.3v3.3
									c0,0.5,0.4,0.8,0.8,0.8h1.7c0.5,0,0.8-0.4,0.8-0.8v-3.3h3.3c0.5,0,0.8-0.4,0.8-0.8V44.7z"/>
								<path d="M30,27c7.2,0,13.1-5.8,13.1-13S37.2,1,30,1S16.9,6.8,16.9,14S22.8,27,30,27z"/>
								<path d="M35.5,45.5c0-7.7,6.3-14,14-14c0.8,0,1.6,0.1,2.4,0.2c-1.7-3.9-4.6-6.9-9.7-6.9c-1.1,0-5.5,4.7-12.2,4.7
									s-11.1-4.7-12.2-4.7C7.8,24.8,6,36.6,6,44.2c0,5.5,3.7,8.7,9.1,8.7h22.5C36.3,50.8,35.5,48.2,35.5,45.5z"/>
							</g>
							</svg>
						</button>
					</td>
					<!-- ENDIF -->
				</tr>
			</table>
		</td>
	</tr>
<!-- ENDIF -->