<!-- BEGIN raidstatus -->
<div id="viewraidcal_colapse_{raidstatus.ID}" align="center" >
	<table class="table fullwidth">
		<tr>
			<td align="left" width="100%">
				<table class="table fullwidth borderless">
					<tr valign="middle">
						<th align="left" width="14px">
							<span class="toggle_button">&nbsp;</span>
						</th>
						<th align="center" colspan="{ATTENDEES_COLSPAN}">
							<font class="status{raidstatus.ID}"> {raidstatus.NAME}</font>
							({raidstatus.COUNT}/{raidstatus.MAXCOUNT})
						</th>
						<!-- IF S_NOTSIGNED_VISIBLE && raidstatus.FIRSTROW -->
						<th align="right">
							<button type="button" class="notsigned_button"><i class="fa fa-plus-circle"></i>{L_raidevent_raid_unsigned_button}</button>
						</th>
						<!-- ENDIF -->
					</tr>
				</table>
			</td>
		</tr>
	</table>
		
	<div class="toggle_container">
		<table class="table fullwidth scrollable-x">
			<tr>
				<!-- BEGIN classes -->
				<td valign="top" width="{COLUMN_WIDTH}%">
					<table class="table fullwidth borderless">
						<tr>
							<th width="100%"> {raidstatus.classes.CLASS_ICON} {raidstatus.classes.NAME} ({raidstatus.classes.COUNT}{raidstatus.classes.MAX})</th>
						</tr>
						<tr>
							<td valign="top">
								<!-- BEGIN status -->
								<div class="ui-state-hover table fullwidth noMobileTransform" style="padding: 5px; margin-top: 4px;">
									<div class="tr">
										<div class="td" style="vertical-align:middle;">
											<!-- IF IS_OPERATOR --><input class="status_confirm" type="checkbox" name="modstat_change[]" value="{raidstatus.classes.status.MEMBERID}" /><!-- ENDIF -->
										</div>
										<div class="td" style="vertical-align:middle;">
											<span class="coretip-large" data-coretip='{raidstatus.classes.status.TOOLTIP}'>
												<a class="normal <!-- IF COLORED_NAMESBYCLASS -->class_{raidstatus.classes.status.CLASSID}<!-- ENDIF -->" href="{raidstatus.classes.status.MEMBERLINK}" target="_blank">{raidstatus.classes.status.NAME}</a>
												<!-- IF SHOW_RANDOMVALUE -->
												<!-- IF raidstatus.classes.status.RANDOM gt 0 -->
												[{raidstatus.classes.status.RANDOM}]
												<!-- ENDIF -->
												<!-- ENDIF -->
											</span>
										</div>
										<div class="td" style="float:right;vertical-align:middle;">
											<!-- IF NOTEPERMISSION -->
											<!-- IF raidstatus.classes.status.NOTE_PUBLIC -->
											<i class="fa <!-- IF raidstatus.classes.status.ADMINNOTE -->fa-info-circle<!-- ELSE -->fa-comment<!-- ENDIF --> fa-lg coretip<!-- IF IS_OPERATOR --> hand<!-- ENDIF -->" data-coretip="{raidstatus.classes.status.NOTE_TT}"></i>
											<!-- ENDIF -->
											<!-- ENDIF -->
											<!-- IF raidstatus.classes.status.RAIDGROUP_TT && SHOW_RAIDGROUPS -->
											<i class="fa fa-users coretip" data-coretip="{raidstatus.classes.status.RAIDGROUP_TT}" style="color:{raidstatus.classes.status.GROUPCOLOR};"></i>
											<!-- ENDIF -->
											<!-- IF IS_OPERATOR -->
											<span class="fa fa-cog fa-lg char_adminmenu hand" title="{L_raidevent_raid_changecharmenu}" data-charadmintt-id="member_{raidstatus.classes.status.MEMBERID}"></span>
											<div class="charadmintooltip nodisplay" id="member_{raidstatus.classes.status.MEMBERID}">
												<!-- IF raidstatus.classes.status.SHOW_CHARCHANGE -->
												<fieldset class="settings">
													<legend class="smaller"><i class="fa fa-random fa-lg"></i> {L_raidevent_raid_changecharmenu}</legend>
													<input type="hidden" name="charchange_attendee" value="{raidstatus.classes.status.MEMBERID}" />
													<input type="hidden" name="charchange_status" class="charchange_status" value="{raidstatus.ID}" />
													{raidstatus.classes.status.DD_CHARS}{raidstatus.classes.status.DD_ROLES}
													<br /><button type="button" name="submit_charchange" style="float:right;" value=""><i class="fa fa-check fa-lg"></i></button>
												</fieldset><br/>
												<!-- ENDIF -->
												<fieldset class="settings">
													<legend class="smaller"><i class="fa fa-comment fa-lg"></i> {L_raidevent_raid_changenotemenu}</legend>
													<input type="hidden" name="notechange_attendee" value="{raidstatus.classes.status.MEMBERID}" />
													<textarea name="notechange_note" rows="3" style="width:95%">{raidstatus.classes.status.NOTE}</textarea>
													<br /><button type="button" name="submit_notechange" style="float:right;" value=""><i class="fa fa-check fa-lg"></i></button>
												</fieldset>
												<!-- IF SHOW_RAIDGROUPS -->
												<br/>
												<fieldset class="settings">
													<legend class="smaller"><i class="fa fa-users fa-lg"></i> {L_raidevent_raid_groupsmenu}</legend>
													{raidstatus.classes.status.GROUPS}
													<input type="hidden" name="groupchange_attendee" value="{raidstatus.classes.status.MEMBERID}" />
													<br /><button type="button" name="submit_groupchange" class="submit_groupchange" value="" style="float:right;"><i class="fa fa-check fa-lg"></i></button>
												</fieldset>
												<!-- ENDIF -->
											</div>
											<!-- ENDIF -->
										</div>
									</div>
								</div>
								<!-- END status -->
							</td>
						</tr>
					</table>
				</td>
			<!-- IF raidstatus.classes.BREAK -->
			</tr><tr>
			<!-- ENDIF -->
			<!-- END classes -->
			</tr>
			<!-- IF raidstatus.ID eq 0 -->
				<!-- INCLUDE calendar/viewcalraid_guests.html -->
			<!-- ENDIF -->
		</table>
	</div>
</div>
<br />
 <!-- END raidstatus -->