body {
	font: 10px verdana;
	background-color: #808080;
	color: #000000;
	text-align: center;
}

h3 {
	font: 18px verdana;
	font-weight: bold;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: 2px #000000 solid;
	width: 500px;
}

a:link {
	color: #A6A6A6;
	font-weight: bold;
	text-decoration: none;
}

a:visited {
	color: #A6A6A6;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #A6A6A6;
	font-weight: bold;
	text-decoration: underline;
}

a:active {
	color: #A6A6A6;
	font-weight: bold;
	text-decoration: underline;
}

td.title {
	font: 14px verdana;
	font-weight: bold;
	text-align: left;
	text-decoration: underline;
	color: #000000;
	background-color: #808080;
}

td.main_left {
	font: 10px verdana;
	text-align: left;
	color: #000000;
	background-color: #808080;
}