<!-- INCLUDE page_header.html -->
<script>window.onload=Init_RowClick;</script>
<form method="get" action="{F_MEMBERS}">
<table width="100%" border="0" cellspacing="1" cellpadding="2">
  <tr colspan="22">
    <th align="left">                    
      <select name="mdkpid" class="input" onchange="javascript:form.submit();">
      <!-- BEGIN mdkpid_row -->
        <option value="{mdkpid_row.VALUE}"{mdkpid_row.SELECTED}>{mdkpid_row.OPTION}</option>
      <!-- END mdkpid_row -->
                      
      <select name="filter" class="input" onchange="javascript:form.submit();">
      <!-- BEGIN filter_row -->
        <option value="{filter_row.VALUE}"{filter_row.SELECTED}>{filter_row.OPTION}</option>
      <!-- END filter_row -->
      
      <input type="checkbox" name="show_inactive" value="1" onchange="javascript:form.submit();" {SHOW_INACTIVE_CHECKED}> {SHOW_INACTIVE}
      <input type="checkbox" name="show_hidden" value="1" onchange="javascript:form.submit();" {SHOW_HIDDEN_RANKS_CHECKED}> {SHOW_HIDDEN_RANKS}
    </th>
    <th align="right">   
      {COMPARE_LINK}
      {MANAGE_LINK}
    </th>
  </tr>
</table>

{LEADERBOARD}

<table width="100%" border="0" cellspacing="1" cellpadding="2">
  {POINTOUT}
</table>

<br />
<center><input type="submit" name="{BUTTON_NAME}" value="{BUTTON_VALUE}" class="liteoption" /></center>
</form>
<br />
<!-- INCLUDE page_tail.html -->