<!-- INCLUDE page_header.html -->
<form method="get" action="{F_RAIDS}">
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="borderless">
  <tr>
    <td align="center" class="menu">{RAID_PAGINATION}</td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="1" cellpadding="2">
  <tr colspan="22" align="right">                 
    <th>   
      {COMPARE_LINK}
      {MANAGE_LINK}
    </th>
  </tr>
</table>
<table width="100%" border="0" cellspacing="1" cellpadding="2">
  {POINTOUT}
</table>
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="borderless">
  <tr>
    <td align="center" class="menu">{RAID_PAGINATION}</td>
  </tr>
</table>
<br />
<center><input type="submit" name="{BUTTON_NAME}" value="{BUTTON_VALUE}" class="liteoption" /></center>
</form>
<!-- INCLUDE page_tail.html -->